[2021-06-18 20:01] jakebailey commented on #16519
I would doubt this is Pylance related (but a full stack trace would probably help; it'd be available in the developer tools).

[2021-06-18 20:03] karthiknadig commented on #16519
@zbs Can you provide a callstack?
Also can you make sure you are using latest version of debugpy, the version you mention in the bug report is at least a year old (https://pypi.org/project/debugpy/1.3.0/)

[2021-06-18 22:30] kimadeline opened #16520 "Sort available environments by assumed usefulness"
1. Local environments, i.e. `.venv`
2. Globally stored environments, e.g.  `$WORK_ON`
3. Global installs, e.g. `/usr/bin/python3.9`

Always sort with newest version of Python first within each subgroup.

Design document at https://github.com/microsoft/vscode-python/wiki/Sort-environments-by-assumed-usefulness

[2021-06-18 23:28] luabud commented on #9324
@kaimingkuang Pylance is an alternative to the Microsoft Python Language Server, but it's supposed to be used alongside the Python extension.

For others on this thread, we recommend you either use Pylance or the Jedi Language Server.
You can set the language server value by opening your VS Code settings (View > Command Palette... and run "Preferences: Open Settings (JSON)") and adding the followi

[2021-06-19 00:07] zbs commented on #16519
I don't think debugpy is the problem: it happens when initiating the debugger regardless of whether debugpy is running.

Here is the full stack trace.
[code]

[2021-06-19 00:25] karthiknadig commented on #16519
@zbs Do you have `logToFile` set to `true` in the debug configuration?

[2021-06-19 00:51] zbs commented on #16519
Yup
![image](https://user-images.githubusercontent.com/1444551/122626174-8027bd00-d06e-11eb-82f1-76b2c80986be.png)

[2021-06-19 01:26] Diogo-Rossi commented on #15151
@adamal, there is a setting `"jupyter.enableCellCodeLens"` that can be set to `false` to remove Cell's options in the editor

[2021-06-20 18:44] dannydarvish commented on #16431
Bumping this.

[2021-06-21 06:35] flutterq commented on #11981
all possible solution added here [[Solved] Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings](https://flutterq.com/python-was-not-found-run-without-arguments-to-install-from-the-microsoft-store-2/)

[2021-06-21 07:02] molly-w opened #16523 "Run python file with relative path"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16522

<div type='discussions-op-text'>

<sup>Originally posted by **molly-w** June 21, 2021</sup>
Recently I have noticed when I run my python files in integrated terminal I get:

`➜  Developer /usr/sbin/python /home/headlineineed/Developer/file.py`
This is the file that is running....

In the past I would just see:
`python f

[2021-06-21 07:22] WXZhao7 opened #16524 "matplotlib is not responding"
## Environment data

-   VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
-   Extension version : v2021.6.944021595
-   OS and version: Ubuntu 20.04 focal
-   Python version: 3.8.10.final.0
-   Type of virtual environment used: conda 4.10.1
-   Relevant/affected Python packages and their versions: matplotlib                3.4.2            py38h578d

[2021-06-21 09:38] MetRonnie commented on #1438
This ought to work if the flake8 plugin uses more than 1 letter for the prefix, e.g. `flake8-simplify` uses `SIM`, but
[code]
does not work (you have to use `.S` instead)

[2021-06-21 10:34] Josverl opened #16525 "Black formatting does not respect --force-exclude when specified,"
Black formatting does not respect '--extend-exclude' or '--force-exclude' when specified,
and/or the format used in vscode is too hard to find.

## Environment data
-   VS Code version: 1.57.1 (user setup)
-   Extension version : v2021.6.944021595
-   OS and version: Windows_NT x64 10.0.19043
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.5
-   Type of virtual environment us

[2021-06-21 10:51] Josverl commented on #16525
Possible relevant :

_--stdin-filename TEXT           The name of the file when passing it through stdin. Useful to make sure Black will respect                                  --force-exclude option on some editors that rely on using stdin._

https://github.com/psf/black/pull/1780/files

[2021-06-21 13:35] yonimedhub opened #16526 "Tensorboard is always loading"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: linux ubuntu 20.04 on remote docker
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their versions: t

[2021-06-21 15:23] #15199 closed

[2021-06-21 16:12] karthiknadig commented on #16519
There seems to be some issue with file creation in the location where the extension is trying to write the file. For now I recommend turning off `logToFile` and use one the other methods to get debugger logs: https://github.com/microsoft/debugpy/wiki/Enable-debugger-logs#logging-using-environment-variables

[2021-06-21 17:28] #16523 closed

[2021-06-21 17:47] joyceerhl commented on #16526
Hi @yonimedhub could you please provide the logs from the Python extension's output panel, and ideally also a screen recording illustrating the problematic behavior you're seeing? Thanks!

[2021-06-21 17:58] austinpark77 commented on #13679
I was OOO for the last week, so I didn't try anything. Today I updated to the most recent version of VS Code (v1.57) and Python Extension (v2021.6.944021595), ssh'd in, and it was working as expected. This probably isn't too helpful, but fingers crossed the update fixes your issues too.

[2021-06-21 18:15] karrtikr commented on #16525
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-06-21 18:29] nsbruce commented on #13679
It seems to be working now for me as well.

[2021-06-21 18:36] karthiknadig commented on #16431
@dannydarvish sorry for the delayed response. Have you disabled experiments by any chance? Can you share your settings file? from the logs it looks like it is running without experiments. I recommend opting into `pythonDiscoveryModuleWithoutWatcher` experiment. In that mode we reduce the number of time we have to run python to find interpreter information. This should improve loading times especia

[2021-06-21 18:39] karthiknadig commented on #16516
@soyasoya5 Did you set that manually? dose it work if you remove quotes?

[2021-06-21 19:26] DonJayamanne opened #16528 "Notebook cell diagnostics not cleared when closing a notebook or deleting a cell"
Related to https://github.com/microsoft/vscode-jupyter/issues/6130

[2021-06-21 19:36] jakebailey commented on #212
FYI, since Pylance has a full Python tokenizer/parser in TypeScript, I was able to implement auto-closeing of triple quoted strings in the Pylance extension quite well (and am hoping to get it into this week's release).

[2021-06-21 20:42] brettcannon opened #16531 "Release plan for 2021.7"
# Prerequisites

-   Python 3.7 and higher
-   run `python3 -m pip install --user -r news/requirements.txt`

# Release candidate (Monday, Jul 12)

-   [x] Announce the code freeze on both Teams and e-mail, leave enough time for teams to surface any last minute issues that need to get in before freeze. Make sure debugger and Language Server teams are looped in as well.
-   [x] Update `main` for the

[2021-06-21 20:43] #16239 closed

[2021-06-21 21:13] rswe opened #16532 "Couldn't start client Python Tools. Launching server using command /root/.vscode-server/extensions/ms-python.python-2021.6.944021595/languageServer.0.5.59/Microsoft.Python.LanguageServer failed."
# Environment data

- VS Code version: 1.57.1 (user setup)
- Extension version (available under the Extensions sidebar): v2021.6.944021595 (Local Installed & Container)
- OS and version: Ubuntu 18.04 (container), host laptop Windows 10 1909 (WSL2)
- Python version: Python 3.6.9
- Type of virtual environment used: VSCode - Remote Containers - Connect to running container...
- Relevant/affected Pyth

[2021-06-21 23:11] kimadeline opened #16533 "Windows venv tests failing (Python 3.9) when using different ExP calls"
When updating our `inExperiment` method to call non-deprecated ExP methods in https://github.com/microsoft/vscode-python/pull/16486, this caused some seemingly unrelated tests to fail. Some changes fixed most of the test failures, except for the Windows venv tests (see [this run](https://github.com/microsoft/vscode-python/pull/16486/checks?check_run_id=2879834855)):

[code]

[2021-06-21 23:58] karrtikr opened #16534 "Remove tests related to global interpreter watching"
We decided to no longer support global watching, so removing these will make the venv test suite faster.

[2021-06-22 03:10] soyasoya5 commented on #16516
@karthiknadig No, I did not set that manually. Not sure why the single quotes exist

[2021-06-22 03:54] paulacamargo25 commented on #16511
Hi, thanks for the bug report, can you please share the Python Output Logs.

[2021-06-22 03:59] paulacamargo25 commented on #16409
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-06-22 04:05] paulacamargo25 commented on #16282
Can you please share your Python Output Logs or any other error that shows

[2021-06-22 04:09] karthiknadig commented on #16516
We don't set this in the extension. Can you try setting it without quotes?

On the extension side we need to make sure we handle parse issues with this case.
https://github.com/microsoft/vscode-python/blob/362eb34cafcbc513919eb4d78ea0521a0ed6738a/src/client/common/utils/localize.ts#L665

[2021-06-22 04:11] paulacamargo25 commented on #16514
Hi, thanks for the bug report, can you please share the Python Output Logs.

[2021-06-22 04:16] Kurt-von-Laven commented on #15798
I am experiencing this issue as well.

[2021-06-22 04:33] Kurt-von-Laven commented on #7805
@brettcannon, my comment may be moot, so if there is some place I can read about what you already have planned, I would love to.

I like the way VSCode handles the same issue for typescript, and I wish there were an equivalent of `"typescript.enablePromptUseWorkspaceTsdk"` for python. We use pipenv together with a .venv file containing the path to an untracked directory in our repository to ensure

[2021-06-22 06:15] BBiering opened #16537 "Tensorboard starts but fails to load data with Remote-SSH"
## Environment data

-   VS Code version:  1.57.1
-   Extension version (available under the Extensions sidebar): Python v2021.6.944021595
-   OS and version: Linux Ubuntu 18.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.10
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their versions: na
-

[2021-06-22 07:45] Nieju commented on #16511
The logs don't show the arguments with which `mypy` is run (at least I couldn't find it). Therefore I didn't share any logs.

[2021-06-22 08:12] ewerybody commented on #8956
I'm just having this issue again. And for some reason it keeps persisting now. I already used to develop a **habit** of restarting debug mode when I start working with a fresh VS Code instance 🤕

Now I can restart over and over again and STILL no auto/command completion :/
I have to `dir(myobj)` to get nfo about stuff. What is this!?!

my version:
[code]

[2021-06-22 08:14] ewerybody commented on #8956
I just had a look into the Output tab on `Python Language Server` there is an error saying:
[code]

maybe that's a hin? 🤷‍♀️

[2021-06-22 11:22] BBiering commented on #16537
Removing the package `torch-tb-profiler==0.2.0` fixed the issue.

[2021-06-22 11:22] #16537 closed

[2021-06-22 11:39] lablabla opened #16538 "list of ints not recognized properly in "args" in launch.json"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Ubuntu 18.04
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.8.10, conda 4.10.1
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Value of the `python.languageServer` setting: default

[2021-06-22 17:23] karthiknadig commented on #16532
Can you please try `JediLSP` or `Pylance` as the language server?

[2021-06-22 18:06] brettcannon commented on #16538
When you specify `nargs="+"`, what Python is looking for is multiple arguments passed on the command-line. But when you pass `"1 15 17 33"`, that gets sent to Python as a _single_ item on the command-line. If you broke those numbers up into individual items to args, then it should work fine:
[code]

[2021-06-22 18:06] #16538 closed

[2021-06-22 18:12] #16102 closed

[2021-06-22 18:22] digitarald opened #16539 "Don't notify the user to reload after installing the extension"
Python (or Jupyter?) does its own reload after install prompt:

![image](https://user-images.githubusercontent.com/8599/122977344-2236f600-d34a-11eb-8830-cc687ac598cf.png)

(the screenshot is from usertesting but I had no luck reproducing this for myself)

It would be great if it was left to VS Code to handle the reload, so extensions don't run extra notifications. If there are edge cases that VS

[2021-06-22 18:39] luabud commented on #5190
Closing as stale.

[2021-06-22 18:39] #5190 closed

[2021-06-22 18:40] luabud commented on #2629
Closing in favour of https://github.com/microsoft/vscode-python/issues/38

[2021-06-22 18:40] #2629 closed

[2021-06-22 18:43] luabud commented on #1724
https://github.com/microsoft/vscode-python/issues/944

[2021-06-22 18:45] KayvanShah1 commented on #13679
None of the solutions are working. Tried uninstalling the extensions and deleting appropriate folder from .vscode. But the language server keeps crashing.

Is there any other solution out there other than waiting for next update and hope that fixes the issue.

[2021-06-22 18:46] luabud commented on #10031
Closing as stale.

[2021-06-22 18:46] #10031 closed

[2021-06-22 18:47] luabud commented on #11940
Closing as stale.

[2021-06-22 18:47] #11940 closed

[2021-06-22 18:49] luabud commented on #11738
Closing as we now have the data.

[2021-06-22 18:49] #11738 closed

[2021-06-22 18:51] luabud commented on #12137
Closing as stale.

[2021-06-22 18:51] #12137 closed

[2021-06-22 18:54] luabud commented on #6913
Closing as stale.

[2021-06-22 18:54] #6913 closed

[2021-06-22 19:00] luabud commented on #12390
We have been doing that lately, so closing it!

[2021-06-22 19:00] #12390 closed

[2021-06-22 19:11] karthiknadig commented on #13679
@KayvanShah1 File a separate bug with details specific to our scenario. That will help us direct you better.

[2021-06-22 19:28] brettcannon commented on #7805
We are starting to roll out the experiment and we plan to write a better explanation in another issue, but what we are doing is:
2. you can set [`python.defaultInterpreterPath`](https://github.com/microsoft/vscode-python/blob/67590fb2e2a1a439267cb267b86f88acac40b5d7/package.json#L1115-L1119) and we will **read** it, but not write it
3. We will be no longer using `python.pythonPath` (I can't rememb

[2021-06-22 20:54] Simage opened #16542 "Extension failing to load"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Debian 11
-   Python version (& distribution if applicable, e.g. Anaconda): python 3.8.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): poetry
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/

[2021-06-22 23:31] brettcannon opened #16543 "Jedi LSP errors out trying to read settings when in a remote repository"
Issue Type: <b>Bug</b>

# Behaviour

[**NOTE**: If you suspect that your issue is related to the Microsoft Python Language Server (`python.languageServer: 'Microsoft'`), please download our new language server [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) from the VS Code marketplace to see if that fixes your issue]

## Expected

XXX

## Actual

XXX

## St

[2021-06-22 23:32] brettcannon opened #16544 "Do not flag python.org Windows installs of Python as "unknown""
Issue Type: <b>Bug</b>

# Behaviour

[**NOTE**: If you suspect that your issue is related to the Microsoft Python Language Server (`python.languageServer: 'Microsoft'`), please download our new language server [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) from the VS Code marketplace to see if that fixes your issue]

## Expected

For the path to my python.

[2021-06-23 00:39] sometimescasey commented on #14107
I have an `__init__.py` in my tests folder and I am still getting this issue. Downgraded to `2020.9.114305` per https://github.com/microsoft/vscode-python/issues/14579 and still had the issue.

At this point I have given up and I am just running my tests using `pytest` in the Terminal :p

[2021-06-23 04:12] karthiknadig commented on #16543
This does not seem to be related to Jedi LSP. The stack seems to point to updating test settings. This was that diagnostic that we added to update test settings to new format.

[2021-06-23 09:32] RemyNtshaykolo opened #16548 "Run all or specific tests on save"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16547

<div type='discussions-op-text'>

<sup>Originally posted by **RemyNtshaykolo** June 23, 2021</sup>
Add a 'run on save' feature  like the picture bellow so that I can write my test code and then develop my say_hello method and testing it easily just by saving my file.
It will be nice to :
- be able to activate run on sav

[2021-06-23 14:16] adriangzz commented on #13679
Downgrading to version 2021.5.842923320 fixed the issue for me.

[2021-06-23 15:46] Simage commented on #16542
this appears to have been resolved by disabling all extensions and then enabling all extensions afterwards

[2021-06-23 15:46] #16542 closed

[2021-06-23 16:38] rvcristiand commented on #13965
Any workaround ?

[2021-06-23 17:10] karthiknadig commented on #16548
Thank you for the suggestion! We have marked this issue as "needs decision" to make sure we have a conversation about your idea. We plan to leave this feature request open for at least a month to see how many 👍 votes the opening comment gets to help us make our decision.

[2021-06-23 17:13] karthiknadig commented on #16543
When JediLSP crashes do you see any stacks specific to JediLSP? Also try adding this setting to get more logs from `"python.trace.server": "verbose"`.

[2021-06-23 18:34] luabud commented on #16548
We handle new feature requests in Discussions now, once they get enough upvotes we open issues related to them. Closing this in favour of https://github.com/microsoft/vscode-python/discussions/16547.

[2021-06-23 18:34] #16548 closed

[2021-06-23 18:42] DomInvivo commented on #16072
Hello @joyceerhl , despite having the latest version of the Python extension, Tensorboard stays blank. I'm working on Windows, but I am connected via SSH to a remote machine running Ubuntu.

What are the steps required to make Tensorboard work again?

[2021-06-23 18:47] tiangolo opened #16549 "Support dotenv `.env` files using `export` as in `export VAR=value`"
I know VS Code with Pylance supports [loading environment variables from a `.env`](https://code.visualstudio.com/docs/python/environments#_environment-variable-definitions-file) (dotenv file), which is great.  It allows me to, for example, easily run or debug tests right from the editor, using all the environment variables needed.

Here's the example from the docs:

[code]

## Feature Request

I w

[2021-06-23 19:25] ehrlinger opened #16550 "MSFT python extension no longer runs formatter?"
Issue Type: <b>Bug</b>

I have format on save set to run black, but my formatter is no loger running.

Extension version: 2021.6.944021595
VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS version: Windows_NT x64 10.0.21390
Restricted Mode: No
Remote OS version: Linux x64 4.15.0-1100-azure

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2021-06-23 19:30] ehrlinger commented on #16550
Tried to run mannually alt-shift-f, and get the following dialog:

![image](https://user-images.githubusercontent.com/1110676/123156991-fd20b100-d437-11eb-80a2-9851a0632b47.png)

[2021-06-23 20:19] brettcannon opened #16552 "Error while trying to install an extension: TypeError: Parameter "url" must be a string, not undefined"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16513

<div type='discussions-op-text'>

<sup>Originally posted by **gellettc** June 17, 2021</sup>

Details are in the discussion, but the key issue seems to be:
[code]

[2021-06-23 20:19] karthiknadig commented on #16550
@ehrlinger Can you verify that `black` is installed in the python environment you have selected?

[2021-06-23 20:24] #16549 closed

[2021-06-23 20:24] ehrlinger commented on #16550
It is installed...

'21.5b1'

[2021-06-23 20:26] karthiknadig commented on #16550
@ehrlinger please share the logs from `Output` > `Python`. Also share your settings.

[2021-06-23 20:28] karthiknadig commented on #16550
It should report the environment in the status bar. If it is not then something went wrong and you should see something in the logs. If you don't see anything try setting the log level to debug `python.logging.level": "debug",`

[2021-06-23 20:29] brettcannon commented on #16543
[code]

[2021-06-23 20:29] ehrlinger commented on #16550
[Debug - 2021-06-23 19:12:32.196] Azure ML - Remote for VSCode 0.3.0
[Debug - 2021-06-23 19:12:32.196] Platform: win32
[Debug - 2021-06-23 19:12:32.223] Sending Telemetry: AzureML-Remote/resolve/start
	{"telemetryTrackingId":"26dbe44b-5e03-42f3-b712-7eb2f2f18828","timestamp":"2021-06-23T19:12:32.222Z","sessionId":"iaH8S","resolveAttempt":1}
[Debug - 2021-06-23 19:12:32.224] Sending Telemetry: Azur

[2021-06-23 20:32] ehrlinger commented on #16550
Well, there is no output>python

[2021-06-23 20:34] karthiknadig commented on #16550
If there are no `Output` > `Python` that means the extension isn't loaded. Do you have python files opened? if so check developer tools logs "Help" > "toggle Developer tools".

[2021-06-23 20:37] karthiknadig commented on #16543
If this is all you are seeing then that means JediLSP is ready to receive messages from VS Code, but VS Code has not sent any more messages. Could it be due to that fact that we say we don't support virtual workspaces?

[2021-06-23 20:44] ehrlinger commented on #16550
Alright.. toggled, then what?

[2021-06-23 20:57] #4163 closed

[2021-06-23 21:00] karthiknadig commented on #16550
You should see logs in the `console` part of the the developer tools window.
![image](https://user-images.githubusercontent.com/3840081/123167020-e162de00-d42a-11eb-858c-9c82a0bd84b5.png)

This might be a good question to ask on the https://github.com/microsoft/vscode-python/discussions this looks like something isn't working due to how the environment configured, bad update (which might require u

[2021-06-23 21:28] #16441 closed

[2021-06-23 22:06] forsternet opened #16554 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.6.944021595`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.58.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-23 23:25] kimadeline opened #16555 "Insiders tests are taking 6 hours to resolve"
June 23, 9:37am https://github.com/microsoft/vscode-python/runs/2897176821?check_suite_focus=true

![image](https://user-images.githubusercontent.com/51720070/123180044-5d672100-d43f-11eb-86ce-45708fc72a39.png)

June 23, 2:04pm https://github.com/microsoft/vscode-python/runs/2899210736 (going to cancel it)

![image](https://user-images.githubusercontent.com/51720070/123180120-812a6700-d43f-11eb-91

[2021-06-24 06:21] zpliu1126 opened #16556 "jupyter extension without picture in interactive pattern"
## Environment data

-   coder-server version: 3.10.2
-   ms-toolsai.jupyter:  v2021.6.832593372
-  ms-python.python: v2021.5.926500501
-   OS and version: centos7
-   Python version (& distribution if applicable, e.g. Anaconda): python3.6.5

It do'nt show me the picture in interactive jupyter.

![image](https://user-images.githubusercontent.com/39325949/123212513-7cc18500-d4f7-11eb-95c6-556742b65

[2021-06-24 06:35] karthiknadig commented on #16554
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-06-24 06:35] #16554 closed

[2021-06-24 16:11] karthiknadig commented on #16550
Link to discussions: https://github.com/microsoft/vscode-python/discussions/16558

[2021-06-24 16:55] gharryg commented on #16308
I thought I was going crazy trying to get pylint working. As stated in the original description, it seems like I can only get pylint working when I add `"python.linting.pylintEnabled": true,` to my user settings (even though the default value already shows to be true).

[2021-06-24 17:17] karthiknadig commented on #16555
@joyceerhl Tagging you so we can surface this issue. But please feel free to assign it to anyone who can look into this.

[2021-06-24 17:18] karthiknadig commented on #16550
Closing this here since this is now a discussion.

[2021-06-24 17:18] #16550 closed

[2021-06-24 17:50] karrtikr commented on #15798
Can folks here add `"python.experiments.optOutFrom": ["pythonDiscoveryModuleWithoutWatcher", "pythonDiscoveryModule"]` to their **User settings** and see if it helps?

Make sure `"python.experiments.optInto"` doesn't contain either of these entries.

[2021-06-24 18:02] brettcannon commented on #16543
Shouldn't be as I'm running from my checkout where I have modified the support to say we are "limited".

[2021-06-24 19:53] zbs commented on #16519
which of these do you want?
[code]

[2021-06-24 20:32] karrtikr commented on #12313
Hi everyone👋

We have replaced this experiment in favor of a new one which is slowly being rolled out. You can find the details in [the updated wiki](https://github.com/microsoft/vscode-python/wiki/AB-Experiments#pythondeprecatepythonpath). In short,

- The `python.pythonPath` setting is no longer used by the Python extension.
- A new optional setting `python.defaultInterpreterPath` is introduced

[2021-06-24 20:37] DylanYoung opened #16561 "Command 'python.runLinting' not found (duplicate of closed issue with same name)"
The same applies to `python.enableLinting`

## Environment data

Set python as enabled in untrusted workspaces. Try to run linting.

## Expected behaviour

Commands should work.

## Actual behaviour

Error popup: `Command 'Python: Run Linting' resulted in an error (command 'python.runLinting' not found)`

OR: `Command 'Python: Enable/Disable Linting' resulted in an error (command 'python.enableLin

[2021-06-24 20:39] DylanYoung commented on #16561
Duplicate here: https://github.com/Microsoft/vscode-python/issues/3192

[2021-06-24 22:12] Kurt-von-Laven commented on #15798
Thank you! It seems to be working again for me without any modifications on my part. I will give that a shot if this happens again.

[2021-06-24 22:44] karthiknadig commented on #16519
The original issue (`Cannot read property 'defaultEncoding' of undefined`) was with the extension and the alternate logging option was a workaround to that problem. Are you running into particular issue with the debugger? in that case please file a bug on `debupy` with the details of the issue =.

[2021-06-24 22:47] Moh-Snoussi commented on #13679
File -> Preferences -> Settings -> Extensions -> Python -> "**Python: Language Server**".
or search for it in settings "**Python: Language Server**" .
change it to **Pylance**

[2021-06-25 00:29] JackLilhammers commented on #15798
@karrtikr I've just upgraded to v1.57.1 and tried the options you mentioned, but nothing changed

[2021-06-25 00:50] karrtikr commented on #15798
@JackLilhammers Thanks for trying it out, and providing the logs in https://github.com/microsoft/vscode-python/issues/15798#issuecomment-849197717. Looks like we do not log enough related to terminal activation, so it's hard to tell what might be going wrong.

I'll try to bundle an extension soon where we do proper logging and share it to you. After that I'll again require the info I asked here ht

[2021-06-25 01:13] JackLilhammers commented on #15798
Thank you, I'll run your logging extension on all my machines when is ready.

In the meantime I don't know if I'll be able to run a previous version in the next days, but within a week or so I'll post the logs.
However I don't think there will be any differences.
I can't remember if it ever worked for me, but I'm quite sure I've been having this issue for more than a year, so 2021.3 is not old eno

[2021-06-25 01:26] karrtikr commented on #15798
I see, you do have `python.activateEnvInCurrentTerminal` set in user settings, correct?

[2021-06-25 02:03] JackLilhammers commented on #15798
F*ck me. I did't know that. 🤦‍♂️
I should have read the documentation more thoroughly or better searched the available options.
I read only [Using Python environments in VS Code](https://code.visualstudio.com/docs/python/environments), but that option is explained in the [Python settings reference](https://code.visualstudio.com/docs/python/settings-reference)

I'll submit a PR to the documentation

[2021-06-25 02:17] karrtikr commented on #15798
Thank you... well glad you got it working! Closing this.

[2021-06-25 02:17] #15798 closed

[2021-06-25 02:46] Kurt-von-Laven commented on #15798
Not a big deal, but I'm more confused than I was before now. I don't seem to be experiencing any issues at least at the moment even though I (intentionally) do not have `python.terminal.activateEnvInCurrentTerminal` set, because `terminal.activateEnvironment` defaults to `true`. I think the only purpose of the former setting is when you don't want to relaunch your terminal or VSCode after setting

[2021-06-25 03:58] karrtikr commented on #15798
`terminal.activateEnvironment` is used to determine whether to activate environment on a newly opened terminal, whereas `python.terminal.activateEnvInCurrentTerminal` determines whether to activate an already opened terminal when you open VSCode. If you don't have the latter set, any already opened terminal will not be automatically activated when extension loads. Hope that clarifies it.

[2021-06-25 04:02] Kurt-von-Laven commented on #15798
No, I already understood that, but it seems like @JackLilhammers may have been experiencing some bug where the terminal only activates when `python.terminal.activateEnvInCurrentTerminal` is set even though this shouldn't be a necessary step unless he never restarted VSCode? In any case, I should let him speak for himself.

[2021-06-25 07:34] sumit-roy-au9 opened #16566 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.6.944021595`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-25 10:00] zak905 commented on #12522
same here, on Ubuntu 20.04. run-jedi-language-server.py keeps on running even after quiting vscode, after noticing an unusual activity of the PC fan, I found out that the process was using the 4 CPUs to almost 100%

[2021-06-25 16:39] zbs commented on #16519
I think there's a misunderstanding. I am still trying to solve the `Cannot read property` issue with the extension (not debugpy). I followed your workaround suggestion, and it yielded the above `debugpy` logs. The workaround page only has suggestions for producing debugpy logs, not extension logs.

[2021-06-25 17:00] brettcannon opened #16567 "Remote python extension not enabled?"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16558

<div type='discussions-op-text'>

<sup>Originally posted by **ehrlinger** June 24, 2021</sup>
I am using the python extension connecting to an Azure Compute Instance remotely.

python v2021.6.944021595
azure ml v0.6.23

The extension is reporting "enabled on <remote ACI>"

However, there is no way to enable a conda envi

[2021-06-25 19:57] afminmax commented on #14639
Was this rolled in to 1.57.1?
Connecting to a remote VM via SSH is unbearably slow still.

[2021-06-26 01:30] DomInvivo commented on #16526
Hello,
I have the same problem. I'm running VSCode on Windows, but connecting to a Linux instance via SSH. When launching tensorboard in VSCode 1 week ago, everything worked fine. But now, the page stays blank.

Steps to reproduce:

- Run some training and generate a Tensorboard file
- Use `ctrl+shift+p` and select `Python: Launch Tensorboard`
- Select the directory containing the files
- A Tensor

[2021-06-26 01:34] karrtikr commented on #16566
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please edit your opening comment by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md). Once you are done please leave a comment to that effect.

[2021-06-26 01:34] #16566 closed

[2021-06-26 02:28] sumit-roy-au9 commented on #16566
python extension is not loading after installation. but the same code is working on other IDE

[2021-06-26 03:18] karrtikr commented on #16566
We still need you to fill our issue template as asked in the earlier comment.

[2021-06-26 05:07] joyceerhl commented on #16526
@DomInvivo In the Ports view, do you see a port forward created for TensorBoard (usually 6006)? That port forward should have been automatically created. Could you please run the 'Toggle Developer Tools' command from the command palette and share the log contents?

[2021-06-26 05:35] jeremyd2019 opened #16568 "${command:python.interpreterPath} in tasks.json when in `pythonDeprecatePythonPath` experiment"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): 2021.6.944021595
-   OS and version: Windows 10 20H2
-   Python version (& distribution if applicable, e.g. Anaconda): CPython 3.8.10
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Value of the `python.languageServer` setting: Pylance

## Expected

[2021-06-26 15:02] DomInvivo commented on #16526
The port 6006 gets created when I launch Tensorboard (screenshot below)

![image](https://user-images.githubusercontent.com/47570400/123516880-62f57e80-d66c-11eb-936e-596579296c58.png)

I'm sorry, I'm not familiar with the Developer tool. Where do you get the log content? This is what I get in the console:

![image](https://user-images.githubusercontent.com/47570400/123517233-e794cc80-d66d-11eb-98

[2021-06-26 17:07] eegdude commented on #13262
It would be nice to add the option to put conda activation script in launch.json. This would enable using different environments for debugging. Currently you can put activation script in tasks.json, but it doesn't quite work since tasks don't use the same terminal

[2021-06-26 19:21] Kenan7 commented on #13312
how do I disable isort completely?

[2021-06-27 05:15] chocolateimage opened #16575 "The Python Tools server crashed 5 times in the last 3 minutes. The server will not be restarted."
<h3> Environment data </h3>
python version: v2021.6.944021595
-   Language Server version: 2021.6.3
-   OS and version: win32 x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: undefined
-   python.analysis.typeCheckingMode: off

<h3> Expected behaviour </h3>

Document finishes analyzing and pylance is ready to use.

<h3> Actual behaviour </h3>

D

[2021-06-27 12:25] ankit94a opened #16571 "```json { "messages": [], "activationTimes": { "codeLoadingTime": 154, "activateCallTime": 10, "activateResolvedTime": 3278, "activationReason": { "startup": false, "extensionId": { "value": "ms-python.vscode-pylance", "_lower": "ms-python.vscode-pylance" }, "activationEvent": "onLanguage:python" } }, "runtimeErrors": [] } ```Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.6.944021595`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-27 18:22] pragyan-srivastava commented on #11924
Please Help.....I am also facing the same issue. I Want to use extension urgently for some python project, but getting this error .
[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/6722106/ms-python.python-unresponsive.cpuprofile.txt)

[2021-06-28 00:43] tibitTW commented on #11924
So this is how I temporarily fixed this problem, put this line in your `settings.json` :

[code]

[2021-06-28 05:59] linette-zyy commented on #2125
This issue is also reproduced on this build.
![image](https://user-images.githubusercontent.com/59192491/123587252-97a63900-d818-11eb-8fe3-ee7b568516de.png)
After change Python Interpreter, the file settings.json is not generated in .vscode in current folder/workspace.

[2021-06-28 07:49] JackLilhammers commented on #15798
From now on I'll be extremely cautious before saying anything :'D, however what do you mean by never restarting VSCode?
Does open/close count as restarting?

[2021-06-28 15:23] Kurt-von-Laven commented on #15798
Yes, although on Mac OS X, one would have to actually quit the program since Mac OS X leaves programs open by default. Anyways, just food for thought if you notice something funny in the future.

[2021-06-28 15:35] pragyan-srivastava commented on #11924
### Thanks !! It resolved the issue for Me!

[2021-06-28 17:25] brettcannon commented on #16571
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please edit your opening comment by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md). Once you are done please leave a comment to that effect.

[2021-06-28 17:25] #16571 closed

[2021-06-28 17:28] eleanorjboyd commented on #16575
Hello, can you please set the `python.languageServer` to `Pylance` or `Default` because `Microsoft` is deprecated. If you still have issues please let us know to reopen the issue.

[2021-06-28 17:28] #16575 closed

[2021-06-28 17:33] eleanorjboyd commented on #16568
Hello, can you please provide the following settings; `python.pythonPath` and `python.defaultInterpreterPath`. In addition, can you please provide the content of the python output channel as asked for in the template. Thanks!

[2021-06-28 17:38] ogrisel commented on #6669
It's been more than a year and I still think this is an important missing usability feature when editing Python code from VSCode.

[2021-06-28 17:39] jeremyd2019 commented on #16568
"python.pythonPath": "C:\\Python38\\python.exe",
    "python.defaultInterpreterPath": "C:\\Python38\\python.exe",

The output from the python output channel is included in the collapsing details/summary section

[2021-06-28 17:43] jeremyd2019 commented on #16568
My venv is not inside the workspace folder.  I tried selecting python interpreter in the UI (since it doesn't store that in settings anymore but in workspace storage I don't know how to edit manually) and typing in ..\venv\Scripts\python.exe, but got the same results.

[2021-06-28 17:45] jeremyd2019 commented on #16568
This worked fine before I got in this experiment, and changed my tasks.json from `${config:python.pythonPath}` to `${command:python.interpreterPath}`

[2021-06-28 18:30] karrtikr commented on #16568
I see, while we try to reproduce this, you can temporarily opt out of this experiment by following the instructions in [the wiki](https://github.com/microsoft/vscode-python/wiki/AB-Experiments#faq).

[2021-06-28 18:52] kimadeline commented on #16561
Hi @DylanYoung, thank you for reaching out!

Is the Python extension activated before you run linting-related commands?

[2021-06-28 18:54] brettcannon opened #16576 "Test discovery w/ unittest causes a TypeError"
When discovery is run in the editor, I see this in the Python log:
[code]

_Originally posted by @bigjools in https://github.com/microsoft/vscode-python/discussions/16565#discussioncomment-923363_

[2021-06-28 18:58] brettcannon commented on #2125
Please see https://github.com/microsoft/vscode-python/issues/12313#issuecomment-867932929 for an explanation of the change we are slowly rolling out to users to address this.

[2021-06-28 19:11] brettcannon commented on #6669
@ogrisel We don't disagree (hence why this is labeled `needs spec`), but it's the usual issue of simply finding the time to get to it. Plus this issue is sixth in terms of [upvotes of items at the "needs spec" stage](https://github.com/microsoft/vscode-python/issues?q=is%3Aopen+label%3A%22needs+spec%22+sort%3Areactions-%2B1-desc) (that's ignoring issues we have not flagged to the stage of "needs s

[2021-06-28 22:59] karrtikr opened #16577 "Use the vscode API appropriately to find out what terminal is being used"
Change this method

https://github.com/microsoft/vscode-python/blob/db8e1e2460e9754ec0672d958789382b6d15c5aa/src/client/common/terminal/shellDetectors/vscEnvironmentShellDetector.ts#L24-L30

To get the active shell , we need to read from `terminal.creationOptions.shellPath` first, and if it's not set, fallback on `vscode.env.shell` API. Otherwise, wrong activation commands are sent when opening te

[2021-06-29 12:23] mrx23dot opened #16579 "Code folding doesn't ignore comments"
Issue Type: <b>Bug</b>

Code folding breaks on unindented comment.
unfolded
![unfold](https://user-images.githubusercontent.com/4163396/123796508-195f9a80-d8dd-11eb-8219-aadc8c70392f.jpg)

folded
![fold](https://user-images.githubusercontent.com/4163396/123796506-18c70400-d8dd-11eb-93e2-6a74cdaee5e7.jpg)

Compiler tolerates it, so should IDE too.

Extension version: 2021.6.944021595
VS Code versio

[2021-06-29 12:47] AdamCummick opened #16580 "Python extension hangs on loading"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 10 build 19042
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python-related VS Code extensions and their versions

[2021-06-29 13:29] hbirkdale commented on #12072
Same issue - running on a Mac and have had no issues - then suddenly the python extensions stopped working. I've deleted the extensions directory, install and uninstalled all extensions - nothing works.

[2021-06-29 13:55] richtera opened #16582 "Saving python path"
Issue Type: <b>Feature Request</b>

Currently the python path is being saved to .vscode/settings.json
That's not very portable because many times the python path contains the user directory path. I might be a lot better if the the python is from a conda or pyenv to store the name of the environment instead. At least then the user can create the same named environment on each of their machines and

[2021-06-29 16:22] sandy081 opened #16581 "Formatting error pop up when no formatter installed"
Testing https://github.com/microsoft/vscode/issues/127378

I was writing some sample python code to test the interactive window. As soon as I entered `# %%` in a python file, I got following error.

<img width="468" alt="image" src="https://user-images.githubusercontent.com/10746682/123832994-36f52a00-d906-11eb-92c5-724f507c7e98.png">

I am sorry that I am a beginner with this and I have no clue w

[2021-06-29 17:29] brettcannon commented on #16579
Not indenting comments to the same level as the code it applies to is not a common practice and is considered a quirk of Python's compiler that it's supported at all. Plus making this work would be a lot of work. So thanks for bringing this to our attention, but we are closing this as "won't fix".

[2021-06-29 17:29] #16579 closed

[2021-06-29 17:32] brettcannon commented on #16580
Did you set the Python interpreter path manually in your settings? That path is to the Windows Store install of Python in a special Windows directory that we explicitly try not to set.

[2021-06-29 17:33] joyceerhl commented on #16581
Removing assignment as this is by design for the Python extension team (I would hazard a guess that it's an error so that the popup doesn't go away after some time). Possibly related: https://github.com/microsoft/vscode-python/issues/2941

[2021-06-29 17:40] brettcannon commented on #16581
This is happening probably because you have `editor.formatOnSave` turned on but you have not configured it for Python. I don't think we have any special `# %%` save logic set or anything or special formatting triggers set (or could this be due to the work in https://github.com/microsoft/vscode/issues/127378?).

Or is this more about the fact that it's an error prompt instead of something else like

[2021-06-29 17:46] AdamCummick commented on #16580
I don't recall manually changing it.
It's the same path I see for my default system interpreter (i.e. print(sys.executable))

[2021-06-29 17:49] joyceerhl commented on #16581
The builtin interactive window work hasn't introduced anything new with configuring formatters or special save logic, BTW.

[2021-06-29 18:05] CodeMouse92 opened #16583 "Snooty does not recognize YAML file format"
Issue Type: <b>Bug</b>

Every single time I edit a .yaml file, I get the following error each keypress in the logs:

[code]

Disabling *either* the Python extension or the restructuredText extension (LeXtudio Inc.) resolves this error.

Extension version: 2021.6.944021595
VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
OS version: Linux x64 5.11.0-

[2021-06-29 18:34] rchiodo opened #16587 "Add command `Python: Switch to Latest Insiders` to update to latest available Insiders"
Testing microsoft/vscode#127378

Open a python file with cells in it
Bring up the IW
Try typing in the input box at the bottom

No intellisense appears. Colorization works but intellisense doesn't.
[kernel.log](https://github.com/microsoft/vscode/files/6735620/kernel.log)

[2021-06-29 18:34] AdamCummick commented on #16580
Looking into it further, it appears that this only occurs when using a file on a USB drive. Files on the local disk have the extension load without issue. I did select to trust the locations in both cases.

Additionally, I changed the interpreter location to `Python interpreter path: ~\AppData\Local\Programs\Python\Python39\python.exe` and it did not change behaviour.

[2021-06-29 19:10] brettcannon commented on #16580
The Windows Store install is a bit weird -- due to how Windows Store apps are sandboxed -- as there's the path to the thing you're _supposed_ to execute, and then the actual thing that gets run (the latter is what you're seeing in your output and with `sys.executable`).

And that second path you specified is a different version than the first one you specified.

You obviously are loading to some p

[2021-06-29 19:21] AdamCummick commented on #16580
Right, I changed the path away from the windows store path because it was unusual. It did not correct anything.

I get this on load and I cannot get into the environment picker.
![image](https://user-images.githubusercontent.com/45793216/123855055-719e9880-d8ed-11eb-9110-84d357137209.png)

It seems this issue only happens when I'm editing files on a USB drive. If I'm editing files on my local disk

[2021-06-29 19:22] akhilravipati97 commented on #13679
I was working on a remote machine using `Remote - SSH`.
Setting the language server to `pylance` fixed it for me.

[2021-06-29 21:34] zqni opened #16584 "Jupyter failed to create new cells in a third part kernel notebook"
**Environment**

- OS: Linux x64 5.8.0-53-generic
- Python extension version: v2021.6.944021595
- Python version : 3.8
- Julia version:1.6.0

**Issues**

When trying to create new cells in a Julia kernel notebook, I met with the following alarm which said

`TypeError: Cannot read property 'charAt' of undefined at  in t `

Everything works fine in a python kernel notebook and Julia notebook indeed

[2021-06-29 23:33] sawatsky opened #16585 ""Python was not found" by pyspark unit tests after joining pythonDeprecatePythonPath experiment"
After being added to the pythonDeprecatePythonPath experiment, my 'pyspark' unit tests started failing when I hadn't changed anything. The error was:
`Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.`

Before the experiment:
- I installed Python from python.org into "C:\Python37".
- Python was co

[2021-06-30 07:41] sandy081 commented on #16581
I do not have configured this setting

[2021-06-30 09:18] jessielaf opened #16588 "Renaming file does not update references (rope)"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): python 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): poetry
-   Relevant/affected Python packages and their versions: Rope 0.19.0
-   Re

[2021-06-30 17:39] brettcannon commented on #16582
We have an experiment that **just** rolled out to 50% of users which stops saving to `settings.json` for your Python environment path, so we will no longer be doing this shortly.

Closing as a duplicate of #2125 .

[2021-06-30 17:39] #16582 closed

[2021-06-30 17:44] luabud commented on #16582
Also worth mentioning that this experience is already available in our [insiders build](https://code.visualstudio.com/docs/languages/python#_insiders-program) 😊

[2021-06-30 17:47] brettcannon commented on #16583
Do you mind telling who is launching this language server, how it is being launched, and what snooty is? My guess is there's some conflict in everyone launching language servers and versions of pygls from the same environment.

[2021-06-30 17:50] brettcannon commented on #16587
It's because there has not been a new build to download due to #16555 which is assigned to @joyceerhl .

[2021-06-30 17:57] joyceerhl commented on #16587
@brettcannon To clarify, Rich was already opted into daily insiders, had an older build, and there _was_ an available update, that wasn't being auto downloaded for him.

[2021-06-30 17:59] brettcannon commented on #16585
How does PySpark find the interpreter to run? Your test output shows `unittest` running successfully, but somehow your tests themselves not being able to find your Python interpreter (which we don't participate in since we just run your tests, not configure them). Can you share your settings to see if this is configuration issue?

I would also advise you change language servers (setting it to "Def

[2021-06-30 18:01] brettcannon commented on #16588
Closing in favour of #10440.

[2021-06-30 18:01] #16588 closed

[2021-06-30 18:15] karrtikr commented on #16587
We only check for available updates every 24 hrs. So there can be a available update, but it maybe the case that we already attempted a download recently?

Also, "command to opt into the daily Insiders build" should not be visible if already opted into daily insiders. So I'm not sure about that part too. I'll see if I can reproduce this and get back to you.

[2021-06-30 18:32] karrtikr commented on #16587
I am unable to reproduce this, I'll keep this issue open to check once we have new insiders build after https://github.com/microsoft/vscode-python/issues/16555 is fixed, and continue to see if it updates. But not much can be done otherwise.

[2021-06-30 18:34] brettcannon commented on #16580
Is it an especially fast or slow USB drive? Basically VS Code has a timer to try and call out bad extensions that are slow. It's possible that the interactions we do with a workspace when we launch is too slow on your USB drive for us to not trigger the warning.

[2021-06-30 18:43] AdamCummick commented on #16580
I've tried a couple USB drives, they aren't especially slow or fast. The extension has worked previously on them without issue on multiple PCs.

[2021-06-30 19:27] CodeMouse92 commented on #16583
I honestly don't know what Snooty is, just that it's always being demanded and used. VSCode identified *this* extension as the "problem" via extension bisect. Disabling the Python extension also disables Snooty Language Server on VSCode, but disabling `restructuredText` causes the problem to stop manifesting.

[2021-06-30 19:54] slpenn13 opened #16589 "python.pythonPath deprecation --"
## Environment data

-   VS Code version: XXX
-   Extension version (available under the Extensions sidebar): XXX
-   OS and version: XXX
-   Python version (& distribution if applicable, e.g. Anaconda): XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Python-related VS Code ext

[2021-06-30 19:56] slpenn13 commented on #16589
Hate the idea .... very frustrating as central control used to change per repo

[2021-06-30 20:01] kimadeline commented on #16583
Looks like Snooty is a dependency of https://github.com/vscode-restructuredtext/vscode-restructuredtext, which is the restructuredText extension. It seems like this extension uses the Language Server Protocol to provide IntelliSense, and so does the Python extension, which may cause issues like yours. However, even though Snooty is a Python-based tool, I don't see why it needs the Python extension

[2021-06-30 20:01] #16583 closed

[2021-06-30 20:16] joyceerhl commented on #16587
That is the current behavior, so Rich had to delete that insiders channel setting, uninstall the extension, reinstall the extension, then execute the Python daily insiders command.

[2021-06-30 20:20] kimadeline commented on #16581
Hi @sandy081,

I cannot reproduce your issue when following the steps in https://github.com/microsoft/vscode/issues/127378. Do you have any formatting-related settings set?

What is the content of the `Python` output channel when this issue appears?

[2021-06-30 20:32] Anatoly-Makarevich commented on #15736
I got this issue today, my tests passed (seen in output), but the last line of the output was `Error: Error: unsupported status (Idle)`

FYI, just restarting VSCode seemed to fix this. Probably something with an underlying process getting stuck.

[2021-06-30 21:07] brettcannon commented on #16589
If you are asking for a way to control the path to the interpreter in your `settings.json` file then you can set `python.defaultInterpreterPath`. Otherwise whatever selection you make for a workspace is recorded in VS Code's internal storage so you can still set it per-repo (see https://github.com/microsoft/vscode-python/issues/12313#issuecomment-867932929 for details).

[2021-06-30 21:07] brettcannon commented on #16589
I believe that covers what you're after, so I'm closing the issue. But if I'm wrong then please let me know and we can talk about reopening the issue.

[2021-06-30 21:07] #16589 closed

[2021-06-30 21:23] PeterQiu0516 commented on #10645
Hi all,

Do we get any updates on this?

[2021-06-30 21:45] karrtikr commented on #16587
Ah, then I think that was probably it, will close this. Also implementing the channel which downloads latest bits would probably not be trivial, we'll have to ping the server continuously for updates etc.

If you're expecting weekly downloads if you're a weekly insiders user, I think daily should be interpreted similarly😉 instead of being the latest.

[2021-06-30 21:50] joyceerhl commented on #16587
Fair enough, though I'd then suggest a 'Bleeding Edge' channel for the truly adventurous now that vscode-python CI auto publishes to blob storage off main 😁

[2021-06-30 21:51] rchiodo commented on #16587
That or a command to force it to check. I knew there was a newer version and I wanted it. I had to jump through hoops to get to it.

[2021-06-30 21:59] nemozny commented on #13013
I am experiencing the same issue.
![image](https://user-images.githubusercontent.com/1666780/124036757-cd0c7b80-d9fe-11eb-956e-29496944a199.png)
It is in this state forever, each time I start VS Code it gets stuck at a random percentage.
The issue manifests exclusively with VS Code Remote. I don't see this error if I open any local folder.

[2021-06-30 22:07] karrtikr commented on #16587
Gotcha, we can have a command.

`Python: Switch to Latest Insiders` could be a nice and discoverable name as it's also similar with existing `Python: Switch to ___ channel` command.

[2021-07-01 02:28] debadam commented on #16580
You could try disabling Telemetry in VScode settings. I was having the exact same behavior when trying to use the CircuitPython extension. (_The microntroller gets used as a USB drive and the Python extension was hanging like you described when trying to open the python text file. And same as you mentioned, everything worked fine with the same files and folders copied to the local file system._) S

[2021-07-01 04:08] zbs commented on #16519
Hey Karthik. Any update here? Happy to continue taking steps to help debug this.

[2021-07-01 05:23] bigjools opened #16593 "Tests not discovered, but running tests anyway works fine."
### Discussed in https://github.com/microsoft/vscode-python/discussions/16565

<div type='discussions-op-text'>

<sup>Originally posted by **bigjools** June 25, 2021</sup>
I've got a very simple unittest-based set up. My `settings.json` has this:
[code]
When doing test discovery I get this output:
[code]
However I _can_ run the tests just fine! I get the output in the Python Debug console.
[code]

[2021-07-01 05:54] bigjools commented on #16593
https://github.com/microsoft/vscode-python/pull/16594

[2021-07-01 07:36] sandy081 commented on #16581
I do not have any.

I can repro it when I ask to format using the keyboard shortcut `alt+shift+f` on Mac.

[2021-07-01 07:47] karrtikr commented on #16576
Potential fix in PR https://github.com/microsoft/vscode-python/pull/16594

[2021-07-01 11:31] AdamCummick commented on #16580
@debadam Thank you so much, that fixed it!

[2021-07-01 11:31] #16580 closed

[2021-07-01 11:34] kk17 commented on #12072
same issue. Cannot use jupyter notebook

[2021-07-01 12:29] liuxinglan opened #16595 "execute line (shift + enter) in interactive window doesn't recognize decorators"
Issue Type: <b>Feature Request</b>

Just discovered that the option of "run selection/line in interactive window shift + enter" doesn't recognize decorators.

Can this functionality be included?

Thanks!!

---------
**Behaviour1:** does not recognize decorator syntax and throws error:
code:
[code]

execute line gives error:
[code]

**Behaviour2:** ignore decorator
code:
[code]
execute lines ignore

[2021-07-01 16:44] Shahaed commented on #13013
Try my fix above

[2021-07-01 17:31] nemozny commented on #13013
Hi @Shahaed that doesn't work, any local workspace or folder doesn't initiate the download, since it is probably already installed.
Any remote workspace (python or Node.js) starts downloading that package and fails.

[2021-07-01 18:23] jkrigelman opened #16596 "Conda activate prefix"
When activating our locally sourced conda prefixed environments both pytest and debug modes cannot properly source the environment. We work in a large team on dedicated development system. Its not going to work to just brute force the global environment to be updated every time someone needs to test a new version of a module. So we need the prefix to work.

## Environment data

-   VS Code version

[2021-07-01 21:14] jkrigelman commented on #16596
Snooping around. I don't know the proper way to debug VSCode plugins. But I noticed that this line expects that the getCondaEnvironment is returning a name and a path. But name will be blank and path points to the directory above the python bin file.

https://github.com/microsoft/vscode-python/blob/2021.6.944021595/src/client/common/terminal/environmentActivationProviders/condaActivationProvider.t

[2021-07-01 21:20] karrtikr commented on #16596
Please set the following setting `python.logging.level` to `info` in User settings and provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</

[2021-07-01 22:42] jkrigelman commented on #16596
User belongs to experiment group 'pythonaa'
User belongs to experiment group 'pythonJoinMailingListVar3'
User belongs to experiment group 'pythonJediLSP'
User belongs to experiment group 'pythonDiscoveryModuleWithoutWatcher'
User belongs to experiment group 'pythonTensorboardExperiment'
User belongs to experiment group 'pythonSurveyNotificationcf'
User belongs to experiment group 'PythonPyTorchPro

[2021-07-01 22:55] david-waterworth opened #16599 "Extension forgets the Python interpreter for my workspace (pythonDeprecatePythonPath exp)"
I restarted vscode today and my workspace python virtualenv changed from the virtual env I had selected in python.pythonPath to one from an unrelated project. This appears to be a consequence of the pythonDeprecatePythonPath experiment. It's not clear to me how this is supposed to work yet, but in any case I would have assumed that when it is first enabled the project interpreter shouldn't silentl

[2021-07-01 22:56] jkrigelman commented on #16596
Based on the logs it looks like I should mention that I remote SSH into the server using Microsofts "Remote - SSH" plugin. That is version 0.65.7

[2021-07-01 22:57] karrtikr commented on #16596
Did you set python.logging.level to info in **User** settings as asked earlier. From the logs it doesn't look like that.

[2021-07-01 22:59] jkrigelman commented on #16596
![image](https://user-images.githubusercontent.com/56647916/124198280-2f0fc400-da85-11eb-87e8-2f11a4197e10.png)

It appears that it is not accepting this setting for my remote connection? I set this in my `~/.vscode/settings.json` file on the host system.

[2021-07-01 23:07] jkrigelman commented on #16596
Okay, sorry. I saw in the log file there were other locations on the remote side. I got it now.

User belongs to experiment group 'pythonaa'
User belongs to experiment group 'pythonJoinMailingListVar3'
User belongs to experiment group 'pythonJediLSP'
User belongs to experiment group 'pythonDiscoveryModuleWithoutWatcher'
User belongs to experiment group 'pythonTensorboardExperiment'
User belongs to

[2021-07-02 01:00] bigjools commented on #16576
I could do with some help in the PR please, if anyone can take a look.

[2021-07-02 03:40] giugiozza commented on #11679
did you get any solution here?

[2021-07-02 04:42] kallydev commented on #13013
I'm having the same problem with Remote SSH and the above workaround didn't work. After several attempts, the download progress always gets stuck in the range of 90% to 97%.

[2021-07-02 05:09] drelyea-blackberry commented on #13679
Changing the language server to Pylance fixed things, but dear god do I hate the color scheme. Why do we need to have this as Pylance?

[2021-07-02 10:58] hb020 commented on #13013
Workaround:
* open an new VS Code window, close all others
* in VS Code, from the extension manager, uninstall all python extensions
* in VS Code, from the extension manager, install ms-python.python "Python (Intellisense (PyLance),...)" with "install in WSL....."

[2021-07-02 19:30] jmjkx opened #16601 "vscode-python cannot step into standard library heapq module even "justmycode" was set to false"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): vscode-python v2021.6.944021595
-   OS and version: Win10 20H2
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.3 conda 4.10.1
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their version

[2021-07-02 21:44] forsternet opened #16602 "just wont let me do anything once a python file was open"
[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/6757179/ms-python.python-unresponsive.cpuprofile.txt)

[2021-07-03 00:36] abulka opened #16604 "Installing Python with pyenv and --enable-framework is not entirely supported (macOS specific)"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Mac Mojave 10.14.6
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): Pyenv 2.0.2 creating a framework install of Python
-   Relevant/affected

[2021-07-03 03:30] #16601 closed

[2021-07-03 03:37] jmjkx commented on #16601
i found the reason.  At the end of the heapq.py, it writes
`
# If available, use C implementation
try:
    from _heapq import *
except ImportError:
    pass
try:
    from _heapq import _heapreplace_max
except ImportError:
    pass
try:
    from _heapq import _heapify_max
except ImportError:
    pass
try:
    from _heapq import _heappop_max
except ImportError:
    pass
`

So, even it is a py file，

[2021-07-03 08:50] weidongzhou1994 opened #16605 "import packages which i writed failed"
when I run the python file in vscode, I encounter a problem: ModuleNotFoundError, but when running the same file in pycharm or add the above codes to my python file， it haves no problem, how can I solve this problem:
[code]
![image](https://user-images.githubusercontent.com/40510496/124348815-d3793e00-dc1e-11eb-9731-40248de95557.png)

[2021-07-03 09:18] TogrulKazimov commented on #16514
Sorry for the late reply, I did not get check if somebody replied to the issue.
![Screenshot_98](https://user-images.githubusercontent.com/60192576/124349612-f563c800-dc00-11eb-847f-fb4e9674a695.png)
This is the Output panel for Jupyter. Both Jupyter and Python extension says the same thing - "python is not installed".
![image](https://user-images.githubusercontent.com/60192576/124349638-2f34ce80-

[2021-07-04 09:31] sztal commented on #13678
Hi, I have the same problem (on Ubuntu). Pylint is installed in the Conda env I work with and I can successfully lint files from command line. However, no linting is done by VS Code even though PyLint is enabled in configuration.

I checked both with Jedi and PyLance servers and in both cases the problem persists.

[2021-07-05 02:30] tonybaloney opened #16606 "Poetry environment locator doesn't apply system variables to poetryPath"
## Environment data

This applies to main (I'm running insiders-weekly)

## Expected behaviour

Poetry path should apply variable substitution

[code]

But it isn't, so you can't use variable substitution to configure the poetry path.

The configuration setting is being loaded directly from config without `systemVariables.resolveAny` magic being applied

## Cause

The `PythonSettings` class is doi

[2021-07-05 02:31] tonybaloney commented on #16606
@karthiknadig I'm going to submit a PR and some tests to fix this

[2021-07-05 03:44] karthiknadig commented on #16606
@tonybaloney thanks.

/cc @karrtikr

[2021-07-05 05:25] Jacob-Stevens-Haas commented on #1182
@Timmmm , can you explain how?  And is it possible to attach the jupyter interactive window to a debugging session?

In an ideal world, my code is properly factored and I can create mock arguments to inspect the behavior of a function within the interactive window.  In reality, my code is nested too much.  The ability to debug code run via the interactive window would help that refactoring.

[2021-07-05 13:34] arian47 opened #16609 "source map support not being initialized in the extension"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.7.992362372-dev
-   OS and version: ubuntu 21.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Value of the `python.languageServer` setting: pylance

## Actual behaviour

[2021-07-05 14:42] Timmmm commented on #1182
I am not sure now! I might have misread things, sorry.

[2021-07-05 15:31] yurigene commented on #12403
I have same error when running pytest.
The tests are discoverable and I'm able to run them, but when I 'm running the test in output I see error: "cannot open file:///Users/yurib/Projects/files_uploader/tests/test_system_tests_linux.py"

Worth to mention that previously I moved the project to the new path and in the error vscode somehow refers to the old path of the test file. I tried to clear the

[2021-07-05 16:26] ablundon opened #16610 "High CPU Load When Opening Python Folders/Files"
## Environment data

-   VS Code version: Multiple (including 1.58.0-insider)
-   Extension version (available under the Extensions sidebar): Multiple including 2021.7.992362372-dev
-   OS and version: Windows 10 Enterprise
-   Python version (& distribution if applicable, e.g. Anaconda): Multiple including 3.9.6-64
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A

[2021-07-05 16:48] DanielNoord opened #16611 "Python version not displaying correctly"
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: MacOS 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A

## Expected and actual behaviour
<img width="167" alt="Schermafbeelding 2021-07-05

[2021-07-05 16:58] firvida commented on #15719
Have the exact same behavior in my computer, I can't see how this is a duplicated if #11039.

OS: Opensuse Leap 15.3 / Centos 8 / Manjaro
VSCode: 1.57.0
Extension version: v2021.7.992362372-dev

[2021-07-05 17:25] kimadeline commented on #16593
Hi @bigjools,

Thank you for reaching out and for your PR. Before we take a look at it, would you mind sharing your unittest setup, and the content of the `Python` output channel?

Thanks!

[2021-07-05 17:32] kimadeline commented on #16595
Hi @liuxinglan,

Thank you for reaching out! Just to confirm, which behavior are you currently experiencing when trying to run your selection in the interactive window?

[2021-07-05 17:35] kimadeline commented on #16599
Hi @david-waterworth, thank you for reaching out!

Could you provide the content of the `Python` output channel?

Thanks!

[2021-07-05 17:37] kimadeline commented on #16602
Hi @forsternet, thank you for reaching out. Please fill out our [issue template](https://github.com/microsoft/vscode-python/issues/new?labels=classify%2C+type-bug&template=2_bug_report.md) so we can investigate your issue appropriately.

Thank you!

[2021-07-05 17:40] kimadeline commented on #16604
Hi @abulka, thank you for reaching out.

Could you provide the content of the `Python` output channel? Just to confirm, which `pyenv` environments appear in the "Select Python Interpreter" dropdown?

Thank you!

[2021-07-05 17:41] kimadeline commented on #16605
Hi @weidongzhou1994, thank you for reaching out.

Please fill out our [issue template](https://github.com/microsoft/vscode-python/issues/new?labels=classify%2C+type-bug&template=2_bug_report.md) describing the error as well as your environment and steps to replicate the issue.

Thank you!

[2021-07-05 17:41] #16605 closed

[2021-07-05 18:11] kimadeline commented on #16610
Hi @ablundon,

Thank you for reaching out. Could you try adding the following snippet to your global `settings.json`:

[code]

How many virtual environments and interpreters do you have installed on your machine?

[2021-07-05 18:13] kimadeline commented on #16611
Hi @DanielNoord,

Thank you for reaching out! Could you provide the content of the `Python` output channel? Do you have Python 3.9.5 installed anywhere on your computer?

[2021-07-05 18:18] DanielNoord commented on #16611
Not quite sure what the "output channel" is. Do you have some guidance? :)
I don't believe I have 3.9.5 anywhere as I only installed it with homebrew and updated that installation.

[2021-07-05 19:10] ablundon commented on #16610
Thank you @kimadeline,

I had previously tried a solution I found in another issue where the recommendation was to OptOut of "pythonDiscoveryModule" which didn't work,

However, using your suggestion of opting out of all seemed to work perfectly!  After a short increase in CPU, the CPU usage quickly drops down to normal levels near 5%.  I guess the experiments do not like my machine.

I appreciate

[2021-07-05 19:27] kimadeline commented on #16610
Thank you for your quick reply, glad to hear it's working now!

It would be great if we could pinpoint which experiment was causing this issue, could you post the output of the `Python` output channel here as well, so we can see which experiments were disabled?

What kind of environments are you using on your computer?

[2021-07-05 21:04] mcepl commented on #10440
This whole bug is based on the wrong premise: rope has been supporting Python 3 for some time already. I (the only remaining something-like-maintainer of rope, https://github.com/python-rope/rope/ ) have no idea about VSCode (so I don't know how rope is weird into it), feel free to file issues for any bugs you find.

[2021-07-05 22:17] craigds commented on #16244
I've been getting this same error for a few days now:

This is in the `Log (Extension Host)` in my output tab
[code]

Not sure if related, but the `Python` log has this stuff in it:

[code]
Every time I switch context to a python file, one more of each interpreter shows up in the log. Weird huh? My interpreter in the User settings is set to `/usr/local/bin/python3.7` so I'm not clear on where the

[2021-07-05 23:03] bigjools commented on #16593
It's best to look at the Discussion I used to raise this issue, and the PR I submitted at #16594 (where I also asked for a bit of help as I have no experience with Typescript).

[2021-07-05 23:07] luabud commented on #16613
I was able to reproduce this, so I'm transferring it to the Python extension repo.

[2021-07-05 23:17] luabud opened #16614 "Python extension is showing "Pylance is not installed" notification too soon"
## Environment data

-   VS Code version: 1.58.0-insider (Codespaces, Edge)
-   Extension version (available under the Extensions sidebar): 2021.7.992362372-dev
-   OS and version: Windows 10
-   Relevant/affected Python-related VS Code extensions and their versions: Pylance 2021.6.3
-   Value of the `python.languageServer` setting: Pylance

[**NOTE**: If you suspect that your issue is related to

[2021-07-05 23:22] luabud commented on #10645
Hey folks, no updates so far. We'd love to get to it at some point but no ETA yet, sorry!

[2021-07-05 23:29] bulletmark commented on #1182
I created a [simple wrapper utility](https://github.com/bulletmark/debugpy-run) to more easily debug with varying command line arguments. It works well for me so others may be interested in using it. I would have attached this comment on issue #620 where it is directly appropriate but it is closed for comments and linked to here.

[2021-07-05 23:41] david-waterworth commented on #16599
Hi @kimadeline

After opening a python folder for the first time after upgrading, this is the contents of `Python`

[code]

Note, it seems to have found 2 paths but there's only one set in settings.json

[code]

and the one it picked was wrong (it took the first).

[2021-07-06 00:13] abulka commented on #16604
Sure, here are the settings from two different machines, my main desktop iMac and my portable Macbook Air. They both illustrate the problem, though in slightly different ways.

## Machine - iMac

output (python tab)

    User belongs to experiment group 'pythonaacf'
    User belongs to experiment group 'pythonJediLSP'
    User belongs to experiment group 'pythonDiscoveryModuleWithoutWatcher'
    U

[2021-07-06 00:50] tonybaloney opened #16615 "The `JupyterExtensionIntegration.install()` is invoking the incorrect installer from the Jupyter extension"
## Steps to reproduce

1. Open a workspace with a poetry environment
1. Make sure the ipykernel package is not installed
1. Open a jupyter notebook
1. On prompt to install `ipykernel` select yes

## Expected

`poetry add --dev` is invoked

## Actual

It invokes `pip install -U` instead of `poetry add --dev`

This applies to main/latest

I also noticed there is no unit/integration test for `Jupyter

[2021-07-06 01:13] tonybaloney commented on #16615
this is the root cause. The `DataScienceInstaller` does not care about Pipenv or poetry environments, it defaults back to pip

https://github.com/microsoft/vscode-python/blob/main/src/client/common/installer/productInstaller.ts#L474-L487

[2021-07-06 03:10] cardinalgeo commented on #11435
Hi all! Are there any updates on this thread? I've also run into the issue described, and though uninstalling and reinstalling the Python extension resolves it, the problem very quickly reemerges.

[2021-07-06 06:02] sergei3000 opened #16619 "Feature request: tmux kind of process in interactive window"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16618

<div type='discussions-op-text'>

<sup>Originally posted by **sergei3000** July  6, 2021</sup>
I often use the Python extension in a remote SSH window which I open using an SSH tunnel. Whenever the tunnel (or just a regular SSH session) breaks all my environment and its variables are lost. And among those variables ther

[2021-07-06 06:20] DanielNoord commented on #16611
After opening my computer the issue has resolved itself. Quite strange as I did not restart my computer or VS Code. I closed the laptop but that's it.
Perhaps it is related to the version number caching and not updating frequently enough?

[2021-07-06 07:20] TrafalgarWaterDLaw commented on #9576
Same issue here to:
OS: Windows 7
VSCode: 1.57.1
Python extension: v2021.6.944021595

Visual Studio claims that Python isn't installed, although I have worked on projects before and can't seem to run my code.

[2021-07-06 09:07] liuxinglan commented on #16595
Hi @kimadeline

Thanks for picking this up.

Sorry I forgot to add more details about it. Now updated the issue main texts with behaviours.

[2021-07-06 09:36] Lucien-cs commented on #10898
The same problem.
By the way, @luabud could you share which theme or extension you are using? Your panel looks different and good. Thank you!

[2021-07-06 10:52] ablundon commented on #16610
I have a few different versions of Python installed on a secondary drive in my machine (G Drive).  Versions include 3.6-64, 3.8-32, 3.8-64, 3.9.1-64, and 3.9.6-64 (which is my currently selected interpreter).  I typically do not run a virtual environment unless I'm ready to package up what I'm working on.  All python versions are installed with no PATH variable specified (as I do not have admin pr

[2021-07-06 13:05] arian47 commented on #16609
it doesn't break the environment, i switched the python.insidersChannel from daily to off and reloaded the vscode windows but doesn't seem to help.

[2021-07-06 14:19] ParazitZz opened #16621 "Skipped cells in 'Run all cells'"
Issue Type: <b>Bug</b>

Sometimes, while running all cells of a notebook with the 'Run all cells' button, visual studio code skips one cell, and the next dependent cells show errors.

Extension version: 2019.10.41019
VS Code version: Code 1.36.0 (0f3794b38477eea13fb47fbe15a42798e6129338, 2019-07-03T13:25:46.372Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Ite

[2021-07-06 14:40] jacob-02 opened #16622 "Import "cv2" could not be resolved (PylancereportMissingImports)"
## Environment data

-   VS Code version: Version: 1.57.1
-   OS and version: OS: Linux x64 4.15.0-147-generic snap
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
-   Relevant/affected Python packages and their versions: opencv_contrib_python==4.5.2.52

## Expected behaviour

Well, I exp

[2021-07-06 15:30] jacob-02 commented on #16622
Never mind I fixed it
I had not configured the interpreter correctly. My bad

[2021-07-06 15:30] #16622 closed

[2021-07-06 15:48] CLozy commented on #11924
this solved my issue , Thanks @karthiknadig

[2021-07-06 16:12] jakebailey commented on #16614
It seems like the current state is much, much worse than before. Now Pylance isn't even available to be activated so the Python extension can use it. I am very surprised that it's letting extensions activate during installs of the dependency chains, but I suppose that the directions currently (to VS Code's eyes) are "Python soft requires Pylance" and "Pylance hard requires Python", where installin

[2021-07-06 16:14] ErwanDL commented on #10645
@luabud Would you guys be interested in a Proof-of-concept work ? I can't guarantee that I can do it in the very near future, but if that is something that would help the team refine the scope or have an idea of what the feature could look like, it's something I would consider !

[2021-07-06 17:02] karthiknadig commented on #16615
/cc @DonJayamanne @joyceerhl

[2021-07-06 17:07] joyceerhl commented on #16621
The latest version of VS Code is 1.57.0 and the latest version of the Python extension is 2021.6.944021595. Please upgrade to the latest of both and let us know if the issue persists.

[2021-07-06 17:26] luabud commented on #16619
We handle new feature requests in Discussions now, once they get enough upvotes we open issues related to them. Closing this in favour of https://github.com/microsoft/vscode-python/discussions/16618.

[2021-07-06 17:26] #16619 closed

[2021-07-06 18:37] luabud commented on #12179
This should be improved if you use "JediLSP" in your `python.languageServer` setting 😊

[2021-07-06 18:37] #12179 closed

[2021-07-06 18:49] luabud commented on #12634
Closing as stale.

[2021-07-06 18:49] #12634 closed

[2021-07-06 18:49] luabud commented on #12429
This isn't a problem anymore since we migrated to the `python.languageServer` setting.

[2021-07-06 18:49] #12429 closed

[2021-07-06 18:52] luabud commented on #11780
Because Pylance includes pyright and now Pylance is installed by default with the Python extension, I'm closing this issue :)

[2021-07-06 18:52] #11780 closed

[2021-07-06 18:59] luabud commented on #7937
Closing as stale.

[2021-07-06 18:59] #7937 closed

[2021-07-06 19:16] zbs commented on #16519
@karthiknadig: My ability to debug is blocked on this. Please let me know what information I can provide.

[2021-07-06 19:22] kimadeline commented on #16595
Can you repro this behavior outside of the interactive window?

[2021-07-06 19:32] karthiknadig commented on #16519
@zbs sorry for the delayed reply. I don't need any additional information for this. Can you explain why you need `logToFile: true`?

[2021-07-06 19:39] zbs commented on #16519
@karthiknadig I'm sorry for misunderstanding! I thought you were asking about `logToFile` because you needed it to be `true` in order to print logs to help troubleshoot this issue; I didn't understand that `logToFile` was itself responsible for this issue. Disabling it fixed the issue. Thanks again :).

[2021-07-06 19:39] #16519 closed

[2021-07-06 20:33] Diogo-Rossi commented on #11435
It will be good if the the command "Run Python File on terminal" recognizes that there is an already active opened Python terminal running. This would avoid this issue.

As an alternative, the command triggered with the play button could run the `reload()` function on the active file as a module.

At least it could let us customize this command, or hide the Play Button. I ended up stopping using t

[2021-07-06 21:02] karthiknadig commented on #9576
@TrafalgarWaterDLaw It might help if you can get logs from Output > Python panel.

[2021-07-06 21:05] karthiknadig commented on #16611
This is caching issue. If you running into something like this again try running the "Python: Clear Internal Extension Cache" command from the command pallet. Usually the global cache is updated once per day. This may have occurred due to cache invalidation failure.

[2021-07-06 21:14] DanielNoord commented on #16611
Okay!

Would it be possible to run the cache for python versions before the interpreter selecter as shown in screenshot 2? I can understand you would not want to do this constantly, but whenever I am specifically looking at python versions to determine which interpreter to select I would expect that information to be up to date without me intervening. Perhaps this is very resource intensive for mu

[2021-07-06 21:53] luabud opened #16623 "Improve discoverability for the need to reload the window after installing Python from python.org"

[2021-07-06 23:03] jakebailey commented on #16614
Any idea when the next VS Code release is datewise so we can go verify that this is definitely broken?

[2021-07-06 23:12] rzhao271 commented on #16614
The next VS Code Stable release should be this Thursday.

[2021-07-06 23:19] jakebailey commented on #16614
I've just tested on insiders, and it's unfortunately broken, it seems.

![image](https://user-images.githubusercontent.com/5341706/124677700-dd48ae80-de75-11eb-9e15-06aa81b1f112.png)

I get this one only, but it's likely that's because I uninstalled and reinstalled and things were cached (so were fast).

[2021-07-06 23:20] jakebailey commented on #16614
FWIW this is our main install flow for all Python users, so any new user is going to start seeing these in the next VS Code update, hence me asking for timing.

[2021-07-06 23:43] alstel commented on #13013
None of the proposed hacks are working. The only way to resolve was downgrading to a previous ms-python.python version (v2021.5.926500501 in this case). This is with WSL Ubuntu 20.04, python 3.8.5.

[2021-07-07 08:10] liuxinglan commented on #16595
outside of the interactive model? Do you mean running as a script?

If running as a script, both code gives identical results, e.g.

[code]

so normally no error is expected. and the "functionalities" of the decorators are included.

[2021-07-07 10:10] TrafalgarWaterDLaw commented on #9576
@karthiknadig

Here is the log

[Python Panel Output.pdf](https://github.com/microsoft/vscode-python/files/6776283/Python.Panel.Output.pdf)

[2021-07-07 12:46] CodePint commented on #15522
Not sure if some of these issues are related to depreciate python path experiment:
https://github.com/microsoft/vscode-python/issues/12313

I resolved the issue by adding the following to my user/settings.json
```"python.experiments.optOutFrom": ["pythonDeprecatePythonPath"],```

and making sure that in my project settings.json i had:
```"python.pythonPath": "/home/users/.local/path/to/project/vir

[2021-07-07 16:17] karthiknadig commented on #13678
@sztal when you use JediLSP/Pylance they use their own things to provide linting (i.e., you have to explicitly enable pylint linting for this to work). For better diagnosis, file a separate bug with your output logs and settings.

[2021-07-07 16:26] karthiknadig commented on #14639
That is VS Code version number not the python extension version number. But yes, this is available in the latest version of the extension.

you might want to try opting into `"python.experiments.optInto": ["pythonDiscoveryModuleWithoutWatcher"]`, this removes additional things to reduce that we search for. hopefully that should get you better perf.

[2021-07-07 16:28] darrenkenny opened #16625 "Python extension is not loading in latest Insiders builds"
I couldn't find a specific issue that matched this - there was one, #11872, but it suggested removing the
extension, which I did on the local MacOS system and the remote Linux system's server equivalent directories,
which did work the first time I started, and installed the Python extension again, but as soon as I lost connectivity
or reloaded the windows, it wouldn't work any more.

## Environmen

[2021-07-07 16:48] darrenkenny commented on #16625
OK, so after writing this I figured, why not remove the whole remote `.vscode-server-insiders` directory and not just the python specific entries as in #11872, and re-install all the extensions again on that remote side.

Lo and behold, it looks like the Python extension is now loading every time for me! Guess there was something in the wider Insider's server-side that was out of sync?

Apologies

[2021-07-07 16:48] #16625 closed

[2021-07-07 17:34] karthiknadig commented on #8361
This is partially working. Clicking on continue from the call stack sends the request to some configuration, not the one that you click on. So it is sending the request, but to the wrong one.

[2021-07-07 17:35] karthiknadig commented on #8361
/cc @isidorn @weinand

[2021-07-07 17:42] #16606 closed

[2021-07-07 17:51] karrtikr commented on #15522
@KamalSinghKhanna As it's been a while, you can give it a shot too.

[2021-07-07 18:40] kimadeline commented on #16595
Hi sorry, I meant using shift+enter in a regular Python file.

I tested it with your first snippet and the same error happens, this was reported in https://github.com/microsoft/vscode-python/issues/15058.

Closing as a duplicate of https://github.com/microsoft/vscode-python/issues/15058.

[2021-07-07 18:40] #16595 closed

[2021-07-07 20:52] rebornix opened #16627 "Inconsistent use of notification and modal dialog for installing formatter"
Issue Type: <b>Bug</b>

* Fresh conda environment
* Try to format python code
* A notification pops up asking if I want to install black
* Click yes
* A modal dialog shows up, choose conda or pip
* Terminal is now opened

My focus goes from the bottom right, to top center, and then bottom center to get formatting working, we should probably not mix use notification and modal dialog in this scenari

[2021-07-07 20:55] rebornix opened #16628 "Can not install black formatter"
Issue Type: <b>Bug</b>

* Fresh conda environment
* Format some python code
* Python extension shows notification asking if I want to install black
* Choose pip from the modal dialog
* An integrated terminal is opened and running command `& C:/Users/rebor/.conda/envs/testenv/python.exe -m pip install -U black` but fails with error
[code]

However if I open an interactive window and run `!pip insta

[2021-07-07 20:56] rebornix opened #16629 "can not format untitled file"
Issue Type: <b>Bug</b>

* Install black
* Create an untiled file, change language mode to python
* Format

nothing happens and there is error in output

[code]

Extension version: 2021.7.992362372-dev
VS Code version: Code - Insiders 1.58.0-insider (2d23c42a936db1c7b3b06f918cde29561cc47cd6, 2021-07-07T12:09:55.219Z)
OS version: Windows_NT x64 10.0.19041
Restricted Mode: No
Remote OS version: Linux

[2021-07-07 21:05] luabud commented on #16614
Fixed upstream by https://github.com/microsoft/vscode/issues/128088.

[2021-07-07 21:05] #16614 closed

[2021-07-07 21:16] alexbogun opened #16630 "Python language features not working with mounted folder via sshfs"
## Environment data

-   VS Code version: 1.57.1
-   Extension version: v2021.6.944021595
-   OS and version: Ubuntu 18.04 (and WSL 2 on Windows 10)
-   Python version: 3.8
-   Type of virtual environment used : conda
-   Value of the `python.languageServer` setting: tried all of them

## Expected behaviour

Intellisense (code completion) and lining working properly always

## Actual behavior

Whe

[2021-07-07 21:21] jkrigelman commented on #16596
I was messing around with things. Uninstalling, reinstalling, removing directories... and finally gave up. I went to another branch in my workflow. Reinstalling python 3.7 and other required tools. Suddenly it picked up on ./.env being a conda environment.

So I went back over to my working branch, reinstalled python 3.9 and it figured out it was a Conda environment. It now properly runs the corre

[2021-07-07 21:21] #16596 closed

[2021-07-07 22:06] karthiknadig commented on #16629
Can you check if `TMP` or `TEMP` environment variable is set? This usually means that one of those is not set.

[2021-07-08 01:29] macintacos opened #16631 "Can't debug Poetry module, getting "No module named Poetry" when running with minimal debug configuration"
I'm trying to come up with a debug configuration for my Poetry application that works, and am struggling to put something together that works with a minimal application. Can I get some tips on how to put this together? And also, perhaps this could be added as a sample configuration in the app?

## Environment data

- Version: 1.57.1
- Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
- Date: 2021-0

[2021-07-08 04:53] Archurcl4w opened #16632 "Unresolved import 'requests.packages' / 'requests_ntlm'issue"
#!/usr/bin/python
from requests.packages.urllib3.exceptions import InsecureRequestWarning
from requests_ntlm import HttpNtlmAuth
import argparse, requests, logging
from bs4 import BeautifulSoup
from sys import argv, exit, stderr, stdout

error :- 1)unresolved import 'requests.packages'Python(unresolved-import)

	    2) unresolved import 'requests_ntlm'Python(unresolved-import)
I had this issues/er

[2021-07-08 10:01] TBBle commented on #4922
I've just bounced off this issue, and for me, part of the problem is that the error message shown is not clear.

If `python.formatting.blackPath` is unset, `black` is discovered by
[code]
and the Python log shows
[code]
but the _popup_ says "Formatter black is not installed. Install?". If that said "_Module_ black is not installed _in current Python environment_" then it would have pointed me in t

[2021-07-08 12:50] sachin-aag opened #16633 "View value in data viewer giving an error for pyspark dataframe"
## Environment data

-   VS Code version: 1.57.1
-   OS and version: macOS big sur version 11.4
-   Python version (& distribution if applicable, e.g. Anaconda):  python 3.7.11
-   Type of virtual environment used : docker environment using the remote containers extension. It is a debian env
-   Relevant/affected Python packages and their versions: pyspark 3.0.1
-   Extension: pylance  2021.7.2, p

[2021-07-08 12:56] #16633 closed

[2021-07-08 12:57] sachin-aag commented on #16633
Turns out it was a bug in my code.

[2021-07-08 15:21] #16615 closed

[2021-07-08 15:37] #16517 closed

[2021-07-08 15:38] #16368 closed

[2021-07-08 16:11] ganesh2054 commented on #16022
try to open the folder that contains a python file and start debugging instead of debugging file

[2021-07-08 17:16] karrtikr commented on #16628
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-07-08 17:19] karthiknadig commented on #16632
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-07-08 17:19] #16632 closed

[2021-07-09 10:39] riverscn opened #16637 "Can't detect Python venv interpreter when open folder with VSCode"
Issue Type: <b>Bug</b>

0. python -m venv venv in a Python project folder.

1. Right click on a Python project folder which contians a venv folder, and open it with VSCode. (Or cd into the folder in command line, and "code ." to open it.)

2. Select Interpreter, can't see the one inside venv.
![image](https://user-images.githubusercontent.com/555062/125065840-e8554600-e0e4-11eb-96c7-6be50ddf29ba.p

[2021-07-09 14:11] corneliusroemer opened #16638 "Cmd+1/2 doesn't focus on the input box of Interactive Window"
The bug is back. I'm opening this here just to point at the issue in the VS code tracker, because I was about to open it here and only after a lengthy search found out that the issue is already open over there.

Upstream: https://github.com/microsoft/vscode/issues/124788

[2021-07-09 14:46] gohandi opened #16639 "Can not run file in path that contains "!!""
## Environment data

-   VS Code version: 1.57.1
-   Extension version: v2021.6.944021595
-   OS and version: Windows 10 2020H2 19042.1083
-   Python version: 3.9.6
-   Type of virtual environment used: N/A
## Expected behaviour

Run without debuging lunch py file
[code]

## Actual behaviour

File fails to run due to "[Errno 2] No such file or directory"
[code]

## Steps to reproduce:

1. Create p

[2021-07-09 15:20] Gatuno7000 opened #16640 "Run python file in terminal inconsistent (freezes and does weird things when trying to run a python file again)"
## Environment data

-   VS Code version: June 2021 (version 1.58)
-   Extension version (available under the Extensions sidebar): 2021.6.944021595 (latest)
-   OS and version: Win 10 Latest Update
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their

[2021-07-09 16:38] karthiknadig commented on #9576
@TrafalgarWaterDLaw I looks like this python that you have is failing to execute. Can you try running this from a command line?
[code]

[2021-07-09 17:25] kimadeline commented on #16407
Hi @chris-opendata,

Is your issue still happening with the latest versions of the Python extension and VS Code?

[2021-07-09 19:03] TogrulKazimov commented on #16514
@paulacamargo25

[2021-07-09 20:24] nemozny commented on #13013
None of the above works.
I've installed Jypyter + Pylance + Python all 2020-12 versions, the Python Language download was successful, unpacked and whatever.
Then I've updated all the above 3 plugins to latest versions and

![image](https://user-images.githubusercontent.com/1666780/125132230-53624500-e104-11eb-82da-b9cad05af5b1.png)

[2021-07-09 23:27] MinchinWeb opened #16659 "Define "known first party" for imports"
For isort, I can define a set of "known first party imports":

[code]

However, pylance isn't recognizing this setting, and I can't find no way to set it myself.

![image](https://user-images.githubusercontent.com/1548809/125144355-d4a4e200-e0da-11eb-8736-7a4787ddce6b.png)

So how do I set "first party" modules for import in pylance?

[2021-07-10 00:10] kislyuk commented on #15586
I still see this issue. The `completion.py` process (`~/.vscode/extensions/ms-python.python-2021.6.944021595/pythonFiles/completion.py`) consumes 100% CPU. It is terminated when vscode quits; however I have left it running overnight and it never stops consuming 100% CPU, so whatever indexing it's doing seems to be stuck in an infinite loop.

[2021-07-10 00:17] kislyuk commented on #15586
I was able to bypass this issue by installing pylance and disabling jedi as recommended in another issue (#12037). It does however still happen in the default configuration.

[2021-07-10 03:25] gricn commented on #13013
I meet the same situation today when I tried to write a python script. I try to install a linter in my ssh remote server, so I need to install the "Python" extension because Pylance doesn't support it. And then the download progress stuck at 4%.

The temp workaround is writing python code locally and pasting it to the remote server.

[2021-07-10 08:42] TrafalgarWaterDLaw commented on #9576
@karthiknadig
Results

You must provide a value expression on the right-hand side of the '-' operator.
At line:1 char:73
+ "C:\Users\Mr Cephas\AppData\Local\Programs\Python\Python38\python.exe" - <<<< c "import sys;print(sys.executable)"
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : ExpectedValueExpression

[2021-07-10 16:23] karthiknadig commented on #9576
@TrafalgarWaterDLaw Did you change any environment variables? like `ComSpec` . If you are trying to run the above in powershell then you should use right format for powershell. Execute the command I gave you from cmd.exe and see what you get. Also exsure that ComSpec is pointing to cmd.exe

[2021-07-10 17:13] TrafalgarWaterDLaw commented on #9576
@karthiknadig
I ran the command and the result was that the system can't find the specified path. Can you walk me through the process, just incase I made a mistake along the way..

[2021-07-10 22:50] soniaxprogrammer opened #16646 "python extension loading forever"
## Environment data

-   VS Code version: XXX
-   Extension version (available under the Extensions sidebar): XXX
-   OS and version: XXX
-   Python version (& distribution if applicable, e.g. Anaconda): XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Python-related VS Code ext

[2021-07-11 05:25] lesmo commented on #9324
Quick heads up: this issue was created almost a year ago, and now this ext [uses Pylance by default since May](https://devblogs.microsoft.com/python/python-in-visual-studio-code-may-2021-release/).

So I'm under the impression that this issue is no longer relevant, and should be closed :)

[2021-07-11 05:54] ginomempin opened #16647 "Debugging with externalTerminal + sudo results in "env: illegal option -- a""
## Environment data

-   VS Code version:
    - Version: **1.58.0**
    - Commit: **2d23c42a936db1c7b3b06f918cde29561cc47cd6**
    - Date: **2021-07-08T06:54:17.694Z**
    - Electron: **12.0.13**
    - Chrome: **89.0.4389.128**
    - Node.js: **14.16.0**
    - V8: **8.9.255.25-electron.0**
    - OS: **Darwin x64 19.6.0**
-   Extension version: **ms-python.python v2021.6.944021595**
-   OS and vers

[2021-07-11 06:50] Alx-Lai opened #16648 "The Python Tools server crashed 5 times in the last 3 minutes."
Environment data
Version: 1.58.0 (user setup)
Commit: 2d23c42a936db1c7b3b06f918cde29561cc47cd6
Date: 2021-07-08T06:54:55.083Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

Extensions:
ms-python.python  v2021.6.944021595

I get this error when I use "code ." to open a python project
But if I open it like "open VScode"->"open Folder

[2021-07-11 12:17] astrelsky commented on #13315
This is still a problem. Pylance does almost no linting in comparison to pylint. The linter enabled in the settings **should not** be silently disabled when enabled in the settings via the user interface. I have yet to try explicitly setting it in the json settings but it shouldn't be necessary.

[2021-07-11 12:32] Marines1775 commented on #16640
VS Code version: June 2021 (version 1.58)
Extension version (available under the Extensions sidebar): 2021.6.944021595 (latest)
OS and version: OSX 10.14.6
Python version : 3.9.2
Relevant/affected Python packages and their versions: N/A
Relevant/affected Python-related VS Code extensions and their versions: Pylance (2021.7.2) , Jupyter (2021.6.999662501)
Value of the python.languageServer setting:

[2021-07-11 12:50] sermann commented on #14977
Same issue with Python extension not loading and preventing many other extensions from loading.

Adding `"telemetry.enableTelemetry": false` to settings.json has solved (or hidden) the issue.

Version: 1.58.0 (user setup)
Commit: 2d23c42a936db1c7b3b06f918cde29561cc47cd6
Date: 2021-07-08T06:54:55.083Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT

[2021-07-11 17:54] Diogo-Rossi commented on #16640
I experienced the same. Maybe it't is related to [this VS Code terminal issue](https://github.com/microsoft/vscode/issues/128435) (please thumbs up)

A temporary workaround is: work with 2 open terminals.

With a secondary opened terminal, it seems you can kill the newly created "Python" terminal without problem.

Here is a gif showing the problem AND the workaround.

![gif1](https://user-images.g

[2021-07-12 02:17] quwac commented on #13312
I faced the same problem but solved it.
It seems to hang out when `python.sortImports.path` is a relative path.

NG:

[code]

OK:

[code]

[2021-07-12 13:52] sanjay-iisc commented on #16640
I am also facing the same issue..
Did anyone got the solution except described by the @Diogo-Rossi.
Thanks

[2021-07-12 16:28] karthiknadig commented on #16647
@ginomempin Can do the following and see if it helps? I believe the issue is due to terminal activation and debugger code writing over each other.
1. Turn off auto activation. To do this, disable these two settings, ideally only for the project you are working on:
![image](https://user-images.githubusercontent.com/3840081/91915281-f6d60400-ec6e-11ea-86da-23b03f8a0dd8.png)
2. Exit all instances of

[2021-07-12 16:39] kimadeline commented on #16581
Sorry for the delay!

That makes sense, since the extension will try to format, but there's no formatter installed. Looking back to your initial comment

What would you expect to happen there: An informational message instead of an error one? No message at all? Something else?

[2021-07-12 17:37] karthiknadig commented on #16637
Duplicate of #16613

[2021-07-12 17:37] #16637 closed

[2021-07-12 17:38] karthiknadig commented on #16646
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-07-12 17:38] #16646 closed

[2021-07-12 17:50] karthiknadig commented on #16640
The UI issues as described by @Diogo-Rossi are due to VS Code itels, so this will be addressed by VS Code. Closing this on behalf of https://github.com/microsoft/vscode/issues/128435

[2021-07-12 17:50] #16640 closed

[2021-07-12 18:01] karrtikr commented on #16648
Please provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

<br />

<details>

<summary>
Output from <code>Console</code> under th

[2021-07-12 18:08] karthiknadig commented on #9576
@TrafalgarWaterDLaw Please file a separate bug or start a discussions thread here (https://github.com/microsoft/vscode-python/discussions/categories/q-a ). There is a lot of missing information to figure out why this is not working.

[2021-07-12 18:58] brettcannon commented on #16568
We were not able to reproduce the issue, which means we can't unfortunately attempt to fix it since we can't get it to fail in the first place.

We are going to pre-emptively close this issue, but if the issue continues and you can come up with very specific reproduction steps (like a test repo with the appropriate settings and a step-by-step guide of what to do once the test repo is opened) we wo

[2021-07-12 18:58] #16568 closed

[2021-07-12 19:02] SiddhanthUnnithan opened #16656 "Python installations in remote environment missing from interpreter selection list."
## Environment data

-   VS Code version: 1.57.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.6, Anaconda
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their versions: N/A
-   R

[2021-07-12 19:44] joyceerhl opened #16657 "Datascience smoke tests failing"
https://github.com/microsoft/vscode-python/runs/303267211

[2021-07-12 20:05] TrafalgarWaterDLaw commented on #9576
@karthiknadig

Cool I will do so

[2021-07-12 20:44] luisccomp commented on #13679
That doesn't work for me. When I check the language server output, I got a stack overflow error when I try to use numpy functions. I a file contains `import numpy as np`, the language server fails.

[2021-07-12 20:45] luisccomp commented on #13679
This is the output of language sercer currently installed on my PC.
[code]

[2021-07-12 20:54] KayvanShah1 commented on #13679
# Changing language server solves the issues permanently

[2021-07-13 02:45] davidxuang commented on #16269
I encounter the same problem and here are my logs for the extensions for Python:

[code]

... and for Jupyter:

[code]

I hope that this will help to identify the problem.

[2021-07-13 02:52] davidxuang commented on #16269
**Environment information**

| Item | Version |
| ---- | ------- |
| VS Code | 1.58.0 (system setup) |
| Python extension | 2021.6.944021595 |
| OS | Windows 10 Pro x64 21390.2025 |
| Python | 3.9.6 (via [Scoop](https://github.com/ScoopInstaller/Main/blob/master/bucket/python.json)) |
| `python.languageServer` config | *undefined* |

[2021-07-13 06:59] Alx-Lai commented on #16648
使用者屬於 "pythonaacf" 實驗性群組
使用者屬於 "pythonJediLSP" 實驗性群組
使用者屬於 "pythonDiscoveryModuleWithoutWatcher" 實驗性群組
使用者屬於 "pythonTensorboardExperiment" 實驗性群組
使用者屬於 "pythonSurveyNotification" 實驗性群組
使用者屬於 "PythonPyTorchProfiler" 實驗性群組
使用者屬於 "pythonDeprecatePythonPathcf" 實驗性群組
Python interpreter path: ~\AppData\Local\Programs\Python\Python39\python.exe
Error 2021-07-13 14:54:06: Failed to check if file needs to b

[2021-07-13 07:09] omidshojaee opened #16664 "It is not detecting my interpreter automatically"
## Environment data

-   VS Code version: 1.58.0
-   Extension version (available under the Extensions sidebar): 2021.6.944021595
-   OS and version: Windows 10 Pro 10.0.19043
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions: XXX
-   Rel

[2021-07-13 07:32] karrtikr commented on #16648
Thanks for the info, can you please also provide the following:

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

Try setting `python.languageServer` setting to `Pylance` and see if you can

[2021-07-13 07:59] gonghenghai opened #16665 "Python extension could not detective the environment automatically, and even could not cache it after reload the workspace"
## Environment data

-   VS Code version: 1.58.0
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Win10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): 3.9
-   Relevant/affected Python packages and their versions:
-   Relevant/affected Python-rela

[2021-07-13 11:17] Marines1775 commented on #16640
Could you explain to me how you can close this when its an obvious BUG and has not been fixed?

[2021-07-13 13:28] Alx-Lai commented on #16648
[Info  - 下午9:23:25] Analysis cache path: C:\Users\alex\AppData\Local\Microsoft\Python Language Server
[Info  - 下午9:23:25] Microsoft Python Language Server version 0.5.59.0
[Info  - 下午9:23:25] Workspace root: c:\Users\alex\Documents\GitHub\Challenge2021
[Info  - 下午9:23:25] GetCurrentSearchPaths C:\Users\alex\AppData\Local\Programs\Python\Python39\python.exe
[Info  - 下午9:23:25] Interpreter search pa

[2021-07-13 14:51] beralves commented on #15393
Hi I see this topci is closed. Quick question, in the current release of VS Code 1.58.0 and Python extension updated is it possible to see the "View Value in Data Viewer" option whn debugging a Jupyter notebook inside VS Code? I went through all the steps mentioned in this topic, related to experimental options and I still can't see it. Data Viewer is available in the normal run context but not in

[2021-07-13 15:43] karthiknadig commented on #16640
The code where the issue exists is not in this repository. For issue like this, either we transfer issue if it is new and there is no bug already tracking this in the VS Code repo; Or we close on behalf of an existing issue in VS Code repo. The bug will be addressed by VS Code and fixed in that repo.

[2021-07-13 15:45] plto2007 commented on #16613
hello, any updates? I am also facing this issue

[2021-07-13 16:04] dannydarvish commented on #16431
Sorry for the delayed response as well. I do not have the configuration anymore, since I discovered VS Code Remote Development, which has superseded my old workflow of SSHFS + VS Code + SSH.

[2021-07-13 16:47] brettcannon commented on #15586
@kislyuk the default configuration is to use Pylance unless you're running Python 2, in which case you are by default using an outdated version of Jedi. If you're using Python 2 then that would explain what you're seeing and why forcibly switching to Pylance fixed the issue.

[2021-07-13 17:11] karrtikr commented on #14495
Marked it as a good first issue as the work can be done on top of https://github.com/microsoft/vscode-python/pull/15920 which should be easier.

[2021-07-13 17:29] karthiknadig commented on #16664
Duplicate of #16613

[2021-07-13 17:29] #16664 closed

[2021-07-13 17:30] karthiknadig commented on #16665
Duplicate of #16613

[2021-07-13 17:30] #16665 closed

[2021-07-13 17:33] omidshojaee commented on #16613
I face this issue too. I didn't have this problem for around a year. Now all of the sudden the extension is unable to automatically detect that I have created a virtual environment and the Python interpreter is inside it, so I have to set it manually.

[2021-07-13 17:43] karrtikr opened #16667 "Add verbose logging related to detecting newly created venv in workspace"
Would help in solving https://github.com/microsoft/vscode-python/issues/16613

[2021-07-13 18:00] joyceerhl commented on #15393
@beralves That hasn't been implemented--feel free to open a feature request https://github.com/microsoft/vscode-jupyter/issues

[2021-07-13 18:02] abhishekbhakat commented on #16409
Facing the same issue.
Is it still not reproducible ?

[2021-07-13 18:05] brettcannon opened #16668 "Add ability to tag cells in Jupyter notebook"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16598

<div type='discussions-op-text'>

<sup>Originally posted by **scottsmith1474** July  1, 2021</sup>
Love the new jupyter notebook interface, would love to be able to tag cells like you can in jupyter lab. Table of contents would seal the deal as well.

Thanks!</div>

[2021-07-13 18:12] karthiknadig opened #16669 "`interpreterManager.refresh [TypeError: Cannot read property 'resolveEnv' of undefined` ..."
Occurs in the release branch with all experiments turned on.

[code]

[2021-07-13 18:13] brettcannon opened #16670 "Tmux kind of process in interactive window"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16618

<div type='discussions-op-text'>

<sup>Originally posted by **sergei3000** July  5, 2021</sup>
I often use the Python extension in a remote SSH window which I open using an SSH tunnel. Whenever the tunnel (or just a regular SSH session) breaks all my environment and its variables are lost. And among those variables ther

[2021-07-13 18:20] rebornix opened #16671 "Repeated getInterpreters on activation"
We were looking into performance improvements for registering notebook controllers for Python kernels and while debugging we found that

* https://github.com/microsoft/vscode-python/blob/main/src/client/interpreter/interpreterService.ts#L139  `InterpreterService#getInterpreters` is invoked four times (on my machine particularly) and from the log, each time it returns the same three interpreters an

[2021-07-13 18:37] karrtikr commented on #16671
Hey @rebornix, what version of the extension are you using?

[2021-07-13 18:40] brettcannon opened #16673 "`Alt + Click` to open file"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16666

<div type='discussions-op-text'>

<sup>Originally posted by **beasthunter97** July 13, 2021</sup>
Currently, I can only open file if the importing file is available or open a file with prefix `file:///` using `Alt + Click`.
It would be very nice if I'm able to open and create file/folder using when importing (if the imp

[2021-07-13 19:03] karrtikr commented on #16659
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-07-13 19:13] beralves commented on #15393
@joyceerhl if I understood correctly, the feature to view a variable content with Data Viewer in debug mode is now in production, right? At least that's what I understood from https://visualstudiomagazine.com/articles/2021/01/22/vscode-python-jan21.aspx
Could the problem be related the the fact that I'm debugging a Notebook (.ipynb) and this feature would only be availeble when debugging .py files

[2021-07-13 19:32] sawatsky commented on #16585
I did try setting the language server. It had no effect.

I don't know how pyspark finds the interpreter. You're correct: the `unittest` module is starting and ending correctly, but based on how just creating a symlink from python to python3 fixed my issue, I'd surmise the pyspark is attempting to run a python3 command which was previously reading the `python.pythonPath` argument and when that was

[2021-07-13 20:16] karrtikr commented on #16671
I don't believe this is the expected behavior, and was not able to reproduce this. I believe https://github.com/microsoft/vscode-python/pull/16674 fixes the cause of why it takes one second despite caching.

[2021-07-13 20:35] GaryFrewin commented on #15393
Having this same issue. Both the json settings mentioned above are set to true, but I am not seeing the 'view value in data viewer option'.

[2021-07-13 21:04] #16671 closed

[2021-07-13 22:30] DonJayamanne opened #16675 "Expose API to determine when user installs Python"
Assume user doesn't have Python & they install this extension.
Later the user installs Python (but doesn't close VS Code).
* Does the python extension handle this scenario (detecting installation of Python after extension has been activated)
	* If no, can we add this?
* Can we expose this via some api to the Jupyter extension.
	* via an event indicating the list of interpreters have changed

[2021-07-13 22:32] DonJayamanne opened #16676 "Expose API for when the list of interpreters have changed"
Currently there's no way for Jupyter to know when user creates a new Python environment (conda, or the like).

Is it possible to get an event so we know that new interpreters have been created.

Note: Once thats done, how would we get these new interpreters. Not sure the `GetInterrpeters` is the best API for this, as that will return all interpreters all over again. Personally it would be nice to

[2021-07-13 23:18] brettcannon commented on #16676
There's no way for us to know when a conda environment is created outside of the local environment since there isn't a push notification from conda itself. Short of polling conda for that information I don't see how we can provide this without hacking around conda and we explicitly are trying not to do that anymore.

[2021-07-13 23:19] brettcannon commented on #16675
We ripped out the code to detect this because it didn't lead to more user engagement in selecting interpreters. Plus it can't work on Windows due to not being able to be notified when the registry is modified.

[2021-07-13 23:22] brettcannon commented on #16657
If the fix isn't coming soon can we turn these tests off temporarily so we can get insiders builds going again?

[2021-07-13 23:24] brettcannon commented on #16657
Latest failure: https://github.com/microsoft/vscode-python/runs/3061037548?check_suite_focus=true#step:11:71

[2021-07-13 23:49] brettcannon opened #16678 "Contribute a Getting Started page via VS Code's APIs"

[2021-07-13 23:50] brettcannon commented on #16678
#16054 proposes custom commands for the Getting Started experience.

[2021-07-13 23:50] DonJayamanne commented on #16675
Thanks,

[2021-07-13 23:50] #16675 closed

[2021-07-13 23:51] DonJayamanne commented on #16676
Thanks

[2021-07-13 23:55] brettcannon commented on #11995
Now that we have Jedi behind a language server, the next step is to drop the old Jedi 0.17 support.

[2021-07-13 23:58] brettcannon commented on #16063
@karthiknadig I assume this can be closed?

[2021-07-14 00:09] funcelotwork commented on #14107
It is essential to say that all paths have to have __init__.py in their paths

[2021-07-14 00:10] funcelotwork commented on #14107
It is essential to say that all paths have to have __init__.py in their paths

[2021-07-14 01:20] karthiknadig commented on #16063
Yes this can be closed. This is in the `remove-old` "stuff" branch. That branch has to be merged with `main`. that is the only thing pending

[2021-07-14 01:20] #16063 closed

[2021-07-14 01:30] St3ph32 opened #16679 "Bugged terminal when killing it and reopening it."
Issue Type: <b>Bug</b>

1. Press the button to execute the file in the Python terminal at the top right.
2. The terminal will open normally and it will execute the script.
3. Kill the terminal using the trash can button or the drop-down menu that appears by clicking on the word "Python" in the terminal.
4. Re-press the button to execute the file in the Python terminal at the top right and the term

[2021-07-14 06:49] joyceerhl commented on #16657
I can't repro the failures locally, so this might take a while to debug. Sorry. Please feel free to disable on main in the meantime.

[2021-07-14 09:23] gonghenghai opened #16681 "The Interactive kernel does not same to the python interperter which I selected for the python file."
## Environment data

-   VS Code version: 1.58.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Win20
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9;3.7;3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): both
-   Relevant/affected Python packages and their versions:
-   Relevant/affected Py

[2021-07-14 10:47] zesluo opened #16685 "cannot find virtual python interpreter sometimes"
## Environment data

Version: 1.58.1 (user setup)
Commit: 2aeda6b18e13c4f4f9edf6667158a6b8d408874b
Date: 2021-07-13T06:58:28.115Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

## Expected behaviour

XXX

## Actual behaviour

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely**

[2021-07-14 13:08] rulerofthehuns commented on #12403
# Another way to reproduce:

## Create test_main.py with contents:
[code]
## Setup testrunner:
- run command 'Python: Configure Tests'
- select 'pytest'
- select '. Root directory'

## Run all tests
- 'There was an error running the tests' notification is displayed
- 'Python Test Log' output ends with an error message:
[code]
If I create the missing file ('d:\dev\py\1\c'), the error message is rep

[2021-07-14 13:38] TogrulKazimov opened #16684 "Python is not installed"
Issue Type: <b>Performance Issue</b>

It is already been 3 months that I cannot use VS code as Python IDE. Both Python and Jupyter extensions keep saying the same issue. 'Python is not installed. Please download and install Python in order to execute cells in this notebook.'

Jupyter output is like that:
Info 2021-07-14 17:36:26: Finished executing cell NotebookImport#0
Error 2021-07-14 17:36:26:

[2021-07-14 15:07] TogrulKazimov opened #16682 "Pyhton is not installed"
Issue Type: <b>Performance Issue</b>

It is already been 3 months that I cannot use VS code as Python IDE. Both Python and Jupyter extensions keep saying the same issue. 'Python is not installed. Please download and install Python in order to execute cells in this notebook.'

Jupyter output is like that:
Info 2021-07-14 17:36:26: Finished executing cell NotebookImport#0
Error 2021-07-14 17:36:26:

[2021-07-14 16:07] sidewinder12s commented on #16610
My user settings had the language server value overridden with Microsoft as the lang server instead of Default (Which I think is Pylance now?).

Switching that back fixed a high CPU load I had from the microsoft lang server on vscode startup with latest code & extensions updated.

[2021-07-14 16:21] alstel commented on #13013
Just an update on my last comment. Even switching to a previous release didn't fully resolve the issue as I'd still occasionally receive a "failure to connect to language server" message. Though going into Settings and searching for 'python language server' and changing the default from Microsoft to Pylance is currently working ok along with the latest ms-python.python release.

[2021-07-14 17:22] #16676 closed

[2021-07-14 17:24] karthiknadig commented on #16679
Seems like Duplicate of https://github.com/microsoft/vscode/issues/128435

[2021-07-14 17:24] #16679 closed

[2021-07-14 18:43] TogrulKazimov commented on #16684
Nothing has changed actually.
![image](https://user-images.githubusercontent.com/60192576/125675542-42979c0f-f3a1-447f-923c-db9b0058c7ff.png)

[2021-07-14 19:21] brettcannon commented on #16585
Since we don't control PySpark and there isn't much we can do there, I'm going to close this knowing that at least a work-around was found.

[2021-07-14 19:21] #16585 closed

[2021-07-14 19:38] karthiknadig commented on #16685
Duplicate of #16613 . The root cause probably is the same as for #16613. In both cases we find it but we don't list it.

[2021-07-14 19:38] #16685 closed

[2021-07-14 19:45] karthiknadig commented on #16684
@TogrulKazimov Can you try running this from command line (outside of VS Code):
[code]
If that works then you should see the same path as the python.exe. then try running this:
[code]
Make sure the path the `interpreterInfo.py` is correct. Run that command and see what you get. If things are right you should get a JSON with some details about the interpreter. Please provide the complete text.

[2021-07-14 21:12] #16669 closed

[2021-07-14 22:10] maphew opened #16687 "vscode thinks python is not installed, but uses it anyway"
Issue Type: <b>Bug</b>

Every time I launch vscode I get an alert saying "Python is not installed. Please download...", however python is installed and vscode knows about it. See screenshot.

![screen showing "no python" alert but also two places where vscode sees python](https://user-images.githubusercontent.com/486200/125699204-046e4312-e960-45d3-9d55-92f223066616.png)

VS Code version: Code 1.5

[2021-07-14 22:19] maphew commented on #16687
_I initally opened this issue at vscode main by mistake (https://github.com/microsoft/vscode/issues/128702). I blindly copied and pasted what the submission tool generated, so the I may not be using all the pre-filled form features correctly for this tracker._

The python on this machine is installed as part of ArcGIS Pro from Esri. They bundle their own python distribution and anaconda with Pro.

[2021-07-14 23:33] Thiagocfn commented on #15865
Python 3.9.6 64 bit also facing the same issue

[2021-07-15 01:21] markeastwood82 opened #16690 "Python Extension: Windows Powershell does not activate the selected conda environment"
## Environment data

-   VS Code version: 1.58.1
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.10 (Anaconda)
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their versions: PySide2, sql

[2021-07-15 02:56] matt-the-midnight-hacker commented on #5191
This is https://github.com/microsoft/vscode-python/issues/5191 🤔 This is still occurring to me.

[2021-07-15 03:27] luabud commented on #16520
Another good side effect here is that I _think_ the "default macOS interpreter isn't great" notification would not happen anymore on the first run experience, as it wouldn't be auto selected (https://github.com/microsoft/vscode-python/issues/3843)

[2021-07-15 03:42] luabud commented on #7808
These are/were the main notifications that show(ed) on load and their current status:
| Notification | Status | More Info |
| ------------ | -------- | ----------|
| "`pylint` is not installed" | 🚮 | The notification will only show for workspaces who have pylint explicitly configured in their settings. Doesn't show for new/blank workspaces anymore |
| "You need to select an interpreter to use the

[2021-07-15 06:29] TogrulKazimov commented on #16684
I think everything is okay, with this path:
python.python-2021.6.944021595\pythonFiles\interpreterInfo.py
{"versionInfo": [3, 8, 10, "final", 0], "sysPrefix": "c:\\Users\\Togrul\\AppData\\Local\\Programs\\Python\\Python38", "sysVersion": "3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]", "is64Bit": true}
![image](https://user-images.githubusercontent.com/60192576/1

[2021-07-15 06:40] karthiknadig commented on #16684
@TogrulKazimov Can you share your environment variables?

[2021-07-15 06:42] TogrulKazimov commented on #16684
How can I?

[2021-07-15 06:48] karthiknadig commented on #16684
Just run the command `set` from your command line.
![image](https://user-images.githubusercontent.com/3840081/125741888-eb16b2a6-7eeb-4927-9b51-770c20fd85bb.png)

[2021-07-15 06:50] TogrulKazimov commented on #16684
C:\Users\Togrul>set
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\Togrul\AppData\Roaming
btp=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
COMPUTERNAME=DESKTOP-6T66PK4
ComSpec=C:\Windows\system32
DriverData=C:\Windows\System32\Dri

[2021-07-15 06:56] karthiknadig commented on #16684
Your `ComSpec` environment variable is wrong. It should be `ComSpec=C:\WINDOWS\system32\cmd.exe`.

You have to fix it using the environment variable UI. In the start menu type 'environment`, you should get this option
![image](https://user-images.githubusercontent.com/3840081/125742612-8b0f3852-063e-4fae-9656-522fc8c2a2c5.png)

Click on the following button:
![image](https://user-images.githubuser

[2021-07-15 07:00] karthiknadig commented on #16684
Essentially the ENOENT (-4058) error with -c "<path to python> <arg>" error usually means that Node exec tried to get default shell on Windows using `ComSpec` and since ComSpec was wrong it was failing while trying to shell execute python commands.

[2021-07-15 07:02] karthiknadig opened #16692 "Log `ComSpec` and add diagnostic to validate it"
We see this often where ComSpec env variable is some how set to invalid path. We should detect this and log. This happens way too often.

Essentially the ENOENT (-4058) error with -c "<path to python> <arg>" error usually means that Node exec tried to get default shell on Windows using `ComSpec` and since ComSpec was wrong it was failing while trying to shell execute python commands.

_Originally

[2021-07-15 07:47] TogrulKazimov commented on #16684
Thanks, @karthiknadig, it looks like the problem is solved. I think that is not me who changed that path, maybe the system changed it automatically.
I highly appreciate your contribution. I had to try 4-5 IDEs in place of VS code, none of them is as useful as VS Code. The problem occurred 4-5 months ago, till now I could not solve it.
Before closing the issue I need a bit of time to ensure that ev

[2021-07-15 09:22] BillyGLW opened #16693 "Error: TypeError: Cannot read property 'testsuites' of null"
Hello,

It would be so much nicer to switch between debugger breakpoints divided in e.g profiles (so that every profile has its own list of breakpoints) -> from my perspective it will add much more flexability than manually turning off breakpoints or other hacky techniques.

**UPDATE
labeled as type-bug, so it is required to report any:
Happens during running/discovery tests:
Python Test Log
`Erro

[2021-07-15 12:17] kriswuollett opened #16694 "Selected environment should display name instead of path if possible"
Issue Type: <b>Feature Request</b>

The selected Python environment at the bottom of the app should display the configured virtual environment name, like `prompt` in `pyvenv.cfg`, instead of the path name. The path name isn't very useful if one uses a common name for a virtual environment path like `./.venv` across multiple folders in a workspace. The "Select Interpreter" flow already seems to hav

[2021-07-15 12:19] kriswuollett commented on #16694
Instead of seeing `Python 3.9.6 64-bit ('.venv': venv)` at the bottom of the screen, I'd like to see something like `Python 3.9.6 64-bit ("secret_project": venv)`

[2021-07-15 14:01] #16684 closed

[2021-07-15 17:24] karrtikr commented on #16693
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

The breakpoint profile support has to come from VSCode itself, so please open a issue at https://github.com/microsoft/vscode for that.

[2021-07-15 17:24] karthiknadig commented on #16694
Duplicate of #4714

[2021-07-15 17:24] #16694 closed

[2021-07-15 17:28] karrtikr commented on #16648
Yep, this seems like the one. Note we do not support this language server anymore. Did you try setting python.languageServer setting to Pylance instead?

[2021-07-15 18:01] karthiknadig commented on #15288
One thing to note. there is no `replaceAll` API. There are two ways one could do this. Either extend `string` prototype to add a replaceAll. Or use pattern matching to replace all.

if you decide to extend string, you can do that here src\client\common\extensions.ts . Then all you have to do is include it in that file where you consume `replaceAll`

[2021-07-15 20:30] karthiknadig commented on #16333
@KamalSinghKhanna sorry for this very late response. For this change, you will have to do the following:
1. Add new configuration to the `package.json` (see pycodestyle settings for a similar thing)
2. To `configSettings.ts` add a mapping to `pydocstyle` to `DiagnosticSeverity` type.
3. Add interface to `src\client\common\types.ts`.
4. Finally update `pydocstyle.ts` to get severity https://github.

[2021-07-15 23:14] kimadeline commented on #16687
Hi @maphew, thank you for reaching out!

Did you enter the path to the `arcpro-clone` environment manually, or did it get auto-selected by the extension? Could you also paste here the entire content of the `Python` section of the `Output` channel?

Thank you!

[2021-07-16 00:03] canersnli opened #16698 "Icons are no longer colored"
## Environment data

-   VS Code version: 1.59
-   Jupyter Extension version (available under the Extensions sidebar): 2021.8.1033311975
-   Python Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda version: Python 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv |

[2021-07-16 07:20] Alx-Lai commented on #16648
Thanks, solved after changing languageServer  setting to Pylance.

[2021-07-16 07:22] #16648 closed

[2021-07-16 13:36] KenRoytman commented on #15018
@brettcannon Can you explain why you don't see the vscode-python team adding support for this feature?  (outside of what sounds like organizational constraints that you mentioned in your initial reply)

When I'm facing the situation described by the OP, I end up opening a web browser and searching thru docs to find the location of the symbol in question.  This leads to a proliferation of browser t

[2021-07-16 14:10] GabrielSlPires commented on #9349
I have the same error in here. When I press the button "Run All Tests" it works fine. But when I try to run individual tests I received the error `ERROR: file or directory not found: ./root-ceua/tests/test_admin.py::test_update_lineage` interestingly the path is correct.

[2021-07-16 16:20] mytk2012 opened #16702 "pydev debugger: critical: unable to get real case for file"
pydev debugger: critical: unable to get real case for file. Details:
filename: d:\
drive: D:\
parts: ['']
(please create a ticket in the tracker to address this).
Traceback (most recent call last):
  File "c:\Users\17150\.vscode\extensions\ms-python.python-2021.6.944021595\pythonFiles\lib\python\debugpy\_vendored\pydevd\pydevd_file_utils.py", line 221, in _get_path_with_real_case
    return _resol

[2021-07-16 18:17] jasleen101010 commented on #13007
I would like to take up this issue for OSD 2021 if it's still available. Thanks :)

[2021-07-16 18:19] brettcannon commented on #15018
@KenRoytman there's literally no API provided to us by VS Code (that I at least know of) which lets us extend file searching without the code being pulled into your workspace. And the request rate for this isn't enough for us to feel up for being the drivers of this on the VS Code core side. Otherwise it's up to the language servers to provide code navigation, which for us is either Jedi or Pylanc

[2021-07-16 18:55] kimadeline opened #16704 "Auto-selection doesn't select local environment for brand-new workspace when using Insiders"
## Environment data

-   VS Code version: 1.59.0-insider
-   Extension version (available under the Extensions sidebar): main 919ea9e7ce8d9
-   OS and version: macOS Big Sur 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

[**NOTE**: If you suspect that your issue is related to the Microso

[2021-07-16 18:56] TimoRJensen opened #16705 "Test Discovery assumes wrong encoding for stdout"
## Environment data

Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:10:15.214Z (1 day ago)
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

[OK] [Copy]
-   VS Code version: Version: 1.58.2 (user setup)
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 1

[2021-07-16 19:13] HezzyBear opened #17123 "Visual Studio Code F2 rename symbol key is adding newlines in Python"
Issue Type: <b>Bug</b>

Select a word. Hit F2 key. Change word. After I hit enter there are now spaces between the lines.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-07-16 19:22] jobevers opened #16706 "Interactive window toolbar scales in a not-user friendly way"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: OSX 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.7
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pipenv
-   Value of the `python.languageServer` setting: Pylance language server 2021.7.4 (p

[2021-07-16 20:19] jeremyd2019 commented on #16568
OK, I've opted out of the experiment and reverted to using `${config:python.pythonPath}`, and it's working fine now.

[2021-07-16 23:28] gjoseph92 opened #16708 "Browsing for Python interpreter follows symlinks when it shouldn't"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): `v2021.6.944021595`
-   OS and version: macOS 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.1, pyenv (source)
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): `python -m venv`
-   ~Relevant/affected Python packages and their vers

[2021-07-17 01:14] luabud commented on #13007
@jasleen101010 it is! Let us know if you want to give it a try, I think you still have 13 days to work on it for OSD right? 😊

[2021-07-17 05:56] jasleen101010 commented on #13007
@luabud Yes, we can work on an issue and submit the form within 2 weeks. So, I would like to give this a try. Please assign it to me 😊

[2021-07-17 08:10] lucwastiaux commented on #13013
`    "python.languageServer": "Pylance",`
in settings.json seems to fix things for me.

[2021-07-17 09:20] ShadowLNC opened #16710 "Regression: sort imports hangs indefinitely"
Regression of #13312

## Environment data

-   VS Code version: 1.58.2 (Universal)
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: macOS Big Sure 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.5; 3.8.10
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv (Python 3.9.5) + venv/poetry (Py

[2021-07-17 09:29] ShadowLNC commented on #16710
As mentioned in the linked issue, it seems to be related to changing the isort path setting. I had defined the setting as `isort` so it would use my current environment, but removing that (leaving it empty) allows isort to work again, albeit likely not using my installed version.

If I use `${workspaceRoot}/.venv/bin/isort` it works, as does `./.venv/bin/isort` and `.venv/bin/isort`.

The setting

[2021-07-17 10:20] mytk2012 commented on #16702
I have changed various verision of Vscode and extensions. But it failed, I have uninstalled it by removing AppData/Roaming/Code and .vscode

[2021-07-17 11:23] altabe commented on #2653
Any news on this?
The auto imports and imports cleaning are working fine but the "create class/function/property" quick actions for unresolved reference are still missing.
As @emmanueld said, this really disrupts the workflow when switching from pyCharm to vscode.

![image](https://user-images.githubusercontent.com/85792216/126035297-44e83972-dc0c-4205-b7b1-fcc3b4694510.png)

[2021-07-17 18:11] HansanaDasanayaka commented on #13413
Still Does not working : (

[2021-07-17 21:23] pauljurczak opened #16711 "timeit doesn't print to VS Code Python Debug Console"
-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): 2021.6.944021595
-   OS and version: Ubuntu 18.04.5
-   Python version (& distribution if applicable, e.g. Anaconda): 3.6.9

This snippet:
[code]
executed in VS Code produces this in Python Debug Console:
[code]
where output from `timeit` is missing. When run from command line:
[code]
it produces `timeit` o

[2021-07-18 14:48] mathurk29 opened #16715 "Fail symbol for passed test case in VS Code sidebar"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Windows 10 Enterprise
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.9 64-bit
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...):  N/A
-   Relevant/affected Python packages and their versions:

[2021-07-18 20:11] atomtm commented on #15736
When I change a test and run it without re-Discover tests I get :
`Error: Error: unsupported status (Running)`

VSCode information:
Version: 1.58.2
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:30:16.440Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.8.0-59-generic snap

[2021-07-19 06:05] aragong opened #16716 "config:python.pythonPath is not the active conda env when running tasks"
Issue Type: <b>Bug</b>

Hi every one,

Don't know what happend that now when I run a task my python points to other environement. Any one knows why?

See image bellow:
![image](https://user-images.githubusercontent.com/48764870/125946042-65b42cd8-c3f8-472f-a95e-ec7dddf0fc01.png)

Any clue? Thank you in advance!

Extension version: 2021.6.944021595
VS Code version: Code 1.58.2 (c3f126316369cd610563

[2021-07-19 06:18] gonghenghai opened #16717 "stdscr.getkey() in curses executed through IntegratedTerminal on VSCode identify 'Arrow left' as 'KEY_B1' instead of 'KEY_LEFT'"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS and version: Win10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
-   Relevant/affected Python packages and their versions:
-   Relevant/affected Pyth

[2021-07-19 06:31] ItsJnz opened #16718 "Indent guidelines not available."
![image](https://user-images.githubusercontent.com/65062727/126113149-df4f0482-47d1-415a-a8cd-feb496ab19f8.png)
there is no indent guidelines for python code on jupyter extension.

[2021-07-19 15:31] g-as commented on #16079
@karthiknadig this is because `rootdir` is handled internally (see [here](https://github.com/microsoft/vscode-python/blob/83c97776ad68c67ce68efebd06d243fc3a48573f/src/client/testing/pytest/services/argsService.ts#L217)), and thus it cannot be modified.

See #9553, #14795, #10827 (same type of issue)

[2021-07-19 16:36] brettcannon commented on #16705
I think the bug here is there's no checking what `sys.stdout` was using as an encoding before creating the temp file, and so there's a possible disconnect. I think the fix here is probably reading the encoding from the original `sys.stdout` and then specifying that for the temp file's encoding.

[2021-07-19 16:45] brettcannon opened #16720 "IntelliSense no longer working"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16700

<div type='discussions-op-text'>

<sup>Originally posted by **abartlett004** July 15, 2021</sup>
Suddenly, the auto-complete and colored font features of Intellisense are no longer working for me, although it seems that pylint is still working because it has found problems in my script. I have tried closing and reopenin

[2021-07-19 16:45] bkuriach opened #16721 "Plots not displaying (matplotlib with TkAgg)"
Issue Type: <b>Bug</b>

Plot is not getting displayed in vscode

To reprouce
import matplotlib
matplotlib.use('TkAgg') # not working even with default 'agg'
from matplotlib import pyplot as plt
plt.figure()
#plt.bar(foo,bar)
plt.show()

VS Code version: Code 1.58.1 (2aeda6b18e13c4f4f9edf6667158a6b8d408874b, 2021-07-13T06:58:28.115Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Remote

[2021-07-19 17:07] karthiknadig commented on #16721
@bkuriach Is when debugging?

[2021-07-19 17:41] paulacamargo25 commented on #16511
Sorry for the delay, we will try to triage it as soon as we can.

[2021-07-19 17:44] karrtikr commented on #16716
Hi, `${config:python.pythonPath}` is now deprecated as we plan to remove `python.pythonPath` setting. Try using `${command:python.interpreterPath}` instead.

Although I think we added something to automatically migrate `${config:python.pythonPath}` to `${command:python.interpreterPath}`, so not sure why you still see that in your `launch.json` file.

[2021-07-19 17:44] karrtikr commented on #16710
Thanks for the bug report! We investigate issues in order based on priority and severity, which includes the impact it has on your ability to use the extension to do productive work, and the number of people affected. If other users come forward and leave a comment demonstrating they are seeing/reproducing the problem then we will raise this issue's priority.

Thanks for your understanding and pat

[2021-07-19 17:53] filiperosa commented on #9349
Having the exact same issue, works for 'All Tests' but not individually.

[2021-07-19 17:54] karrtikr commented on #16710
Meanwhile, can you share the full logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2021-07-19 18:05] bkuriach commented on #16721
No, in normal execution (executed as block using shift+enter).
Like I said before, I am Using VSCode  from AML.

[2021-07-19 18:06] karrtikr commented on #16710
Your issue seems to be the dup of https://github.com/microsoft/vscode-python/issues/7042. Closing in favor of that.

This is also discussed in https://github.com/microsoft/vscode-python/issues/7042, I have renamed the title of the original issue so we handle both of them with https://github.com/microsoft/vscode-python/issues/7042.

[2021-07-19 18:06] #16710 closed

[2021-07-19 18:08] karrtikr commented on #13312
It seems the issue is with relative paths. The issue is being tracked here https://github.com/microsoft/vscode-python/issues/7042.

[2021-07-19 18:12] kimadeline commented on #16704
Happens only when `python.defaultInterpreterPath` is set to something that's not the default value.

[2021-07-19 18:33] paulacamargo25 commented on #16409
Sorry for the delay, can you please set the debug mode logging, you have to go to settings and change the `python.logging.level` to `debug`. This will fix the bug.

[2021-07-19 18:40] karthiknadig commented on #16721
@bkuriach I asked about debugging because we recently addressed an issue with debugging and plotting. Can you describe when you mean by running. Are you executing the script manually by typing `python <script-path>` in VS Code terminal? or are you running using a UI? If you are using the UI, are you using a virtual environment?

[2021-07-19 18:57] karthiknadig commented on #16721
Do you get a different result running this from VS Code terminal and terminal outside of VS Code?

[2021-07-19 19:16] paulacamargo25 commented on #16610
Hi, before `Python interpreter path: G:\python396-64\python.exe` line you dont have something else?

[2021-07-19 19:26] paulacamargo25 commented on #16348
@chdsbd @tibitTW thanks for the response in the issue, Can you share your output logs to keep track of the experiments that are generating the error?

[2021-07-19 19:27] paulacamargo25 commented on #16294
Sorry for the delay, can you please share your output logs?

[2021-07-19 19:43] sawatsky commented on #16585
Fair enough. Thank you for your time :)

[2021-07-19 20:39] #16704 closed

[2021-07-19 20:43] psobolewskiPhD commented on #15058
Woof, this is an annoying bug!

[2021-07-19 22:53] brettcannon opened #16725 "auto self in classes"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16713

<div type='discussions-op-text'>

<sup>Originally posted by **scottschmidl** July 17, 2021</sup>
For Python, is there a way to have the self keyword auto-populate in a class? If not there should be; writing self every time is for peasants</div>

[2021-07-19 23:58] kimadeline opened #16727 "Auto-selected local environment not reflected in the status bar"
From https://github.com/microsoft/vscode-python/pull/16723#pullrequestreview-710067452:

When in the new sorting/auto-selection experiment (#16520):

1. The first time `updateDisplay` is called the interpreter is `python`, so it will trigger auto-selection, so far so good;
2. The new auto-selection logic will query `interpreterService.getInterpreters`, however this call will return cached interpre

[2021-07-20 00:36] luabud commented on #2653
@altabe no updates on this issue so far AFAIK, but we definitely appreciate the feedback!

[2021-07-20 00:37] luabud commented on #13007
@jasleen101010 done! 😊

[2021-07-20 00:57] karrtikr commented on #16727
Earlier, we had [this](https://github.com/microsoft/vscode-python/commit/db8e1e2460e9754ec0672d958789382b6d15c5aa) to get fresh local envs. And got rest of the envs from cache.

We could either do that, or to keep things simple, we can get fresh envs (both local and global) in `2.` by passing `ignoreCache: true` when calling `interpreterService.getInterpreters` [here](https://github.com/microsoft/

[2021-07-20 01:21] karthiknadig commented on #16715
@mathurk29 Can you provide repro steps for this?

[2021-07-20 02:33] tibitTW commented on #16348
I guess this is the log you're talking about?

[code]

Those chinese letters in beginning lines in english should be "User belongs to ... experiments group" or nearly meaning

[2021-07-20 06:30] aragong commented on #16716
Hi @karthiknadig, thank you very much for your reply.

You are right, with `${command:python.interpreterPath}` my task works perfectly (I do not have this variable defined in my settings.json file, only in my tasks.json). I've copied this old variable `${config:python.pythonPath}` from the [(vscode web)](https://code.visualstudio.com/docs/python/environments)...

Is there any list to consult the e

[2021-07-20 08:31] jinkyungpark commented on #11924
Please Help.....I am also facing the same issue. I Want to use extension urgently for some python project, but getting this error .
[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/6846680/ms-python.python-unresponsive.cpuprofile.txt)

[2021-07-20 08:33] tibitTW commented on #11924
Do you even tried solutions above?

[2021-07-20 16:58] pmh722 commented on #6594
For me, PyTest is failing at test discovery, with the below log output. Is this issue the right place to report?

[code]

[2021-07-20 17:19] karthiknadig commented on #6594
@pmh722 This is to track the solution to the problem (essentially avoid failing if something writes to stdout). The issue you are seeing is possibly due to some thing writing to stdout when running discovery.

[2021-07-20 17:58] kbd commented on #7160
As an easy-to-reproduce example of this, when I use "Format Document", the Python output log appears to show that Black is run twice:

cwd: ~/...

cwd: ~/...

[2021-07-20 18:07] karrtikr commented on #16716
The new docs will go out very soon (I think today🙂) which should contain the updated details.

I think [this](https://code.visualstudio.com/docs/python/environments#_environment-variables) should help you out, it states how you can initialize your environment variables which the extension can read from. Closing this.

[2021-07-20 18:07] #16716 closed

[2021-07-20 18:36] luabud commented on #6784
Closing as stale. If you still experience this issue, let us know and we can reopen!

[2021-07-20 18:36] #6784 closed

[2021-07-20 18:42] luabud commented on #12648
Actually we can't control this.  Toml shows up as supported because of the rules we have here: https://github.com/microsoft/vscode-python/blob/28be0f46e23713d6bcce608d12de769d4e28485d/package.json#L1705

[2021-07-20 18:42] #12648 closed

[2021-07-20 18:43] luabud commented on #4389
Closing as stale.

[2021-07-20 18:43] #4389 closed

[2021-07-20 18:49] luabud commented on #3097
Live reloading is now on by default!

[2021-07-20 18:49] #3097 closed

[2021-07-20 18:50] luabud commented on #8911
Closing as stale.

[2021-07-20 18:50] #8911 closed

[2021-07-20 18:52] luabud commented on #13100
Closing as stale.

[2021-07-20 18:52] #13100 closed

[2021-07-20 18:53] karrtikr opened #16732 "Log commands run by the discovery comment in the output channel"

[2021-07-20 18:54] ablundon commented on #16610
Opting out of all of the experiments seemed to have worked and I haven't had an issue since.

[2021-07-20 18:54] luabud commented on #4634
Dupe of #5820.

[2021-07-20 18:54] #4634 closed

[2021-07-20 18:55] luabud commented on #13126
Closing as stale.

[2021-07-20 18:55] #13126 closed

[2021-07-20 18:56] luabud commented on #2841
We have released a new and more performant language server called Pylance which likely solves these issues you are reporting.  You can download [Pylance](https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/) from the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) and install it alo

[2021-07-20 18:56] #2841 closed

[2021-07-20 18:58] luabud commented on #3454
This should not be a problem anymore if you add the path to the interpreter through the select interpreter command:

![image](https://user-images.githubusercontent.com/45497113/126380198-ebfec15e-cc86-4320-b03a-a0655890d175.png)

[2021-07-20 18:58] #3454 closed

[2021-07-20 20:13] kimadeline opened #16735 "Do not run auto-selection unnecessarily"
When fixing https://github.com/microsoft/vscode-python/issues/16727, we discussed that we needed a way to prevent auto-selection from querying interpreters for a workspace when opening it, if it has already been run in an earlier session.

The solution that was discussed was to use [`getWorkspaceState`](https://github.com/microsoft/vscode-python/blob/0a82e6b33fbe1954c64aa344cca6ea40c2ac18a3/src/cl

[2021-07-20 20:36] #16727 closed

[2021-07-20 21:26] brettcannon opened #16737 "Class attribute documentation?"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16736

<div type='discussions-op-text'>

<sup>Originally posted by **Holt59** July 19, 2021</sup>
I'd like to know how I can get class attribute documentation on hover/completion, similar to what I would get with the docstring of a property:

[code]

How can I get proper documentation (on hover/completion) for `bar` without us

[2021-07-20 22:09] aely-aronoff opened #16738 "While on Live Share, docstring quotes always auto-inserted at host's cursor"
TL;DR: On Live Share, if a remote machine types three quotes, a matching set of three quotes appears at the host machine's terminal instead of the remote machine.

First reported in: https://github.com/microsoft/vscode/issues/127910#issue-936117695
Check there for additional details.

## Environment data

Host machine:
-   VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 202

[2021-07-20 22:09] kimadeline commented on #16708
Hi @gjoseph92, thank you for reaching out!

There are a couple of layers in your issue here, let me walk through them:

This is expected: Interpreter selection will happen on activation, but the extension won't activate when you open a folder, you need to open a Python file for that.

Secondly, we are also gradually rolling out an updated way of auto-selecting interpreters and sorting them in the

[2021-07-20 22:09] #16708 closed

[2021-07-20 22:11] gjoseph92 commented on #16708
Thanks @kimadeline for the follow-up!

[2021-07-20 22:25] martingale commented on #13679
Adding the line `"python.languageServer": "Pylance"`  to the file `.vscode/settings.json` solved the issue for me.

[2021-07-20 23:18] alago1 commented on #9347
Also facing this issue on WSL.

[2021-07-21 03:57] 2bdkid commented on #6881
Tests work fine from command line, `python -m unittest discover -v -s ./transform_text/ -p "test_*.py" -t .` but with the same settings in vscode it doesn't discover anything.

[2021-07-21 05:27] sergeyf opened #16741 "Support IPython for Shift+Enter (execute line in terminal)"
## Environment data

-   VS Code version: 1.58.2
-   OS and version: Windows_NT x64 10.0.19043
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9,1
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Value of the `python.languageServer` setting: pylance-2021.7.4

## Expected behaviour

Pressing Shift + Enter copies code to the terminal and exe

[2021-07-21 07:54] JacekPliszka commented on #9347
I think it is not only special characters

code .

does not work for me.

[2021-07-21 08:31] ssbarnea opened #16742 "Support for pytest plugins that work with non-python files"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.7.1050252941
-   OS and version: MacOS 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pyenv
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected

[2021-07-21 08:41] akashdiphazra opened #16743 "Sometimes terminal passes virtual environment activation parameters while debugging python and taking user inputs."
-   VS Code version: 1.58.2 (Stable)
-   OS and version: Windows 10 Home Single Language
-   Python  Extension Version: 2021.7.1050252941
-   Pylance Version: 2021.7.4

## Actual Behaviour
### 1) Terminal unable to take input while debugging.

![test py - 🐍Python - Visual Studio Code 2021-07-21 13-55-56](https://user-images.githubusercontent.com/61003681/126458372-6656a98e-b510-4937-9594-b6662b7e1

[2021-07-21 08:44] akashdiphazra commented on #16743
###  launch.json settings

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",

[2021-07-21 08:49] sandy081 commented on #16581
I get following modal dialog when I try to format a css file

![image](https://user-images.githubusercontent.com/10746682/126460153-e9bafa77-b326-49b1-ab3d-f0914b2fdd72.png)

IMO this seems to be right behaviour

[2021-07-21 17:22] karthiknadig commented on #16741
Duplicate of #169 . We can leave this open as a feature request to directly support IPython.

[2021-07-21 17:22] #16741 closed

[2021-07-21 17:37] kimadeline commented on #16581
Closing in favour of #5121.

[2021-07-21 17:37] #16581 closed

[2021-07-21 20:11] tigerhawkvok opened #16748 "tasks.json watcher launched by debugger never flags as a ready background task"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.7.1050252941
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): Poetry
-   Value of the `python.languageServer` setting: pylance

--------------

[2021-07-21 21:03] brettcannon opened #16749 "Release plan for 2021.8"
All dates should align with VS Code's iteration and endgame plans.

Feature freeze (Monday @ 17:00 Vancouver/Pacific, Jul 26)
 Announce the feature freeze on both Teams and e-mail, leave enough time for teams to surface any last minute issues that need to get in before freeze. Make sure debugger and Language Server teams are looped in as well.
Release candidate (Monday, Aug 02)
 Update main for th

[2021-07-21 21:40] #16520 closed

[2021-07-21 22:47] apassy commented on #11736
Having a very similar problem:
    "python.testing.pytestArgs": [
        "-rP",
        "--html=c:\\Data\\pytest-report.html",
        "--self-contained-html"
    ],

These are all ignored  - not matter what I do with them, they do not effect running tests either with "run test" or "debug test"

window 10, vs code 1.58.2
pytest, pytest-html (among others)

[2021-07-21 22:49] joyceerhl opened #16750 "Dispose orphaned progress notifications behind when using Python Language server"
## Environment data

-   VS Code version: 1.59.0-insider
-   Extension version (available under the Extensions sidebar): v2021.8.1046297456-dev
-   Pylance version: v2021.7.5-pre.1
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Pytho

[2021-07-22 00:01] karthiknadig commented on #16738
These quotes are filled in by pylance. So I will move this issue over to Pylance for investigation.

[2021-07-22 00:44] karthiknadig commented on #16742
With this there are 3 separate problems:
1. With detections: We have a limitation in our current testing adapter that where it fails to handle non-python files (as the error suggests). We have plans on addressing these types of problems by updating the test adapter soon.
2. With debugging: Debugging kind of works but breaks in the wrong place: /cc @fabioz
![image](https://user-images.githubusercon

[2021-07-22 00:54] karthiknadig commented on #16743
This is a duplicate of #5559, Closing in favor of proposed solution #11039

[2021-07-22 00:54] #16743 closed

[2021-07-22 00:58] karthiknadig commented on #16743
@akashdiphazra Here is a workaround you can try with these types of problems:

1. Turn off auto activation. To do this, disable these two settings, ideally only for the project you are working on:
![image](https://user-images.githubusercontent.com/3840081/91915281-f6d60400-ec6e-11ea-86da-23b03f8a0dd8.png)
2. Exit VS Code.
3. Open cmd.exe or powershell.
4. Navigate to your project.
5. Activate the

[2021-07-22 01:08] karthiknadig commented on #16750
@joyceerhl Can you look for the stack from one of the extension host logs that might have more detail on where the crash occurred?

/cc @jakebailey is there a any additional logging you need here.

[2021-07-22 08:27] finntenzor opened #16752 "Can not download python language server"
Issue Type: <b>Performance Issue</b>

1. Open VSCode
2. Open any python project
3. Download failed

It's really weird. I CAN download this file with any other tool with relatively reasonable speed(20~100KB/s, in China). But it always failed download with VSCode.

I don't think this is just a network issue. Because I can download this file normally using other tools, but this always fails in VSCode

[2021-07-22 13:29] cloderic opened #16755 ""Error: Invalid patch string" when formatting a file using black with colored output"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.7.1053846006
-   OS and version: macOS 11.4
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv through poetry
-   Relevant/affected Python packages and their versions: bl

[2021-07-22 13:34] elmcrest opened #16756 "undefined symbol: AttachDebuggerTracing"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.7.1053846006
-   OS and version: MacOS BigSur 11.4 Darwin arm64 20.5.0 (Apple M1)
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.6 (default, Jul 22 2021, 10:57:07) [GCC 8.3.0] on linux
-   Type of virtual environment used (N/A | venv | virtualenv | co

[2021-07-22 13:45] ashprao opened #16757 "Python Debugging failing"
1. Add breakpoint to a python test case or (in any python file)
2. Select debug test
3. Debugging fails with the following error
4. Tests run successfully without debugging

Debugging was working without any issues. Stopped working all of a sudden. The only thing that I had done was a Git merge. But it cannot be the issue as I tried to debug a completely different plain hello world Python file wit

[2021-07-22 14:36] ashprao commented on #16757
VS Code log file.

[vscode-app-1626964194640.log](https://github.com/microsoft/vscode-python/files/6862998/vscode-app-1626964194640.log)

[2021-07-22 14:43] mforkel opened #16758 ""Find All Implementations" produces no results"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): 2021.7.1053846006
-   OS and version: WSL2 Debian in Windows 10 2004
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.3
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions:

[2021-07-22 14:48] ashprao commented on #16757
I rolled back to the previous version of the Python extension - v2021.7.1050252941 and the debug started working again.
![image](https://user-images.githubusercontent.com/15123452/126659358-141ce04e-919f-4f89-ba43-1a8ec9487747.png)

[2021-07-22 14:50] ylhsieh commented on #16757
Had the same issue today. Been struggling for a solution for the entire day… Thanks for your info! Hope this gets fixed soon.

[2021-07-22 14:57] webmaniak commented on #13315
I could not agree more with @astrelsky. I too am in charge of code reviews and try to manage the general configuration for my fellow developers, and this issue is bugging me even more since Pylance has become the default language server in VSCode. I really love that environment, but currently it's really hard for me to enforce code quality without pylint.

My configuration currently is as follow:

[2021-07-22 15:43] karthiknadig commented on #16757
This is duplicate of https://github.com/microsoft/debugpy/issues/669

[2021-07-22 15:43] #16757 closed

[2021-07-22 15:44] karthiknadig commented on #16756
This is duplicate of https://github.com/microsoft/debugpy/issues/669

[2021-07-22 15:44] #16756 closed

[2021-07-22 15:56] karthiknadig commented on #16748
You don't need a prelaunch task to run an app under poetry.
![image](https://user-images.githubusercontent.com/3840081/125152305-a3d7a380-e100-11eb-9d53-24f02bdc30ee.png)

Is there a particular reason you are running it like that with a prelauch task?

if you really need the to work as expected then you need to run this with command like this:
`python -m debugpy --log-to-stderr --wait-for-client -

[2021-07-22 17:21] karthiknadig commented on #16752
Thanks for your feedback! We have recently released a new and more performant language server called Pylance which likely solves these issues you are reporting.  You can download [Pylance](https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/) from the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-python

[2021-07-22 17:26] karrtikr commented on #16750
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-07-22 17:32] jmferreirab commented on #2694
Hoping this may be helpful and is not off-topic. Feel free to delete if so.

I was observing this same behaviour after updating to Pylance version 2021.7.4.
After downgrading to version 2021.7.3, I no longer see the issue.

The messages in the image below would often appear when trying to Ctrl - Left click on a method. Find references would show No results, and rename variable would not work and s

[2021-07-22 18:05] DMLON opened #16761 "Cannot debug after updating vscode to 1.58.2"
Issue Type: <b>Bug</b>

I'm currently using remote development on an Aarch64 device and i can't run the debugger. I'm getting this stack trace:

Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/iiotbrooksville01/.vs

[2021-07-22 18:31] murundb commented on #11736
Anyone found a solution to this?  I'm also having the same problem.

I've tried directly passing via settings.json:

`    "python.testing.pytestArgs": [
        "test",
        "--custom_opt"
        "custom_input"
    ],`

As well as passing the configuration file:

`    "python.testing.pytestArgs": [
        "test"
        "-c",
        "setup.cfg"
    ],`

Where my configuration file looks like

[2021-07-22 18:46] brettcannon commented on #2694
@jmferreirab could you report that to https://github.com/microsoft/pylance-release?

[2021-07-22 18:49] brettcannon opened #16762 "Pylance not working in vs code interactive window"
### Discussed in https://github.com/microsoft/vscode-python/discussions/16754

<div type='discussions-op-text'>

<sup>Originally posted by **dataagile-ema** July 22, 2021</sup>
Hi!

Whenever pylance detects a problem when i am in the interactive window in vs code, it just stops working. It no longer gives autocomplete (to make things worse, pylance detects problem even when there is no problem). I

[2021-07-22 18:50] brettcannon commented on #16281
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:50] #16281 closed

[2021-07-22 18:50] brettcannon commented on #15909
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:50] brettcannon commented on #14592
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:50] #14592 closed

[2021-07-22 18:51] brettcannon commented on #15985
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:51] #15985 closed

[2021-07-22 18:51] brettcannon commented on #16305
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:51] #16305 closed

[2021-07-22 18:51] brettcannon commented on #16329
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:51] #16329 closed

[2021-07-22 18:51] brettcannon commented on #16106
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:51] #16106 closed

[2021-07-22 18:55] brettcannon commented on #15955
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 18:55] #15955 closed

[2021-07-22 18:57] brettcannon commented on #16359
Closing as this appears to be fixed.

[2021-07-22 18:57] #16359 closed

[2021-07-22 19:00] brettcannon commented on #13102
I think this general issue was caused by our introduction of Jedi behind LSP. It should have been fixed at this point, but if anyone is still having issues then please feel free to open a **new** issue for your specific CPU problem.

[2021-07-22 19:00] #13102 closed

[2021-07-22 19:00] brettcannon commented on #16516
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-07-22 19:00] #16516 closed

[2021-07-22 19:05] charlie632 commented on #7042
Thanks @vishalkuo, adding this to my local `settings.json` worked.

[2021-07-22 21:06] niccolomineo commented on #16761
I have the same issue.

[code]

[2021-07-22 22:41] JeremyRitchie commented on #16761
Experiencing the same issue - I rolled back the ms-python extension to v2021.1.502429796 and it works again.

I don't think you need to go as far back as I have, I just chose a random one a few months ago and it worked, so haven't looked back yet.

[2021-07-22 23:14] niccolomineo commented on #16761
v2021.6 works fine. The issue started showing up with v2021.7.

[2021-07-22 23:30] ChuckMarangola commented on #16761
Same issue with remote-ssh debugging on 2021.7.1053....
Roll back to 2021.7.1050 fixes this.

[2021-07-22 23:55] luabud opened #16764 "Implement auto selection telemetry"
Right now we don't know when we're auto selecting interpreters or not, so it'd be great if we can:
- Implement telemetry for the new code, to reflect when the extension auto selects an interpreter
- Remove the old property: https://github.com/microsoft/vscode-python/blob/fcdca8f52cb61fb7c56bef6d1adb8ffcbfbb287e/src/client/telemetry/index.ts#L693

[2021-07-23 02:09] ginomempin commented on #16647
@karthiknadig

This was my default settings:

![Screen Shot 2021-07-23 at 10 56 18](https://user-images.githubusercontent.com/6091865/126729249-2f97e66e-6360-4077-9697-f44bdbcf3c64.png)

After following [your suggestion to disable auto-activation of environments](https://github.com/microsoft/vscode-python/issues/16647#issuecomment-878420261), **it does indeed work** 👍🏼.
I can launch the app with `

[2021-07-23 02:39] iChenLei opened #16765 "Replace deprecated vscode-test with @vscode/test-electron"
## Environment data

-   VS Code version: XXX
-   Extension version (available under the Extensions sidebar): XXX
-   OS and version: XXX
-   Python version (& distribution if applicable, e.g. Anaconda): XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Python-related VS Code ext

[2021-07-23 03:30] cosJin opened #16766 "I need to wait 5-6 min to start debug, and the progress bar keep running."
![image](https://user-images.githubusercontent.com/9530245/126734408-e2edbde5-a726-4fd6-85db-edd35b7f496f.png)

This situation has appeared since yesterday.  manbe I update something, actually I dont know.

[2021-07-23 03:34] cosJin commented on #16766
I use ssh remote to connect server.

[2021-07-23 03:57] anzharip opened #16767 "Debugging fails on extension version v2021.7.1053846006"
## Environment data

-   VS Code version: Version: 1.58.2 Commit: c3f126316369cd610563c75b1b1725e0679adfb3
-   Extension version (available under the Extensions sidebar): v2021.7.1053846006
-   OS and version: macOS 11.5 arch arm64
-   Python version (& distribution if applicable, e.g. Anaconda): python 3.9.6 via conda miniforge
-   Type of virtual environment used (N/A | venv | virtualenv | conda

[2021-07-23 05:38] GongT opened #16768 "random delay before several actions"
## Environment data

-   VS Code version: 1.59.0-insider (user setup)   `e8a59bc6f920e731b47f0bc72263e82aba8b796e`
-   Extension version (available under the Extensions sidebar): 2021.7.1053846006
-   OS and version: `Windows_NT x64 10.0.19043`
-   Remote OS: Fedora release 34
-   Python version: Python 3.9.6
-   Type of virtual environment used: venv and N/A
-   Value of the `python.languageServe

[2021-07-23 05:41] karthiknadig commented on #16761
This is same as https://github.com/microsoft/debugpy/issues/669. The fix is in `debugpy` main, we will push a release out as soon as possible.

If anyone here can verify it would be helpful. Here is how you can replace the debugger that is shipped with the extension:
1. Navigate to this location:
    * Windows: `%USERPROFILE%\.vscode\extensions\ms-python.python-2021.7.1053846006\pythonFiles\lib\py

[2021-07-23 05:42] #16761 closed

[2021-07-23 05:45] karthiknadig commented on #16767
Duplicate of #16761

See instruction: https://github.com/microsoft/vscode-python/issues/16761#issuecomment-885413239

You can also roll back extension version to unblock. We have a fix in the `debugpy` repo, and we will push a release as soon as possible.

[2021-07-23 05:45] #16767 closed

[2021-07-23 05:46] karthiknadig commented on #16766
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-07-23 05:46] #16766 closed

[2021-07-23 05:48] karthiknadig commented on #16765
@iChenLei Thanks for working on this.

[2021-07-23 05:55] iChenLei commented on #16765
I must say thanks for all `vscode-python` maintainers ! This vsc extension is awesome !

[2021-07-23 06:39] elmcrest commented on #16756
setting the environment variable did work thx. Somehow I didn't find this issue earlier even with the exact same symbol name, which I've tried of course...

anyway, thx for the help and hereby confirmed that adding `"PYDEVD_LOAD_NATIVE_LIB": "0",` to my `launch.json` config `"env"` solves the issue.

[2021-07-23 06:42] janosh commented on #16768
Same problem. Every time I save a file, I get a progress spinner. This is true even with all extensions disabled and all custom settings commented out except for

[code]

![Screen Shot 2021-07-23 at 08 34 47](https://user-images.githubusercontent.com/30958850/126745911-b7198b67-63cf-4d53-b3c1-613716fc3cf2.png)

[2021-07-23 06:45] karthiknadig commented on #16767
You can also try this workaround: https://github.com/microsoft/debugpy/issues/669#issuecomment-884811956

[2021-07-23 06:45] karthiknadig commented on #16761
You can also try this workaround: https://github.com/microsoft/debugpy/issues/669#issuecomment-884811956

[2021-07-23 06:45] karthiknadig commented on #16757
You can also try this workaround: https://github.com/microsoft/debugpy/issues/669#issuecomment-884811956

[2021-07-23 06:54] ajdajd commented on #13013
Tangential sentiment and question: the reason I'm not moving onto Pylance is that it's too noisy for my liking. I like the current behavior of the Microsoft language server. Is there a way to configure Pylance without too many bells and whistles?

[2021-07-23 09:19] ltorbecke opened #16770 "Python debug not working on remote system."
Issue Type: <b>Bug</b>

Connect to remote system via vscode-server (in my case a Debian on a Raspberry PI). With the newest version of Python extension (v2021.7.1053846006) installed, run a Unit Test in Debug Mode.

I get this error:

Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.

[2021-07-23 09:40] jkryanchou commented on #16750
+1

[2021-07-23 13:03] nirvaansingh47 commented on #16693
Getting the following out put when attempting to debug a Django project with pytest-django.

`Error: TypeError: Cannot read property 'testsuites' of null`

[2021-07-23 14:29] jwannebo-entegris commented on #16770
This is due to a bug with non-standard architectures debugpy 1.4.0 added in release 2021.7.1053846006:

 microsoft/debugpy/issues/669

The temporary workaround is to set the following environment variable:
`PYDEVD_LOAD_NATIVE_LIB=0`

We have it in our launch.json until the Python extension updates with the fix.

[code]

[2021-07-23 15:08] karthiknadig commented on #16770
Duplicate of https://github.com/microsoft/debugpy/issues/669

[2021-07-23 15:08] #16770 closed

[2021-07-23 15:28] jnjaeschke opened #16771 "Debugger fails to start on M1 MacBooks / Big Sur 11.2+"
Previously reported [here](https://github.com/microsoft/vscode/issues/129214). Look there for more info from several people.

## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar): v2021.7.1053846006
-   OS and version: Big Sur 11.2+
-   Python version (& distribution if applicable, e.g. Anaconda): XXX
-   Type of virtual environment used (

[2021-07-23 16:10] andre-digitalpeak commented on #16771
Not sure if there's a fix road map or whether those who broke it have to draw straws about rolling back or fixing it :-) @jnjaeschke, I just found a workaround that might help us get through this thing in the meantime...

The RPi solution described here worked for me... on my Mac M1... https://stackoverflow.com/a/68496417

[2021-07-23 16:13] reziux commented on #16771
Worked for me Big Sur 11.2.3

[2021-07-23 16:21] jnjaeschke commented on #16771
Confirm it works on Big Sur 11.4. If you create a launch config with `"request": "test"` also debugging unit tests using test explorer works. @andre-digitalpeak thanks for the workaround 😄

[2021-07-23 16:35] petterssonandreas commented on #13315
I tried your config on my Windows machine, with Python 3.9.6, VSCode 1.58.2, Pylance 2021.7.5, Python extension 2021.7.1053846006, pylint 2.9.5. In a simple workspace I get both pylance and pylint warnings as I expect them.

So I don't know if your user/workspace settings actually is what you specified? Also I don't really know how/what you mean by "my `venv`s are active", but I wouldn't think tha

[2021-07-23 16:44] tigerhawkvok commented on #16748
Because that's not at all what I'm trying to do. I'm trying to run an arbitrary _script_, not an app, and your example fails before doing anything:

![image](https://user-images.githubusercontent.com/165937/126812639-fafdadee-66e3-4b3f-932a-936759e4ab9e.png)

![image](https://user-images.githubusercontent.com/165937/126812745-3caec103-9916-4e6c-b2df-15cba13b3b5a.png)

Without enumerating each and

[2021-07-23 17:00] kimadeline commented on #16647
This will be done in https://github.com/microsoft/vscode-python/issues/11039, feel free to upvote it to help us prioritize it @ginomempin!

Closing this in favour of #11039.

[2021-07-23 17:00] #16647 closed

[2021-07-23 17:22] taiya commented on #14806
hey folks, this is a very nice feature, but not everybody uses.
Is there a way to disable this, so that this `launch tensorboard session` line does not appear?

![Screen Shot 2021-07-23 at 10 20 54 AM](https://user-images.githubusercontent.com/4480573/126818672-82d20910-1ad6-46fc-b73b-974c00cd939b.png)

e.g. for jupyter you could turn off decorations (similar to this) as:
[code]

[2021-07-23 17:23] #16765 closed

[2021-07-23 17:23] aleuyX commented on #15719
I' ve had this issue since last update, same as described by @Yajo, takes quite a lot of time to load the virtual environment, and if you already started typing the source command fails, not loading the env at all. I don't see how this is a duplicate of #11039 either
OS: KDE neon 5.22 (Ubuntu based kernel version 5.8.0-63-generic(64bits)
Vscode 1.58.2
Extension version: v2021.7.1053846006

[2021-07-23 17:33] joyceerhl commented on #14806
You can add the following to your settings.json

[code]

[2021-07-23 17:35] taiya commented on #14806
I got too excited (does not work):
![Screen Shot 2021-07-23 at 10 34 49 AM](https://user-images.githubusercontent.com/4480573/126820036-841effe8-775f-4d55-8894-5d640a51c591.png)

[2021-07-23 17:42] joyceerhl commented on #14806
That's a user-level setting, looks like you've added it to your workspace settings. You might also need a reload for the setting to be picked up.

[2021-07-23 17:57] hanmala123 opened #16774 "same method name appears twice and redundant object name in code completion"
## Environment data

-   VS Code version: 1.59.0-insider (system setup)
-   Extension version (available under the Extensions sidebar): v2021.8.1054534874-dev
-   OS and version: Windows 10 19043.1110
-   Python version (& distribution if applicable, e.g. Anaconda): miniconda
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages a

[2021-07-23 18:02] jakebailey commented on #16750
The log message and the python language server logs indicate that this is not Pylance, but MPLS (crashing with a stack overflow.

[2021-07-23 18:12] karthiknadig commented on #16748
@tigerhawkvok Thanks for the details. I will transfer this to the debugger repo.

There might be two separate issues here. Both in the debugger.
1. Debugger not getting past wait_for_client. For this one, can you check the debugger version if it is version 1.4.0 then can you try with 1.3.0 (essentially rolling back) and see if it does not have the issue. I am suspecting this is due to 1.4.0. We re

[2021-07-23 18:30] karrtikr commented on #16750
@jkryanchou We have recently released a new and more performant language server called Pylance which likely solves these issues you are reporting.  You can download [Pylance](https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/) from the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylanc

[2021-07-23 18:30] joyceerhl commented on #16750
I have "python.languageServer": "Pylance", and the Pylance extension is installed. I'm still getting the Python Tools server crashing.

[2021-07-23 18:33] jakebailey commented on #16750
The language server must be getting set somewhere else; does the UI also say that its Pylance or Default?

[2021-07-23 18:35] joyceerhl commented on #16750
Ah thanks, Jupyter repo workspace settings still say Microsoft. I'd expect the in progress notification that is presumably put up by the Python extension to be disposed if the server crashes though.

[2021-07-23 18:37] jakebailey commented on #16750
I don't know why those are even showing up there; the API that runs those puts the message at the bottom bar of the editor, not as a real notification. Unless opening it manually brings that up?

[2021-07-23 18:38] joyceerhl commented on #16750
Yeah so the notification sticks around in the status bar and if you click on it it shows that there's five of those progress notifications going that can't be cancelled.
![image](https://user-images.githubusercontent.com/30305945/126826691-00ec9b63-8b94-4f99-bc99-787046c8c8ff.png)

[2021-07-23 18:41] taiya commented on #14806
oh! I thought that workspace settings were just loaded on top of user ones.
That's right, those are workspace setting json.

1) (with workspace setting) "Palette→Reload Window" did not do anything
2) (with workspace setting) cold restart to SSH host did not do anything
3) (with user-level setting) cold restart to SSH... did not do anything (see snap below)

![Screen Shot 2021-07-23 at 11 39 57 AM]

[2021-07-23 18:41] jakebailey commented on #16750
Ah, I see.

The LS typically controls the start and end, but I guess the client should register something that stops this if the LS exits or something.

But, I'd also argue that if the LS is crashing, there's a worse problem than some stale notifications; if it crashes once, it's likely going to crash again when it gets restarted.

[2021-07-23 18:46] karrtikr commented on #16750
From the extension side all we can do is dispose of all notifications related to Microsoft language server. As we'll be getting rid of it once we remove old LS I don't see much point of keeping this issue open.

[2021-07-23 18:50] jakebailey commented on #16750
This same API is used for pylance for its progress messages (though it uses them less), so it's technically still a problem.

[2021-07-23 18:53] karrtikr commented on #16750
Can you point to the places where Pylance uses progress notifications in our repo?

[2021-07-23 18:56] jakebailey commented on #16750
https://github.com/microsoft/vscode-python/blob/3698950c97982f31bb9dbfc19c4cd8308acda284/src/client/activation/progress.ts is the implementation, shared between all LSs.

Pylance only displays a progress message if you have the diagnostic mode set to "workspace", but unless you're in a large project, you're not going to see it as Pylance is too quick to have the message up for a long time (unlike

[2021-07-23 18:58] jakebailey commented on #16750
But, I'm actually not sure if we use this in Pylance anymore, now that I think about it. Progress reporting got added to the LSP itself, so we may be using that. I'll check.

[2021-07-23 18:58] jakebailey commented on #16750
No, we're still using this API in Pylance, so it could feasibly affect us. I haven't seen anyone hit it, though.

[2021-07-23 19:02] thechinmayrout opened #16780 "Python debugging not working with Apple M1"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: macOS Big Sur Version 11.5

Steps to Reproduce:

1. Debug any python program on vscode python debugger.
2. ChinmayRout@MacBook-Air dsa-practice %  /usr/bin/env /opt/homebrew/bin/python3 /Users/ChinmayRout/.vscode/extensions/ms-python.python-2021.7.1053846006/pythonFiles/lib/python/debugpy/launc

[2021-07-23 19:30] dataagile-ema commented on #16762
I am sorry to say, I added the same question to both "pylance" and visual "studio code discussions" forums and both questions where converted to issues. So this issue also exists here https://github.com/microsoft/pylance-release/issues/1586
I apologise for the confusion.

[2021-07-23 19:38] ReveStobinson opened #16777 "Debug console print statements return printed object + None"
## Environment data

-   **VS Code version:** 1.45.1
-   **Extension version:** 2020.6.91350
-   **OS and version:** Windows 10 Enterprise, version 1909, Build 18363.1679
-   **Python version (& distribution if applicable, e.g. Anaconda):** Python 3.7.0
-   **Type of virtual environment used:** virtualenv
-   **Relevant/affected Python packages and their versions:** N/A
-   **Relevant/affected Pyt

[2021-07-23 19:41] karrtikr commented on #16750
Got it, I guess we should be calling `this.dispose()` at line 39 https://github.com/microsoft/vscode-python/blob/db8e1e2460e9754ec0672d958789382b6d15c5aa/src/client/activation/progress.ts#L37-L43

Although the API `dispose()` is also exposed so maybe the consumers should be responsible of calling it when done?

[2021-07-23 19:58] karthiknadig commented on #16771
This is same as https://github.com/microsoft/debugpy/issues/669. We will be shipping a fix soon.

[2021-07-23 19:58] #16771 closed

[2021-07-23 20:05] joyceerhl commented on #14806
@taiya Those are your local user settings. If you are in a Remote-SSH session, you will want to update the user settings on the remote machine instead. You can find those settings by opening the settings UI and clicking on the Remote tab.

[2021-07-23 23:36] MangoSister commented on #16721
@karthiknadig Sorry for hijacking the thread, but I seem to experience what you described: When I debug a script inside VSCode (UI: run->start debugging, or press F5), it seems to force the pyplot interactive mode to be on with the log "Backend Qt5Agg is interactive backend. Turning interactive mode on." Then `plt.show()` instantly returns. If I run the same script outside VSCode then it works fin

[2021-07-24 00:32] karthiknadig commented on #16721
@MangoSister Do you see a difference if you run with `Ctrl+F5` (i.e, Run without debugging)?

[2021-07-24 01:28] MangoSister commented on #16721
@karthiknadig `Ctrl+F5` works fine. Also, not sure but I think even when running with 'F5`, the problem only happens if you actually set a breakpoint.

[2021-07-24 06:37] akanz1 commented on #16768
Same here since the latest update. Even the smallest changes to a file result in several seconds of formatting and import sorting (~5-20secs)

[2021-07-24 14:42] robbiemu opened #16783 "spacing preference after pasting code in cell is lost"
Issue Type: <b>Bug</b>

I like tabsize of 2, and this is set in my vsc settings. by default, my ipynb files are opened respecting this setting. but if I paste into a cell, all the lines indented with 2 spaces get a brown tint to the leading space. this does not go away resetting the language server, and does not go away by removing all indentation are reindenting, nor after undoing the paste opera

[2021-07-24 14:53] rogueanx9 opened #16784 "Can't Detect Jupyter Kernel"
## Environment data

- Version: 1.59.0-insider (user setup)
- Commit: 04485223ebc6a075f39966bf9b3e261359ac7818
- Date: 2021-07-23T19:21:12.120Z
- Electron: 13.1.7
- Chrome: 91.0.4472.124
- Node.js: 14.16.0
- V8: 9.1.269.36-electron.0
- OS: Windows_NT x64 10.0.19043
- Phyton: 3.7.6 Miniconda
- Env: Conda
- Vscode-python: 2021.7.1060902895

## Expected behaviour

Jupyter Kernel Detected.
![image](ht

[2021-07-24 14:53] rogueanx9 opened #16794 "Can't Detect Jupyter Kernel"
## Environment data

- Version: 1.59.0-insider (user setup)
- Commit: 04485223ebc6a075f39966bf9b3e261359ac7818
- Date: 2021-07-23T19:21:12.120Z
- Electron: 13.1.7
- Chrome: 91.0.4472.124
- Node.js: 14.16.0
- V8: 9.1.269.36-electron.0
- OS: Windows_NT x64 10.0.19043
- Phyton: 3.7.6 Miniconda
- Env: Conda
- Vscode-python: 2021.7.1060902895

## Expected behaviour

Jupyter Kernel Detected.
![image](ht

[2021-07-24 16:35] lowercase00 opened #16785 "Flask debugger not reading the correct env var"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar):
-   OS and version: MacOS 11.4
-   Python version: 3.8.10
-   Type of virtual environment used: venv
-   Relevant/affected Python packages and their versions: Flask
-   Value of the `python.languageServer` setting: "Default"

## Expected behaviour

"env" portion of `launch.json` doesn't

[2021-07-24 16:35] lowercase00 opened #16984 "Debug configuration env variables should overwrite env variables defined in .env file"
## Environment data

-   VS Code version: 1.58.2
-   Extension version (available under the Extensions sidebar):
-   OS and version: MacOS 11.4
-   Python version: 3.8.10
-   Type of virtual environment used: venv
-   Relevant/affected Python packages and their versions: Flask
-   Value of the `python.languageServer` setting: "Default"

## Expected behaviour

"env" portion of `launch.json` doesn't

[2021-07-24 16:47] taiya commented on #14806
Thanks for the pointer! context: I **never** use the UI when editing settings, and the "SSH: remote" settings are not listed when you look for "JSON" in the command palette:
![Screen Shot 2021-07-24 at 9 37 14 AM](https://user-images.githubusercontent.com/4480573/126875158-470bb4b8-6dba-4b38-87ec-0d976437d11b.png)

For context, this is what @joyceerhl is referring to:
![Screen Shot 2021-07-24 at 9

[2021-07-24 23:00] tticknor commented on #16784
Similar issue encountered. After automatic July 23 update (2021.7.1060902895) of python extensions, python extensions do not activate. Rolled-back to July 21 update (2021.7.1053846006) and all is fine.

Version: 1.58.2 (user setup)
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:10:15.214Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: W

[2021-07-25 09:50] srinathdama commented on #13013
Thanks @lucwastiaux ! Your suggestion finally worked for me after trying all the other options.

[2021-07-25 09:58] MikeWise2718 commented on #12403
Am also getting this error, seems to have not been resolved although it is reporducable and the issue was raised over a year ago. I guess I can go back to using `test.http`

[2021-07-25 10:28] m666m commented on #14327
same problem in my vscode 1.47.3，pylance。
use “ pip install xxx ” successed。

In virtualenv, don't use "pip install xxx --user"