[2022-02-04 06:33] karrtikr commented on #18200
Just to clarify, please provide debug logs for https://github.com/microsoft/vscode-python/issues/18200#issuecomment-1024564319.

[2022-02-04 07:48] tekumara opened #18435 "new virtualenv created in terminal is not detected"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When a new virtualenv was created in the terminal, vscode used to popup a prompt to select it as the python interpreter

## Steps to reproduce:

1. Open a terminal within vscode
1. `python -m venv .venv`

No popup.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7
-   Type of virtual environment u

[2022-02-04 07:48] tekumara commented on #18435
Also tried activating the venv after creation:
[code]
Still no popup.

[2022-02-04 08:11] kajakIYD opened #18436 "Debugging does not work with a conda environment"
Issue Type: <b>Bug</b>

# Behaviour
While debugging Python scripts, F5 or "Play button" gives no action - the only thing I see is bar with "stop", "play" and "restart" buttons - but this bar just dissapear after few seconds. In terminal no output is printed.
Since last successful debugging session no system updates or other apps were installed, VSCode is up-to-date.
I have tried restarting VSCode

[2022-02-04 08:19] tashi21 opened #18437 "Python interpreter or virtual environments not being listed when opening a specific folder"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: Python installation should be detected and a list of the Python interpreter and any virtual environment shouldbe displayed.

Actual: When opening a specific folder, the Python installation is not detected. A pop up stating that Python is not installed comes up. No available Python interpreters or virtual environments are shown.

[2022-02-04 09:32] hussain5416 commented on #18434
### Expanded
![expanded](https://user-images.githubusercontent.com/78584556/152505468-fb01e860-6d8d-479e-a18a-f5b517f5e620.jpg)

### Collapsed
![collapsed](https://user-images.githubusercontent.com/78584556/152505465-455b555d-69f4-467b-ad21-3317ffe6aa9c.jpg)

[2022-02-04 10:07] ajrock commented on #18436
Having the same problem since the update to v2022.0.1786462952

[2022-02-04 10:10] mdks2010 opened #18439 "not found in settings：python.autoComplete.addBrackets"
### Discussed in https://github.com/microsoft/vscode-python/discussions/18438

<div type='discussions-op-text'>

<sup>Originally posted by **mdks2010** February  4, 2022</sup>
vscode:  1.64.0
python:  v2022.0.1786462952
Pylance : v2022.2.0

not found in settings：python.autoComplete.addBrackets</div>

[2022-02-04 10:29] markedwards commented on #18039
This seems to have gotten worse in 1.64.0.  I was getting correct mypy results prior to 1.64.0 (although only one character underlined for an error).  Now in 1.64.0, there is no highlighting of errors, nor mypy errors in the Python channel.  I only see:
[code]
If I run mypy from the command line, I get the expected error.

[2022-02-04 10:47] Tashi21 commented on #18437
Moving the folder to another folder (in this case the Desktop) worked. No errors were being shown. Is the problem in the way my earlier folder is named? It seems unlikely because everything was working all fine until my VSCode was updated to the January release. Right until then it was working with no issues.

[2022-02-04 11:00] vepain commented on #17989
**Version vscode:** `1.64.0`

- **Flake8:** bug still here
- **Pylint:** bug has changed
  -  for functions, warnings on docstring (*e.g.* `missing-return-doc` & `missing-param-doc`) underline all the function (from def to end)

[2022-02-04 11:40] rincewound commented on #18436
Same over here. Worked fine yesterday. Got up to VSCode update and it no longer works. The extension seems not to be able to start the debuggee. Before it was broken, one could see the commandline passed to the pyhon interpreter in the terminal of VScode. This no longer happens.

[2022-02-04 11:46] posita commented on #18389
Thanks @karthiknadig! Is there a mechanism to add comments to the config templates (outside of labels)? I'd like some way to link to https://code.visualstudio.com/docs/python/debugging from Python configurations added to `launch.json`. Is that possible? (I don't know that putting links in `"label": "…"` is the best way to go….)

[2022-02-04 12:16] Rebooorn commented on #18436
Also same for me.

Temporarily solved by reloading python IntelliSense to version v2021.12.1559732655.

[2022-02-04 12:30] knoffelcut commented on #18436
Same for me, specifically when using a Conda environment inside a docker container. When using the System interpreter it works fine.

Had to install 2021.12.1559732655 in both the host (system) vscode and inside the docker container's vscode

[2022-02-04 13:29] mlamarre commented on #18436
++same
The Python Debug Console doesn't pop-up like it used to. console=integratedConsole doesn't help.

[2022-02-04 13:54] karrtikr opened #18443 "Ensure clicking `Discovering Python Interpreters` in the status bar shows the current discovery progress"
This can be done more properly with https://github.com/microsoft/vscode/issues/142011. For now we make that text a hyperlink, and clicking that shows the current discovery progress.

![image](https://user-images.githubusercontent.com/13199757/152541293-01559873-de62-4802-a51d-3bc82c2e1c3c.png)

Inspiration: https://github.com/microsoft/vscode/issues/142011#issuecomment-1028965210

[2022-02-04 14:06] #18443 closed

[2022-02-04 15:16] XinzeZhang commented on #18436
++same

[2022-02-04 15:34] TJKlein commented on #18437
I have the same issue with VSCode (Mac). The item in the status bar, where one previously could select the interpreter has disappeared.

[2022-02-04 16:01] liaohaofu commented on #18436
Same here. This happens only with Conda environment - the other interpreter works fine.

[2022-02-04 17:46] wubdub commented on #18200
Sorry for the delay!
[logs_with_fix_debug_533.txt](https://github.com/microsoft/vscode-python/files/8005142/logs_with_fix_debug_533.txt)

[2022-02-04 17:48] karrtikr commented on #18200
No issues, I'll have a look and get back to you soon.

[2022-02-04 17:52] karrtikr commented on #18435
What happens if you manually refresh the interpreter list, does it show up then? Use `Python: Select Interpreter` command and click this icon:

[2022-02-04 17:53] karrtikr commented on #18435
Also please set `python.logging.level` to `debug` in User settings and provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-04 18:12] brettcannon commented on #18436
Is anyone **not** a conda user?

For those that are using conda, this is probably because of https://devblogs.microsoft.com/python/python-in-visual-studio-code-february-2022-release/#improvements-when-using-anaconda . We thought we had this working but apparently there's at least some underlying issue. While we take a look to solve this please feel free to roll back to the 2020.12 release for now

[2022-02-04 18:15] brettcannon commented on #18437
@TJKlein this actually isn't the same issue for you as you're probably in an experiment we are running; see https://github.com/microsoft/vscode-python/issues/18283 .

[2022-02-04 18:18] brettcannon commented on #18439
Closing so this can be discussed in a single place in Discussions

[2022-02-04 18:18] #18439 closed

[2022-02-04 18:25] karrtikr commented on #18437
@Tashi21 That could indeed be the case, can you provide the logs as mentioned in the issue template?

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-04 18:31] sradhakrishna opened #18447 "Cannot debug pytest tests on gevent based code"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

1.  Clone https://github.com/sradhakrishna/test-nameko
2.  Open Visual Studio Code, and open the workspace.code-workspace file.
Command Palette -> Tasks: Manage Automatic Tasks in Folder -> Select Allow Automatic Tasks in Folder
3.  Close and Reopen Visual Studio Code.
4.  Th

[2022-02-04 18:36] karthiknadig commented on #18436
Can some ones share how you created conda environment? Did you use `conda create -n env_name` or `conda create -n env_name python`

Are you seeing anything in the terminal when the debugger starts? or the debugger is failing to start entirely? Is there in thing in the Output>Python logs that you can share that might help with this issue?

[2022-02-04 18:50] YSaxon opened #18448 "TypeError: 'NoneType' obj on df.pivot() in debugger"
Issue Type: <b>Bug</b>

Using [the example code from the df.pivot docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html):

[code]

If I paste that into a new python file and debug it, I get the following:
![Screen Shot 2022-02-04 at 1 42 05 PM](https://user-images.githubusercontent.com/11711101/152585580-962da36e-6928-416a-aed1-8ab5a191a265.png)

[code]

And if I instead r

[2022-02-04 18:57] karthiknadig commented on #18436
Can you also share the output of `conda info`?

[2022-02-04 19:09] #11728 closed

[2022-02-04 19:09] brettcannon commented on #18103
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-02-04 19:09] #18103 closed

[2022-02-04 19:10] brettcannon commented on #17913
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-02-04 19:10] #17913 closed

[2022-02-04 19:10] brettcannon commented on #18170
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-02-04 19:10] #18170 closed

[2022-02-04 19:10] brettcannon commented on #17934
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-02-04 19:10] #17934 closed

[2022-02-04 19:10] alex-ew opened #18450 "Python Shared Conda Envs Broken"
Issue Type: <b>Bug</b>

Since the last release, I cannot run or debug python code using a shared conda env (one which is created in a directory I don't have write access to). I created a local conda env which seems to still work ok.

When using a shared another piece of the puzzle is an error message: "EnvironmentLocationNotFound: Not a conda environment: /home/%USER%/.conda/envs/dev". This is bec

[2022-02-04 19:11] brettcannon commented on #18207
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-02-04 19:20] karthiknadig commented on #18436
Another thing to test with the debugger, try running this command from any terminal:
Windows: `conda run -n env_name --no-capture-output --live-stream python "%USERPROFILE%\.vscode\extensions\ms-python.python-2022.0.1786462952\pythonFiles\lib\python\debugpy\adapter"`
Mac/Linux: `conda run -n apitest1 --no-capture-output --live-stream python "~/.vscode/extensions/ms-python.python-2022.0.1786462952/

[2022-02-04 19:23] d-franzmann commented on #18436
Hey,
I also noticed the problem. I attached my conda info to this message. On my windows machine with a newer version of conda I did not experience this problem, on my linux env my debugger failed. I also noticed problems switching my conda env within VSCode with the newest Python extension since yesterday, but I cannot say if this is related to this or not.
My conda env was created via `conda cre

[2022-02-04 19:30] brettcannon commented on #18448
What version of conda are you using?

[2022-02-04 19:32] brettcannon commented on #18450
What version of conda are you using?

[2022-02-04 19:49] mlamarre commented on #18436
Conda info (4.10)

[condainfo.txt](https://github.com/microsoft/vscode-python/files/8005787/condainfo.txt)

How the env. is created with docker RUN commands, running vscode-server inside container.

[conda_creation.txt](https://github.com/microsoft/vscode-python/files/8005779/conda_creation.txt)

The `adapter` script above gives a permission error trying to create a temp file in /opt not sure it m

[2022-02-04 19:54] mlamarre commented on #18436
Could be read-only vs writable base environment. Based on two data points.

[2022-02-04 20:04] karthiknadig commented on #18436
@mlamarre That might be different issue with how the environment is set (i.e readonly). That error is coming from conda itself:
[code]

From my investigation of this issue, it seems like conda < 4.9.0 are failing. This is because those versions did not support streaming io. Which is what the debugger needs to work.

[2022-02-04 20:43] mlamarre commented on #18436
But I'm on 4.10 and it still fails with the exact same behaviour as reported at the top of this issue.

[2022-02-04 20:58] karthiknadig commented on #18436
@mlamarre the cause is different in your case, but the effect is that the debugger does not run. This was probably working before because we did not use `conda run` to start the debugger instead use the `python` executable in the conda environment. The change that happened in `2022.0.*` is that we started using `conda run` for environments that we detect as conda.

We used to run the debugger like

[2022-02-04 21:20] karthiknadig commented on #18436
@mlamarre You are running into this issue https://github.com/conda/conda/issues/10690 .

[2022-02-04 21:50] bernardo-suez commented on #18436
Same issue
![ezgif com-gif-maker](https://user-images.githubusercontent.com/69978887/152607891-80b17ec1-239a-4314-9087-b80e187aa6cb.gif)
.

[2022-02-04 22:07] Necrophanto opened #18452 "Unexpected pop-up window while importing module 'kivy.graphics.any_module'"
# Behaviour
## Expected vs. Actual

I expected to just import the kivy.graphics.whatever_module specific module that i want,  instead of that, after puch the dot after 'kivy.graphics' (it doesn't matter which module i write after that, the behavior launches right after typing the dot), a window is launched and that window kep showing nothing, crashes and ask to wait or force exiting

## Steps to r

[2022-02-04 22:08] karthiknadig commented on #18436
@bernardo-suez Please check your conda version, if it is below 4.9.0 update to the latest version, and see if it helps.

[2022-02-04 22:15] wkerzendorf commented on #18407
@kimadeline let me know if I can help more

[2022-02-04 23:04] Tashi21 commented on #18437
Experiment 'pythonaacf' is active
Experiment 'pythonTensorboardExperiment' is active
Experiment 'pythonSurveyNotificationcf' is active
Experiment 'PythonPyTorchProfiler' is active
Experiment 'pythonDeprecatePythonPath' is active
[ERROR 2022-1-5 4:32:5.252]: Failed to initialize source map support in extension
[ERROR 2022-1-5 4:32:6.56]: SyntaxError: Invalid regular expression: /c:(\\|/)Users(\\|/)

[2022-02-04 23:51] luabud commented on #18255
@karrtikr oh I like that! not sure which icon would be best to reflect that but it's something we can talk to the design team as well 😊

[2022-02-04 23:54] luabud commented on #18388
could this mean it's a change that happened upstream in VS Code? 🤔

[2022-02-04 23:57] kimadeline commented on #18090
On regular exit the [`onError` handler](https://github.com/microsoft/vscode-python/blob/ced566f4c17595542665fad81c10573d51a03c38/src/client/common/application/debugSessionTelemetry.ts#L47) is triggered with the following error:

message:'read error'
stack: 'Error: read error
    at Socket.<anonymous> ([/Applications/Visual]() Studio Code.app[/Contents/Resources/app/out/vs/workbench/services/extens

[2022-02-05 00:57] karthiknadig commented on #18452
@Necrophanto does this occur if you use the `Pylance` language server?

[2022-02-05 05:04] karrtikr commented on #18388
Sorry I meant I also wasn't able to reproduce in VSCode insiders.

[2022-02-05 10:54] tekumara commented on #18435
Thanks @karrtikr for looking at this.

Yes from `Python: Select Interpreter` I can hit refresh and the virtualenv appears.

I used this [issue template](https://github.com/microsoft/vscode-python/wiki/Reporting-a-bug) which didn't ask for logs but here they are:

<details>
<summary>logs</summary>

[code]
</details>

[2022-02-05 10:57] tekumara commented on #18435
FYI if in the terminal I create a virtualenv in `venv/` as follows:
[code]
It is automatically detected and the popup shows.

It would appear from the logs the watcher isn't looking for hidden directories:
[code]

[2022-02-05 13:06] brianoflondon commented on #18431
Perhaps I'm getting something similar which seems to stem from the discovery process trying to run my module itself with bad command line options. I'm really new to setting up a new project here so very unsure if this is my problem or similar to what others have reported here.

This bit puzzles me, why is discovery trying to run `podping-hivewatcher` (my project) with pytest command line options.

[2022-02-05 13:10] xmsec commented on #18436
same problem.
and I revert python ext to v2021.12.1559732655, it works.

[2022-02-05 13:19] jahan01 commented on #18436
Mac user here, I have same problem in conda virtual envs. When starting debugger, the buttons are visible just for a moment and vanishes, no logs are emitted when I checked under `Output` -> `Python`

[2022-02-05 13:46] drcrook1 opened #18453 "Debugger Broken | v2021.12.1559732655"
Launch.json

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Module",
            "type": "python",
            "request": "launch",
            "module": "app.run",
            "console": "integratedTerminal"
        }
    ]
}

Simple module run that ends up spinning up a Flask server on port 80 I need to debug.  Was working great in the prior version, v20

[2022-02-05 14:50] mlamarre commented on #18436
@karthiknadig running `adapter` directly gives the expected output.

I understand that it's a conda issue (filed a year ago). I tried setting the env. vars. TMPDIR, TMP, TEMP, doesn't change a thing. They probably change them in their process.

So the workaround is to make the environment writable...

[2022-02-05 15:26] maowayne123 commented on #18453
I am not sure whether your issue is the same with me. my issue is when i debug a python file on remote server(with conda env), the debugger exit with no any reason. is it the same with you?

[2022-02-05 15:58] mlamarre commented on #18436
For others in similar situation debugging in a container, one possible workaround is:
1. install sudo in the dockerfile
1. add your vscode user to sudoers in dockerfile
1. chown the conda root folder

Ex for last step for a user `appuser` with conda installed in `/opt/conda`
[code]
Owning only the root folder is enough, debugger runs fine afterwards.

[2022-02-05 16:09] shanshuo commented on #18453
I have the same issue. I downgrade the Python Extention to v2021.12.1559732655 and solved the issue. Maybe it's a bug of v2021.12.1559732655.

[2022-02-05 17:57] iliiliiliili commented on #18436
Same for me. It works on regular Python and on non-local conda installations as `/opt/anaconda`, but does not work on the local miniconda installations.
Running `conda update conda` on `base` updated it to 4.11 and resolved the problem.

[2022-02-05 18:38] ianhelle commented on #18431
I'm getting a very similar issue - pytest discovery not working in vscode while pytest from cmd line works fine.
From the code Python output I see:
[code]
Not sure if something in conda is able to interpret `~\.vscode\extens...` as `%userprofile%\.vscode\extens...`  (I'm running on Windows where "~" doesn't resolve to anything).

If I try to copy that command (and replace the "~" with userprofile

[2022-02-05 18:50] karrtikr commented on #18435
Thanks for the info, please also help with the the following questions:
- Can you clarify the full path to the interpreter you created which it failed to detect? Was it `/private/tmp/foobar2/.venv/bin/python`? As long as it matches the glob
[code]
we expect it to detect.

- How are you defining a hidden directory? Is it any directory starting with `.` character.
- I assume logs you provided was af

[2022-02-05 20:02] Dudly01 commented on #18436
+1 for updating conda. 4.8.2 -> 4.11.0 solved it for me on Ubuntu 18.04.

[2022-02-05 20:03] sfaroy commented on #18453
Same issue here. Spent hours on this. The thing is that there is also no clue for the crash in any of the log windows

[2022-02-05 23:49] verazuo commented on #18436
same here.
My situation is remote container + conda + python.
Solved by degrading the python extension in VSCode to 2021.12.1559732655.

[2022-02-06 00:04] cameronshinn commented on #18453
I am having this issue as well

[2022-02-06 00:31] tekumara commented on #18435
Yep the interpreter is _/private/tmp/foobar2/.venv/bin/python_ and bash will treat a file or dir starting with `.` as hidden.

The logs did cover the creation of the virtualenv in the terminal. But not the selection of the new interpreter.

[2022-02-06 01:57] Adimac93 commented on #18435
I've installed zsh terminal on wsl2 ubuntu and everything with .env is not working + problem above.
Previously .env was working on cmd/sh. I've tried using different python versions and dirs such as conda, windows store and direct nothing works. When I loaded previous vscode settings problem still exists

[2022-02-06 06:20] sayuj122 opened #18457 "not selecting python interpreter"
Issue Type: <b>Bug</b>

i have istalled python 3.7 but in vs code they are not selecting the interpreter

VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:22:20.678Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) 4 CPU 3.00GHz (2 x 3000)|
|GPU Status|2d_canvas:

[2022-02-06 07:16] StianHanssen opened #18454 "The lint highlighter is marking the whole function for missing-function-docstring"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: Before the most recent VSCode update, this would only make a small highlight on the first line of where the function is defined.

Actual: Linter will mark every line of the function with blue squiggly underlines, which is very distracting and makes it hard to see other linting issues.
![Screenshot from 2022-02-06 16-13-52](https

[2022-02-06 08:51] fbriol commented on #18450
I have the same problem, under Linux and MacOS. When starting the debugging, the extension searches for python in an environment that does not exist, because it takes as root the target environment:
[code]
The extension tries to access my forge environment in this directory.
[code]
I switched to the previous version (v2021.12.1559732655), and the problem disappeared.

Here is the full output of th

[2022-02-06 09:51] jslomkowski opened #18455 "'Invalid patch string:'"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

In the latest version as of 06.02.2022 which is V2022.0.1786462952 when I right-click on workspace and select 'sort imports', I get a popup in the lower right saying 'Invalid patch string:' and imports don't sort. This doesn't happen when I downgrade to the previous version. I use autopep8 but this behaviour happens regardless of formatte

[2022-02-06 12:21] Adimac93 opened #18458 ".env file unaccessible in python"
Issue Type: <b>Bug</b>

I've instaled wsl2 and latest verison of ubuntu on windows10 machine and installed zsh terminal. I configured code runner and had many problems with it too. VScode wasn't saving changes in settings after several restarts. When I read .env, result is an empty object.

VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:22:20.678Z)
OS version

[2022-02-06 12:47] ppeetteerrs commented on #18455
I was wondering why no one raised this issue earlier and whether it is just me. Good to know that I'm not alone! Anyway, for now the solution is just to add the following to your .vscode/settings.json for every workspace:
[code]

Hope it gets fixed soon though

[2022-02-06 17:38] #18214 closed

[2022-02-06 21:03] Harry-Hopkinson commented on #18455
I can work on this for you.

[2022-02-06 21:47] ftm610 commented on #18432
Looks like already reported: https://github.com/microsoft/vscode-python/issues/18436

[2022-02-06 21:54] ftm610 commented on #18436
++ same here
v2022.0.1786462952 will not launch base conda env in Python Debug Console, but will properly launch cloned envs.
rolling back to v2021.12.1559732655 will launch all conda envs in Python Debug Console.

VS Code 1.64.0, ArcGIS Pro 2.9.1, Python 3.7.11, conda 4.9.2

[2022-02-07 00:26] kieferrm opened #18456 "Python: Iteration Plan for February 2022"
This plan captures our work in **February**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/142359). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

<details>
<summary>Legend of annotations</summary>

| Mark                 | Description                                       |
| -------------------

[2022-02-07 01:54] Glidias commented on #17122
It would be ideal to have both options, a diffearent environment per terminal type including the option to set No environment to be activated.

I haven't considered the idea of perhaps using an additional different terminal type (extended off an existing terminal type), to define a different virtual environment (or none at all) to go alongside with it, as that would be a different paradigm top dow

[2022-02-07 03:41] hank3df commented on #18453
same issue , downgrade the Python extension to v2021.12.1559732655 works.

[2022-02-07 05:53] karthiknadig commented on #18455
@jslomkowski this is due to https://github.com/conda/conda/issues/10972. With the latest release we switched to using `conda run`, which is why you see this with the current release and not the previous one.

You can always use the isort path to work around this problem.

[2022-02-07 06:34] CranBarry commented on #18453
same issue on v2022.0.1786462952 , debug not working, with no error log, and Python Debug Console didn't show.
Downgrade the Python extension to v2021.12.1559732655 then works.

[2022-02-07 06:42] CranBarry commented on #18436
same issue on v2022.0.1786462952 , debug not working, with no error log, and Python Debug Console didn't show.
Downgrade the Python extension to v2021.12.1559732655 then works.

[2022-02-07 08:37] j0k2r opened #18459 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `v2022.0.1786462952`
- OS Version: `Linux 5.13.0-28-generic`
- VS Code version: `1.64`

CPU profile file: [CPU-20220207T092415.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/8013567/CPU-20220207T092415.cpuprofile.txt)

[2022-02-07 09:34] rareal commented on #18453
same problem here, downgrading to v2021.12.1559732655 works as well.

While this is not fixed, is there a way to specify v2021.12.1559732655 in remote.SSH.defaultExtensions?

[2022-02-07 09:37] xujing113221 commented on #18453
same, i can't debug python on v2022.0.1786462952. but who can tell me how to downgrade the version?

[2022-02-07 09:40] rareal commented on #18453
go the extension page > down arrow next to Uninstall > install another version

[2022-02-07 09:42] kovla commented on #18454
Same problem, same versions of the Python extension and VS Code. Python version is 3.8.12, OS 18.04.1-Ubuntu.

The issue is extremely annoying, a workaround is to change linter or switch linting off completely. Hopefully there is a setting to switch back to a less distracting underlining visual.

[2022-02-07 09:43] xujing113221 commented on #18453
thanks, it works.

[2022-02-07 09:49] LukasFehring commented on #18453
unfortunately i have the same issue :) Fortunately i allready knew about downgrading :)

If one tries to debug a unittest it just runs forever

[2022-02-07 10:37] Engensmax opened #18460 "Debugger stops after 1 second of launching (redirect from main repo #142384 "/extPython")"
Issue Type: <b>Bug</b>

The debugger does not start and immediately stops after 1 second of launching. The debug icons are visible for that brief time (like pause, step over, step into, etc). It does not work with and without a launch.json file. I use the default python debugger configuration ("python current file (workspace)").
This issue appeared today and was not present last week.
Issue was al

[2022-02-07 10:43] Engensmax commented on #18460
Solved by installing previous version of python extension.
Already discussed in https://github.com/microsoft/vscode-python/issues/18453

[2022-02-07 10:43] #18460 closed

[2022-02-07 12:19] bernardo-suez commented on #18436
@karthiknadig's suggestion to update Conda from 4.8 to 4.11 solved the problem.

[2022-02-07 13:45] YUMEYA opened #18607 "Activating IntelliCode for Python failed."

[2022-02-07 13:45] camden-lowrance opened #18462 "isort fails with newest python extension version"
Issue Type: <b>Bug</b>

a file in my workspace fails to sort after updating to the latest python extension release.  when i downgrade to the previous version it sorts just fine.  the error message is "invalid patch string"

Extension version: 2021.12.1559732655
VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:20:17.224Z)
OS version: Darwin x64 20.6.0
Restricted

[2022-02-07 13:47] camden-lowrance commented on #18462
the failure is actually in extension version v2022.0.1786462952

the version autofilled from vscode is the working version 2021.12.1559732655

[2022-02-07 15:33] aguirre-esss commented on #18436
Hello,

I am on Windows 10, also having an issue with the Python debugger.
I am using Conda version 4.8.3+1 (not allowed to upgrade right now, large project, more people involved).
Is there anything I can try to help diagnose the issue or try as a workaround prior to reverting the extension to a previous version?

Cheers.

[2022-02-07 16:02] ricardoavelino commented on #18436
Also had this issue here, working with conda `4.7.11`.

[2022-02-07 16:11] hojo0590 commented on #18462
Also see #18455

[2022-02-07 16:47] gcheron commented on #18453
same issue here, a downgrade solved the problem!

[2022-02-07 16:50] siavash-khodadadeh commented on #18436
@karthiknadig's suggestion to update Conda from 4.8 to 4.11 also worked for me:
[https://docs.anaconda.com/anaconda/install/update-version/](https://docs.anaconda.com/anaconda/install/update-version/)

[2022-02-07 17:45] #18453 closed

[2022-02-07 17:51] karthiknadig commented on #18450
Duplicate of #18436

[2022-02-07 17:51] #18450 closed

[2022-02-07 17:57] karthiknadig commented on #18454
@StianHanssen @kovla Please share the output from Output > Python. We are surfacing what pylint tells us. If you want this to mark less, you may have to file this on pylint (see here https://github.com/PyCQA/pylint/issues/5466)

[2022-02-07 18:01] makhkobek commented on #18436
the same issue here, python 3.7, conda 4.7

[2022-02-07 18:02] karthiknadig commented on #18458
Thanks for the bug report, but unfortunately, we need some more information from you in order to triage this issue appropriately. Please follow instructions [here](https://aka.ms/pvsc-bug) to create a new bug with all the critical details we need for diagnosis.

[2022-02-07 18:02] #18458 closed

[2022-02-07 18:04] karthiknadig commented on #18462
Duplicate of https://github.com/microsoft/vscode-python/issues/18455

[2022-02-07 18:15] makhkobek commented on #18436
Thanks, it worked here as well after updating to conda 4.11

[2022-02-07 19:46] kovla commented on #18454
Thanks @karthiknadig. Is there an option of installing an older version of the Python extension? If so, where to find it?

[2022-02-07 19:49] higginch-bh opened #18466 "Extension spawning multiple Python processes"
Issue Type: <b>Bug</b>

This could be related to the recent Python update and Python extension, but I'm seeing many Python processes being spawned while developing in my Python library to the point where my computer starts to become unresponsive and I either have to manually kill the processes or restart the machine.  Basically navigating between python files is causing the processes to be spawned

[2022-02-07 19:53] karthiknadig commented on #18454
@kovla You can do this from the extensions view. Click on the gear icon next to the extension:
![image](https://user-images.githubusercontent.com/3840081/152861494-37eb4d69-f789-4c82-97fd-4a802f68e7bf.png)

[2022-02-07 20:13] zbs commented on #18164
Checking in again. This is a regression and breaks behavior for presumably a reasonable number of users. Can this be prioritized?

[2022-02-07 20:36] karthiknadig commented on #18436
Can someone here try this build and let me know if it helps with the issue? https://github.com/microsoft/vscode-python/suites/5209242839/artifacts/159283844

We are planning a temporary fix. I still suggest that people update conda to at least 3.9.0

[2022-02-07 20:41] brettcannon commented on #18436
To update everyone: we have a fix merged in https://github.com/microsoft/vscode-python/pull/18451 and cherry-picked in https://github.com/microsoft/vscode-python/pull/18465 (basically we fall back to the old way of doing things if you're running an old version of conda that doesn't support what we need with `conda run`). We hope to make a hotfix release today or tomorrow.

But do note we **strongl

[2022-02-07 20:43] brettcannon commented on #17122
Is this because you want to open the same workspace in WSL and Windows on the same machine and use different environments based on the OS you're running under?

[2022-02-07 20:48] karthiknadig opened #18467 "Prototype whole notebook LSP messages"

[2022-02-07 20:50] karthiknadig opened #18468 "Prototype per-cell LSP messages"

[2022-02-07 21:02] karthiknadig opened #18469 "Investigate formatting over LSP"

[2022-02-07 21:03] karthiknadig commented on #18469
I was able to get a prototype of formatting over LSP working with black.

[2022-02-07 21:03] #18469 closed

[2022-02-08 00:00] kimadeline commented on #18464
Hi @david-hoffman, thank you for reaching out.

How did you create your conda environment?

[2022-02-08 00:16] luabud commented on #17505
That's happening already! now we just need to consider running the file in the REPL...

[2022-02-08 00:16] #17505 closed

[2022-02-08 00:16] luabud commented on #15887
Done :)

[2022-02-08 00:16] #15887 closed

[2022-02-08 00:16] luabud commented on #14924
Done

[2022-02-08 00:16] #14924 closed

[2022-02-08 00:17] luabud commented on #12957
Done

[2022-02-08 00:17] #12957 closed

[2022-02-08 00:18] luabud commented on #9018
will probably be fixed with #17242

[2022-02-08 00:19] luabud commented on #7448
We're memorizing the first selected configuration for the rest of the session, so closing this.

[2022-02-08 00:19] #7448 closed

[2022-02-08 00:20] luabud commented on #18388
**oh**! interesting!
What if we made it so that trying to run unsaved files would send the content to the REPL? 🤔

[2022-02-08 00:24] kimadeline commented on #18407
I cloned the repos at https://github.com/tardis-sn/tardis and https://github.com/tardis-sn/tardis-refdata to try and pinpoint the issue.

I did not get the `TypeError: Cannot read property 'testsuites' of null` error you initially encountered, however the fact that the last `tardis` argument was being truncated was probably causing issues.

It is done on this line:

https://github.com/microsoft/vs

[2022-02-08 00:24] david-hoffman commented on #18464
`conda create -n sandbox ...`

[2022-02-08 00:25] luabud commented on #18389
It might be possible to include it in the description, so the link can be clicked when hovering over the arguments? but also not sure if that's the best way to go about it... I'll ask the team and get back to you!

[2022-02-08 00:29] kimadeline commented on #18464
Do you specify a python version?

[2022-02-08 00:36] kimadeline commented on #18431
Hi everyone, a couple of things here:

- Issues with conda are most likely related to #18436, since we recently changed how we run tools when in a conda environment. We hope to make a hotfix release today or tomorrow, please try it out whenever it comes out, and if it still doesn't work please open a separate issue;
- When creating a conda environment, make sure you create it with the `python=3.XX

[2022-02-08 01:05] david-hoffman commented on #18464
I did not, but it was 3.9.x

[2022-02-08 03:42] NLCharles commented on #18436
Another workaround is to set a symbolic link to conda env's python interpreter, and add this as a 'new' python interpreter, and debug process will start to work, **without conda environment activated**.
Like
[code]
I believe this is a strong indication that new launcher doesn't work with old conda.

[2022-02-08 06:02] Jenn500 commented on #7283
is this issue resolved? I'm encountering the same issue on Windows when trying to debug remotely on Linux.
this issue is very important for debugging.

[2022-02-08 06:49] brianoflondon commented on #18431
Thanks for taking a look @kimadeline !

This is the repo I've got which I can't get discovery working on. It was set up with Poetry and I think I can trace the problem to the point where I ran poetry install and it installed this project within itself (does that make sense?). My problem distinctly comes from the discovery process trying to run `hivewatcher` but with no command line options and not

[2022-02-08 09:53] GrindstoneLZX opened #18472 "SSH remote python debug not working"
python debug on a remote server not working with SSH extension after I update VS code to latest version.
when I press F5, VS code shows nothing

[2022-02-08 10:00] GrindstoneLZX commented on #18472
python extension version:
v2022.0.1786462952

VS code version:
Version: 1.64.0 (user setup)
Commit: 5554b12acf27056905806867f251c859323ff7e9
Date: 2022-02-03T04:22:20.678Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044

[2022-02-08 10:27] long8v commented on #18472
Same here

[2022-02-08 10:45] LordBroon opened #18473 "Python debugging not working"
Debugger is not starting. It is just showed and disappear immediately. No error no message. At the same run button work as expected. It worked fine last week.
I have reinstalled python extension but issues still exist.

It is similar to bug raised in: https://github.com/microsoft/vscode-python/issues/7927

[code]

[2022-02-08 10:57] adamsatyr opened #18478 "Python environments failing to be found"
## Environment data

-   VS Code version: Version: 1.64.0 (system setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2022.1.1001775990
-   Python Extension version (available under the Extensions sidebar): v2022.0.1786462952
-   OS (Windows | Mac | Linux distro) and version: Windows_NT x64 10.0.19042
-   Python and/or Anaconda version: 3.9 and 3.10
-   Type of virtual

[2022-02-08 11:17] yutongred commented on #18472
Same issue, but select none conda environment can work

[2022-02-08 12:40] ldorigo opened #18475 "Debug output and watches don't use custom repr()/str() for long strings?"
Issue Type: <b>Bug</b>

Hi, consider this small snippet:

[code]

If I add `test_works` to watches or evaluate it in the debug console, it correctly uses the repr() I provide. However after some arbitrary string length, it reverts to showing `<Test, len() = 3>` - which I don't want. I tried looking for a setting to change the value at which this change happens but couldn't find any. This is quite

[2022-02-08 13:42] tritolol commented on #18472
Same issue, but it works fine with a non-conda environment in my case. Downgrading to the v2021.12.1559732655 fixed the issue.

[2022-02-08 13:44] long8v commented on #18472
@tritolol can you share how to download specific version of extension?

[2022-02-08 13:48] dektoud opened #18476 "Debug Attach to Jupyter Notebook process kills kernel macos M1"
Issue Type: <b>Bug</b>

# Behaviour
Kernel is dying when attaching a python debugger in macos m1, some relation to cython and zeromq ... Have an intel macbook with the same issue that was resolved by downgrading cython.

## Expected vs. Actual

Expected to attach a python debug session to a running notebook.

Actual:

kernel dies, this output is repeated in the terminal 5 times

[code]

## Steps t

[2022-02-08 13:51] yutongred commented on #18472
@tritolol  thx

[2022-02-08 13:53] Kit-Law-42 commented on #18472
Same issue for v2022.01786462952. Downgrade the v2021.12.1559732655 by the dropdown button next to uninstall fixed the issue.
![image](https://user-images.githubusercontent.com/8088801/153000658-06377654-3880-4692-8afa-aa8d38c4c15c.png)

[2022-02-08 13:57] Ray0089 commented on #18472
same issue

[2022-02-08 14:26] LordBroon commented on #18473
You right - rolling back to 2021.12 solve the issue for me as well.

[2022-02-08 14:27] KoBOLL opened #18477 "linter not working in python 3.5.3"
Issue Type: <b>Bug</b>

# Behaviour

/home/user/.vscode-server/extensions/ms-python.python-2022.0.1786462952/pythonFiles/linter.py uses subprocess.run with parameter encoding="utf-8" which not supported by python 3.5.3

## Expected vs. Actual

Expected: pylint is working

Actual:
Output log
[code]

## Steps to reproduce:

1. Allow lint on save and just save file

# Diagnostic data

-   Python vers

[2022-02-08 14:51] moto-ctrl commented on #17989
Is it going to be ever fixed? This is super annoying bug, I'm so surprised there's not that much noise around it from what I can see here. It's been going on for 3 months now! The python code with just one character underscored for errors coming from linters (like was shown on the screenshots on the original report) is very hard to work with! @alexdima any chance yourself or someone else from the

[2022-02-08 14:56] jahan01 commented on #18455
`conda run` implementation has broken so many things this release. even things that do work with `conda run` like  black formatting, it is pathetic and slow on mac. I had enable sort import and formatting on save. So i had now hard coded the paths of black and isort in workspace settings, thankfully now latency is in acceptable limits.

[2022-02-08 16:09] kimadeline commented on #18464
In order for the Python extension to recognize your environment as a valid conda environment, you need to create it with the `python=3.9` argument. Please give it a try and let me know if that works.

[2022-02-08 16:11] karthiknadig commented on #18472
Duplicate of https://github.com/microsoft/vscode-python/issues/18436

If your conda version is older than 4.9.0, please update conda.

[2022-02-08 16:11] #18472 closed

[2022-02-08 16:12] karthiknadig commented on #18473
Duplicate of https://github.com/microsoft/vscode-python/issues/18436

If your conda version is older than 4.9.0, please update conda.

[2022-02-08 16:12] #18473 closed

[2022-02-08 16:38] karrtikr commented on #18466
Hi @higginch-bh 👋 Please provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-08 16:42] karrtikr commented on #18459
Hi @j0k2r , the CPU profile you provided does not seem to be related to the Python extension. If you still face this issue, please upload the CPU profile again which will help us track down the issue. Follow the steps here:
https://github.com/Microsoft/vscode/wiki/Performance-Issues#profile-the-running-extensions

[2022-02-08 16:52] karrtikr commented on #18466
Also, right click on the "Name" column and select "command line" to enable to command line column in the task manager, send the screenshot of commands that you see there. For example for me it's:

![image](https://user-images.githubusercontent.com/13199757/153035756-d9a2acc5-2707-46fa-8a66-2e185504fdd0.png)

[2022-02-08 17:10] j0k2r commented on #18459
@karrtikr thanks for the reply.

Here is the new CPU profile:
[CPU-20220208T170531.156Z.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/8025978/CPU-20220208T170531.156Z.cpuprofile.txt)

[2022-02-08 17:14] david-hoffman commented on #18464
Like I mentioned originally, simply cloning the environment to a new name fixed the issue. The problem seems to be caused solely by the name of the environment.

[2022-02-08 17:18] luabud commented on #18389
@posita I talked to the team and the suggestion was to file an issue request upstream to VS Code to allow debuggers to contribute doc links, so I did so here: https://github.com/microsoft/vscode/issues/142533

I think for now it might be better to leave the links out?

[2022-02-08 17:51] kimadeline commented on #18464
We don't have any name-based logic in the extension, so there's most likely something else at play, either with your setup or conda itself.

[2022-02-08 18:33] higginch-bh commented on #18466
Here's the command line.  I omitted personal information.  It appears the issue is related to mypy.  I went ahead and disabled this in the VS Code settings for now.
![Capture](https://user-images.githubusercontent.com/88206215/153052793-caf219a2-d831-4656-bddd-9dd1584311d1.JPG)

[2022-02-08 18:51] karrtikr commented on #18457
Hi @sayuj122 👋 Please provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-08 18:54] karrtikr opened #18479 "Use conda run for conda environments for running python files and possibly installation"
Seems like this bit was missed:
![image](https://user-images.githubusercontent.com/13199757/153055995-c0ea12c4-69e1-4db4-b2b8-8c1d5707a298.png)

Feel free to also add it in the iteration planning board. Note we should not be using the `OUTPUT_MARKER_SCRIPT` for running/debugging files, so add an option in this API https://github.com/microsoft/vscode-python/blob/3b114e31dd992a72e3cd71b0876b05466228

[2022-02-08 19:08] phuongnm-bkhn commented on #18436
I updated conda to 4.11, but the problem has not been solved, however degrading the python extension into 2021.12.1559732655 worked with me.

[2022-02-08 19:41] karrtikr commented on #18478
Closing as dup of https://github.com/microsoft/vscode-python/issues/18437

[2022-02-08 19:43] astrowonk commented on #18454
It definitely seems to be an issue in pylint but what iteration of VS Code / the extension started supporting and using the error range data coming from pylint? So far, no matter how far back I revert the python extension, pylint is still marking everything due to missing docstrings.

[2022-02-08 19:48] karthiknadig commented on #18477
In the extension we only support and test versions of python actively supported by upstream python https://devguide.python.org/#status-of-python-branches. Python 3.5 is out of service. Please update to a later version.

If you have to use an older version of python, you can downgrade python extension from the gear icon in the extensions view and select install another version.

[2022-02-08 19:48] #18477 closed

[2022-02-08 19:57] karthiknadig commented on #18454
If you pin `pylint=2.11.1` it might work better. This change was added in version 2022.0.* (see here https://github.com/microsoft/vscode-python/blob/0856eb26cbcc3a2ec5e15edaa6ef9cdddca32790/CHANGELOG.md?plain=1#L15)

[2022-02-08 19:57] #18454 closed

[2022-02-08 20:07] #18455 closed

[2022-02-08 20:20] astrowonk commented on #18454
Ah, I was changing the version of python extension locally not on my remote. Reverting to Python extension `v2021.12.1559732655` also fixes the issue, though probably easier to pin pylint.

A workaround would be to let vscode python users disable using error ranges...

[2022-02-08 20:33] KoBOLL commented on #18477
Sad news. I can't upgrade old project to the new python version.

Well... I'll patch linter.py myself...

[2022-02-08 20:50] Necrophanto commented on #18452
Yes it does, and when Pylance is disabled the strange behavior does not occur

[2022-02-08 21:07] amarvin commented on #18436
Worked for me after degrading the python extension into 2021.12.1559732655, even with `conda` 4.6.14

[2022-02-08 21:16] karthiknadig commented on #18436
We just published a fix for the older versions of conda. The fix is in version `2022.0.1814523869`.

If you are in a newer version of conda and are experiencing issues, please check the error reported by conda here https://github.com/conda/conda/issues.
you can use the command in the linked comment to run the debugger from a terminal to test if it is working as expected:
https://github.com/microso

[2022-02-08 21:18] #18436 closed

[2022-02-08 22:11] gracicot opened #18482 "Wrong python interpreter selected in multiroot workspaces when using ${command:python.interpreterPath}"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

*Expected:*
1. Click on the "Debug" green play button from a multi-root workspace
2. The debugger starts normally, and all `import` statements works.

*Actual:*
1. Click on the "Debug" green play button from a multi-root workspace
2. The debugger starts, but all `import` statements for packages installed inside the venv don't work.

## St

[2022-02-08 22:36] kimadeline commented on #18089
Checked our telemetry events, the new property value appears for Insiders installs.

[2022-02-08 23:20] ABotond commented on #18436
The problem still persists for me using VS Code 1.64.1, extension version v2022.0.1814523869 and conda 4.9.1, while using it in SSH remote mode.

It works correctly with v2021.12.1559732655.

[2022-02-08 23:25] karthiknadig commented on #18436
@ABotond Can you try the steps here in the terminal to see if the debugger is able to start in your environment? https://github.com/microsoft/vscode-python/issues/18436#issuecomment-1030280077

[2022-02-08 23:37] ABotond commented on #18436
Thanks for the quick answer. Indeed, the problem lies here somewhere:
[code]
Oh, and I'm using conda version 4.9.2, not 4.9.1.

[2022-02-08 23:39] amarvin commented on #18436
Awesome job! This new version of the Python extension works for me.

[2022-02-08 23:45] karthiknadig commented on #18436
@ABotond You are running into this issue https://github.com/conda/conda/issues/10690 . Please give conda directory write permissions, and it should work. Up vote the conda issue so this gets resolved by them.

[2022-02-08 23:52] ABotond commented on #18436
@karthiknadig what an ugly hack. But that was it, thanks a lot for your help!

[2022-02-09 00:44] kceiw commented on #18219
@kimadeline  I don't have the environment I mentioned before. But I reproduced the same error with the Insider version

Here is the output when I switch the env from HelpTableActivityEnv to GenerateExampleActivityEnv. In the end, the venv isn't really changed.

[code]

My new environment is

The Python extension version is

[2022-02-09 01:37] sgbaird commented on #693
For some reason it stops at manually set breakpoints for me, but not if an error is raised. So, a silly workaround (at least for me) has been to let it run until it errors out, track down the relevant line, and set a breakpoint on it. Obviously not a great solution for long-running tests.

[2022-02-09 02:10] Raphael-Hao commented on #18436
In my case, the formatter does not work, even if I upgrade conda to `4.11`. If I downgrade the Python extension to v2021.12.1559732655, it works.

[2022-02-09 02:17] Glidias commented on #17122
based on the terminal type

[2022-02-09 04:21] Brymcon opened #18483 "Thank you"
Issue Type: <b>Feature Request</b>

Thank you for the path tip. Probably a life saver.

Extension version: 2022.0.1814523869
VS Code version: Code 1.64.1 (d6ee99e4c045a6716e5c653d7da8e9ae6f5a8b03, 2022-02-07T17:16:22.147Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-02-09 05:56] tekumara opened #18484 "Feature: jump to type definition"
In python, when I hover over the `i` variable the type (eg: `InstanceTypeDef`) is displayed.

I'd like to be able to jump to the type definition, eg: via a keyboard shortcut or Ctrl+click on `InstanceTypeDef`

<img width="758" alt="Screen Shot 2022-02-09 at 4 54 22 pm" src="https://user-images.githubusercontent.com/125105/153130429-65f094f9-dc67-422f-ae80-8ded797f41e3.png">

[2022-02-09 06:51] #18464 closed

[2022-02-09 08:10] adamsatyr commented on #18478
Duplicate didn't help my case.
I reinstalled the VS Code (deleting Code and .vscode folders also). Reinstalling clean python 3.10.2 still didn't work.
Python is directly on C drive so there is no complicated path or name. Also tested in user space. It is registered in path. I should work as always.
Everything was working fine until last update of VS Code.

[2022-02-09 08:56] nikogeg commented on #14287
Any updates on this?

[2022-02-09 11:51] j0k2r commented on #18459
Hi @karrtikr, After lot of tests, it seems that the CPU load is caused by the [poetry-version-plugin](https://github.com/tiangolo/poetry-version-plugin) plugin.

You can find a code example in https://github.com/j0k2r/vscode-cpu-load.

The CPU load is caused by [the lines](https://github.com/j0k2r/vscode-cpu-load/blob/f797b0e854af5be621ca030d2e67a1f77b0a4073/pyproject.toml#L12-L14) in the Poetry c

[2022-02-09 12:43] mattalexx opened #18485 "Prerelease version of Python is suggested over the the stable one, and "Recommended" in the "Select interpreter" quicklist"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When I first open a new Python project, VS Code chooses a Python interpreter to use. I have Python 3.11.0a3 installed for testing, and instead of using the system interpreter or another virtualenvironment based on it (Python 3.10.2 stable), it chooses the alpha version. This causes things to break since they are using a prerelease interpr

[2022-02-09 13:34] HoustonKhanyile opened #18490 "python interpreters not working"
Issue Type: <b>Performance Issue</b>

I've been using a python interpreter that I set in my venv the whole time for this project. recently my python interpreter which I've set as a default interpreter in my user settings like the vs docs vs code python environments say and also set in my json settings file refuses to load instead I'm getting the default conda python interpreter with no other optio

[2022-02-09 14:00] markedwards commented on #18039
This seems to have been fixed in  1.64.1.  Now mypy works again, but there's still of course the issue that only one character is underscored.

[2022-02-09 14:03] dalemyers opened #18486 "Python debugger fails to launch"
Issue Type: <b>Bug</b>

Starting at some point in the last ~21 hours I became unable to launch the Python debugger. When I try to launch it (either via the play button on the run and debug pane, or with F5) it tries to run the launcher script in the terminal but then silently exists. I see no errors in any output windows other than in the Window one which says "Server[1] disconnected unexpectedly"

[2022-02-09 15:08] karrtikr commented on #18459
Oh interesting, can you provide the logs as mentioned in the issue template? We run some poetry related commands for discovery which maybe using this configuration file. Thanks for diagnosing it.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel

[2022-02-09 15:39] j0k2r commented on #18459
[code]

[2022-02-09 16:14] karrtikr commented on #18459
Can you please run `poetry env list --full-path` in terminal and send me the output?

[2022-02-09 16:27] j0k2r commented on #18459
Python output:

[code]

poetry env list --full-path:

[code]

[2022-02-09 16:49] karrtikr commented on #18486
Are you using a conda interpreter? If so, please update `conda` to the latest version.

[2022-02-09 17:41] karthiknadig commented on #18483
Thanks!!!

[2022-02-09 17:41] #18483 closed

[2022-02-09 17:48] karthiknadig commented on #18485
Thanks for the feedback. Changing this to a feature request. We also want to get more feedback from the community before we can make any decision on this.

We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future

[2022-02-09 17:53] karrtikr commented on #18490
Thanks for reaching out @HoustonKhanyile, please try the `Python: Clear Workspace Interpreter setting` or `Python: Clear Internal Extension cache` command to see if it helps.

[2022-02-09 18:01] brettcannon commented on #18436
@Raphael-Hao please open a separate issue as that's not related to debugging.

[2022-02-09 18:04] brettcannon commented on #14287
@nikogeg nope; we would post if we had anything to share.

If someone wants to propose a solution, discuss it with us, and the submit a PR we would be happy to have such a discussion.

[2022-02-09 18:08] brettcannon opened #18491 "Release plan for 2022.2"
All dates should align with VS Code's [iteration](https://github.com/microsoft/vscode/labels/iteration-plan) and [endgame](https://github.com/microsoft/vscode/labels/endgame-plan) plans.

# Feature freeze ([Tuesday @ 17:00 America/Vancouver](https://www.worldtimebuddy.com/?qm=1&lid=6173331,100,2643743,2673730&h=6173331&date=2022-2-22&sln=17-18&hf=undefined), Feb 22)

-   [x] Announce the feature f

[2022-02-09 18:40] HoustonKhanyile commented on #18490
must I run it in my terminal or command prompt?

[2022-02-09 18:49] HoustonKhanyile commented on #18490
It worked thanks.

[2022-02-09 19:24] dakotajunkman opened #18492 "launch.json option for debugpy.debug_this_thread()"
Currently, to debug Python scripts called by external applications (e.g. Python being called by MATLAB) it is necessary to import debugpy and call debugpy.debug_this_thread() at the top of the file. I am proposing a launch.json option that handles this, or some other way to no longer need to manually add this statement to a Python script in order to properly debug.

[2022-02-09 19:24] kimadeline commented on #18482
Hi @gracicot, thank you for reaching out.

You shouldn't have to specify the `python` line in your launch.json config, if the virtual environment is selected for that specific folder it should get picked up automatically. `${command:python.interpreterPath}` is also an incorrect value.

What happens if you remove the `python` line from your launch.json config?

[2022-02-09 19:38] tbenthompson opened #18493 "Python conda run incorrect environment path"
# Behaviour

I get the following error when running pytest test discovery. It looked like the environment path is getting duplicated:  `envs/kevlar/envs/kevlar`. I'm on the latest conda 4.11 and fully updated to the latest VSCode version. I've seen https://github.com/microsoft/vscode-python/issues/18486 and this seems related but the updates and solutions there have done nothing for me. I've also

[2022-02-09 19:54] gracicot commented on #18482
@kimadeline Seems like it's working without the `python` line. Strangely, the value `${command:python.interpreterPath}` works very well with a single root workspace. Thanks for pointing out the problem. I'm just unsure how I'm wrong. The python extension allows us to select the python interpreter from the status bar, I figured I had to choose that interpreter to be in line with what's displayed in

[2022-02-09 20:07] calebho commented on #18493
+1, also seeing the same error.

Extension version: `v2022.0.1814523869`
Conda version: `4.11.0`

[2022-02-09 20:11] agbaum opened #18494 "Tests don't show up in test explorer with remote development"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected:
Tests show up in test explorer.
<img width="444" alt="Screen Shot 2022-02-09 at 12 08 49 PM" src="https://user-images.githubusercontent.com/55801982/153282198-841a9778-c49a-42f9-a2cd-bb87e7d51b98.png">

Actual:
No tests show up. There isn't a discovery error.
<img width="474" alt="Screen Shot 2022-02-09 at 12 09 27 PM" src="http

[2022-02-09 20:54] karthiknadig commented on #18493
That is an issue with conda itself. Previous versions of the extension were using a hack. That hack no longer works starting conda 4.10. we decided to use the `conda run` as that was recommend way to run scripts using conda. Please file a bug https://github.com/conda/conda/issues

[2022-02-09 20:56] karthiknadig commented on #18494
Please share the python > Output logs

[2022-02-09 20:58] karthiknadig commented on #18486
Please follow the instructions here to test out and see if the `conda` you are using works https://github.com/microsoft/vscode-python/issues/18436#issuecomment-1030280077

[2022-02-09 21:23] dalemyers commented on #18486
I am not using conda.

On Wed, 9 Feb 2022 at 20:58, Karthik Nadig ***@***.***> wrote:

[2022-02-09 21:27] karthiknadig commented on #18486
@dalemyers Can you share logs from Output > Python tab? Try running the debugger before you share the logs. this way it will capture the command used to launch the debugger.

[2022-02-09 21:44] kimadeline commented on #18482
After digging deeper in the code, we do support `${command:python.interpreterPath}`. However, when using it we make an assumption that there will be a `workspaceFolder` argument with the path to the workspace folder, and use that to determine the correct Python path:

https://github.com/microsoft/vscode-python/blob/33476c49348e19e413f98e21d6f6ade600e81510/src/client/debugger/extension/configuratio

[2022-02-09 22:00] karthiknadig commented on #18493
If you need to you can revert to an older version of the extension using the gear icon next to the extension in the extensions view
![image](https://user-images.githubusercontent.com/3840081/153297345-b1cc76d8-c493-4f04-9e7f-50779734c73b.png)

[2022-02-09 22:08] tbenthompson commented on #18493
Are you sure about this? When I run the exact same command as vscode in a terminal, the command runs just fine. That leads me to believe this is some kind of error in the extension's shell environment setup.

[code]

[2022-02-09 22:29] karthiknadig commented on #18493
Is there a difference between the environment variables in the VS Code terminal VS the external terminal?  What happens if you activate the environment in a terminal and then run the above command? The reason I believe this is a `conda` issue is because we don't compute the environment path for named environments. I believe that something in going on with `run` when it is run from an already activ

[2022-02-09 22:59] wkerzendorf commented on #18407
I will work on this in the next days as I just migrated laptops and need to finish a proposal 😄

[2022-02-09 23:43] karthiknadig commented on #18494
Can you run this command manually from a terminal outside VS Code prompt and share the output?
[code]

[2022-02-09 23:47] agbaum commented on #18494
sorry I just realized I grabbed the python output for my local directory where things work. This is the correct one:

    Experiment 'pythonaacf' is active
    Experiment 'pythonTensorboardExperiment' is active
    Experiment 'PythonPyTorchProfiler' is active
    Experiment 'pythonDeprecatePythonPath' is active

    cwd: .
    [ERROR 2022-1-9 15:44:30.665]: [Error: Command failed: poetry env list

[2022-02-09 23:50] karthiknadig commented on #18494
Can you run this from a terminal outside vscode and share what you get?
[code]

[2022-02-09 23:53] agbaum commented on #18494
❯ conda run -p ~/conda_envs/fhs-pipeline-scalars --no-capture-output --live-stream python /mnt/share/homes/agtree/.vscode-server/extensions/ms-python.python-2022.0.1814523869/pythonFiles/get_output_via_markers.py /mnt/share/homes/agtree/.vscode-server/extensions/ms-python.python-2022.0.1814523869/pythonFiles/testing_tools/run_adapter.py discover pytest -- --rootdir . -s --cache-clear tests

    [{

[2022-02-09 23:57] agbaum commented on #18494
oh turns out its a symlink issue like https://github.com/microsoft/vscode/issues/5970
Changing the path by which I opened the workspace solved the issue

[2022-02-10 00:21] karthiknadig commented on #18494
Thanks for letting us know.

[2022-02-10 00:21] #18494 closed

[2022-02-10 00:49] sradhakrishna opened #18495 "Debugger hangs when debugging pytest tests on gevent based code"
Issue Type: <b>Bug</b>

Issue: Debugger hangs when debugging pytest tests on gevent based code

Steps to reproduce:

1.  Clone repo from https://github.com/sradhakrishna/test-nameko
2.  Open workspace, set Automatic tasks on Folder Open task
3.  Relaunch workspace; should setup a virtualenv .venv in the root folder. (Refer to .setupworkspace.sh for details)
4.  Open test_serviceb.py, set a breakpo

[2022-02-10 00:51] tbenthompson commented on #18493
Thanks for thinking about this!

Here, I'm running the exact test discovery command first from the internal VSCode terminal, both with the base environment activated and then with the relevant environment activated. And then, in the second block, I run both commands again from an external terminal (mac, kitty, zsh). In both situations, the commands run without error. Whereas when run from the pyte

[2022-02-10 00:55] tbenthompson commented on #18493
Ok, this is solved for me. The only thing I changed is that I cleared the `python.condaPath` setting. And the error went away. But that setting was absolutely correct and I don't have any other conda installations on my system, so I'm still confused. But, I'm now happy and confused. Based on the upvotes and other comments, I would prefer not to close the issue since it's clear others are also seei

[2022-02-10 01:03] karthiknadig commented on #18495
in your launch json do you use `gevent = true`? see here https://github.com/microsoft/debugpy/issues/515#issuecomment-754546587

[2022-02-10 01:05] karthiknadig commented on #18493
@tbenthompson can you share what you had for `python.condaPath`? Does it have any unicode characters in the path?

[2022-02-10 01:22] tbenthompson commented on #18493
I had `python.condaPath` as `/Users/tbent/.mambaforge/bin/conda`. There aren't any unicode characters.

Also, this is hilarious. I tried setting `python.condaPath` again to the above path in order to see if I could reproduce the error. I can reproduce the error. But, now when I clear the setting again, it does not resolve. So, I'm back to where I started with a screwed up pytest + vscode integrati

[2022-02-10 01:32] karthiknadig commented on #18493
@tbenthompson Can you tell me what you have for this setting?
![image](https://user-images.githubusercontent.com/3840081/153319835-969545f9-747d-4ab7-84ae-be3f76c07032.png)

[2022-02-10 02:12] tbenthompson commented on #18493
It is unchecked. If I check it doesn't change any of the previously discussed behavior.

[2022-02-10 03:02] sradhakrishna commented on #18495
I am trying to launch debug test from the Test panel. How do I set gevent =
true for that "debug test" configuration? Can you please help with
instructions for this?

--
Regards,
Radha

On Wed, Feb 9, 2022 at 7:03 PM Karthik Nadig ***@***.***>
wrote:

[2022-02-10 03:10] karthiknadig commented on #18495
@sradhakrishna Add a configuration like this:
[code]

[2022-02-10 03:12] iamfraggle opened #18496 "testing.iconSkipped theme color not used"
# Behaviour
## Expected vs. Actual

Expect skip icon in test explorer sidebar panel to be controlled by theme setting 'testing.iconSkipped'

## Steps to reproduce:

1. Create a unittest.py test suite
2. Preface a test with @unittest.skip("")
3. Run tests from Test Explorer view

PS - also, the theme system in vscode is not well documented in general and it is unclear when I should expect to see th

[2022-02-10 03:28] sradhakrishna commented on #18495
Added configuration here: https://github.com/sradhakrishna/test-nameko/blob/0259b45b4b269fafbb7de699d293ee446bfaae2c/workspace.code-workspace#L20.

Is this right? I am still not able to debug code - the debugger is still hanging.

For whatever its worth, here's the output of pip freeze:

$ pip freeze
amqp==2.6.1
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
dnspyt

[2022-02-10 03:32] karthiknadig commented on #18495
That won't work, we don't pick up the debug configuration from the settings. you have to add it to the launch.json file.

We have an issue open to load the config for tests from settings.

[2022-02-10 03:35] cswartzvi commented on #18493
This might not be directly related, but I am able to trigger the same error as @tbenthompson in the pytest test discovery if both the following conditions are met:
* the conda package is installed in a local environment (I realize this isn't recommended, but I was testing a conda CLI plugin)
* vscode is launched from *outside* the local environment

Steps to reproduce:
1. Create a new environment

[2022-02-10 03:39] sradhakrishna commented on #18495
I've moved launch configurations to launch.json - and am able to debug now! Thanks a lot, @karthiknadig !

Will follow progress on #17644.

[2022-02-10 03:39] sradhakrishna commented on #18495
Am closing this issue as resolved. Thanks again!

[2022-02-10 03:39] #18495 closed

[2022-02-10 03:40] tbenthompson commented on #18493
@cswartzvi Thanks for the super useful info and explanation. I just checked and you are absolutely right that I have the conda package installed in all the environments that are causing the issue. Uninstalling conda from an env solves the issues. Now that I think about the symptoms it seems obvious that this is the problem!

While this is probably user error, it seems like a type of user error tha

[2022-02-10 03:43] karthiknadig commented on #18493
@cswartzvi @tbenthompson Thanks for the investigation and patience. We will discuss this internally and update on this.

[2022-02-10 04:40] mikeashi opened #18497 "Test runner terminate child process"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

While running a test (pytest) that opens a child process the child process gets killed.

## Steps to reproduce:

the following code snippet will lunch chrome, if you try to download any file the process will be killed.
ps: the test runs fine from the console and the process will not be terminated.

[code]

# Diagnostic data

-   Python ve

[2022-02-10 06:27] karrtikr commented on #18490
Great, please check the wiki https://github.com/microsoft/vscode-python/wiki/AB-Experiments#tldr to understand when `python.defaultInterpreterPath` is used, closing this.

[2022-02-10 06:27] #18490 closed

[2022-02-10 08:05] j0k2r commented on #18459
Hi @karrtikr, the new extension solves the problem, thanks for your help.

[2022-02-10 08:53] dalemyers commented on #18486
This is the only line:

[code]

However, that showed me what the issue is. It's running the pyenv installation rather than the one in the projects virtual environment. I'm not sure why it changed. It's definitely not something I did manually, but switching back to the Python version in the virtual environment solves this issue.

[2022-02-10 08:53] #18486 closed

[2022-02-10 09:35] batisteo opened #18498 "Enhancement: Better detection of pip-requirement files"
The definition in [`package.json`](https://github.com/microsoft/vscode-python/blob/b38ea75/package.json#L1570-L1590) of `pip-requirements` could be improved and simplified in `filenamePatterns`.

At the moment, it does not recognize out of the box the following files, which are quite common in Django projects (before the _Poetry_ era though):

[code]

[2022-02-10 10:59] somiandras opened #18499 "Wrong interpreter is chosen when running Format Cell in Jupyter Notebook in a mulltiroot workspace"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

This is likely related to https://github.com/microsoft/vscode-python/issues/18482, but not an exact duplicate.

### Expected

When in a Jupyter Notebook, selecting Format Cell (either in context menu or via keyboard shortcut) the selected formatter (black in my case) runs from the Python interpreter path I selected for the kernel (which i

[2022-02-10 13:56] WizzyGeek commented on #18039
Seems to be broken on 1.64.1 and 1.65.0 insider build for me, issue also isn't reproducible 😔

[2022-02-10 14:52] ghuname commented on #18292
In pycharm even position of the debug window is better. It is on the bottom with more width. In vscode we are stuck.
Also in pycharm you will be not bother with functions, just local/global variables.
In vscode, there is also a problem with showing dataframes.
You can open it in window that you cannot maximize iz order to take the full screen which is very convenient when you have a lot of rows/co

[2022-02-10 14:54] Raphael-Hao opened #18500 "Formatter does not work if root conda environment in pyenv is selected"
Issue Type: <b>Bug</b>

# The formatter does not work
## Expected vs. Actual
In my case, the formatter does not work, even if I upgrade conda to 4.11 and the extension to 2022.0.1814523869. If I downgrade the Python extension to v2021.12.1559732655, it works.
To be specific, I am using a miniconda python installed by pyenv.
When directly executing the formatting command in the terminal, which is p

[2022-02-10 15:54] neuf-de-pixel opened #18501 "Rename symbol (F2) does not work"
# Behaviour
## Expected vs. Actual

Expected : using F2 does allow to rename variable names
Actual : using F2 to rename variable names does not rename anything

## Steps to reproduce:

1. declare a variable in a script
2. click on the variable name
3. use 'F2' key to rename
4. rename the variable
5. press enter
6. the variable name has NOT changed AT ALL

Python extension v2022.0.1814523869
Python

[2022-02-10 17:08] karthiknadig commented on #18500
@Raphael-Hao As a workaround you can try setting `python.formatting.blackPath`.

@karrtikr Looks like we need to mark the root conda in pyenv as base. With pyenv there can be multiple conda installs, and the base environment is the root environment for that distro version. In the above case that is what is happening, we are trying to run a base environment like a named environment. so with pyenv c

[2022-02-10 18:01] karthiknadig commented on #18498
I see that you already have a PR. But we really want to see what the community says on this. The reason we want to wait is if this is not a common pattern or if it can mark files that users did not intend to be marked as pip-requirements file.

We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this

[2022-02-10 20:04] kimadeline commented on #18452
This has been reported before (https://github.com/microsoft/vscode-python/issues/17283), sadly the OP on that issue never replied.

In any case, it sounds like there's something in the `kivy.graphics` package that gets executed whenever completions are triggered, maybe something in the __init__.py or __main__.py?

[2022-02-10 20:08] rbtyod opened #18503 "Using wrong Python despite select-interp cmd"
Issue Type: <b>Bug</b>

With both Anaconda and a standard Python dist installed, when I try to select the Anaconda interperter, vs code insists on using the standard Python - despite showing that the Anaconda interp has been selected.

Extension version: 2022.0.1814523869
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10

[2022-02-10 20:10] #18198 closed

[2022-02-10 21:57] #18389 closed

[2022-02-10 22:05] kimadeline commented on #18497
Hi @mikeashi, thank you for reaching out.

What is the content of the `Python` and `Python Test Log` output channels when you run this test? What is the error code when the process is terminated?

[2022-02-10 22:24] brettcannon commented on #18498
I'm going to skip the voting period based on the fact Twitter implicitly voted enough for this. 😄

[2022-02-10 23:01] kimadeline commented on #18496
Hi @iamfraggle,

Thank you for your feedback!

The Python extension doesn't control the test explorer UI, it's all managed upstream in VS Code, so I will transfer your issue there.

Note: I could reproduce the issue using the [playwright-java](https://github.com/microsoft/playwright-java) repo and the Test Runner for Java extension (vscjava.vscode-java-test).

[2022-02-10 23:36] wkerzendorf commented on #18407
[code]

@kimadeline it doesn't like it for the run_adapter script

[2022-02-11 00:00] brettcannon commented on #17122
After talking it over with the team we are going to close this in favour of https://github.com/microsoft/vscode-python/issues/11039 . We have plans to look into things like terminal profiles for environment-activated Python terminals and that is where the ability to have different profiles for different environment could come into play.

[2022-02-11 00:00] #17122 closed

[2022-02-11 00:05] angelhdzmultimedia opened #18504 "[BUG?] VSCode Intellisense Fails To Complete Python's PyQt API Properties"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

https://github.com/microsoft/vscode/issues/142682

## Steps to reproduce:

1. XXX

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.2
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Global
-   Value of the `python.languageServer` setting: Default

<details>

<summary>User

[2022-02-11 01:17] wkerzendorf commented on #18407
seems to be a known problem : https://github.com/microsoft/vscode-python/issues/11736

[2022-02-11 06:18] karthiknadig commented on #18503
@rbtyod Please share logs from Output > Python.

[2022-02-11 06:36] cristep35 opened #18507 "Myself"

[2022-02-11 06:54] adiun opened #18508 "Python formatting very slow in Dev Container"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected:
- Fast to save a file with 'formatOnSave' set to true inside a dev container

Actual:
- takes ~6 seconds to sort imports and then format code
- **Note**: that it seems to be fast outside of a dev container
- **Note**: This seems to have regressed with build `2022.01786462952`. The build before it, `2021.12.1559732655` does not h

[2022-02-11 06:59] karthiknadig commented on #17989
Sorry for the delayed response on this. some this got missed.

I looks at the diagnostic object that we generate. we have not changed how we do this for over three years. The output from `mypy` looks like this:
[code]
The diagnostic object for this case looks like this:
[code]
In the older version of VS Code this used to put the squiggle under the whole word. Transferring this to VS Code for furth

[2022-02-11 07:24] karthiknadig commented on #18508
@adiun does it help if you set the formatter path and isort path?

[2022-02-11 07:25] karthiknadig commented on #18507
Looks like this one was created in error.

[2022-02-11 07:25] #18507 closed

[2022-02-11 14:13] adiun commented on #18508
@karthiknadig that fixes it, Thanks! I added this to `devcontainer.json` (depends on `which black` and `which sort`)

[code]

[2022-02-11 16:38] kieferrm opened #18509 "Restart Pylance without reload prompt once it is detected"
This shows the experience when creating a sample python dev container: https://cln.sh/KBwsUa (wait to the end of the recording...)

That I need to reload the window is not what I'd expect from a sample dev container (or in general). Since the Python extension activates on the existence of `requirements.txt` (see [here](https://github.dev/microsoft/vscode-python/blob/14c0a7f53a5e803cc64a4e6cabc7e17

[2022-02-11 16:45] kieferrm commented on #18509
There is an additional issue here: If the container build process runs a bit longer after the extensions load and the user has pushed the progress notification into the background, the container configuration process from the user's point of view seems to hang forever

<img width="285" alt="image" src="https://user-images.githubusercontent.com/4674940/153632389-2b8bdb6c-764a-4c56-adb1-8600b13b5f28

[2022-02-11 17:30] kieferrm opened #18510 "Inherit environment in a dev container"
1) open https://github.com/Chuxel/notebooks-test in a dev container
2) open the notebook file
-> you get the following notification

<img width="789" alt="image" src="https://user-images.githubusercontent.com/4674940/153635131-523b0a61-3bd4-4ff2-b20d-4f534521f4a5.png">

`terminal.integrated.inheritEnv` is a user scoped setting, so the dev container cannot override it but we do control the path var

[2022-02-11 17:33] brettcannon commented on #18510
I wonder if our transition to `conda run` helps negate our historical issue with the environment inheritance setting overall?

[2022-02-11 18:21] brettcannon opened #18511 "Make sure we are not using `--live-stream` with `conda run`"
Turns out to be redundant: https://github.com/conda/conda/issues/11209 .

[2022-02-11 18:46] karthiknadig commented on #18261
We have a prototype for flake8 behind LSP that adds ability to control severity by error code. Instructions to get it and use it are here: https://github.com/PyCQA/flake8/issues/1467#issuecomment-1035885270

Please leave your feedback on this here: https://github.com/microsoft/vscode-python/issues/17235

[2022-02-11 18:46] karthiknadig commented on #17235
We have a prototype for flake8 behind LSP that adds ability to control severity by error code. Instructions to get it and use it are here: https://github.com/PyCQA/flake8/issues/1467#issuecomment-1035885270

[2022-02-11 18:58] Niccolum commented on #18261
@karthiknadig I'll check in a few days. It worked together with python extension? Can I add flake8 plugin to LSP flake8?

[2022-02-11 19:04] karthiknadig commented on #18261
the flake8 extension can work with the python extension. By default, it uses `flake8` that you have installed in your environment, if that `flake8` has plugins it should work. If you don't have `flake8` installed, it will use the bundled `flake8`. You can also use a path to a `flake8` binary if you prefer to use a global flake8.

You may want to disable linting with python extension, or you will s

[2022-02-11 19:40] rbtyod commented on #18503
I have learned more about this problem.
1. If I start VS Code from either the Anaconda.Navigator's VS Code icon or
from an Anaconda command line prompt, everything works as expected.
2. If I start VS Code from either the Taskbar icon or an ordinary Win11
command line prompt, the Anaconda interpreter is found but it cannot find
the Anaconda Python libraries.
I seem to remember that in the past, how

[2022-02-11 21:06] karthiknadig commented on #18208
@DetachHead We now a prototype for linting using pylint over Language server protocol. Please try out the prototype and provide feedback. Instructions here https://github.com/PyCQA/pylint/issues/5796#issue-1133069729

[2022-02-11 21:11] karthiknadig commented on #6761
We now a prototype for linting using pylint over Language server protocol. Please try out the prototype and provide feedback. Instructions here https://github.com/PyCQA/pylint/issues/5796#issue-1133069729 . Let me know if this helps with your issue.

[2022-02-12 13:29] pstjohn commented on #18431
I'm running into issues that might be related to the conda run problems. This is on a mac with mambaforge's anaconda; conda version 4.11.

I created the python environment with the following yaml file (`conda env create -f environment.yml`)
[code]

Running `pytest .` from the vscode terminal runs fine, but the pytest discovery suite gives this odd error message:

[code]

I have no idea why it's pu

[2022-02-12 17:27] ThanatosDi opened #18512 "Python Extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

The language server is functioning normally

## Steps to reproduce:

1. Install Python and Pylance
2. After save file extension host terminated unexpectedly.
3. disable all extensions except Python and Pylance, problem still happened.
4. It hasn't happened since disabling Python and Pylance extensions

![image](https://user-images.githubu

[2022-02-12 19:01] Niccolum commented on #18261
@karthiknadig

### 1 case:

- Install flake8 extension.
- Create file with with suggested content

#### Expected:
    F401, E302, E305 error, W292 warning
#### Actual:
    same
#### Status:
    OK

----

### case 2:

- Create file with with suggested content
- add next settings:
[code]
#### Expected:
    W292 error
#### Actual:
    F401, E302, E305 W292 error
#### Status:
    Default settings over

[2022-02-12 19:15] karthiknadig commented on #18261
@Niccolum You can see the logic for severity in the `linter_server.py`, (in the extensions folder). The way it works now is that if you set:
[code]
Then it does not know about `F`, `E`, or other types of codes. The severity setting literally replaces the look up. If it cannot find anything it uses `Error`.

[code]
Here code can take values like (F401, E302, E305), codeType can take values like (F,

[2022-02-12 19:21] Niccolum commented on #18261
Main logic with default "error" - is great. Why this doesn't work with T001?

And what about, if I ignore main letter, but use some of them in config. For example
[code]

If we use next logic with default letters - we must duplicate flake8 config in vscode flake8Severity. I think it's a problem.

[2022-02-12 23:05] mrtolkien opened #18525 "Status bar doesn't appear on WSL remote"
<h3> Environment data </h3>

-   Language Server version: 2022.2.1
-   OS and version: linux x64
-   Python version (and distribution if applicable, e.g. Anaconda):
-   python.analysis.indexing: null
-   python.analysis.typeCheckingMode: off

<h3> Expected behaviour </h3>

The status bar appears

<h3> Actual behaviour </h3>

No status bar

<h3> Logs </h3>

Python Language Server Log
[code]

<h3> C

[2022-02-14 01:42] NhatHo opened #18515 "Extension Host keep crashing"
Issue Type: <b>Bug</b>

It seems to crash every 2nd save, it crashed the whole extension host which caused other extensions to crash as well.
I did extension bisecting multiple times, it all narrowed down to the Python host. After disabling it, VSCode extension host doesn't crash anymore.

Extension version: 2022.0.1814523869
VS Code version: Code 1.64.2 (Universal) (f80445acd5a3dadef24aa209168452

[2022-02-14 06:01] ksaito1125 opened #18517 "Freezes when calling patch from the debugger."
The code below runs correctly in pytest.
When I run the same code from VS Code's decoder, it doesn't return from the patch call.

[code]

The execution result of pytest is good as follows.

[code]

The execution result of VS Code is as follows.

![image](https://user-images.githubusercontent.com/9954362/153808522-93d8ec73-311a-48e1-99a7-a5b36d2a3b86.png)

[2022-02-14 06:05] wkerzendorf commented on #11736
@karthiknadig any movement on this issue. It cropped up in regards with another issue as well

[2022-02-14 06:30] jdavchev opened #18518 "Extract Method command not available"
Extract Method command not available. Using latests visual studio code and latest python extension on macOS M1.

VS Code version: Code 1.64.0
OS version: Darwin arm64 21.3.0
Restricted Mode: No

Repro steps:
1. Brand new macbook m1.
2. installed vscode m1 build.
3. installed python extension (full list reported originally with the issue).
4. Read the whole vscode manual. When tried "Extract method

[2022-02-14 08:57] Harry-Hopkinson commented on #18518
Was their ever an extract method command - can not seem to find it when searching the entire codebase and the package.json

[2022-02-14 09:56] Harry-Hopkinson commented on #18518
@jdavchev I have just started working on this functionality - you can expect it to be done soon. Check this PR #18514 for updates.

[2022-02-14 10:33] Harry-Hopkinson commented on #18518
![1](https://user-images.githubusercontent.com/63599884/153847615-ae636f55-f4f9-4daa-a9b8-a07fee446301.PNG)
![2](https://user-images.githubusercontent.com/63599884/153847623-970b24e6-5808-41c6-9428-b2daca1ee409.PNG)
![3](https://user-images.githubusercontent.com/63599884/153847632-d2c19495-a381-49de-945b-4b46b7ab6451.PNG)

[2022-02-14 10:33] crankedguy opened #18519 "Insane CPU usage under linux with python ext, with pylance even worse"
Hello,

I recently realized really insane CPU usage under Linux (Fedora) with python extension enabled.
When I enable pylance it is even worse.
If I disable both extensions I can have several Code windows open and my CPU load is 0.8 - 1.5% (24 core Threadripper)
If I enable python extension I have one process with more or less permanent 100% core load, if I enable Pylance on top of it there are 2

[2022-02-14 10:33] Harry-Hopkinson commented on #18518
Implemented the new feature

[2022-02-14 10:45] BlueGlassBlock commented on #18292
It would be nice if I can sections like `class variables` and `function variables` can be removed.

Instead, place dynamically created functions and classes in the data frame please.

Because sometimes I really need to inspect lots of dynamic functions and classes.

[2022-02-14 10:58] OmeGak commented on #18207
I'm also experiencing this issue. Would it be possible to re-open this issue @brettcannon?

The `python.DefaultInterpreterPath` defined in the global and workspace settings are completely ignored in multi-root workspaces. It only works unless it's defined in the `.vscode/settings.json` files.

@kimadeline wrote:

Interpreter selection seems to work fine in non-multiroot workspaces. It works incons

[2022-02-14 11:17] karrtikr commented on #18511
Because https://github.com/conda/conda/issues/11209 is yet to triaged, we should probably wait on this.

[2022-02-14 11:49] chrissype commented on #18250
I ended up getting distracted with work there for a bit, but for future reference if anyone is in a similar predicament, I got it to 'work' by navigating to the correct directory on the remote, activating all the tools that give context, and dumping the resulting environment configuration to a file: `env > .env`. Then there's a helpful setting to point VSCode to an environment variable definition

[2022-02-14 11:53] chrissype commented on #18250
@kimadeline I'd expect to get a 'minimal' repro you'd need to install nix and direnv and setup a poetry-managed python subproject. If that's something you haven't done before I think it might be a bit too involved for me to describe in a github comment.

[2022-02-14 16:09] Harry-Hopkinson commented on #18518
I have sorted it to work for one line of code - now working on multiple lines and indention loops.

[2022-02-14 17:15] Harry-Hopkinson commented on #18518
I have now supported multiple lines and indentation - sorry if it took a while.

[2022-02-14 18:06] karthiknadig commented on #18518
The extract method, and extract variable are supported via the light bulb:
![image](https://user-images.githubusercontent.com/3840081/153919895-e162397a-7ed0-43bd-825c-17f046fb1300.png)

Previously, we had them as commands because we used `rope` library to od the refactoring. We have since deprecated `rope` and replaced it with language servers that support refactoring via language server protocol

[2022-02-14 18:29] karthiknadig commented on #18503
The reason you see a difference is because we now use `conda run` to execute things with conda. You care correct, we have filed bugs on conda since `conda run` doesn't work as expected in all scenarios.

[2022-02-14 18:32] MrAwesomeRocks opened #18521 "Add formatter for `ssort`"
A new Python formatter, [`ssort`](https://github.com/bwhmather/ssort), has recently be released. The special thing about this one is that is reorganizes source code, not just whitespace/line length/etc. Would it be possible to add this as a formatter, along with `black`, AutoPEP8, and YAPF?

*Note:* From the README, `ssort` has to run before `black` or `isort`.

---

Thank you very much!

[2022-02-14 18:32] #18508 closed

[2022-02-14 18:33] karthiknadig commented on #18509
/cc @judej

[2022-02-14 18:58] karthiknadig commented on #18512
@ThanatosDi Can you try disabling just pylance and see if python extension be itself crashes?

[2022-02-14 18:59] fabioz commented on #18292
As a note, this is already configurable in your `launch.json` (see: https://github.com/microsoft/debugpy/issues/481)

[2022-02-14 19:03] fabioz commented on #18292
@ghuname that's not entirely true, you can drag your variables elsewhere:

![image](https://user-images.githubusercontent.com/117621/153929198-fa458456-e46e-4bfa-bd5d-1fbb8605104a.png)

[2022-02-14 19:04] rbtyod commented on #18503
Ok, thanks for the reply.
...Bob

On Mon, Feb 14, 2022 at 10:30 AM Karthik Nadig ***@***.***>
wrote:

[2022-02-14 19:11] karthiknadig commented on #11736
We are in the process of re-writing the testing adapter #17242 . It is actively being worked on in the current milestone.

[2022-02-14 19:28] karrtikr commented on #18503
@rbtyod Still, please provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-14 19:42] ghuname commented on #18292
@fabioz I didn't know that. You are right. It is much better if variables are near terminal region. Sorry for wrong statement.

[2022-02-14 19:44] ghuname commented on #18292
How you comment this picture?

![image](https://user-images.githubusercontent.com/15207713/153935005-284b475b-d9f8-4940-8f33-d4fcecc27371.png)

[2022-02-14 19:46] ghuname commented on #18292
@fabioz How do you comment this picture?

![image](https://user-images.githubusercontent.com/15207713/153935382-68a82100-b545-44e0-986b-3e9f19e27da6.png)

[2022-02-14 19:54] rbtyod commented on #18503
I hope that this is what you want. Here are both the program and the log.
...Bob

import matplotlib.pyplot as plt
import numpy as np
import sys, datetime

print("\nHello World")
print(sys.executable, "\n", sys.version, "\n", datetime.datetime.now())

# Create a list of evenly-spaced numbers over the range
x = np.linspace(0, 20, 100)
plt.plot(x, np.sin(x))       # Plot the sine of each x point
plt.

[2022-02-14 21:28] rgimenes26 commented on #18292
RStudio python IDLE dataframe viewer. Just type:
`view(df)`  in the terminal

![image](https://user-images.githubusercontent.com/77639064/153949174-7f8e77db-fc50-4a21-ac43-7e8b4fbbb973.png)

[2022-02-14 22:45] wkerzendorf commented on #11736
@karthiknadig - as a fellow open-sourcer - happy to play guinea pig 😉  - thanks for your work

[2022-02-15 07:03] #18518 closed

[2022-02-15 07:11] jdavchev commented on #18518
Thanks! That did the trick, it needs some getting used to as it doesn't always show up - you need to select specific part of the line/string in order for the bulb to appear. Help much appreciated.

[2022-02-15 10:13] BlueGlassBlock commented on #18292
That worked for me as I configured it to `inline`, thanks! It's not presented in the auto suggestion so I missed it.

Well, I actually want the ability to search through the data frame, or something like `MyVarsOnly` **button** to display vars, functions and classes only from "my code".

[2022-02-15 15:05] WizzyGeek commented on #18039
fixed it for me, it was an internal assertion error in mypy, which caused the linting output to go empty somehow.

[2022-02-15 15:18] alkatar21 opened #18523 "Conda env with python 3.10 is not working properly"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

I have a conda environemnt with python 3.10.0 which is set with `"python.defaultInterpreterPath":"<path-to-conda>/envs/<env>/python.exe"`.
The status bar shows the correct env name, but 3.9.7 is given as the version.
Furthermore pylance does not recognize 3rd party packages installed in the env.

At runtime there are no problems though.
F

[2022-02-15 16:14] karthiknadig commented on #18523
@alkatar21 This is due to conda issue see here for workarounds: https://github.com/conda/conda/issues/11072

[2022-02-15 16:14] #18523 closed

[2022-02-15 18:03] #18515 closed

[2022-02-15 18:32] dmarx commented on #4300
workaround I'm currently using that I haven't seen discussed: instead of invoking `pytest` on the terminal, invoke `python -m pytest` to ensure that we're using the python binary of the activated environment.

[2022-02-15 19:20] karthiknadig commented on #18521
@MrAwesomeRocks We have plans of separating tooling like formatting and linting into their own extension. See #18469 . As a part of this work, we plan on providing an extension template that tool authors can use to build VS Code extensions for their tools. We just posted about a prototype for this on `black` see here https://github.com/psf/black/issues/2883, and `autopep8` here https://github.com/

[2022-02-15 19:20] #18521 closed

[2022-02-15 20:38] ghuname commented on #18292
@BlueGlassBlock can you please provide the launch.json with "inline" that prevents showing class and function variables.
At least we should be able to have kind of toggle for that.

[2022-02-15 21:14] karthiknadig commented on #18525
@mrtolkien Looks like you are in an experiment where the python interpreter info in is now moved into the editor language part on the status bar:
![image](https://user-images.githubusercontent.com/3840081/154150022-d334b950-77b4-4c46-b0a7-178af4c39ef7.png)

You can click on the `{ }` for more information.

[2022-02-15 21:14] #18525 closed

[2022-02-15 22:17] mikeashi commented on #18497
@kimadeline  any updates?

[2022-02-16 01:29] Guy-Markman opened #18526 "Pylama doesn't appear in problems"
Issue Type: <b>Bug</b>

# Behaviour
When trying to lint with Pylama, it doesn't appear in problems
## Expected vs. Actual
When linting with Pylama, it should copy the content to problems, but it doesn't. The problems does appear in OUTPUT -> Python.

## Steps to reproduce:

1. Create a non perfect code acording to Pylama
2. Save to run the linting

# Diagnostic data

-   Python version (& distribu

[2022-02-16 02:01] afarntrog opened #18527 "context block does not collapse correctly"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

The contents under a context block is not collapsed as expected.
Before Collapse:
<img width="764" alt="Screen Shot 2022-02-15 at 8 57 05 PM" src="https://user-images.githubusercontent.com/47332252/154181776-b9fda98f-b32d-4f0f-8b7c-f4ded47629db.png">

After Collapse:
<img width="764" alt="Screen Shot 2022-02-15 at 8 47 53 PM" src="https:/

[2022-02-16 02:22] DetachHead commented on #18208
@karthiknadig that extension seems to have the same issue. when attempting to add `python.pylintSeverity` to `settings.json`, "information" isn't included in the default value:
[code]

if i add it, it doesn't seem to have any effect:
![image](https://user-images.githubusercontent.com/57028336/154184073-114ad0ba-0a8d-409e-b950-37a0f41be912.png)

![image](https://user-images.githubusercontent.com/57

[2022-02-16 02:53] karthiknadig commented on #18208
The type name is `info`, that is what we get back from `pylint`:
[code]
It seems to work for me:
![image](https://user-images.githubusercontent.com/3840081/154187267-2f08ea95-c32b-4f91-8fd0-c63eff3320a6.png)

[2022-02-16 07:58] DetachHead commented on #18208
that works, thanks! :)

i would suggest updating the default value to include the "info" key
![image](https://user-images.githubusercontent.com/57028336/154220763-334d73b2-536f-41e6-8214-765bfec52d36.png)
![image](https://user-images.githubusercontent.com/57028336/154220810-5a4542df-6d69-4d30-a19f-6b481894f395.png)

[2022-02-16 08:26] ssbarnea opened #18528 "flake8 fails to load extend-ignore from .flake8 config"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Flake8 run by vscode must behave the same way as flake8 run from the command line.

## Steps to reproduce:

1. Create a .flake8 config file

[code]

Note that `extend-ignore` adds more ignores to its own default `ignore` list without overriding it. See https://flake8.pycqa.org/en/latest/user/violations.html#extending-the-default-ignore-li

[2022-02-16 08:29] BlueGlassBlock commented on #18292
Well, what I want to do is **show** all the class and function variables, not hiding them. Because I mainly use it when I need to tweak dynamically created classes and functions, etc. And `inline` did that pretty well.

[2022-02-16 08:33] ssbarnea commented on #18528
I think I found the culprit as below but I am still not sure if that is a bug or expected behavior. Maybe it would be a good idea to update the documentation of such option and say that will override file configuration and not extend it.

![](https://sbarnea.com/ss/Screen-Shot-2022-02-16-08-31-23.08.png)

[2022-02-16 09:36] lexi-int commented on #18039
For me mypy errors don't show up in Problems view inside a Dev container (while other linting errors, e.g. flake, do). Mypy shows errors if run from terminal in the same container. They also show up in Problems view if I open the same file outside of the container. Mypy is enabled in devcontainer.json: "python.linting.mypyEnabled": true is among the settings.
Is this the same problem?

Version: 1.

[2022-02-16 09:42] baregawi commented on #7042
Does the vscode team hear about these bug reports? It's a bit odd to just let this things linger for several years. I would think Microsoft has a decent amount of engineering capacity.

[2022-02-16 10:29] jaklan commented on #7042
@baregawi well, when you look at contributors stats you will see there's only 9 people with more than 100 commits and half of them were not even active recently. We can try to mention @brettcannon or @karrtikr as it's still really annoying and prevent sharing a proper VSCode config with colleagues.

[2022-02-16 10:57] thomascrocker opened #18530 "Python debugger won't launch for conda-like envs not returned via `conda env list` command"
Issue Type: <b>Bug</b>

When using the debugger. Nothing happens other than the debug overlay appearing briefly for a second or so.
Same symptoms as this issue
https://github.com/microsoft/vscode-python/issues/7927
This happens with python extension version 2022.0.01814523869
It does not happen with previous version 2021.12.1559732655

## Expected vs. Actual Behaviour

Expect: degugging session to

[2022-02-16 11:36] alkatar21 commented on #18508
Will this be solved in the next release? This is currently very annoying.

[2022-02-16 12:33] batisteo commented on #18498
Did they? :laughing: Do you have the tweet link close-by?

[2022-02-16 12:34] baregawi commented on #7042
Wow, I feel bad. A few warriors are maintaining vscode. I thought there would be much more resources behind it. I really like it. Is there any way I can help with some contributions?

[2022-02-16 13:00] ssbarnea commented on #16308
While I use pylint in many projects and I still want to see the problems in vscode, the reality is that the current binary implementation proves to be a big PITA.

I contribute 100+ open-source python projects and only some of them use pylint. Seeing pylint errors on a project not using pylint adds a lot of noise and hinders development.

We need a default that would use pylint if there is a confi

[2022-02-16 15:53] karthiknadig commented on #18508
@alkatar21 This is not an issue with the extension. The perf issues are due `conda run` itself being slow. That said if you want to tryout the prototype, we have you can find it here https://github.com/psf/black/issues/2883, https://github.com/hhatto/autopep8/issues/624

[2022-02-16 15:59] karthiknadig commented on #18530
@thomascrocker This actually looks like #18530, Can you try what is mentioned in the instructions here and share what you get?
https://github.com/microsoft/vscode-python/issues/18436#issuecomment-1030280077

If you are using conda make sure it is not this issue from conda https://github.com/conda/conda/issues/11072

[2022-02-16 16:07] karthiknadig commented on #18528
@ssbarnea We don't really control the overriding the config behavior. If you have added the flake8Args, we just pass it along to the linter. It is entirely up to the linter to handle that. You should be able to see that in the `Output` > `Python` logs.

We are planning on moving `flake8` and other linters into their own extension, we have a prototype for that see here https://github.com/PyCQA/flak

[2022-02-16 16:23] thomascrocker commented on #18530
I am actually using an environment implemented via the "module load" interface. I use in VSCode by simply pasting the path to the interpreter in the bin/ folder of this environment.

I tried the command in #18436 and get this:
[code]
It looks like there is a problem with the python extension when starting up, I have installed the latest version of the python extension again, and get this in the py

[2022-02-16 16:31] karthiknadig commented on #18530
@thomascrocker when you use this command you have to put in the environment that you are using, i the command i use `apitest1` which is an environment on my machine. From the logs it looks like you are using an environment called `current`.
[code]
The logs seem normal, it is testing out what it can find out about the environments.
Try the above command. Also, cna oyu share your launch.json and set

[2022-02-16 16:40] karthiknadig opened #18532 "Replacing home dir with ~ sometimes leads to invalid path"
See here the logs here for example: https://github.com/microsoft/vscode-python/issues/18530#issuecomment-1041842556

This is the actual location: `/net/home/h02/username/.vscode`
The home dir is `/home/h02/username`
This is the replaced code: `/net~/.vscode`

In this scenario it should probably be `/net/~/.vscode`

[2022-02-16 16:44] Harry-Hopkinson commented on #16840
I can do this.

[2022-02-16 16:46] thomascrocker commented on #18530
Ah OK, I see..

`current` is the name of the module load environment I am using, it's not a conda environment. However I do have conda installed also.
[code]
This is with the latest version of the extension installed.
My launch.json
[code]

And settings.json
[code]

[2022-02-16 16:51] thomascrocker commented on #18530
Here you go, the command appears to have hung, or at the very least it's not returned yet:

[code]

[2022-02-16 16:57] karthiknadig commented on #18530
@thomascrocker Looking at the python path you are using `/opt/scitools/environments/default/current/bin/python` that seems to look like a conda environment. From the python logs, it seems like `conda run -n current` seems to be running fine, which indicated it is a conda environment.

try running this command to see if it is listed by conda:
[code]

That command will not return. The fact you are s

[2022-02-16 17:11] thomascrocker commented on #18530
I wonder if this is getting to the root of the problem. The "current" environment, is a software environment provided centrally via our IT teams and activated using "module load <environment>" functionality.

Running conda locally only works I think with environments that are part of my conda install under my username..
So..
[code]
(See that current is not listed here)
If you need more info on thi

[2022-02-16 17:15] jaklan commented on #7042
@baregawi
1.  Not VSCode, just the Python extension.
2. Everything is in main README.md:
https://github.com/microsoft/vscode-python#questions-issues-feature-requests-and-contributions

[2022-02-16 17:52] karthiknadig commented on #18530
@thomascrocker Looks like the fact that we are identifying `/opt/scitools/environments/default/current/bin/python` as conda might be the problem.

There are two possible workarounds:
[Option 1] Use older version of the extension. You can switch versions from the extensions view. Click on the gear icon, and select `Install another version`, then select a version from 2021.12.* series.
[Option 2] Cr

[2022-02-16 18:01] karthiknadig commented on #18526
This should be addressed by this PR https://github.com/microsoft/vscode-python/pull/18339 . We will likely accept that PR before next release, which is planned for Mar 2 2022 (https://github.com/microsoft/vscode-python/issues/18491)

[2022-02-16 18:01] #18526 closed

[2022-02-16 18:17] karthiknadig commented on #18530
@thomascrocker Thanks for details. I think what is tripping the extension up is the `conda-meta` directory in the `/opt/scitools/environments/default/current`. Do you have info on how this environment was created?

[2022-02-16 18:24] thomascrocker commented on #18530
I think conda is used to create these environments, but I'm afraid I don't know the details. One of our developers should hopefully be able to fill in the blanks tomorrow.

[2022-02-16 19:00] brettcannon commented on #18498
@batisteo  https://twitter.com/brettsky/status/1491863712721866753

[2022-02-16 19:18] brettcannon commented on #7042
Yes we do. Actually the entire team sees **every** bug report (we triage as a team in our stand-up).

Not when you have [262 bugs](https://github.com/microsoft/vscode-python/issues?q=is%3Aissue+is%3Aopen+label%3Abug) to deal with on top of large amounts of technical debt to clear out. And this is the 8th [most requested bug to fix](https://github.com/microsoft/vscode-python/issues?q=is%3Aissue+is%

[2022-02-16 19:20] #18498 closed

[2022-02-16 20:40] changeling commented on #18030
I'm having this same (or similar) issue, though my tests are not in a subdirectory.

Clicking on `Run Tests` in the test panel yields `Test result not found for: ./tests/[test_name].py::test_no_argument`.

Here's the twist, though: Clicking on `Rerun Failed Tests` after the fail yields a complete, successful run.

Subsequent to that, clicking on `Run Tests` fails again. So I can successfully run m

[2022-02-16 22:51] karthiknadig opened #18534 "community for feedback on the extension template"
- [ ] Feedback from community on formatting templates
- [ ] Feedback from community on linting templates

[2022-02-16 23:12] nickjmiller opened #18536 "Go-to definition on function parameters provide a self-referential link"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When I hover over a function parameter and press F12 it highlights itself. This is normally not an issue but I am writing an extension that provides goto definition support for pytest fixtures and this causes this definition to compete with my own, so when you press F12 the self-referential definition shows up first.

e.g.

## Steps to re

[2022-02-16 23:44] luabud commented on #16308
@karthiknadig has a a prototype for linting using pylint over Language Server Protocol. The idea is that we would deprecate the `python.linting.enabled` setting, and linting would be enabled/disabled by enabling/disabling linting extensions. If you want to try out the prototype for pylint, we'd love to hear your feedback. Instructions here: https://github.com/PyCQA/pylint/issues/5796#issue-1133069

[2022-02-17 00:50] landonboyd commented on #14136
I have also encountered this issue.  I have a number of exclusions specified in my isort configuration using `skip_glob` and `filter_files`.  If isort knew what file it was working on (e.g. via the `--filename` option), it would be able to honour that configuration the same way it does when I run it from the command line.

[2022-02-17 14:27] lilithabaddon opened #18539 "Error in python extension when launching from terminal"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When I launch Vscode from my console (cmder/powershell) with the command `code .` (Inside a python project folder). I have an error in the Python output :

[code]

It seems it add caracters to the folder path (console color caracters ???).

When this error occurs, VSCode use a lot of CPU and PyLance is very slow.

No problem if I open VSC

[2022-02-17 18:14] karrtikr commented on #18539
This is likely a dup of https://github.com/microsoft/vscode-python/issues/18459, please try https://github.com/microsoft/vscode-python/issues/18459#issuecomment-1033970630 and see if it helps.

[2022-02-17 19:47] lilithabaddon commented on #18539
I can't download the artifact : Failed to generate URL to download
artifact.

Le jeu. 17 févr. 2022 à 19:14, Kartik Raj ***@***.***> a
écrit :

[2022-02-17 21:13] BogdanChipara opened #18540 "VSC searching for wrong filename after running and saving"
Issue Type: <b>Bug</b>

Very easy to observe this in the following video screen recording:
[https://1drv.ms/u/s!AsxC0UfAYDJ8g8I2jnt1ibTcHRNaFg?e=sKZeos](https://1drv.ms/u/s!AsxC0UfAYDJ8g8I2jnt1ibTcHRNaFg?e=sKZeos)

files.defaultLanguage : python

1. new file
2. cerate a simple test :
[code]
3.Run Python file:
Untitled-1': [Errno 2] No such file or directory
(VSC is looking for the wrong filename t

[2022-02-17 23:28] lilithabaddon commented on #18539
But effectively, it seems to have a link with poetry too. I've the problem only on folders where I use poetry, if I've a simple venv without poetry, no problem

[2022-02-18 03:32] jaklan commented on #17235
@karthiknadig @brettcannon I see the new extension has exactly the same problem as the current built-in implementation - `python.flake8Path` doesn't accept the name of the executable to run (`FileNotFoundError: [Errno 2] No such file or directory: 'flake8'`), so you can't just specify e.g. `flake8` - you need to specify the full path instead of just allowing `PATH` to do the job.

What's the actua

[2022-02-18 06:27] Euruson opened #18541 "The extension can not be activated because of the wrong path of python2.7"
Issue Type: <b>Bug</b>

## Expected vs. Actual

v2022.0.1814523869 could not be activated normally on my Macbook M1 Max, while v2021.12.1559732655 works fine. It can be seen from logs that v2022.0.1814523869 uses `/usr/lib/python2.7` rather than `/usr/bin/python2.7`.

The error information obtained from logs:
[code]

## Steps to reproduce:

1. Install the version of v2022.0.1814523869 on macOS 12.

[2022-02-18 12:11] karrtikr commented on #18479
It turns out we cannot use `conda run` for installing modules. Reason is:
- We already activate the conda environment before we send the installation command.
- `conda run` then kind of double activates the environment, so the module isn't installed where it's expected.
- When we run, for eg. a linter using `conda run`, it cannot find the module.

Seems like another bug on conda.

[2022-02-18 12:24] #18479 closed

[2022-02-18 12:27] karrtikr commented on #18541
Does the extension fail to activate? That error should not be preventing extension activation, please provide the full logs.

[2022-02-18 13:05] BlueGlassBlock opened #18544 "unresponsive extension host"
Issue Type: <b>Performance Issue</b>

# Behaviour
## Expected vs. Actual

XXX

## Steps to reproduce:

1. XXX

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.6
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Poetry
-   Value of the `python.languageServer` setting: Pylance

<details>

<summary>User Settings</summary>

<p>

[code]

[2022-02-18 13:05] #18544 closed, assigned to nobody

[2022-02-18 13:06] karrtikr commented on #18539
Try using the `Python: Switch to default channel` command. We have https://github.com/microsoft/vscode-python/issues/18144 coming soon so you wouldn't have this hassle in the future.

[2022-02-18 13:19] #18539 closed

[2022-02-18 13:24] karrtikr commented on #18539
Happy coding!

[2022-02-18 17:21] JulianOrteil opened #18545 "``pip install -e .`` ModuleNotFoundError"
Issue Type: <b>Bug</b>

# Behaviour
Running a debug environment through VSCode results in the above error for the package I'm working on as it is installed through ``pip install -e .``
The command succeeds and I am able to run the package via the terminal--just not a debug session.

I'm using a Docker container for development and have a conda environment setup in the container. I've already tried

[2022-02-18 17:37] JulianOrteil commented on #18545
Nvm, I forgot to set the interpreter. I am dumb. My bad.

[2022-02-18 17:37] #18545 closed

[2022-02-18 18:14] karthiknadig commented on #18530
@jamesp Thanks for the details. Can you tell us how you create that environment?

@karrtikr in the `conda` detection code, I had added a logic that if the env dir has `conda-meta` then we treat it as a potential conda environment. I don't think we can entirely remove that. I think we need to add the ability to say skip `conda-run`.

[2022-02-18 22:40] karthiknadig commented on #17235
@jaklan We have not manually added any restriction to `python.flake8Path`. We pass whatever is set in `python.flake8Path` to `subprocess.run`. There might be some bug in the prototype where it is not doing the right thing. The point of the prototype was to demo flake8 over LSP and how the integration will look like. That build is not a final product that we will be shipping.

[2022-02-18 22:41] #17235 closed

[2022-02-18 22:50] jaklan commented on #17235
@karthiknadig the problem is it's not passed to `subprocess.run`. When you specify the path as `flake8` / `pflake8` and look at logs, you will see the command doesn't include `-p flake8 (p)flake8` but still `-m flake8`. When we look at the old linter script, we can see `invoke = sys.argv[1]` line - it should be `-p` in that case, but it's still `-m`. It looks like the setting is completely ignored

[2022-02-18 23:07] karthiknadig commented on #17235
You can see the entire source code in the extension directory. It should be under `~/.vscode/extensions/python-flake8<version>/bundled/linter/linter_server.py`. No there is no VS Code logic that does anything here. When the linter server is launched all the settings are sent, as is, to `linter_server.py`. There is likely a bug in `linter_server.py` where it is not constructing the `args` as needed

[2022-02-18 23:19] jaklan commented on #17235
@karthiknadig I understand the goal, but in the flake8 repository you just mentioned this thread as a place to share feedback about the PoC, so I thought it's worth to mention this problem as it's also related to the new extension, but ofc I can create a separate issue for that, whatever you prefer 😉

Yes, I was reading the code of both old and new linter implementation, but I'm just still missing

[2022-02-18 23:41] karthiknadig commented on #17235
I am confused, which logs are you talking about? Output > Python logs or output > flake8 logs? I just tested with `"python.flake8Path": ["flake8"]` and it seems to work well for me:
![image](https://user-images.githubusercontent.com/3840081/154774862-4a4801b5-a081-4a5f-8ab6-287eeb81da30.png)

![image](https://user-images.githubusercontent.com/3840081/154774903-96b28553-2050-4684-8ff8-4f4c1d432c8f.

[2022-02-19 01:15] karthiknadig commented on #18468
We built a prototype to test formatting using per cell messages. This is one issue that came out of the experiment:
https://github.com/microsoft/vscode/issues/143435

[2022-02-19 01:15] #18468 closed

[2022-02-19 01:20] karthiknadig commented on #18467
We were able to implement the full notebook sync mode. There are a few items that we need to think about when it comes to analyzing notebooks as a whole.

When analyzing the notebook using a merged document means that the static analysis tool could find problems that only exist in the merged document but not in the parts. The other thing is the parts may not be analyzable on their own. But those p

[2022-02-19 01:20] #18467 closed

[2022-02-19 02:09] karthiknadig commented on #18532
It might be better to use `$HOME` on non-windows and `%USERPROFILE%` on windows. But we need to research that this works in various scenarios.
![image](https://user-images.githubusercontent.com/3840081/154782027-c851ba6d-5203-4034-9dca-d5509654d8c1.png)

The priority on this is low. Since this is a pretty rare scenario.

[2022-02-19 06:26] Cnoor0171 opened #18547 "Stderr output causes test discovery to show as failed"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual
This is duplicate of https://github.com/microsoft/vscode-python/issues/7095, but that issue was closed because the author didn't provide steps to reproduce. The bug is still there.

Expected: the extension to be able to detect tests when pytest test discovery succeeds, even if there is output on stderr.

Actual: If there is leftover output

[2022-02-19 06:31] karrtikr commented on #18532
@karthiknadig That's what we use tho:
https://github.com/microsoft/vscode-python/blob/c1a8d94c6b8caa658aa99109111a3ee3551c8fe0/src/client/common/utils/platform.ts#L59-L69

[2022-02-19 08:16] yiciu opened #18559 "show class hierarchy or method override like pycharm"

[2022-02-19 12:37] ManPython opened #18571 "VSC not changing the Python version in terminal"
Before creating a new issue, please check the [FAQ](https://github.com/microsoft/debugpy/wiki/FAQ) to see if your question is answered there.

## Environment data

- debugpy version: 1.4.3
- OS and version: W10
- Python version (& distribution if applicable, e.g. Anaconda):  Python 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)] on win32
- Using VS Code or Visual Stu

[2022-02-19 14:32] geajack opened #18548 "Support ReadMemory request in Debug Adapter"
I'm not sure if this is the correct place to report this issue, but I'm trying to develop a debugger extension for VS Code that would include the ability to inspect numpy arrays in python code. Existing extensions that do what I'm trying to do just send an `evaluate` request to the Debug Adapter to get it to save the array to a file, and then inspect that. I was hoping it would be possible to do i

[2022-02-19 20:14] KTibow opened #18551 "Show description for annotations"
Right now, if you [have an annotation on a variable](https://stackoverflow.com/a/8820636/12243248), eg:
[code]
You only see the typing, not the description.
![Example of the description not showing](https://user-images.githubusercontent.com/10727862/154817493-18b81b6e-cd2b-4dc7-a989-0195ba6e2cd6.png)
I couldn't find any already existing feature requests in a quick search.

[2022-02-19 23:19] amks1 opened #18552 "Used variables greyed out as if unused"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Unused variables are greyed out and used variables are white colored in my theme. However, after a while of using VSCode, all used variables get greyed out.

Reloading VSCode is the only way to revert back to the expected behaviour.

## Steps to reproduce:

This happens sporadically but often, and it happens suddenly after I've been codin

[2022-02-20 19:58] karthiknadig commented on #18551
@KTibow what do you have for `python.languageServer` setting?

[2022-02-20 20:05] KTibow commented on #18551
![image](https://user-images.githubusercontent.com/10727862/154862059-5dc131cd-1a03-41ae-8fb4-c3daa54b1c89.png)
It's using "Default". I am getting linting suggestions with Pylance as the source.

[2022-02-20 20:31] sisoe24 opened #18553 "Button "Clear Notification" for showErrorDialog shows the error anyway"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When having a linter error, the Output window and the error are shown regardless if I click View Error or Clear Notification, whereas I would expect the error not to be shown if I dismiss the notification.

## Steps to reproduce:

1. Having a linter error trigger the `showErrorDialog` popup dialog, and dismiss it by pressing the cross (X)

[2022-02-21 00:50] andrew-weisman opened #18554 "Outline pane: No symbols found in document 'XXXX.py'"
Issue Type: <b>Bug</b>

In a fully up-to-date version of VS Code in a fully up-to-date version of Windows 11, the Outline part of the Explorer panel says "No symbols found in document 'XXXX.py' in a Python module (also in a simple test file containing two functions), whether on the native system or "remotely" in WSL2. The Outline is populated in a Jupyter notebook, at least the Markdown cells. In

[2022-02-21 01:55] karthiknadig commented on #18554
@andrew-weisman What do you have for `python.languageServer` setting?

[2022-02-21 06:40] andrew-weisman commented on #18554
It was Default, which seemed to keep resorting to None. Switching to Pylance fixed everything. Thank you very much Karthik!!

[2022-02-21 06:40] #18554 closed

[2022-02-21 09:40] jepperaskdk commented on #12997
Is it documented somewhere how to pass arguments when running tests? And can it be configured both for Running and Debugging tests?

[2022-02-21 10:20] jamesp commented on #18530
@karthiknadig it was created using [conda-rpms](https://github.com/SciTools-incubator/conda-rpms) which is a conda environment packaging utility. What specific information/files do you need in place to make the debugger workflow operate? We have recently migrated off this tooling, but there are a number of other tools that do similar things - e.g. [conda-pack](https://github.com/conda/conda-pack)

[2022-02-21 22:29] millnerryan commented on #18436
I had the same issue, and had nothing to do with the extension version, only with my Conda version. I upgraded conda from 4.10 to 4.11, and even with the latest version of VS Code Python (v2022.0.1814523869), it now works.

[2022-02-21 23:48] karthiknadig commented on #12997
@jepperaskdk `"python.testing.unittestArgs": []` should send the arguments to the `unittest` runner in both with and without debugging scenario. Is there something else you are looking for?
https://code.visualstudio.com/docs/python/testing#_unittest-configuration-settings

[2022-02-22 00:33] DavidMChan opened #18555 "Support S3-based log directories with built-in tensorboard"
Tensorboard already supports S3 as a backend for a log directory, however VSCode's tensorboard extension forces the logdir selected to be local. It would be nice if the plugin also supported remote log directories, so I don't have to launch tensorboard from the command line, and can instead just use the builtin vscode launcher.

[2022-02-22 02:47] tonybaloney opened #18556 "Pylint refactoring messages aren't highlighted like warnings or errors"
Any Pylint messages which start with `R`, meaning refactoring, aren't highlighting the whole node, only the first column index letter:

<img width="741" alt="screenshot 2022-02-22 at 13 42 43" src="https://user-images.githubusercontent.com/1532417/155053523-608b5d37-b8e6-403c-997e-8ccdbeab6515.png">

[code]

Looking at the code for this, it doesn't seem that Convention or Refactoring messages, ind

[2022-02-22 03:27] ThanatosDi commented on #18512
@karthiknadig I disable pylance then extension host terminated unexpectedly still happened
how can I capture which process that is taking too much memory

[2022-02-22 03:28] karthiknadig commented on #18556
@tonybaloney Not highlighting the whole line might be due to https://github.com/microsoft/vscode/issues/142810 . If you have pylint = 2.12.2 it might work better (since they added end ranges in that version). The categorization is controlled by these settings `"python.linting.pylintCategorySeverity.refactor"` (default Hint) and `"python.linting.pylintCategorySeverity.convention"` (default Informat

[2022-02-22 03:31] karthiknadig commented on #18512
@ThanatosDi Can you share the Output > Python logs? That might give clue on what is happening.

[2022-02-22 03:49] ThanatosDi commented on #18512
Python log
[code]

[2022-02-22 03:55] karthiknadig commented on #18512
@ThanatosDi Can you try disabling testing? `"python.testing.unittestEnabled": false,` and see if it continues to crash. I am suspecting something is wrong with how tests are being collected. Is it possible for you to share your project?

[2022-02-22 04:05] ThanatosDi commented on #18512
Oh yeah, you are right.
After disable `python.testing.unittestEnabled` the extension don't crash.

[2022-02-22 08:28] jepperaskdk commented on #12997
I was wondering if I could configure arguments for both running and debugging, individually. E.g. our integration tests can run non-headless with a browser which is useful when debugging a test that is failing.

Also, is this issue valid? Is `launch.json` considered at all, when running/debugging tests?

[2022-02-22 09:05] Laufron opened #18557 "Black formatter : src error"
Issue Type: <b>Bug</b>

my settings are the following :
"python.formatting.provider": "black",
"python.formatting.blackPath": "C:/SafApp/Python/Python3.10-64/Scripts/black.exe",
"python.formatting.blackArgs": [
        "--preview"
],
"[python]": {
        "editor.defaultFormatter": null
},
"editor.formatOnSave": true,

black works perfectly when used by command line, but the command launched by th

[2022-02-22 11:06] karrtikr commented on #18532
Currently we simply replace all occurrences of `/home/h02/username` with `~`.  ([code](https://github.com/microsoft/vscode-python/blob/fe0cc3c008deccdcc6a40f583aad928173b0470f/src/client/common/process/logger.ts#L52)). An acceptable solution could be to approximately identify such scenarios and do the replacing:
- Split original string into substrings using space.
- For each substring, identify if

[2022-02-22 11:12] karrtikr commented on #18530
I think the easier solution would be to just not identify these as conda environments instead of this. Is there a quick way to check that, other than the fact that `conda env list` does not return it?

[2022-02-22 11:34] karrtikr commented on #18511
Unassigned myself as I'm not currently working on it.

[2022-02-22 11:49] karrtikr commented on #18435
Can you also include that? Meanwhile I'll attempt to reproduce this behavior.

[2022-02-22 12:04] karrtikr commented on #18509
With the current way the dependency injection is set up, it's not very trivial but adding the ability to deactivate Jedi (default language server) should solve this.

The additional issue does not seem to be related to the extension cc/ @karthiknadig

[2022-02-22 12:14] karrtikr commented on #18510
`conda run` in combination of https://github.com/microsoft/vscode-python/issues/11039 should solve this. Check https://github.com/microsoft/vscode-python/issues/5764 to verify whether `conda run` helps.

[2022-02-22 13:37] karrtikr commented on #18503
Re-commenting your response with markdown, kindly ignore.

[code]
[code]

[2022-02-22 13:54] karrtikr commented on #18503
Yeah so it seems like this expected, we hope to fix this problem with `conda run` and https://github.com/microsoft/vscode-python/issues/11039.

[2022-02-22 13:54] #18503 closed

[2022-02-22 16:45] amunozj opened #18558 "Error "activating IntelliCode support for Python""
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

No error when opening VScode vs. Seeing the notification Error activating IntelliCode support for Python

## Steps to reproduce:

1. Every time I start VScode I see it.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Cond

[2022-02-22 16:45] amunozj opened #18574 "Error "activating IntelliCode support for Python" Revisited"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

No error when opening VScode vs. Seeing the notification Error activating IntelliCode support for Python.

## Steps to reproduce:

1. Every time I start VScode, I see this error.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7
-   Type of virtual environment used (e.g. conda, venv, virtualenv, e

[2022-02-22 16:49] brettcannon commented on #17235
@jaklan all of our work will end up being open source, so if you want an extension for `pflake8` it should be very straightforward for you to create.

[2022-02-22 17:35] #18540 closed

[2022-02-22 18:12] karrtikr commented on #18530
@jamesp Can you provide the logs again? I'm interested in how we find such environments. Try setting `python.logging.level` to `info` in User settings, reload, and please provide the logs as mentioned in the issue template.

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>O

[2022-02-22 18:13] wubdub commented on #18200
Any update here @karrtikr ?

[2022-02-22 18:14] karrtikr commented on #18200
Sorry I haven't gotten a chance to properly look at it yet. I'll try today.

[2022-02-22 18:34] kimadeline commented on #18207
Hi @OmeGak,

Please provide repro steps, and ideally, a test repo I could use to try and replicate the issue on my end.

Support for `${workspaceFolder}` was added in https://github.com/microsoft/vscode-python/issues/18351. Does VS Code support `${workspaceFolder:indico-un}` system variables?

[2022-02-22 18:35] kimadeline commented on #18497
Hi @mikeashi,

I was away for a bit. I will take a look at your issue and get back to you as soon as I can.

[2022-02-22 18:45] kr-hansen commented on #16852
Will note that in the meantime, this same problem can be solved by pinning `pytest-describe==2.0.0` in the environment for testing.  For some reason VSCode only breaks with `pytest-describe==2.0.1`

[2022-02-22 18:50] karthiknadig commented on #12997
@jepperaskdk when it comes to testing using the testing UI, the launch.json support there is minimal. It can be used to send some additional flags to the debugger itself. But the args or other details vary test-to-test and even test-case-to-test-case. Configuring those for different scenarios is not supported if you depend on the test UI.

But if you want to setup your project to run tests entirel

[2022-02-22 18:51] luabud commented on #18559
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-02-22 19:33] karthiknadig commented on #18553
Thanks for investigating the issue.

[2022-02-22 19:36] karthiknadig commented on #18557
@Laufron This occurs because we try to figure out the formatting changes on a file, using a temp file. If the temp file creation failed for some reason, then you run into this error.

We have been working on creating black formatter extension that will handle this differently. This issue will be addressed by that extension when it gets released. If you want to try it out, you can find it here. htt

[2022-02-22 19:37] karthiknadig commented on #18557
Should be addressed by #17918

[2022-02-22 19:37] #18557 closed

[2022-02-22 20:32] karthiknadig opened #18560 "Should create a wiki page about how to update Node, TS, etc. so we don't forget these sorts of details."
Should create a wiki page about how to update Node, TS, etc. so we don't forget these sorts of details.

_Originally posted by @brettcannon in https://github.com/microsoft/vscode-python/pull/18546#discussion_r812282474_

[2022-02-22 22:15] kimadeline commented on #18219
@kceiw could you share your workspace file? The output looks a bit suspicious (switching from forward to backward slashes). Does it happen if you specify a different environment (that you know is working) in the `python.defaultInterpreterPath` setting?

[2022-02-22 22:19] cperezabo commented on #17206
the community seems to have been showing interest for years, I've found this old issue with the same request. #12075

[2022-02-22 22:28] kimadeline commented on #18250
Thank you for posting your workaround! Since this seems to be somewhat of a specific issue, I will mark it as closed for now. If we get more reports we can reopen it and take a look at it again.

[2022-02-22 22:28] #18250 closed

[2022-02-23 00:12] kimadeline commented on #18547
Hi @Cnoor0171, thank you for reaching out.

As you experienced, right now we read test output from stdout/stderr, and this is very brittle. We are updating this mechanism as part of https://github.com/microsoft/vscode-python/issues/6594 and https://github.com/microsoft/vscode-python/issues/17242.

Secondly, the `throwOnStdErr` option is currently set to `true` when running test discovery, which we

[2022-02-23 00:25] hcoohb opened #18561 "Black formatting is not applied (but black runs)"
Issue Type: <b>Bug</b>

# Behaviour
When formatting a *.py file with black, no changes are applied.
I can see in the log black being run without error but **no changes are applied to my file**.
Output of python after formatting:
[code]

when I run that same command in terminal, I can see the output of black which seems correct:
[code]

I am using the following settings:
[code]
(black is installed

[2022-02-23 00:31] roxberry commented on #18541
Same error here.  Would that prevent the Status Bar extension from being available?  I no longer can change the interpreter from the IDE.  Unsure if there are other side effects.

Experiment 'pythonInterpreterInfoUnpinned' is active

Python interpreter path: /usr/bin/python3
[ERROR 2022-1-22 19:14:4.308]: [Error: Command failed: /usr/lib/python2.7 /Users/mroxberry/.vscode/extensions/ms-python.pyth

[2022-02-23 00:42] luabud commented on #18376
To verify, set `"python.createNewFileEnabled": true` in the user settings. Then open the VS Code start page (`Help: Get Started`) and and click "New File":

![image](https://user-images.githubusercontent.com/45497113/155243931-cfc4c690-6a59-4a5d-9bbc-38d3636be6a3.png)

This is behind a setting to be run as an experiment ([motivation](https://github.com/microsoft/vscode-python/pull/18522/files#r812

[2022-02-23 00:51] cdce8p opened #18562 "Pytest test discovery failing when `pytestArgs` contains filepaths"
Issue Type: <b>Bug</b>

At the moment, files are filtered from `pytestArgs` before test discovery is run. This is unexpected for a user and could lead to issues:

1. **Not all tests will be found**
Given a file tree and `pytestArgs`
[code]
[code]
`tests/helpers/test_c.py` would be filtered and only tests inside of `tests/dir` would be discovered.

2. **pytest discovery failing completely**
In larg

[2022-02-23 01:09] yq574485585 opened #18567 "Cannot Select Python Interpreter"
Issue Type: <b>Bug</b>

1. Every time enter vscode, "Python is not installed" is remainded at the right bottom but actually Python is well-installed.
2. Cannot select any python interpreter. When click the"Select Python Interpreter" button, no env will be found. It doesn't work even I added a path to my anaconda env's interpreter.

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97c

[2022-02-23 02:32] tobiscode opened #18563 "No module tooltips for non-built-in packages in remote conda environment"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

No tooltips for non-built-in packages when accessing a remote server via SSH and using a conda environment.

- Tooltips for built-ins work
- The file linting, the selected Python intepreter, and debugging, all work, with the correct conda environment
- On a local installation, all tooltips work

Sorry if this ends up being better suited f

[2022-02-23 02:49] tekumara commented on #18435
This is what I see when doing Python: Select Interpreter -> .venv

[code]

[2022-02-23 04:09] frostming commented on #18561
Exactly the same issue here. Only Windows not working.

Also reference: https://stackoverflow.com/questions/65101442/formatter-black-is-not-working-on-my-vscode-but-why

[2022-02-23 06:39] karrtikr commented on #18435
Can you paste the full output please, which involves all the step including creating a venv. Make sure you have verbose logging turned on as suggested above.

[2022-02-23 09:02] lucamarra-bee commented on #18264
It's not enabled by default.

I solved my issue using this setting:
![image (3)](https://user-images.githubusercontent.com/72401985/155288309-e8321ae9-f4d8-4e7a-bd75-e700b24e38d4.png)

[2022-02-23 10:29] thomascrocker commented on #18530
OK, here are `debug` level logs from the `Python` `Output` panel. FYI, the lines after `10:24:29.403` just seemed to repeat every time I clicked away from that window and then back into it.

[code]

[2022-02-23 10:40] #15609 closed

[2022-02-23 11:59] BogdanChipara commented on #18388
Would be nice to have someone looking into this in the near future :)
Pretty clear bug. Thank you!

[2022-02-23 12:01] karrtikr commented on #18388
@BogdanChipara I assume this happens when you attempt to run a python file (using play icon on the top left) Do you also get the prompt to save the file?

[2022-02-23 12:05] karrtikr commented on #18200
Hi @wubdub, please try out the following VSIX: https://github.com/microsoft/vscode-python/suites/5415707587/artifacts/171189400

Here I cache the output of `conda info --json` for the session so it's not run repeatedly for you. Right now it's run for you 35-40 times each taking 3-4 seconds. Let me know how much it helps.

[2022-02-23 14:05] enkhjile opened #18580 "VSCode intergated terminal showing SetuptoolsDeprecationWarning"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.64.2
- OS Version: 12.0.1

After upgrading python version to 3.9.10 VSCode terminal keep showing following warnings. I'm not using python installed with pyenv as default python (not homebrew version).

Steps to Reproduce:

1. Update python3.9.10 with homebrew
2. Lauch vs code

[2022-02-23 16:09] binishkaspar commented on #11736
Until a fix available, you can add these options on `pytest.ini` file,

[code]

https://docs.pytest.org/en/6.2.x/customize.html

[2022-02-23 17:01] karthiknadig commented on #18567
@yq574485585 Can you please share the logs from Output > Python tab?

[2022-02-23 17:39] BogdanChipara commented on #18388
@karrtikr Top right... I usually use top right.
Yes, I get prompted, I save, but the compiler attempts to run the untitled instead of the actual filename.
There's a video in my post, you can check it.
[https://github.com/microsoft/vscode-python/issues/18540](https://github.com/microsoft/vscode-python/issues/18540)

[2022-02-23 18:01] karrtikr commented on #18567
<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2022-02-23 18:03] karthiknadig commented on #18500
@karrtikr `miniconda` is not yet available via `pyenv` install on windows. You will have to do this on WSL.
[code]

That should get you into this scenario.

[2022-02-23 18:07] amunger commented on #18376
It looks like the "create Python file" command through the "help: get started" page still asks for a language selection. Was that supposed to be updated as well?
New file... works as described

[2022-02-23 18:12] karthiknadig commented on #18376
@amunger looks like the build did not publish with that change in due to a network issue. Can you try with this one: https://github.com/microsoft/vscode-python/suites/5410040257/artifacts/170851098

[2022-02-23 18:22] karthiknadig opened #18568 "Type checker errors blocking builds"
[code]

[2022-02-23 18:25] karrtikr commented on #18388
Unfortunately I'm unable to view that video, it says:
![image](https://user-images.githubusercontent.com/13199757/155383209-ef8ac0e3-9e3c-49c4-b082-ea004a55507e.png)

Can you please use `ScreenToGIF` tool to record a gif and upload it here?

[2022-02-23 18:30] BogdanChipara commented on #18388
please download and use VLC player.

[2022-02-23 18:31] IanMatthewHuff commented on #18498
Looks good. All the example files were picked up as pip requirements file for me given the folder structure.

[2022-02-23 18:38] karrtikr commented on #18388
Alright I see it, will let you know if I need any more info.

[2022-02-23 18:41] karrtikr commented on #18500
The issue is here:
https://github.com/microsoft/vscode-python/blob/b929726b8266be9ad7ac359d46f3aad43222fcf5/src/client/pythonEnvironments/base/locators/composite/resolverUtils.ts#L198

Rather than directly assigning the name, we should first be checking if it's base conda installation inside pyenv. (if it exists directly under `.pyenv/versions` folder. If so, we assign the name as `base`.

[2022-02-23 18:47] #18568 closed

[2022-02-23 18:53] brettcannon commented on #17206
Closing as a duplicate of #12075 .

@cperezabo that issue is the [17th most upvoted issue](https://github.com/microsoft/vscode-python/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), 12th if I merge in the upvotes here with the other issue (assuming no duplicate votes). So it's up there, but it doesn't break the top 10. We are also in the process of completely rewriting the test code rig

[2022-02-23 18:53] #17206 closed

[2022-02-23 18:56] luabud commented on #18376
@amunger sorry, what do you mean by language selection?

once you click on "new file" it should show up a list with of possible files you'd like to create. Is this now what you're seeing?

[2022-02-23 18:58] luabud commented on #18376
oh sorry, do you mean the "New Python file" command? if so, when I run it, it creates the file as I'd expect 😢
![image](https://user-images.githubusercontent.com/45497113/155388361-e7d44d95-e17e-4c05-a6de-1336cc89b0f7.png)

[2022-02-23 19:06] IanMatthewHuff commented on #18389
Created all the python launch config types. Just my code is there for all of them. Verified:
<img width="702" alt="image" src="https://user-images.githubusercontent.com/812783/155389729-75eb5664-d24b-470c-b429-7c14c50f5244.png">

[2022-02-23 19:10] cperezabo commented on #17206
@brettcannon if you want to do something as easy as mark some tests as slow and run them once in a while you can't, because you need 2 different runner configurations, one for fast unit tests, and then another that include the slower ones, or running mocked tests most of times and then running them with final implementations that consume services from your docker-compose setup. I think it's quite

[2022-02-23 19:14] amunger commented on #18376
yeah "New File..." works fine. The Help: Getting Started file creation is the one that isn't auto selecting the language:
![image](https://user-images.githubusercontent.com/2019016/155391021-b9bcad6a-c53f-4732-8629-5747cbf5de7a.png)

[2022-02-23 19:16] amunger commented on #18376
Oh, I read through your verification steps too quickly. It doesn't look like this was actually something to verify

[2022-02-23 20:13] BrianLDev commented on #18219
This is also happening to me every time I open up VS Code.  I've tried editing the settings, changing environments, even re-installing python from scratch, but the "No python interpreter is selected" warning message persists.

The problem appears to be caused by this Python VS Code extension and there are no apparent workarounds.

[2022-02-23 20:15] #18376 closed

[2022-02-23 20:41] connor4312 commented on #18479
@karrtikr are there verification steps for this?

[2022-02-23 20:43] kceiw commented on #18219
@kimadeline You can find the workspace file here https://microsoft-my.sharepoint-df.com/:u:/p/mahuang/EaLHg7fDKVNOq7ZuLolxGLkBVvrBe4IQNT_-2iYi3ZhfNA?e=yTNNSm

Please let me know whether you can access to it.

`python.defaultInterpreterPath` doesn't seem to help. It appears to me that once I set the path by any way, I cannot change it.

[2022-02-23 20:45] karrtikr commented on #18479
Thanks for testing:
- Install conda
- Create conda environment: conda create -n python
- Select it as interpreter
- Use play button on the top right of the editor to run the python file
- Make sure 'conda run' is used

If you need more elaboration please let me know.

[2022-02-23 21:05] kimadeline commented on #18219
Hi @BrianLDev,

Please provide more information, such as:
- which version of VS Code and of the Python extension
- which path you're entering
- if you have any other extensions installed
- a sample repo I could use to try and repro this issue locally

@kceiw I don't see the `python.defaultInterpreterPath` setting in your .code-workspace file.

The default interpreter path setting can be changed in

[2022-02-23 21:34] kimadeline commented on #18563
Hi @tobiscode, thank you for reaching out.

Given that the tooltips for built-in packages work, it sounds like there's an issue with Jedi or the Jedi Language Server. I would recommend filing this issue either on the [jedi-language-server](https://github.com/pappasam/jedi-language-server) repo or the [jedi](https://github.com/davidhalter/jedi) one.

Does the issue happen if you use [Pylance](https

[2022-02-23 21:56] rchiodo commented on #18479
Debug python file doesn't use conda run? Does that matter?

[2022-02-23 22:05] tobiscode commented on #18563
Hi,

thanks for checking in. The problem does not appear with Pylance.

I was confused as to whether jedi-language-server or jedi are the correct repo, which is also why I raised this issue here first, hoping to better understand how they're being used by the Python extension. Both claim that VS Code uses them. Since [jedi-language-server](https://github.com/pappasam/jedi-language-server#visual-st

[2022-02-23 22:49] karthiknadig commented on #18563
@tobiscode A while ago we had `Jedi` and `JediLSP`. When you selected `Jedi` we ran jedi as script and provided completions. With Jedi LSP we Jedi ran as a server and the communication between VS Code and Jedi happened over the Language Server Protocol. We recently made it so that `Jedi` and `JediLSP` mean the same thing.

For your case, I think filing it on `jedi` is the right thing. Since all `j

[2022-02-23 23:07] tobiscode commented on #18563
Thanks a lot for both of your help, and explaining the subtleties between the two repos! I've posted the bug in the `jedi` repository.

[2022-02-23 23:07] #18563 closed

[2022-02-23 23:38] wubdub commented on #18200
Thank you, just ran it, seemed to take about 5+ mins to load still

[2022-02-23 23:42] luabud opened #18575 "Update create new file step from Python walkthrough to use the new command"
https://github.com/microsoft/vscode-python/issues/18376#issuecomment-1049124348

[2022-02-23 23:42] luabud commented on #18376
oh that is such a good point, though! I'll create a new issue to use that in the walkthrough: https://github.com/microsoft/vscode-python/issues/18575

Thanks for bringing it up! 😊

[2022-02-24 00:13] atom0s opened #18576 "Python Extension Formatter Stuck / Can't Change"
Issue Type: <b>Bug</b>

1. Install the python extension.
2. Create a new python file.
3. Attempt to code format the file, with no formatter set/installed.
4. VSCode will prompt if you want to install black, autopep8, or yapf
5. Install autopep8 first.

Allow the code to format. Uninstall autopep8 via a terminal window, ie.
[code]

6. Attempt to format code again, VSCode will reprompt for installin

[2022-02-24 00:15] amunozj commented on #18574
Thank you!  I tried but I still got similar errors.

<details>

<summary>VS Intellicode Error Log</summary>

[code]

</details><details>

<summary>Python Error Log</summary>

[code]

</details>

[2022-02-24 00:19] atom0s commented on #18576
As usual, as you file a bug report you fix it on your own... Somehow a .vscode settings override got created while testing the various formatters and defaulted it to 'black' which was causing it to be overridden. Deleting the local .vscode folder/settings fixed the problem.

[2022-02-24 00:19] #18576 closed

[2022-02-24 00:43] luabud commented on #18574
I am now experiencing the same issue :(

We're not sure what could be happening but I filed this on the VS Code repo: https://github.com/microsoft/vscode/issues/143834

[2022-02-24 01:10] matthew-mcallister opened #18577 "Nested workspace folders bugs out test explorer"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Test explorer UI gets corrupted; cannot navigate directory tree as usual nor run tests. Even if this is an uncommon use-case, the UI should still at least work for each directory independently.

<img width="562" alt="Screen Shot 2022-02-23 at 4 27 23 PM" src="https://user-images.githubusercontent.com/6722367/155436116-a183f9fe-6f28-4515-9

[2022-02-24 01:26] hanruihua opened #18578 "The python interpreter disappear in the vscode and can not select"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

XXX

## Steps to reproduce:

1. XXX

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.8
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Conda
-   Value of the `python.languageServer` setting: Default

<details>

<summary>User Settings</summary>

<p>

[code]

</p>
</details

[2022-02-24 01:26] #18578 closed

[2022-02-24 01:33] hanruihua opened #18579 "The python interpreter disappears in vscode and can not select other interpreter"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

The current python interpreter should appear in the left bottom in the vscode. However, it now disappear under current extension version. When I install the older version of the extension, the interpreter displays normal.

## Steps to reproduce:

Install current version of extension.

# Diagnostic data

-   Python version (& distribution

[2022-02-24 02:07] karthiknadig commented on #18579
@hanruihua you should be able to find it here:
![image](https://user-images.githubusercontent.com/3840081/155443715-0c7f424a-93d9-4998-8e0d-e9ad3f9614e9.png)

[2022-02-24 02:17] karthiknadig commented on #18571
![image](https://user-images.githubusercontent.com/3840081/155444530-0710038b-2669-4020-ba2a-0567ff6937bb.png)

I don't think I understand what the issue is. Is it that if you run the debug configuration with python 3.8 env it is still trying to activate python 3.10 env?

[2022-02-24 05:45] karrtikr commented on #18200
Cool, can you please send the verbose logs again? I'll see if there's anything else that can be done.

[2022-02-24 05:49] karrtikr commented on #18479
Cool. @karthiknadig should this happen?

[2022-02-24 05:52] karthiknadig commented on #18479
No that should not happen. we might have a bug.

[2022-02-24 06:27] hcoohb commented on #18561
Some further testing from my end seems to point that somehow it seems vscode-python does not pay well with black installed through pipx on windows, anymore.

A few things I have trialed:
✔black installed in current venv, not setting `blackPath`
✔black installed in current venv, setting `python.formatting.blackPath`
✔black installed in external dedicated venv, setting `python.formatting.blackPath`

[2022-02-24 06:47] hanruihua commented on #18579
Oh I see.  Thanks a lot

[2022-02-24 06:47] #18579 closed

[2022-02-24 07:39] karthiknadig commented on #18561
@hcoohb We have not changed anything in this area in the recently. If you revert to a python extension version older than 2021.12.* does it work?

[2022-02-24 11:52] hcoohb commented on #18561
@karthiknadig Installing python extension 2021.11.* did not change anything indeed, still not working with the pipx install.
Also tried to install black 2021.12b0 through pipx, but without success either.
I am at a loss here

I am sure it was working last month though... Could a Vscode update have any impact?
Is there anyway I can see the actual output from black when it is run by the vscode as fo

[2022-02-24 12:31] ManPython commented on #18571
Coz when ser selecting Python then exist: `Python xxx (Recomended)`, `Python xxx (System)`, `Python xxx (Venv)`
But no control on Recomended, etc. if path is long what is selected but is important ths is main Python env or Python venv.

[2022-02-24 12:45] yq574485585 commented on #18567
Hi Karthik!

Do you mean this ?
用户属于 'pythonaa' 实验组
用户属于 'pythonTensorboardExperiment' 实验组
用户属于 'PythonPyTorchProfiler' 实验组
用户属于 'pythonDeprecatePythonPath' 实验组
用户属于 'pythonInterpreterInfoPinned' 实验组

[ERROR 2022-1-24 20:37:59.183]: [Error: spawn ;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\Windows\SysWOW64 ENOENT
      at Process.ChildProcess._handle.onexit (internal/child_process.

[2022-02-24 14:23] karrtikr commented on #18500
@Raphael-Hao Please try out the following VSIX: https://github.com/microsoft/vscode-python/suites/5421382193/artifacts/171514784 which has the potential fix. Use `Extension: Install from VSIX` command to install the VSIX.

[2022-02-24 14:25] karrtikr commented on #18567
@yq574485585 Yes, can you please also set `python.logging.level` to `debug` in **User** settings, reload, send us the log again? Thanks!

[2022-02-24 14:49] n-raghu opened #18582 "Selected intrepretor not shown on Linux Mint"
Team, I'm having hard time switching between different versions of Python interpreters because I'm unable to see the selected interpreter in blue ribbon/bar which is placed in the bottom of the application.

[2022-02-24 15:44] yq574485585 commented on #18567
Hi, Kartik!

The log is following:

用户属于 'pythonaa' 实验组
用户属于 'pythonTensorboardExperiment' 实验组
用户属于 'PythonPyTorchProfiler' 实验组
用户属于 'pythonDeprecatePythonPath' 实验组
用户属于 'pythonInterpreterInfoPinned' 实验组
[DEBUG 2022-1-24 23:14:46.278]: Cached data exists KeyPrefix=Cache_Method_Output_h.addKeyToStorage-Args="global"-Arg-Separator-"WORKSPACE_FOLDER_INTERPRETER_PATH_D:\\000PHD_WORK\\000PHD LITERATURE

[2022-02-24 16:22] karrtikr commented on #18567
Just formatting your reply as markdown so it's easier to read:

Hi, Kartik!

The log is following:

[code]

Feel free to contact me if you have further needs. Hoping you can help me out!

Thank you,
yq574485585
Qiang
发件人: Kartik ***@***.***>
发送时间: 2022年2月24日 22:25
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [microsoft/vscode-python] Cannot Select Python Interpreter (Issue #18567)

@yq

[2022-02-24 16:32] karthiknadig commented on #18582
@n-raghu you should be able to find it here:
![image](https://user-images.githubusercontent.com/3840081/155443715-0c7f424a-93d9-4998-8e0d-e9ad3f9614e9.png)

Please follow instructions [here](https://aka.ms/pvsc-bug) when creating new issues.

[2022-02-24 16:38] n-raghu commented on #18582
Yeah, I have seen it. But there is no option "Select Interpreter".

[2022-02-24 16:52] Raphael-Hao commented on #18500
@karrtikr In my case, it works now.

[2022-02-24 16:52] karrtikr commented on #18500
Cool, thanks.

[2022-02-24 17:09] #18500 closed

[2022-02-24 17:23] m0123456789abcdef opened #18584 "Django runserver. PYTHONPATH empty."
(base) markdavis@macbook mysite_proj_220224h % python3 manage.py runserver
Traceback (most recent call last):
  File "/Users/md/data/dev/web+css+html+django/mysite_proj_220224h/manage.py", line 11, in main
Traceback (most recent call last):
  File "/Users/md/data/dev/web+css+html+django/mysite_proj_220224h/manage.py", line 11, in main
    from django.core.management import execute_from_command_lin

[2022-02-24 17:23] karthiknadig commented on #18571
Duplicate of #4581 Related #11039

[2022-02-24 17:23] #18571 closed

[2022-02-24 17:27] karrtikr commented on #18332
Make sure https://github.com/microsoft/vscode-python/issues/18572 is taken care of with this issue.

[2022-02-24 19:12] kimadeline opened #18585 "Tech debt: Investigate CI failures with pyright 1.1.224"
Currently pinned pyright to 1.1.223 in our workflows, need to figure out why https://github.com/microsoft/vscode-python/issues/18568 is happening.

[2022-02-24 19:48] karthiknadig commented on #18561
@hcoohb It looks like we are not getting anything in stdout, when we run black.exe installed via `pipx` . Not really sure why this is happening with `pipx`, we are able to get stdout fine in other scenarions.

We are planning on moving formatting into their own extension to make it easier for tools and community to investigate and fix bugs. If you want to try out the prototype, please see instruct

[2022-02-24 19:48] kimadeline commented on #18577
Hi @matthew-mcallister, thank you for reaching out.

This is a limitation of the current test adapter, and should be addressed with our rework of the test infrastructure, tracked in  https://github.com/microsoft/vscode-python/issues/17242.

[2022-02-24 21:26] Malachov opened #18586 "${command:python.interpreterPath} invalid"
Issue Type: <b>Bug</b>

It occurs when using in tasks. Example task...

[code]
In task runner there is path strangly repeated.

[code]

When I change env var just to python, it works, but it does'n not point to venv, but directly to interpreter (I also tried to change it from settings with)
[code]

I commented out all the settings (cannot used  --disable-extensions as need python extension, but I

[2022-02-25 00:14] BrianLDev commented on #18219
Hi @kimadeline .  I'm using VS Code 1.64.2, Python extension v2022.0.1814523869, MacOS Monterey 12.1. (latest releases on all 3)

But I don't believe that should make a difference because the Python extension already knows that I have a default interpreter specified in the settings, but it is ignoring it and giving me a warning instead.
![image](https://user-images.githubusercontent.com/16980550/1

[2022-02-25 01:59] frostming commented on #18561
pipx also sets up a dedicated venv, it is weird why this works but pipx doesn't.

Maybe we can manually set up a venv under pipx's location. I will try if I find a time.

[2022-02-25 06:04] karthiknadig commented on #18584
Thanks for the bug report, but unfortunately, we need some more information from you in order to triage this issue appropriately. Please follow instructions [here](https://aka.ms/pvsc-bug) to create a new bug with all the critical details we need for diagnosis.

[2022-02-25 06:04] #18584 closed

[2022-02-25 06:05] karthiknadig commented on #18582
See here for more information on this: https://github.com/microsoft/vscode-python/issues/18283

[2022-02-25 06:05] #18582 closed

[2022-02-25 06:09] karthiknadig commented on #18580
@enkhjile Since this occurs even after you disable the python extension. This is likely due to start up scripts you may have for your shell init. Pease check `.bashrc` or equivalent for your shell.

[2022-02-25 06:09] #18580 closed

[2022-02-25 07:25] kopytjuk commented on #4300
A friend of my spend several hours on his Windows machine until I pointed out to this thread here, maybe this issue shall be investigated by microsoft devs with a higher priority. At least to avoid people saying Windows is developer unfriendly ... Especially, the conda/vscode combination works on mac/linux.

[2022-02-25 20:41] rothman857 opened #18588 "Python Interpreter selection missing from status bar"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual
Expected: Python interpeter selector should be present, located at the left hand side of the status bar
Actual: Python interpreter selector is missing

## Steps to reproduce:

1. Install latest version of vscode(1.64.2)
2. Install latest Python extension (ms-python.python v2022.0.1814523869)
3. Open a .py file in the editor
4. Interpreter

[2022-02-25 20:43] rothman857 commented on #18588
By installing previous versions of the extension, this issue appears to have present after v2021.12.1559732655.  No other extensions are installed

Current status bar:
![image](https://user-images.githubusercontent.com/11377430/155799996-869259c9-d7b8-4a3e-b882-2dee2341c39d.png)

v2021.12.1559732655 status bar:
![image](https://user-images.githubusercontent.com/11377430/155800093-a1b8ee2e-209c-48b

[2022-02-25 21:20] #18560 closed

[2022-02-25 22:51] likeca commented on #18588
It had been move to the right side, however it only show "{ } Python", It supposed show Python version or virtual environment information.

[2022-02-25 23:11] rothman857 commented on #18588
Oh I see, if you hover over the `{}` in `{} Python` on the right side of the taskbar, you can pin the interpreter selection

![image](https://user-images.githubusercontent.com/11377430/155815063-b3e6e432-d1cd-40fd-b340-66a762c7ec85.png)

becomes

![image](https://user-images.githubusercontent.com/11377430/155815152-3b7848a9-b4d5-469c-a97b-12f1c3883a4a.png)

[2022-02-25 23:11] #18588 closed

[2022-02-26 07:32] jjathusan82 opened #18589 "terminal issue Remainder of file ignored"
Issue Type: <b>Bug</b>

[code]

Remainder of file ignored

Extension version: 2022.0.1814523869
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) CPU  N3050  @ 1.60GHz (2 x 1600)|
|GPU Status|2d_canvas:

[2022-02-26 12:53] ManPython commented on #18571
@karthiknadig where and how to delete the python versions that was added as interpreters? Want to have just one as experiment in this issue
https://github.com/microsoft/debugpy/issues/764#issuecomment-1052115508
![venvs](https://user-images.githubusercontent.com/25403861/155844028-d380c159-a4ed-4fb9-a528-4cb18df13455.png)

[2022-02-26 19:08] karthiknadig commented on #18571
Try running this and reload:
![image](https://user-images.githubusercontent.com/3840081/155856013-f6fa8e80-9b45-48f5-8cde-0272f9296598.png)

[2022-02-26 19:58] jmeachum commented on #6891
Thanks for this. It is a better solution for me, with the benefits that it ports over nicely when used for dev and CI/CD processes.

[2022-02-27 02:40] Scallions commented on #18541
The status bar is unaffected by this issue. It appears to have moved. See in #18283

[2022-02-27 09:47] kongmoumou opened #18590 "conda can not activate in windows git bash"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

### Expected

conda env activate successfully in git bash

### Actual

could not activate

## Steps to reproduce:

1. XXX

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.6.13
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Conda
-   Value of the `python.languageServer` set

[2022-02-27 16:23] jaklan commented on #17235
@brettcannon sure, but if it's only a matter of specifying the name of the executable then there's no sense to create an additional extension doing exactly the same.

@karthiknadig yeah, I was referring to the old extension above, sorry for the confusion. Regarding the new one - I still have some strange issues with `python.flake8Path`:
- I've created a new, clean project
- I've created a new Pyth

[2022-02-27 22:56] likeca commented on #18588
no, vscode is not pick up the interpreter.

[2022-02-28 03:24] karthiknadig commented on #1607
With `isort` extension this will no longer be needed. The import sorting feature is provided in that extension via LSP.
To test it out see here : https://github.com/PyCQA/isort/issues/1904

[2022-02-28 03:53] DonJayamanne opened #18591 "Tensorboard has to reload everytime user changes to another tab"
Original issue transferred to Jupyter repo https://github.com/microsoft/vscode-jupyter/issues/8227.
I've been unable to re-transfer this back to Python repo, hence creating a new issue here.

[2022-02-28 08:42] E5presso opened #18594 "Python Extension cannot load recommendations and quick fix, even syntax highlighting"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

[2022-02-28 17:38:44.586] [renderer1] [error] Cannot read property 'startsWith' of undefined: TypeError: Cannot read property 'startsWith' of undefined
    at g.updateDisplay (/Users/michael/.vscode/extensions/ms-python.python-2022.0.1814523869/out/client/extension.js:85:150856)
    at g.refresh (/Users/michael/.vscode/extensions/ms-pytho

[2022-02-28 11:52] svazzole commented on #18561
Same problem here. I have black 22.1.0 installed in a virtualenv created by poetry. Black formats correctly the files of my project, when I run it from the command line using:

[code]

but if I try to run it from vscode, it will add two options `--quiet --diff` that make black running without modifying the files.

[2022-02-28 14:21] mbikovitsky commented on #18561
I did some investigating, and the **TL;DR** is that this isn't a bug in either VSCode or Black, and technically not even in pipx. Rather, this is a bug in a component of [distlib](https://github.com/pypa/distlib), which is used to create the `black.exe` launcher.

I'll open an issue there in a bit, but I just wanted to share the whole story here, as it's quite beautiful 🥲.

_Note_: I'll be using P

[2022-02-28 14:26] roxberry commented on #18541
Thanks @Scallions.  I confirmed your comment, the status bar selector was moved and works with the current extension.

[2022-02-28 15:30] ralphhipps opened #18595 "false error about python extension not being installed"
Issue Type: <b>Bug</b>

I just launched vs code.

Extension version: 2022.0.1814523869
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5 CPU         661  @ 3.33GHz (4 x 3325)|
|GPU Status|2d_canvas: en

[2022-02-28 15:30] ralphhipps commented on #18595
![VS Code bug 2022-02-28_7-27-59](https://user-images.githubusercontent.com/12204508/156010582-f3d7c02c-05c8-4481-bccd-d8a742754b83.jpg)

screen shot

[2022-02-28 17:07] joyceerhl opened #18596 "Console warning about finalized API proposal `languageStatus`"
1. Switch to Insiders Daily channel of Python extension
2. Activate extension
3. See the following message in devtools

[code]

[2022-02-28 17:14] karthiknadig commented on #18594
@E5presso Can you provide details on the environment? Also, can you run this with the python selected that is causing this error. This occurs because we may not be able to get all the needed info from the python executable. I do agree that it should not crash the extension.
[code]

[2022-02-28 17:17] karthiknadig commented on #18590
Duplicate of #15799

[2022-02-28 17:28] brettcannon commented on #18589
This isn't caused by us; your environment doesn't have `pywin32_bootstrap` installed. You have some `.pth` file that's trying to import that module and that's what's triggering the import error.

[2022-02-28 17:28] #18589 closed

[2022-02-28 17:30] karthiknadig commented on #18595
@ralphhipps This is not about the python extension, it is about python itself. Do you have python installed on your system? If yes, and you are still getting this please share logs from Output> Python.

[2022-02-28 17:34] #18596 closed

[2022-02-28 18:01] karthiknadig commented on #17235
@jaklan If you have a python virtual environment with `flake8` installed then you should not be using `python.flake8path`. The linting server will automatically use the flake8 installed in the environment.

With the prototype extension `python.flake8path` should only be used if you really need do. the prototype extension itself ships with flake8, and it picks up flake8 from selected environments.

[2022-02-28 18:20] jaklan commented on #17235
@karthiknadig okay, so we have a different logic for using `module` and `path`, where the first one tries to find the executable in the current venv and falls back to the shipped one if missing, but the latter doesn't deal with the current venv at all. So it seems to be a deadlock for the `pflake8` scenario, when you would like to go with the `module` flow, just with another executable name 😕

Jus

[2022-02-28 18:26] karthiknadig commented on #17235
In the module scenario we are not activating. we are directly launching `python` executable from the virtual env folder. That python binary often does the work of adding the right site-packages directory to the `sys.path`. So, we really don't need to activate by running the activate script.

There is another way, launch vscode from an activated terminal. Also, note once we create a repository for

[2022-02-28 18:45] jaklan commented on #17235
@karthiknadig sure, waiting for the official release then to re-raise the issue, thanks for all the explanations, looking forward to contribute!

[2022-02-28 18:47] ralphhipps commented on #18595
like this?

PS C:\py\Ogre> python
Python 3.10.2 (tags/v3.10.2:a58ebcc, Jan 17 2022, 14:12:15)
[MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

code runs fine, no issues.

[2022-02-28 19:34] karthiknadig commented on #18595
No. From the Output Tab:
![image](https://user-images.githubusercontent.com/3840081/156046908-c097267b-aeb3-46cd-b7d3-3b5e0fbc55b3.png)

[2022-02-28 20:13] ralphhipps commented on #18595
it's empty, nothing happens there when I run my code.
![output tab empty](https://user-images.githubusercontent.com/12204508/156052027-b81b6a60-a0e4-472a-906f-1488b40802a9.jpg)

[2022-02-28 20:17] karthiknadig commented on #18595
@ralphhipps The Output > Python tab contains extension logs. So it will have recorded what failed. In your screen shot you are looking at the Task tab. Please switch to the Python from the drop down:
![image](https://user-images.githubusercontent.com/3840081/156052504-584becf6-d534-4a26-a2d2-6936c57e1a8d.png)

[2022-02-28 20:34] ralphhipps commented on #18595
I'm new to VS Code, learning new things all the time!    =)

see attached.

![python log](https://user-images.githubusercontent.com/12204508/156054620-7557e8fa-7ecd-4816-87cb-98b50b78c3ec.jpg)

[2022-02-28 20:38] karthiknadig commented on #18595
@ralphhipps No worries. The logs seem to suggest that it has detected and selected the python 3.10 you have. Are you still seeing the prompt that says Python not installed when you close and re-open VS Code?

[2022-02-28 21:08] ralphhipps commented on #18595
no, that prompt went away after I closed and reopened.

not sure what the issue was.

[2022-02-28 21:10] karthiknadig commented on #18595
It had not detected the python on your system.

[2022-02-28 21:10] #18595 closed

[2022-02-28 22:02] #18594 closed

[2022-02-28 22:09] E5presso commented on #18594
@karthiknadig here's what my output.

{"versionInfo": [3, 9, 7, "final", 0], "sysPrefix": "/opt/homebrew/opt/python@3.9/Frameworks/Python.framework/Versions/3.9", "sysVersion": "3.9.7 (default, Sep  3 2021, 04:31:11) \n[Clang 12.0.5 (clang-1205.0.22.9)]", "is64Bit": true}

[2022-02-28 23:03] #18585 closed

[2022-03-01 00:31] kimadeline opened #18602 "Tech Debt: Update TS version to 4.5.5"
We're on 4.1.5 at the moment.

[2022-03-01 00:54] alexanderluiscampino commented on #18509
Throwing my hat in the ring. I have adevcontainer post create command that install my reqs (poetry install) and it takes some time. By the time it is done, the pylance reload window disappeared and nothing gets done. It's a non-starter, since I won't be able to reload the window, and if I do, same happens, cycle repeats itself.

What is the purpose of this window reload upon installing pylance?

[2022-03-01 01:50] frostming commented on #18561
It turns out manually created venv under `pipx` location works. There might be some difference in how `pipx` creates venvs and installs packages. @mbikovitsky 's investigation was great but it doesn't explain it.

[2022-03-01 04:01] jjathusan82 commented on #18589
thanks

[2022-03-01 05:06] mchobbylong commented on #18567
Same situation is happening at my side. Please ping me if more information is needed on this issue :-)

[2022-03-01 06:04] qingping08 commented on #18567
me too

[2022-03-01 06:32] karthiknadig opened #18605 "Support conda run on debug python file"

[2022-03-01 07:28] mbikovitsky commented on #18561
@frostming What's the pip version in the "fine" venv? The buggy launcher was added in pip 22.0.

[2022-03-01 07:33] frostming commented on #18561
Oh, I didn't notice that! so the root cause is `pip 22.0` not pip outside

[2022-03-01 07:53] svazzole commented on #18561
I can confirm that it's a pip problem. I downgraded pip from 22.0.3 to 21.3.1 and reinstalled black 22.1 and everything started to work again (I've done everything inside a venv).
Thanks @mbikovitsky and @frostming!

[2022-03-01 09:07] bengrau commented on #18567
I have the same issue since 2 weeks. I have downgraded the Python extension to version v2021.11.1422169775 but it still shows the error. Also downgraded Pylance to version v2021.12.2 the issue still exists

[2022-03-01 15:38] ferneyvanegas commented on #14327
It works perfect for me! Thanks!!

[2022-03-01 15:58] #18602 closed

[2022-03-01 16:35] #18562 closed

[2022-03-01 18:47] dishang-trilogy commented on #14327
How do you freeze it after the install?
[code]
The freeze is not picking up the packages from requirements.txt

[2022-03-01 19:06] kimadeline commented on #18407
Hi there, sorry for the delay!

Is the `--tardis-refdata` argument still in `python.testing.pytestArgs`?

[2022-03-01 19:11] kimadeline commented on #18219
Hi @BrianLDev,

What is the content of the `Python` output panel when you get the "No Python interpreter selected" warning?

Looking at your interpreter list screenshot, the interpreter from `python.defaultInterpreterPath` is selected. All of this make it sound like there was a race condition somewhere, with the extension reporting too early that no interpreter was selected, instead of waiting for

[2022-03-01 19:28] #18605 closed

[2022-03-01 19:28] karthiknadig commented on #18605
Looks like we already support this.

[2022-03-01 20:42] kimadeline commented on #18207
Thank you for providing a test repo and steps!

`${workspaceFolder}` will change depending on which folder you're in. So, if you're in `python-a/foo.py`, `${workspaceFolder}/.venv/bin/python` will resolve to ` path/to/tmp-python-multiroot/python-a/.venv/bin/python`, which doesn't exist after following the steps above. You can see the extension trying to resolve this path in the Python output panel

[2022-03-01 21:54] #14337 closed

[2022-03-02 00:06] kimadeline commented on #18497
Hi @mikeashi,

I could not reproduce your issue. I do not have `google-chrome-stable`, but I tried launching a different process (`code-insiders`) from the test UI and the subprocess did not get killed, the test succeeded.

1. Does this issue happen with other browsers?
2. Does this issue happen if you try launching other apps?
1. Does this issue happen only when you try downloading a file from Go

[2022-03-02 07:34] schlamar opened #18616 "Python 2.7 environment not shown in status bar"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: Python 2.7 environment selected as interpreter should be shown in the status bar.
Actual: Python environment is not shown in Status bar.

This is not a duplicate of https://github.com/microsoft/vscode-python/issues/18588

## Steps to reproduce:

1. Select Python 3.x interpreter --> environment shown:

![image](https://user-image

[2022-03-02 10:15] mardukbp commented on #18039
@WizzyGeek How did you fix it?

[2022-03-02 10:18] WizzyGeek commented on #18039
@mardukbp my issue was not really related to vscode it is due to a bug in dataclass mypy plugin which raised an error, so I just changed my code so that mypy won't encounter the error

[2022-03-02 12:30] schlamar commented on #18616
According to the [docs](https://code.visualstudio.com/docs/python/environments), this should be in the status bar:

![image](https://user-images.githubusercontent.com/238652/156361725-71ce99c8-7e3c-4831-b24b-25578fcd4c66.png)

This is very inconsistent. For a local Python 3 environment, the entry in the status bar is missing, too:

![image](https://user-images.githubusercontent.com/238652/15636188

[2022-03-02 18:22] #14334 closed

[2022-03-02 20:18] davidpcaldwell opened #18622 "Error parsing test ids containing paths during pytest test discovery"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: Extension successfully discovers tests when clicking the test icon

Actual: Error occurs. The error is of this form (I've removed information I am not sure I can disclose), and occurs on line 184 of `pythonFiles/testing_tools/adapter/pytest/_pytest_item.py`:

[code]

So the general issue is that `fullname` contains the path of t

[2022-03-02 21:24] karthiknadig commented on #8104
@int19h I am planning on removing this. The only thing I am a bit concerned about is the `ideOS` thing in `setDebuggerProperty`. Currently we seem to require it and send it via `debugOptions`. Is there any other way to do this or do we need to preserve this in the extension?

/cc @paulacamargo25 FYI

[2022-03-02 21:50] karthiknadig commented on #8104
Currently we get it like this in `debugpy` from debugOptions:
![image](https://user-images.githubusercontent.com/3840081/156455364-ca243bbf-ca02-44fa-8d72-62d04ff15a00.png)

[2022-03-02 22:24] int19h commented on #8104
Ah, I see what you mean now. Yeah, looks like we need to add the OS type here. I'm not sure if we still need `FixFilePathCase` tho.

[2022-03-02 22:40] kimadeline commented on #18431
Sorry for the delay!

@brianoflondon I cloned your repo, initialized a virtual environment with `poetry install` and tried running the tests, and they error out with the following message:

[code]

Does `hivewatcher` try to parse arguments? If yes, is there a way for it to ignore anything unrelated to it? The extension executes the following command to discover tests: `path/to/poetry/virtualenvs/p

[2022-03-02 23:05] pstjohn commented on #18431
It does, and that's actually the currently selected interpreter as well; if that's relevant:
![Screen Shot 2022-03-02 at 4 04 56 PM](https://user-images.githubusercontent.com/2576846/156464606-f87ec335-6f71-485c-89b7-fe7dd2ebdc80.png)

[2022-03-02 23:52] ezekini opened #18921 "Auto indentation not working"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Auto indentation doesn't work. Same problem as described in https://github.com/microsoft/vscode-jupyter/issues/925. I disabled all extensions but still auto indentation doesn't work

### VS Code Version

January 2022 (version 1.64)

### Jupyter Extension V

[2022-03-03 02:53] karthiknadig commented on #8104
We could add `ideOs` as a field to the debug configuration. That should allow us to get rid of the `debugOptions` field. could you check if anything else is not covered already by the launch and attach configurations.
[code]

[2022-03-03 08:52] skilkis commented on #17371
Hey @karthiknadig I second the feature request of @brettcannon . It would be great if the "Show Output" option in the Testing Extension could be configured to target either the `Test Output` or the `Test Log`. Reason being is that I usually want to see the raw logs when debugging a test. I imagine others might want to see the `Test Output` instead.

[2022-03-03 08:59] gonghenghai opened #18624 "Code actions of import can be more smart"
![Animation2](https://user-images.githubusercontent.com/21306413/156529641-8f453c25-04b1-4ba9-98eb-53f719d08896.gif)

They are apparently in alphabetical order. Is it possible to configure this? To prioritize the typing import over others?

Such as when I always do that, then the language server can be known of my habit. Of course, I know that's hard, which means the language server needs great pr

[2022-03-03 10:07] OmeGak commented on #18207
Thanks for your response @kimadeline!

It was my impression that `${workspaceFolder}` pointed to the directory where the workspace file is located in multi-root workspaces. Knowing now that it points to the actual project folder, [I made it work on the test repo](https://github.com/OmeGak/tmp-python-multiroot/commit/a625ca40c25c9265248c866a904f552372823891) by setting:

[code]

`python.defaultInte

[2022-03-03 10:30] schlamar commented on #18616
[code]

[2022-03-03 10:37] fabioz commented on #8104
The `FixFilePathCase` never had any functionality inside of `pydevd`.

I think it was used back in ptvsd so that if the user added a breakpoint in a file the debugger would make sure that filenames sent to the client that matched the normalized case of those files would change the file path to the same case sent by the client.

Currently we don't use it at all, so, it can be just removed (it's bee

[2022-03-03 10:37] schlamar commented on #18616
For the above case I think that venv on Windows is not correctly handled (slash vs backslash issues).

For C:\\Python27\\python.exe the log says.

[code]
This could be some caching issue. So there might be two separate issues...

[2022-03-03 10:59] schlamar commented on #18616
After clearing AppData\Roaming\Code it somehow works.

If I open a not yet opened code-workspace file and change the interpreter, the entry in the status bar does not change. I have to to a Developer: Reload Window or restart the application so the status bar updates. After that, every update is directly shown in the status bar.

[2022-03-03 16:02] kimadeline commented on #18431
Do you have a list repro steps (and ideally, a sample repo as well) I could use to try and replicate this issue?

[2022-03-03 16:04] kimadeline commented on #18207
Glad to hear it woks now! And feel free to open this feature request on this repo (https://github.com/microsoft/vscode-python), and link to your comment above 🙂

Thank you!

[2022-03-03 16:04] #18207 closed

[2022-03-03 17:53] webventurer commented on #7042
I had this issue just now. What worked for me was to create a venv, install the 'isort' module and add this to settings.json:

[code]

i.e. pointing directly to the 'isort' module inside the 'venv'.

Visual Studio Code - Insiders 1.65.0

[2022-03-03 17:59] jaklan commented on #7042
Which is a known workaround for more than 2 years... https://github.com/microsoft/vscode-python/issues/7042#issuecomment-524497573

[2022-03-03 18:41] karthiknadig commented on #18616
@schlamar You can run the following command to clear python extension cache:
![image](https://user-images.githubusercontent.com/3840081/156630979-2dedd28a-ff1e-48de-b1ad-46514d76ea6f.png)

[2022-03-03 19:29] karthiknadig commented on #18616
This is likely due to cached info. You should be able to run the above command and clear it out.

[2022-03-03 19:29] #18616 closed

[2022-03-03 19:50] kimadeline commented on #18622
Hi @davidpcaldwell, thank. you for reaching out!

This is a known shortcoming of our current code for parsing test data, we will address this as part of #17242.

[2022-03-03 20:00] int19h commented on #8104
Ah right, it was for the path mapping that the old wrapper was doing. So we don't need `FixFilePathCase` anymore.

It looks like `Pyramid` is some kind of leftover from the old debugger that we never actually supported since we moved to pydevd.

Everything else has a corresponding property already. So the only thing that's missing is `ideOS`. Can you file that as an issue?

[2022-03-03 21:28] #18456 closed

[2022-03-04 00:14] #18144 closed

[2022-03-04 07:10] thernstig commented on #7042
This has been deducted working already as a _workaround_, see https://github.com/microsoft/vscode-python/issues/7042#issuecomment-525265506

The issue is about using the one found in the env if it is in the PATH. Having a relative path is not great in case users share a project VS Code config and users place their venv in different places.

[2022-03-04 08:29] thistlillo opened #18640 "Uknown extension vscode.ipynb"
All of a sudden (yesterday I was using the Python notebooks on a remote machine, then disconnected and today I connected again) I cannot even open ipynb files on VS Code.

I did not install other extension, nor did I upgrade VSC.

[code]
The remote machine is a kubernetes pod running linux ubuntu 20.04.

I searched but could not find any answer.

What did I do?
- Remove extension Jupyter v2022.1.1

[2022-03-04 10:41] PALuczak commented on #18530
I also have this issue. Since I have created the env in a devcontainer, I can share the exact environment specification needed to reproduce the problem. Hope that it helps!

devcontainer.json
[code]

environment.yml
[code]

Dockerfile
[code]

[2022-03-04 11:51] morning-start opened #18630 "the .py file can not have header"
Issue Type: <b>Bug</b>

## Steps to reproduce:

[code]

copy this code and run with the 'Python' extension will get the error
`SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 120-121: malformed \N character escape`

---

just like
![error](https://images.cnblogs.com/cnblogs_com/blogs/734424/galleries/2119050/o_220304115038_2022-03-04-19-49-02.png)

Extension versi

[2022-03-04 12:05] hildebrandecon opened #18631 "pytest doesn't use interpreter"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: Extension successfully discovers tests when clicking the test icon after selecting conda environment with pytest as interpreter.

Actual: Extension doesn't find pytest and wants to install it.

Still works with v2021.12.1559732655

## Steps to reproduce:

1. create and activate conda environment including pytest; select interpre

[2022-03-04 13:17] qiniuweihe opened #18632 "mac import path error"
when I use vscode in my mac 2021, I encounter a path error:
<img width="1100" alt="image" src="https://user-images.githubusercontent.com/40459148/156770224-4edf90cf-22e5-4aa2-b589-69ab87537a83.png">

[2022-03-04 13:33] gpedro178 opened #18634 "New "conda run" method of running python file results in errors"
Issue Type: <b>Bug</b>

Prior to update February 2022 1.65 you had to set: `"python.terminal.activateEnvironment": true` to make VSCode activate the selected environment with Conda and not to use the base one, now you need to set this option to false to be able to run the environment.

**Step to Reproduce:**
1- Use Conda as Python interpreter in VSCode
2- Set in VSCode a Python environment differe

[2022-03-04 14:20] mbikovitsky commented on #18561
Could anyone test a fixed version of the launchers? https://bitbucket.org/mbikovitsky/simple_launcher/downloads/handle-dup-fix.zip

1. Create a venv with the latest pip version inside.
2. Copy the `.exe` files into the corresponding place in a `pip` installation. For example, if you create a venv at `C:\Temp\foo` then that would be the directory `C:\Temp\foo\Lib\site-packages\pip\_vendor\distlib`.

[2022-03-04 16:02] pstjohn commented on #18431
I don't expect it's a repo issue -- I'm using zsh as my default mac shell.

I was able to get this to work by
1. running `conda init bash`
2. changing my default system shell to /bin/bash

Oddly the command
`> . ~/mambaforge/bin/activate && conda activate graphenv && echo 'e8b39361-0157-4923-80e1-22d70d46dee6' && python ~/.vscode/extensions/ms-python.python-2022.2.1924087327/pythonFiles/printEnvVa

[2022-03-04 16:05] pstjohn commented on #18431
ok, looks like it might have been because I specified a `conda` executable as `~/mambaforge/condabin/conda`. Clearing that setting seems to let this work with zsh as my default shell

[2022-03-04 16:35] Harry-Hopkinson commented on #18632
Are you running a file at the root of your project?

[2022-03-04 17:03] Harry-Hopkinson commented on #18632
What is in the file?

[2022-03-04 22:38] alexkyllo opened #18636 "VS Code in Windows searching for Python interpreters in WSL and failing"
Issue Type: <b>Bug</b>

1. Install WSL 2 and Ubuntu 20.04
2. Install [pyenv](https://github.com/pyenv/pyenv) within WSL and use it to install a version of Python
3. Install Anaconda in Windows
4. Open VS Code, create a new notebook, and try to run a cell
5. Error: Python is not installed.

From the Python extenion output, it looks like VS Code Python extension running in Windows is looking in a WS

[2022-03-05 00:41] blogstorage commented on #18632
my project structure is as follows:

halides
     src
         agent
         run

[2022-03-05 00:43] blogstorage commented on #18632
<img width="266" alt="image" src="https://user-images.githubusercontent.com/96670468/156860046-8bff4ef6-cb2b-4d8d-844d-3baf26b427be.png">

[2022-03-05 02:06] frostming commented on #18561
I can confirm it fixes the problem and works like a charm.

[2022-03-05 05:20] fsjwlf commented on #18479
Hi~ I updated my VSCode, and found that the new version seemed to fix this bug.
However, after I run the python code, the terminal shows "run -n base --no-capture-output --live-stream python xxx.py". And the result was printed. And immediately the result was cleared. I cannot see my result!

[2022-03-05 05:29] fsjwlf commented on #18634
I found the same problem, and I wonder how can I run my python code...
Now I pressed "conda activate xxx" and "python xxx.py" manually.

[2022-03-05 06:04] jiaxiaosong1002 commented on #18634
This update is very disturbing. I am not sure whether it is a bug. But it significantly influences my using experience.

I do not think let "conda run -n env_name --no-capture-output --live-stream python" to be default is reasonable compared to the old way.

[2022-03-05 06:27] jiaxiaosong1002 commented on #18634
Exactly the same problem. Very strange to see --no-capture-output --livestream. Not sure it is a bug or a very confusing updating...

[2022-03-05 06:47] jiaxiaosong1002 opened #18660 "conda run update bug: printed reuslts are automaticly cleared"
We have written the needed data into your clipboard because it was too large to send.
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

Expected: print results in the terminal.
Actual:  The result was printed. And immediately the result was cleared. I cannot see my result.

## Steps to reproduce:

Just a empty .py with print(1) could reproduce.

I'm not sure whether it is related to the

[2022-03-05 07:35] TheGreatSquid opened #18638 "New "conda run" method of running python file not working"
In the newest version (2022.2.1924087327), the way the run python file command works has changed. Not sure if this is a problem with the extension, or with conda (I am using miniforge on an M1 MacBook Pro). Running the command appears to properly activate the environment, but clearly does not actually run the file from within the correct environment, since imports start coming up as "not found".

[2022-03-05 09:04] karrtikr commented on #18479
@fsjwlf Can you create a new issue for this? Thanks!

[2022-03-05 16:08] OttawaSTEM commented on #18567
Can't select Python Interpreter if directory name has symbol, for example "C:\Workspace\C++"  it will fail to find the Python Interpreter,
"C:\Workspace\CPP" is ok.

[2022-03-05 16:48] yherin commented on #18638
Same issues, fixed with downgrade to the previous version of this extension. Packages were definitely installed in the conda environment, despite the import failed errors.

[2022-03-05 17:07] Ashwinram018 opened #18651 "python"
Issue Type: <b>Feature Request</b>

I selected interpretor as python3 but still it is running as python 2...
i cant delete python2 from my mac...

VS Code version: Code 1.65.0 (b5205cc8eb4fbaa726835538cd82372cc0222d43, 2022-03-02T11:13:50.741Z)
OS version: Darwin arm64 21.3.0
Restricted Mode: No

[2022-03-05 18:43] TheGreatSquid commented on #18638
Curious, are you also on an M1 Mac?

[2022-03-05 18:47] yherin commented on #18638
No, linux with amd type CPU. I don't really want to replicate the error now I have everything working, so I don't have an exact error message anymore, but your description matches exactly what I experienced.

[2022-03-06 01:52] yq574485585 commented on #18567
However my Python Interpreter directory name doesn' t have any symbol, so it's not the solution for my case. Anyway thanks for your reply :)

[2022-03-06 02:00] yq574485585 commented on #18567
I also tried to downgrade Python extension to old version. My current version is v2021.5.926500501, it can run my code in conda env's interpreter but still shows 'Cannot Select Python Interpreter' and Python is not installed. Very strange.

[2022-03-06 06:19] rafattushar opened #18639 "ERROR conda.cli.main_run:execute(33): Subprocess for 'conda run [' XXXXXXXXXX']' command failed. (See above for error)"
Issue Type: <b>Bug</b>

ERROR conda.cli.main_run:execute(33): Subprocess for 'conda run ['python', '/{dir_loc}/python_file.py']'  command failed.  (See above for error)

## Steps to reproduce:

1. Update vscode-python to version 2022.2.1924087327

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.5
-   Type of virtual environment used (e.g. conda, venv, virtu

[2022-03-06 06:21] rafattu5har commented on #18639
![image](https://user-images.githubusercontent.com/49165272/156911833-63acd96d-ddd2-4909-9e16-313bf569db98.png)

[2022-03-06 12:35] ThomasLeins opened #18648 "Install missing packages automatically"
Ich bin noch neu mit VS Studio Code aber eines regt mich echt auf, dass es stellenweise schwierig ist fehlende Pakete zu installieren. Es sollte automatisch installiert werden.
Ich habe es bis jetzt noch nicht geschafft, NumPy zu installieren.
Da mache ich schon tagelang daran herum

Google translate
I'm still new to VS Studio Code but one thing really upsets me is that it is sometimes difficult t

[2022-03-06 15:38] ujoym commented on #18639
I have the same isuue :/

[2022-03-06 18:50] kieferrm opened #18642 "Python: Iteration Plan for March 2022"
This plan captures our work in **March**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/144519). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

<details>
<summary>Legend of annotations</summary>

| Mark                 | Description                                       |
| -------------------- |

[2022-03-07 00:00] bigjools commented on #17641
I thought I'd give an update on this:

Good news: The latest vscode seems to detect the tests correctly!
Bad news: The test runner craps out completely with this error text:
[code]

Additionally, I cannot recreate in a public repo that I have but in my private repo I get an additional error about two tests having the same ID:

[code]

Also it just caught my eye that the log datestamp is saying Feb

[2022-03-07 00:27] psk1998 commented on #18639
I also have this same issue and it was all of a sudden! :/
I need to submit an assignment and this happened! T_T

[2022-03-07 01:14] ydmykr opened #18643 "Add audio interaction function in vscode Python extension"
Add audio interaction function in vscode Python extension

[2022-03-07 02:12] jupercn commented on #18639
in "settings->extensions->python", set the conda path to conda.exe like: "C:\Users\yourname\miniconda3\Scripts\conda.exe"

[2022-03-07 02:15] psk1998 commented on #18639
Thank you. I uninstalled and then reinstalled anaconda and VS code. Then it got resolved automatically.

[2022-03-07 04:18] YiyangLu commented on #18634
Same problem too. I create the project environment for the new computer. Then I found the same problem. It is really confuse to have that "--no-capture-output --livestream" which would remove the stout. **Use old version would solve this problem.**

Another funny thing is that since vscode support sync, it updates the old extension in my old computer. Then both the new and old computer could not "