[2021-10-01 16:37] thi-lee commented on #7793
Hi, I'd love to take this issue

[2021-10-01 16:42] Quynhd07 commented on #17037
@luabud can I get assigned to this?

[2021-10-01 16:44] luabud commented on #16874
@syedareehaquasar feel free to! 😊

[2021-10-01 16:45] luabud commented on #17037
@Quynhd07 done! 😊

[2021-10-01 16:46] brettcannon commented on #17537
I'm stumped at this point. Assuming this is the Python 2.7 that comes with macOS it's quite possible it's busted enough that virtualenv won't support it (people should never use Python as provided by Apple).

[2021-10-01 16:52] luabud opened #17583 "Add additional options to run/debug button in editor"
can we add other configurations in there?
![image](https://user-images.githubusercontent.com/26390254/133352094-9e395009-d3c2-4385-925b-afd94356f597.png)

or at least that python configurations are set in user settings? (also can add workspace/folder configurations if that file is in there.)
[code]
i use this configuration in user settings for debug python files.
now i should use debug panel every

[2021-10-01 16:53] luabud commented on #17019
@byehack created #17583 to track your feature request. I'll keep this issue to track the renaming of the commands in the button to "Run Python file" and "Debug Python file"

[2021-10-01 16:56] marisamachlis commented on #14495
Can someone assign this to me for GHC OSD? Thanks!

[2021-10-01 17:00] DonJayamanne commented on #17581
Then looks like @zesluo is falling into some experiment that's causing an issue, and things work after turning off the experiments.

[2021-10-01 17:03] arsentieva commented on #12373
Can I work on this issue?

[2021-10-01 17:04] luabud commented on #12373
@arsentieva yes! 😊

[2021-10-01 17:07] ssindhuja06 commented on #7452
Hi, I would like to take up this issue.

[2021-10-01 17:08] int19h commented on #12373
@arsentieva  Feel free to ping me if you have any technical questions about this.

[2021-10-01 17:10] kimadeline commented on #7452
Hi @ssindhuja06,
Feel free to submit a PR and we'll review it.

[2021-10-01 17:24] druuuu commented on #16750
Hi I'm interested in sending a PR for this

[2021-10-01 17:24] acash715 commented on #15181
Hi All. I would like to work on this for the GHC OSD!

[2021-10-01 17:30] luabud commented on #16750
@druuuu great! I assigned you to the issue 😊

[2021-10-01 17:35] arsentieva commented on #12373
Hi @int19h I am trying to find out where this logic should live and the search attempts for `settings.json` or `variablePresentation` did not find anything. Can you please help me identify where the setting logic lives?

[2021-10-01 17:40] cbini commented on #17573
Same issue breaks Pylance as well. This morning, I added a symlink to my home directory on WSL (unrelated to any project repo) and noticed the linter was broken. Found this issue, deleted the symlink, and it starts working again immediately.

[2021-10-01 17:57] jacquelinevalenti commented on #16333
Can I work on this for GHC OSD? Thanks!

[2021-10-01 18:16] Vidushi-Gupta commented on #15522
Can I get assigned to this? Thanks!

[2021-10-01 18:17] luabud commented on #16333
@jacquelinevalenti feel free to! 😊

[2021-10-01 18:18] pallavialse commented on #4702
Could I work on this issue?

[2021-10-01 18:36] int19h commented on #12373
The extension is not aware of "variablePresentation" currently; it works in launch.json because everything in there flows to the debug adapter, which handles it as described [https://stackoverflow.com/questions/62346091/how-can-i-disable-hide-the-grouping-of-variables-in-vscode-python/62401205#62401205](vscode-python).

settings.json is [parsed by VSCode itself](https://code.visualstudio.com/api/r

[2021-10-01 18:58] thi-lee commented on #17019
I can take this issue

[2021-10-01 19:01] arsentieva commented on #17019
@luabud can i take this issue?

[2021-10-01 19:29] #17493 closed

[2021-10-01 19:42] Arpiiitaaa commented on #17210
may I take this?

[2021-10-01 19:44] TylerLeonhardt commented on #17426
@edemaine can you verify that this issue is fixed in the insider build? All you have to do is set the following setting: `"python.insidersChannel": "daily"` and reload vscode to get it.

[2021-10-01 19:49] connor4312 commented on #17426
@TylerLeonhardt I verified just now :)

[2021-10-01 19:54] luabud opened #17590 "Update brew installation to do python3 instead of python"
This is for the walktrhough

[2021-10-01 19:54] Carolinekung2 commented on #17590
Hi, please assign me to this.

[2021-10-01 20:03] karthiknadig commented on #17546
Ok. I am able to repo this now.

[2021-10-01 20:06] thi-lee commented on #5567
I can work on this

[2021-10-01 20:07] gsinha18 commented on #12452
Picking it up

[2021-10-01 20:31] Arpiiitaaa commented on #12004
I might be missing something but isn't *open()* the function to do that?

[2021-10-01 20:32] karthiknadig commented on #17580
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-01 20:32] #17580 closed

[2021-10-01 20:33] nvj98 commented on #16086
Hi, can I take this issue to work on?

[2021-10-01 20:35] karthiknadig commented on #16086
@nvj98 go ahead.

[2021-10-01 20:37] JessieJolly commented on #9557
Can I be assigned this issue for vGHC 21?

[2021-10-01 20:40] Arpiiitaaa commented on #5539
may I take this up?

[2021-10-01 20:55] druuuu commented on #16023
Hi, can I work on this?

[2021-10-01 20:57] JacobCallahan commented on #17250
Hello, can one of you elaborate on the exact issue with discovery that is being solved here?
I've finally updated my vscode recently and it has broken test discovery.
I'm sure there are more details on the internal repo, but expanding on the issue's cause and workarounds could help those of us that are hitting it now.
Thanks for all your hard work on this fantastic extension!

[2021-10-01 22:23] #17590 closed

[2021-10-01 22:50] #17019 closed

[2021-10-01 22:59] karrtikr commented on #17581
`v2021.9.1246542782` is the latest stable, this looks like it even predates that.

A lot of this has been fixed/changed in the insiders version. Please try using the latest insiders by running `Python: Switch to Insiders` command, after removing
[code]
as suggested here. Make sure to reload the window after install. If you still face an issue let me know and I will reopen the issue, thanks!

[2021-10-01 22:59] #17581 closed

[2021-10-01 23:36] brettcannon opened #17599 "Wordsmith note in README about limited support on the web"
https://github.com/microsoft/vscode-python/blob/main/README.md has a **NOTE** about the web support, but I did it very quickly and so it could probably stand to be improved.

[2021-10-01 23:38] brettcannon opened #17600 "Improve wording of virtual workspace warning"
https://github.com/microsoft/vscode-python/blob/main/package.json#L15 shows up on web installs. We should probably tweak it so it applies appropriately to both the web **and** desktop in some way.

[2021-10-01 23:50] brettcannon commented on #17493
Fixed the milestone as this went in prior to cutting the October release.

[2021-10-02 00:20] karrtikr commented on #17488
Thank you @mattseddon for investigating the cause, that must not have been easy so I appreciate it very much! The issue should be fixed once https://github.com/microsoft/vscode-python/pull/17598 is merged, you're welcome to have a look.

[2021-10-02 00:36] karrtikr commented on #17488
Can you verify if the following VSIX fixes the database issue for you: https://github.com/microsoft/vscode-python/suites/3936163409/artifacts/98617163? Use `Extensions: Install from VSIX` command to install this VSIX.

[2021-10-02 03:17] edemaine commented on #17426
I confirmed as well. 🥳

[2021-10-02 05:21] nayana-vinod commented on #9557
Hai, I'm hoping to work on this issue with Jessica, so can I also be assigned this for vGHC21?

[2021-10-02 10:24] jovanap17 opened #17601 "Python extension loading"
Python extension loading always loading.
![image](https://user-images.githubusercontent.com/49643347/135712280-86e5ad02-826c-4756-92dd-21a25595bd5f.png)

Python 3.9
Python extension v2021.9.1246542782
VSCode 1.60.2
Pop_OS! 21.04

[2021-10-02 10:29] jovanap17 commented on #17601
Fixed.

[2021-10-02 10:29] #17601 closed

[2021-10-02 12:57] foster999 commented on #4300
`"request":"test"` seems to be invalid now, so I had to use this configuration to switch to using the integrated terminal:

[code]

[2021-10-02 15:10] Vad1ks commented on #17480
here you are
![image](https://user-images.githubusercontent.com/43758678/135722337-5ba99b54-dcc4-40ca-b431-52848f21d5ca.png)
User belongs to experiment group 'pythonaacf'
User belongs to experiment group 'pythonJediLSP'
User belongs to experiment group 'pythonDiscoveryModuleWithoutWatcher'
User belongs to experiment group 'pythonTensorboardExperiment'
User belongs to experiment group 'pythonSurvey

[2021-10-03 07:13] victorsantanass opened #17602 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.9.1246542782`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-03 07:25] lroa9999 opened #17603 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.9.1246542782`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-03 10:27] OlafvdSpek opened #17604 "Enable Step Into / Over before debugging has started"
In VS non-C, Step Into and Step Over will Start Debugging and break on the first occasion possible (in main). Could the same be done for VSC?

https://github.com/microsoft/vscode/issues/132000

[2021-10-03 12:35] polak7gt opened #17605 "Debugger doesn't work when folder name contains specific letter"
## Environment data

-   VS Code version: 1.60.2
-   Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS and version: Microsoft Windows 10 Pro, 10.0.19043 Build 19043
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.0
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): I do not know
-   Relevant/affected Python packag

[2021-10-04 07:36] isidorn commented on #17493
Thanks a lot for tackling this in September 👏

[2021-10-04 08:46] frankli0324 commented on #13264
may I ask what's the status of this issue? just wasted half an hour stuck into this.

[2021-10-04 13:50] heydeepakch opened #17606 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.9.1246542782`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-04 14:41] yumasheta opened #17607 "${config:python.[ ]} variable substitution in tasks triggers `source activate` for virtual environments."
## Environment data

Version: 1.60.2
OS: Linux x64 5.14.8-arch1-1

vscode-python: v2021.9.1246542782
virtual environment: venv
python language server: pylance

## Behaviour

Given a task in `tasks.json` as:
[code]
When executing this task while the vscode-python extension is configured to use an interpreter form a virtual environment the `source` command for activating that environment is passed t

[2021-10-04 15:57] #17600 closed

[2021-10-04 17:16] bbiney1 opened #17609 "Debugging a python module: args in launch.json not being passed to python program correctly, "unrecognized switch""
I have a python module that I want to run in VScode's debugger. The full address is `~/Code/APPRES-483/cqs/update-query-definition/__main__.py`.  The main script is called `__main__.py`. I have a virtualenv at `~/Code/APPRES-483/venv-cqs/` that I'm trying to use with the relevant packages. There's also an input file at `~/Code/APPRES-483/LOCAL-query-definition.yml`. Normally, if I was running this

[2021-10-04 17:49] karthiknadig commented on #17602
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-04 17:49] #17602 closed

[2021-10-04 17:49] karthiknadig commented on #17603
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-04 17:49] #17603 closed

[2021-10-04 18:00] karthiknadig commented on #17607
Closing in favor of  #11039

[2021-10-04 18:00] #17607 closed

[2021-10-04 18:46] int19h commented on #13264
VSCode always escapes it (but only for the shells that they're aware of).

However, debugpy is not tied to VSCode, and other clients may do things differently. The true meaning of the property is basically whether debugpy allows the DAP client to handle your script arguments (e.g. by escaping them) by propagating them via the "runInTerminal" DAP request, or whether it uses its own channel where no

[2021-10-04 19:50] DonJayamanne opened #17613 "Wrong Python executable used when running code using PythonExecutionFactory"
## Environment data

-   VS Code version: Insiders
-   Extension version (available under the Extensions sidebar): Latest (main branch)
-   OS and version: mac
-   Python version (& distribution if applicable, e.g. Anaconda): N/A
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/affected Pyth

[2021-10-04 19:55] DonJayamanne commented on #17613
I'd submit a PR, looks simple enough, but not sure what we were attempting to fix when this code was changed.
The solution looks simple as follows:
[code]

Get `pythonPath` from settings only if its empty.

[2021-10-04 20:03] syminical opened #17615 "Bad Function Annotation String Error Highlighting"
## Environment data

-   VS Code version: ***1.60.2***
-   Extension version (available under the Extensions sidebar): ***Python: v2021.9.1246542782, Pylance: v2021.9.4***
-   OS and version: ***Windows 10***
-   Python version (& distribution if applicable, e.g. Anaconda): ***3.9.6***
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): ***N/A***
-   Relevant/affected Pyt

[2021-10-04 20:30] isidorn opened #17616 "Python debug adapter not starting"
On my work machine I can nicely debug Python.
However on my personal machine it is not working (it was previously working and I am not sure what changed in the meantime).

Here’s what I am seeing with a simple `print(“hello”)` script on my macOS:

1.	I can run the python script using the run button
2.	If I debug the python script it will not get executed and neither the breakpoints will get hit
3.

[2021-10-04 20:31] #17613 closed

[2021-10-04 20:38] rzhao271 commented on #17493
@karrtikr what are some steps for verifying this issue?
I tried opening a Python file in a repo using Github Repositories, and the play button isn't there, but I still see "Run...in Interactive Window" options in the context menu.

[2021-10-04 21:17] karthiknadig commented on #17616
@isidorn See if you can start the debug adapter directly. You should be able to do this form the command line out side of VS Code. Find the following in the extension folder `<python-extension>\pythonFiles\lib\python\debugpy\adapter`, see di you can just run it like this:
[code]
You should see some Json getting printed out. If this works that means the adapter is at least starting.

[2021-10-04 22:47] int19h commented on #17616
How did you install those Python versions, and what locations are they in?

[2021-10-04 23:06] #7333 closed

[2021-10-04 23:06] #8438 closed

[2021-10-04 23:07] #15530 closed

[2021-10-04 23:29] connor4312 commented on #17396
Merging into https://github.com/microsoft/vscode/issues/134220#event-5392247860

[2021-10-05 00:13] karthiknadig commented on #17604
The python debugger supports stepping into code directly using `stopOnEntry` field in the debug configuration. This is used by Visual Studio for the Step Into (F11), and Step Over (F10) behavior. So, it should be possible to set that flag in the launch.json dynamically when this is triggered in VS Code.

[2021-10-05 00:48] paulacamargo25 commented on #15738
I tried to reproduce the error using Pylance and it does not appear, I am going to close the problem, if it continues to occur you can create another ticket with an example code.

Thanks

[2021-10-05 00:48] #15738 closed

[2021-10-05 01:25] #15769 closed

[2021-10-05 01:28] #16060 closed

[2021-10-05 02:37] HappyCuppy commented on #15218
I wasn't able to get this to work with Python. What's your configuration for it for Python?

[2021-10-05 02:38] #17269 closed

[2021-10-05 02:44] mattseddon commented on #17488
@karrtikr I have just tested this and it does appear to have made things better. I can see that `PYTHON_EXTENSION_GLOBAL_STORAGE_KEYS` has been deprecated:
[code]

I am still seeing duplicates being created in the `PYTHON_GLOBAL_STORAGE_KEYS` array though:
[code]

I don't think that you can close the ticket using the current fix.

[2021-10-05 02:52] karrtikr commented on #17488
Thanks for reporting back. The VSIX I provided initially is actually outdated as PR got updated further, can you try https://github.com/microsoft/vscode-python/suites/3954255787/artifacts/99265047 which appears to be the latest VSIX on the PR. Or, you can try `Python: Switch to Insiders` command and wait a bit to install the latest insiders version of the extension.

[2021-10-05 03:03] karrtikr commented on #17488
FYI I can verify there's still an issue with `PYTHON_EXTENSION_GLOBAL_STORAGE_KEYS`, however I expect the key `PYTHON_ENV_INFO_CACHE` to not appear multiple times.

[2021-10-05 03:09] mattseddon commented on #17488
I am also seeing the issue with `PYTHON_EXTENSION_GLOBAL_STORAGE_KEYS`. Maybe the other issue is coming from the first `vsix` that I installed. I have 4 entries now but it appears to be stable:

[code]

The list of `PYTHON_EXTENSION_GLOBAL_STORAGE_KEYS` seems to be ever growing.

[2021-10-05 03:16] karrtikr commented on #17488
I see, thanks for confirming. You can use the command `Python: Clear Internal Extension cache` to clear this storage anytime as well.

[2021-10-05 04:01] karthiknadig commented on #17546
@MetRonnie Can you check if this build helps with this: https://github.com/microsoft/vscode-python/suites/3957288208/artifacts/99373426?

I tested it locally, I still need to run it through a bunch of other test scenarios, but let me know.

[2021-10-05 07:04] isidorn commented on #17493
Verification steps:
1. Open vscode.dev
2. Install latest python
3. Make sure Run and Debug button is not shown in the Debug view

I am not sure how to install latest python in vscode.dev and if it has this changes though.

[2021-10-05 07:18] isidorn commented on #17616
@karthiknadig yes I can run that, and I get the following output
[code]

@int19h I just have the built-in macOS python `2.7 .16` and python `3.8.9` that comes with xcode command line tools. I had more in the past, but I tried to clean this up. I installed one python version using `homebrew` but I deleted it later.

![image](https://user-images.githubusercontent.com/1926584/135977380-4d5a496f-fde9-

[2021-10-05 08:49] MetRonnie commented on #17546
(Pinging my non-work account to remind myself to try it @binaryfunt)

[2021-10-05 09:21] kiwixz commented on #16985
Hi, not original author but same problem.

I noticed the settings triggering it is: `"python.experiments.enabled": false,`

Output > Python:
[code]

[2021-10-05 10:50] munael opened #17625 "Provide context action to copy file position and render as a clickable link in source comments"
Currently, you can navigate to a `file:line` path through the `Ctrl+P` command bar.

To complement this, provide a command (+ maybe a context menu action?) to copy the current `file:line` position. And render any such path as a link in source code comments (like currently done with web links, or for file links in Markdown).

[2021-10-05 15:31] smitthakkar1 commented on #7042
I had the same issue. Here's how I fixed it:

1. find out the location of `isort`

[code]

2. Set this path as `python.sortImports.path: /Users/abc/.pyenv/shims/isort` in VS Code.

[2021-10-05 15:39] karrtikr commented on #16985
This issue should now be fixed in the latest insiders version of the extension.

[2021-10-05 17:22] davetapley opened #17626 "Presence of __init__.py breaks test discovery"
## Environment data

-   VS Code version: : 1.60.2
-   Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS and version: Codespace 💫
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: None
-   Relevant/affe

[2021-10-05 17:24] davetapley commented on #17626
This is caused by the existence of [`test/models/__init__.py`](https://github.com/JEFuller/vscode-python-import-bug/blob/main/test/models/__init__.py).

If you `rm test/models/__init__.py` in [the repro repo](https://github.com/JEFuller/vscode-python-import-bug/tree/main) the the test will be detected ✅

[2021-10-05 18:18] #17488 closed

[2021-10-05 18:20] karrtikr commented on #17488
@mattseddon Can you please try https://github.com/microsoft/vscode-python/suites/3965062360/artifacts/99642505, thanks!

[2021-10-05 18:20] DonJayamanne opened #17628 "Always use conda-forge when installing packages using conda"
Found that tensorboard and ipykernel could not be installed using the default channels and conda-forge had the latest versions.

E.g. default channels for ipykernel (macm1) is using 5.3.4 (very old & outdated version).
conda-forge is regularly updated

Upstream issue
https://github.com/microsoft/vscode-jupyter/issues/7787

[2021-10-05 18:28] karrtikr commented on #17493
This issue is only to tackle debugging, so you might still see other options. Verifying what @isidorn said for the Debug view should be sufficient, please try on Github Repositories extension as you have been doing.

We haven't looked into how to create a web extension using the latest bits yet, so for now we can use any other virtual workspace other than `vscode.dev` for verifying this.

[2021-10-05 18:28] #17377 closed

[2021-10-05 18:30] int19h commented on #17616
@isidorn According to the docs, system-wide install of Python on macOS is [not supported by the extension](https://code.visualstudio.com/docs/python/python-tutorial#_macos). I usually use Brew to install pyenv, and then use pyenv to manage different versions of Python.

Having said that, I couldn't repro it on my clean Macbook regardless, using the system interpreter + stable VSCode + stable exten

[2021-10-05 19:21] karthiknadig commented on #17625
This should go into VS Code repository.

[2021-10-05 19:53] melMass commented on #15218
It should be working by default:
https://github.com/maptz/maptz.vscode.extensions.customfolding/blob/de39a96ae09341d31a299120b074bb821ec9a44e/src/config/DefaultConfiguration.ts#L138

[2021-10-05 20:06] Tyriar commented on #15799
FYI I closed the upstream issue as out of scope.

[2021-10-05 20:36] cperezabo opened #17633 "Move class/function/variable refactor"
Please add support for moving classes and other stuff from one file to another, including its dependencies, like PyCharm does!

[2021-10-05 21:16] TylerLeonhardt opened #17635 "Consider setting `ignoreFocusOut` to false (the default) for quickpicks"
I noticed that the Python extension sets `ignoreFocusOut` to `true` for all multi-step quick picks:
https://github.com/microsoft/vscode-python/blob/127ef2d331ec49892dd13fc23065627ca2e0a02c/src/client/common/utils/multiStepInput.ts#L133-L133

We usually say that you should only do this if you are copying and pasting into the quick or truly need it to be open while you're doing something else.

I do

[2021-10-05 21:37] kimadeline commented on #17477
Hi @Gabriel-p, sorry for the delay!

I cannot reproduce your issue when using the test code you pasted above, and the following settings in my project's .vscode/settings.json:

[code]

Does the issue still occur if you disable all extensions except for the Python one, or if you create a new project?

[2021-10-05 22:39] stevepepple commented on #12757
I experienced this issue, until I installed the Microsoft Python VS Code extension into my Remote workspace. (It was already installed on my local VS Code)

[2021-10-05 22:58] tclose opened #17636 "Cannot restart test debugger (i.e. shift-cmd-F5) with "purpose"==["debug-test"]"
Sorry, not sure whether this is a bug report or feature request

## Environment data

- debugpy version: 1.4.3
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.5 (default, May  4 2021, 03:33:11)
[Clang 12.0.0 (clang-1200.0.32.29)] on darwin, built by Homebrew

Version: 1.60.2
Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Date: 2021-09-22T11:59:27.195Z (1 wk ago)
Electr

[2021-10-05 23:14] mattseddon commented on #17488
@karrtikr that seems to have fixed the issue.

[2021-10-06 00:52] luabud opened #17637 "Hide Python walkthrough when on github.dev"
Right now it doesn't make sense to show it on that context as none of the steps work on github.dev

[2021-10-06 01:14] kenseehart opened #17639 "implicit tuple index syntax not recognized by syntax checker"
Issue Type: <b>Bug</b>

The following (typical of numpy code) shows as a syntax error:

[code]

However, the equivalent is fine:

[code]

Numpy style slice syntax also shows as a syntax error:

[code]

Extension version: 2021.9.1246542782
VS Code version: Code 1.60.2 (7f6ab5485bbc008386c4386d08766667e155244e, 2021-09-22T12:01:43.795Z)
OS version: Linux x64 5.11.0-37-generic snap
Restricted Mode: N

[2021-10-06 03:50] bigjools opened #17641 "Unittest id parsing fails when using `testscenarios`"
## Environment data

-   VS Code version: 1.60.2
-   Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS and version: Ubuntu 20.04
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.10
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions:
-   Relevant/affected

[2021-10-06 07:36] wyh196646 commented on #9576
I also meet this problem， I use anaconda to conduct my virtual environment. ，my system is windows10 ,I install my anaconda  at  D:\Anacond. So ，I open the commad panel to choose the Python interpreter . I chose the right python.exe position ,but it does't work.
![image](https://user-images.githubusercontent.com/42706208/136159934-7a2dd873-e290-458d-be15-bb636bcc5762.png)

[2021-10-06 07:56] cfierro94 commented on #12072
I'm experiencing the same issue, none of the python commands work on ssh (locally they work).

vscode: Version: 1.60.2 Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Remote - SSH version: v0.65.8
OS version: Mac OS BigSur 11.6

[2021-10-06 08:36] ankushk0902 opened #17643 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.9.1246542782`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-06 08:37] ankushk0902 commented on #17643
python unresponsive

[2021-10-06 11:08] byehack opened #17644 "[BUG] Debugging with purpose ignored in user/workspace settings."
## Environment data

-   VS Code version: `v1.60.0`
-   Extension version (available under the Extensions sidebar): `v2021.9.1246542782`
-   OS and version: `win10 20h2 64bit`
-   Python version (& distribution if applicable, e.g. Anaconda): `py3.7.7 32bit`
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): `N/A
-   Relevant/affected Python packages and their versions: `

[2021-10-06 11:24] P403n1x87 commented on #10645
@ErwanDL Would something like [Austin VS Code](https://marketplace.visualstudio.com/items?itemName=p403n1x87.austin-vscode) be suitable to your needs?

[2021-10-06 11:36] byehack commented on #17419
it also would be great with something like [Formatting toggle](https://marketplace.visualstudio.com/items?itemName=tombonnike.vscode-status-bar-format-toggle) for manually linting.

[2021-10-06 12:00] thernstig commented on #7042
@smitthakkar1 that does not work if users have different locations for the virtual env

[2021-10-06 12:01] maldag opened #17646 "Test View not discovering tests"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.2
- OS Version: Windows_NT x64 10.0.19043

Using pytest in vscode for python development the test view does not discover any tests anymore. This worked fine in the previous version (before September 2021).

Is there any chance to analyze and fix this?

[2021-10-06 14:01] wkddns40 opened #17645 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.9.1246542782`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-06 14:05] igorvolnyi commented on #9576
By the way I noticed, that if  I create a project using venv, activate it and launch VS Code from the project's dir, everything works just fine. VS Code picks the virtual environment's python interpreter.
And I'm on Linux. Arch  Linux.

[2021-10-06 16:37] ErwanDL commented on #10645
@P403n1x87 This does indeed look pretty good!

[2021-10-06 17:07] #17643 closed

[2021-10-06 17:07] karthiknadig commented on #17645
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-06 17:07] #17645 closed

[2021-10-06 17:22] karthiknadig commented on #17639
@kenseehart What do you have for `python.languageServer` setting?

[2021-10-06 17:55] karthiknadig commented on #17646
When test discovery fails, check the python logs you should see why it might have failed. If the log does not help, then please share your works space settings and the logs. If you can share your project or provide a minimal repro that would be even better.

[2021-10-06 18:01] byehack commented on #17644
also it would be great something like this for purpose:
[code]

[2021-10-06 18:39] isidorn commented on #17616
@int19h thanks for the tip, I will also clear my system and use `pyenv` to manage Python versions.

However I tried to investigate a bit more and weirdly when I pass `--inspect-extensions <port>` to vscode as a flag I can not reproduce the problem. I passed this flag in order to debug the Extension Host, but yeah then it does not repro so I can not debug.
I am out of ideas, let's see if @weinand h

[2021-10-06 19:05] int19h commented on #17636
I think the scenario here is that the session is started via the Test Explorer, but then *re*started (while it's still running) via Run -> Restart Debugging.

[2021-10-06 19:25] #16186 closed, assigned to nobody

[2021-10-06 19:26] paulacamargo25 commented on #16190
I test the issue and the lint works but it takes more time than normal with recursion.

[2021-10-06 19:27] #16262 closed

[2021-10-06 19:28] #16282 closed

[2021-10-06 19:29] paulacamargo25 commented on #16409
Hi, we solved this issue, and we are also gradually rolling out an updated way of auto-selecting interpreters and sorting them in the "Select Interpreter" dropdown (#16520). You can opt into this experiment by adding the following to your settings.json:

"python.experiments.optInto": [
        "pythonSortEnvs"
],

If you are in this experiment and you open a Python file, the virtual environment lo

[2021-10-06 19:29] #16409 closed

[2021-10-06 21:36] 0xabu opened #17648 "Support running/debugging using local interpreter without depending on the user's shell"
## Environment data

-   VS Code version: 1.60.2
-   Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS and version: Windows 11 x64 22000.194
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.0 x64 (MS Store package)
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and the

[2021-10-07 03:16] 0xabu commented on #17648
Another example, when trying to start a script under the debugger. This is clearly assuming a CMD prompt, because `&&` is not valid PowerShell either:
[code]

[2021-10-07 04:55] heungson commented on #17356
I also have the same issue.

[2021-10-07 06:15] maldag commented on #17646
It's working with the insider build, so must have been fixed already.

[2021-10-07 06:15] #17646 closed

[2021-10-07 08:17] nfx commented on #15218
@melMass i don't want to install any third party extensions and modify the code in order to achieve pretty standard functionality - import folding, so that's why i'm raising this as a feature request

[2021-10-07 09:35] NickRoo opened #17653 "Unable to Install Python 3.10"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

I am not sure I understand this problem to be able to describe it in any detail. I just downloaded VS Code. Next I needed to install Python on my computer. I downloaded Python-3.10.0-amd64.exe"
When attempting to run the  EXE file to install my downloaded version of Python I

[2021-10-07 09:50] melMass commented on #15218
I was answering to HappyCuppy.

[2021-10-07 12:00] grimmer0125 commented on #17425
@kimadeline  thank you for keeping digging this issue.

I tried to upgrade Poetry 1.1.11 and this issue is gone !!!!!!!

[2021-10-07 12:04] 97I8TOE47K opened #17654 "Please add support to create virtual environments and install requirements.txt stuff graphically than by going into the terminal"

[2021-10-07 12:17] dlencer commented on #17363
I still have this issue with `2021.9.1246542782`. Manually, I can run the command that VS Code seems to execute, `python ~/.vscode-server/extensions/ms-python.python-2021.9.1246542782/pythonFiles/testing_tools/unittest_discovery.py ./tests test_*.py` inside my `venv` just fine, but VS Code does not find the tests.

[2021-10-07 17:09] karthiknadig commented on #17653
@NickRoo Looking at the log this seems to be an issue with installing python itself and not the python extension for VS Code. To install the python extension for VS Code you can do it by launching VS Code and using the Extensions tab:
![image](https://user-images.githubusercontent.com/3840081/136431812-c2f991b9-e2f2-49e8-8d31-26aea14eb412.png)

To install python itself since you are on windows I r

[2021-10-07 17:33] #17654 closed, assigned to nobody

[2021-10-07 17:50] kimadeline commented on #17425
Awesome, glad to hear it works! I'm going to close the issue, feel free to comment on it or open a new one if you encounter the problem again and we'll take a look at it 🙂

[2021-10-07 17:50] #17425 closed

[2021-10-07 17:59] isidorn commented on #17616
@deepak1556 thanks! I tried but uncovered the following:
I can only repro the problem if I launch VS Code from the finder or from the dock.
If I launch it from the terminal the problem does not reproduce. And thus I can not try the command you proposed.

Due to that it seems like VS Code properly inherits some ENV variable from the terminal, which it does not from the dock.
How could I check what

[2021-10-07 18:52] gpcprog opened #17655 "vscode-python 2021.9.1246542782 doesn't install as it depends on ms-toolsai.jupyter-renderers, which isn't available."
## Environment data

-   VS Code version: 1.60.2
-   Extension version (available under the Extensions sidebar): 2021.9.1246542782
-   OS and version: Linux
-   Python version (& distribution if applicable, e.g. Anaconda): python 3.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/affected

[2021-10-07 19:03] #17440 closed

[2021-10-07 19:10] karthiknadig commented on #15061
Closing this. Please use the latest version of the extension. If this continues to occur please fine a new bug and provide the logs.

[2021-10-07 19:10] #15061 closed

[2021-10-07 19:19] karrtikr commented on #17648
You're using a WSL terminal, which is a different OS inside altogether. Python interpreters valid in windows (ending in `python.exe`) are no longer valid in WSL (where they end in `python`).

Point being that Win32 python cannot be run in WSL.

[2021-10-07 19:21] #15888 closed

[2021-10-07 19:23] #15972 closed

[2021-10-07 19:32] 0xabu commented on #17648
This is interesting. When setting my default terminal profile to git bash (which is cygwin), and PowerShell, the extension emits very different commands; it appears to be detecting the type of terminal/shell in use and emitting commands appropriate to that shell... which is kind of wild and unexpected (I still don't see the benefit of running all this through the user's shell instead of directly l

[2021-10-07 19:59] karthiknadig commented on #17655
Try following the instructions here to remove the Jupyter dependency #17491. If you need Jupyter please file a bug on https://github.com/microsoft/vscode-jupyter

[2021-10-07 22:46] Gabriel-p commented on #17477
Not sure if the error comes from flake8 (see image), but if I change the environment to an old Python 2.7 then the error goes away.

![DeepinScreenshot_Seleccionar área_20211007194502](https://user-images.githubusercontent.com/6054951/136472396-82c265c2-9bf1-4563-8db7-107391ed2a07.png)

[2021-10-07 23:44] 0xabu commented on #17648
Why do you need to use any shell? Just create the interpreter process directly, passing it the arguments/environment as needed. To put this in a Python context, this is like passing `shell=False` to [subprocess.run](https://docs.python.org/3/library/subprocess.html#subprocess.run). At the OS level it certainly works (e.g. system() vs fork/exec() or CreateProcess vs ShellExecute) but maybe that low

[2021-10-08 00:05] #16980 closed

[2021-10-08 01:34] sn0wfa11 commented on #11924
Just updated to 1.61.0 and this crap started again...  The opt-outs are already in place.  It gets stuck on "Discovering Python Interpreters".  Trying to use the circuitpython extension.
[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/7307814/ms-python.python-unresponsive.cpuprofile.txt)

[2021-10-08 01:35] luabud commented on #17228
Thank you so much!

[2021-10-08 04:04] Diogo-Rossi opened #17659 "Option "execute in file dir" ignored when use play button "debug python file in terminal""
## Environment data

-   VS Code version: 1.61.0
-   Extension version: 2021.10.1317843341
-   OS and version: 10.0.19043.1237
-   Python version: 3.8.8 Anaconda
-   Type of virtual environment used: conda
-   Value of the `python.languageServer` setting: default

## Expected behaviour

When debugging python file in terminal, it should use the option to "execute the file in the file's directory, i

[2021-10-08 05:13] karthiknadig commented on #17659
@Diogo-Rossi As a work around you can add debug configuration to launch json:
[code]

[2021-10-08 05:49] karthiknadig commented on #17655
Please try this again after updating VS Code to version 1.61.0

[2021-10-08 05:49] #17655 closed

[2021-10-08 06:13] karthiknadig commented on #13678
In the latest release we changed how the Ls and pylint combination works. going forward `pylint` if needed will have to be explicitly enabled. If `pylint` fails to work, please file a separate bug.

[2021-10-08 06:13] #13678 closed

[2021-10-08 07:10] botsman commented on #17414
One more thing. It looks like parameter `--rootdir` in the `python.testing.pytestArgs` also affects behavior of test execution from the test explorer UI.

Just want remind that it should be taken into account.

1. If I use
[code]
then tests are discovered, but if I try to execute those, then I am getting a message in Python Test Log: `ERROR: file or directory not found: ...` and the test I clicked

[2021-10-08 10:06] jacquespeeters commented on #13321
Any news on this?

Still trouble using flake8 config from `pyproject.toml`
I see this MR https://github.com/microsoft/vscode-python/issues/13321 but looks related to pylinkt and not flake8

[2021-10-08 16:07] Knguyen-dev opened #17661 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-08 17:03] isidorn commented on #17616
`--force-user-env` from terminal and I can **not** reproduce the problem. So it seems like the env variable difference is not the cause.

I can not get the full env when launching from dock, since I can not pass `verbose` and thus there is no way to have `trace`  log on startup (since we do not remember them across reloads). I could not get this `getUnixShellEnvironment` on EH reload or new window

[2021-10-08 17:08] #17661 closed, assigned to nobody

[2021-10-08 18:07] #17530 closed

[2021-10-08 18:58] kimadeline opened #17666 "Builds are failing"
https://github.com/microsoft/vscode-python/actions/workflows/build.yml?query=branch%3Amain

![image](https://user-images.githubusercontent.com/51720070/136611643-c4da7d0f-d566-4f75-90f4-266ca6c2e97d.png)

Started happening when VS Code 1.61 was released. Looks like there are terminal activation issues, and one TensorBoard issue.

The TB issue seems to go away if I add `torch-tb-profiler ; python_v

[2021-10-08 19:09] roblourens opened #17667 "Improve "No Python interpreter" selected prompt"
## Environment data

-   VS Code version: 1.62-insider
-   Extension version (available under the Extensions sidebar): v2021.10.1317843341

I think this just showed up today, but I can't give exact repro steps. I was doing python things in different repos for awhile. At some point, I noticed that I get this notification every time I open a window with a python project

![image](https://user-images

[2021-10-08 19:54] davetapley commented on #17626
@karthiknadig well that's embarrassing, thanks and sorry! 🙈

[2021-10-08 20:20] davetapley opened #17668 "Testing panel erroneously parses warnings in 'unittest discover' as tests"
## Environment data

-   VS Code version: : 1.60.2
-   Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS and version: Codespace 💫
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: None
-   Relevant/affe

[2021-10-08 20:31] cristiangosselin opened #17669 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-08 22:35] bigjools commented on #17641
I can't share my private repo but I'll describe the layout here and see if I can reproduce with another public one I have on Monday.

The tree looks like this:
[code]
And I have `unittestArgs` as `-s project.tests` and my workspace root is at `src-root`

[2021-10-08 23:18] mr-narender opened #17671 "Feature like Create Virtual Env in Vscode like Pycharm"
Coming from https://github.com/microsoft/vscode/issues/133807

I have been using vscode for a while along with pycharm. One of the nicest feature which I like about pycharm is the ability to create and reuse virtual env from inside of application.

![image](https://user-images.githubusercontent.com/39687188/134790152-76a014b4-fecb-457d-b4fb-71c9312f86f1.png)

I dont know if it needs more descripti

[2021-10-09 02:53] JuanVera326 opened #17672 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-09 06:52] jadeid91 opened #17673 "No intellisense when trying to import my packages"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS and version: Windows_NT x64 10.0.19043
-   Python version (& distribution if applicable, e.g. Anaconda): Python3.7
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: XXX
-

[2021-10-09 10:14] aa15262 opened #17674 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-09 10:46] sobolevn opened #17675 "`"python.languageServer": "Microsoft"`: value is not accepted. Valid values: "Default", "Jedi", "Pylance", "None"."
For some reason I cannot use `Microsoft` as my lsp. It happened after a recent update.

## Environment data

-   VS Code version:
[code]
-   Extension version (available under the Extensions sidebar): https://github.com/microsoft/vscode-python/releases/tag/2021.10.1317843341
-   OS and version: macos 10.14
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.x
-   Type of virtual

[2021-10-09 11:06] ericmclachlan opened #17676 "should_never_reach_here for particular test case"
## Environment data

-   VS Code version: 1.62.0-insider
-   Extension version (available under the Extensions sidebar): Python v2021.10.1317843341
-   OS and version: Windows_NT x64 10.0.19043
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.0
-   Type of virtual environment used: N/A
-   Value of the `python.languageServer` setting: Pylance

## Expected behaviour

Non-fatal

[2021-10-09 11:56] Vanoss98 opened #17677 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-09 14:13] Vad1ks commented on #17480
Firstly, i opened a one new workspace, the extension worked for a while, but when i tried to create a venv and go into it, the extension was unresponsive. I tried few more times, but i cannot reproduce clear work of the extension. When i open devtools, i can see a warning
![image](https://user-images.githubusercontent.com/43758678/136661327-7b72af70-c58a-4a39-9e74-7b30035603fc.png)
Profile file lo

[2021-10-09 14:16] Vad1ks commented on #17480
I have discovered how the extension is able to work properly.
It does, when i open VS Code, create a new file right from there and save it as .py file. Then extension is able to work fine. But when i open any other folder, the extension starts being unresponsive. Do you need any other logs?

[2021-10-09 14:52] Girish400 opened #17678 ".zshrc will not load while using Run Python file in terminal"
This bug was reported in microsoft/vscode ([link](https://github.com/microsoft/vscode/issues/132952)) and closed. I was asked to report the bug here

[2021-10-09 15:32] KondeAsrithareddy opened #17679 "Issue on python interpreter in Vs code"
## Environment data

-   VS Code version: XXX
-   Extension version (available under the Extensions sidebar): XXX
-   OS and version: XXX
-   Python version (& distribution if applicable, e.g. Anaconda): XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Python-related VS Code ext

[2021-10-09 15:37] KondeAsrithareddy opened #17680 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-09 17:19] jucor opened #17681 "Extra newline added to cells after formatting with any formatter"
Thanks so much for the native notebook experience: it's awesome!
One niggle that keeps biting me and my team: formatting cells (with autopep8, or yapf, or black) adds an empty line after each cell.

## Steps to reproduce
- create a cell in a Jupyter notebook
- add any code in it, *as long as it does not finish with a blank line*
- format cell (e.g. with Shift+Alt+F)

## Expected behaviour
- the nu

[2021-10-09 17:54] isidorn commented on #17616
I have started using `pyenv` and I can no longer repro this problem.
Sorry about all the noise and I am sorry that we could not get to the bottom of it.

If a user actually hits this we can investigate even further. For now closing this.
Thanks everyone for help though!

[2021-10-09 17:54] #17616 closed

[2021-10-09 18:52] Lorisredstone opened #17682 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]
the extention isn't working, and is unresponsive
(i'm not in c:/ maybe that's the problem)

[2021-10-09 19:47] jucor commented on #17675
Isn't Pylance the Microsoft LSP?

[2021-10-09 20:02] sobolevn commented on #17675
No, it is a different thing https://github.com/microsoft/python-language-server

Pylance is slow and does lots of background jobs eating two full CPUs of mine machine. But, MS lsp is great. It does all the things I need almost instantly. For example, you can start jumping around a newly cloned project in about 5sec.

[2021-10-10 01:01] #17468 closed

[2021-10-10 01:24] kieferrm opened #17683 "Python: Iteration Plan for October 2021"
# Iteration plan

This plan captures our work in **October**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/134730). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

<details>
<summary>Legend of annotations</summary>

| Mark                 | Description                                       |
| --

[2021-10-10 04:20] deepak1556 commented on #17616
Yes the resolution is done in the main process, so we need trace logging on app startup to get the interested log. But we can try the following,

* Run `code-insiders` from terminal
* Open devtools in the workbench and print `process.env` -> 1
* Quit the app
* Run `code-insiders --force-user-env --log=trace` from terminal
* Check the main process log for `getUnixShellEnvironment#result` -> 2
* Qui

[2021-10-10 07:22] modori73 opened #17684 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-10 10:21] Rituraj5118 opened #17685 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.17763`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-10 12:14] gaparnathi1 opened #17686 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.60.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-10 17:47] ruppmatt opened #17687 "Debugging Unit Tests Raises Exceptions"
When running unit tests without debugging, the tests pass.  When debugging unit tests, an exception is raised in what appears from external testing to be valid code.

Running or debugging the same tests in PyCharm or from the command line does not demonstrate this erroneous behavior.

Downgrading the Python extension from version 2021.10.x to 2021.09.124x fixes the issue.

VSCode is version 1.61.0

[2021-10-10 17:48] ruppmatt commented on #17687
I should add:  I'm using the unittest framework.

[2021-10-10 18:34] Kaszanas opened #17688 "Language server not working - Intellisense doesn't exist"
## Environment data

-   VS Code version (VSCodium): 1.61.0
-   Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv and without
-   Relevant/affected Python packages and their ver

[2021-10-10 19:01] Kaszanas commented on #17688
I have fixed this issue for myself by uninstalling VSCodium and switching to VSCode where it seems that the features work as intended.

[2021-10-10 19:01] #17688 closed

[2021-10-10 20:38] victorsantanass opened #17689 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-10 21:08] alandema opened #17690 "Indentation error using IPython"
## Environment data

-   VS Code version: 1.61.0 (user setup)
-   Extension version: 2021.10.1317843341
-   OS and version: W10 21H1
-   Python version (& distribution if applicable, e.g. Anaconda): Miniconda python 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Value of the `python.languageServer` setting: Pylance

## Expected behaviour
with shortcut

[2021-10-10 22:23] Vikrant-007 opened #17691 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-11 01:22] FlantasticDan commented on #11924
@sn0wfa11 I've had to revert back to `v2021.8.1159798656` of the Python Extension, in addition to adding the opt-outs, in order to work with the circuit python extension...

[2021-10-11 03:14] bigjools commented on #17641
Actually I spoke too soon.

If I use `-s "project/tests"`, the `load_tests` function that lives in `tests/__init__.py` doesn't run, which is bad because that contains a loader for `testscenarios`, so you end up with missing/invalid tests.

If I use `-s .` then it finds all the tests just fine, however every test it tries to run has the same error I originally reported. (`[object Object]` etc.)

Ru

[2021-10-11 03:18] bigjools commented on #17641
Here's an example also of what the sidebar is doing. (This is a public project of mine so please feel free to test with it https://github.com/juledwar/soufi)
The tests that use `testscenarios` in the loader create multiple tests based on one test function, but each test name has a `(foo)` appended to it. The sidebar shows weird line breaks in the middle of that bracketed part.

![image](https://us

[2021-10-11 03:36] kokoman101 opened #17692 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-11 06:19] imyhxy commented on #4959
any update? can we just execute `conda activate envname` with the `source xxx` things?

[2021-10-11 11:51] jan11011977 opened #17693 "Add the ability to disable the new DeprecatePythonPath feature"
Could we please add an option to go back to the old "pythonPath" behaviour.

Selecting the python interpreter using the "python.pythonPath" setting has been working great for us. We check our Python environments into source control, along with the vscode settings and our code. Our engineers don't have to worry about anything; they just open the vscode workspace and everything works.

With this new

[2021-10-11 12:50] weinand opened #17694 "Consider to use context key 'editorLangId' (instead of 'resourceLangId') in when clauses"
For details please see https://github.com/microsoft/vscode/issues/134656

[2021-10-11 15:18] karthiknadig commented on #17677
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-11 15:18] #17677 closed

[2021-10-11 15:22] karthiknadig commented on #17682
@Lorisredstone When you say you are can in `C:/` can you explain further? Do you see anything in the Output > Python logs.

[2021-10-11 15:23] #17685 closed, assigned to nobody

[2021-10-11 15:23] karthiknadig commented on #17691
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-11 15:23] #17692 closed

[2021-10-11 15:32] karthiknadig opened #17696 "Issue Housekeeping"
October milestone will be issue cleanup milestone for the extension. We will only look into addressing critical issues that come up during the milestone.

[2021-10-11 17:19] karthiknadig commented on #17671
Duplicate of #160

[2021-10-11 17:19] #17671 closed, assigned to nobody

[2021-10-11 20:10] #7160 closed

[2021-10-11 21:42] vlsd opened #17699 "Formatter settings seem to be ignored"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): 2021.10.0
-   OS and version: Darwin x64 20.6.0
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.1
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/af

[2021-10-11 23:33] karthiknadig commented on #17687
@wahono77 Can you provide repro steps?

[2021-10-12 00:02] alandema opened #17700 "Strange behavior opening variables Interactive Python"
## Environment data

-   VS Code version: 1.61.0 (user setup)
-   Extension version (available under the Extensions sidebar): 2021.10.1317843341
-   OS and version: W10 21H1
-   Python version (& distribution if applicable, e.g. Anaconda): WinPy python 3.9.5
-   Relevant/affected Python-related VS Code extensions and their versions: Jupyter 2021.9.1001312534
-   Value of the `python.languageServer

[2021-10-12 00:27] karrtikr commented on #17667
Oh yes, that could happen, will double check. I think we use ConfigurationTarget as Global when writing the setting. Maybe that always write to User settings, even if scope is set to machine.

[2021-10-12 00:46] karrtikr commented on #17667
The scope is set to `resource` as it can be configured in all scopes: user, remote, workspace or folder settings. We use the configuration target as global when updating using
[code]
API. Thoughts?

[2021-10-12 07:41] ShadowLNC commented on #11562
I believe this also impacts the escaping of parentheses and quotes.
I believe it is related to (potentially a duplicate of) #10398

[2021-10-12 14:18] vlsd commented on #17699
@karthiknadig I didn't even think to look in there! It's exactly what the issue was. For some reason the prompt writes into the local folder settings, but doesn't say that explicitly. It makes clicking on the pop-up pretty hard to undo. Anyway, it's working now, thanks!

[2021-10-12 14:18] #17699 closed

[2021-10-12 16:15] ted1030 opened #17704 "zh-tw translations"
Some strings are not translated in zh-tw. #17705

[2021-10-12 17:08] radia12 opened #17706 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-12 17:26] #17706 closed, assigned to nobody

[2021-10-12 17:27] karthiknadig commented on #17704
Thanks for working on this.

[2021-10-12 17:32] isidorn commented on #17616
@deepak1556 here are the logs, thanks for nice steps and sorry for the slow response.

1)
[code]
2) There is no `getUnixShellEnvironment` in `main` logs. Here are full logs
[code]
3)
[code]

[2021-10-12 18:53] karrtikr opened #17709 "Shrink extension size for `github.dev` by only including modules which are used in `tsconfig.browser.json`"
When running in browser we only need to include what `src\client\browser\extension.ts` imports. It uses certain file system tools, common modules like `localize.ts`.

With https://github.com/microsoft/vscode-python/pull/17658 it was expanded a lot more than needed.

[2021-10-12 22:57] karrtikr opened #17712 "Localize strings on `github.dev`"
Change localization in the extension to use async VS Code FS APIs, as native node fs APIs are not available in browser. Some work done here: https://github.com/microsoft/vscode-python/pull/17711

[2021-10-12 23:18] karrtikr commented on #17712
Converting the existing localize module to async is a problem as that means we cannot load any existing localized strings at module level in the extension. Two approaches:
- Fix all localized constants in the extension to not be imported at module level.
- Create a separate localization module for the browser case which used the VSCode API.

If first approach seems to take a long time, we should b

[2021-10-13 01:14] #17712 closed, assigned to karrtikr

[2021-10-13 01:41] karrtikr commented on #17709
#17658 was corrected.

[2021-10-13 01:41] #17709 closed

[2021-10-13 03:59] demon15090 opened #17715 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 04:48] hondamk opened #17716 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 06:38] paulacamargo25 commented on #1119
Completed in https://github.com/microsoft/vscode-python/pull/17568

[2021-10-13 07:47] DeepakKumarDKN opened #17718 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 07:48] DeepakKumarDKN opened #17719 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 07:49] DeepakKumarDKN commented on #17719
[code]

[2021-10-13 09:37] DeepakKumarDKN opened #17721 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 10:27] DeepakKumarDKN opened #17722 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-13 10:27] DeepakKumarDKN commented on #17722
[code]

[2021-10-13 12:58] wokalek-work opened #17724 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1317843341`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

![image](https://user-images.githubusercontent.com/37534401/137137148-7de93287-34a2-4557-9542-d3b07b2f0ea4.png)

WHAT HE WANT? ?? ?? ? ?? ? ?? ? ? ?" ?

[2021-10-13 13:54] synackSA opened #17725 "Unittest discovery process taking too much memory"
## Environment data

-   VS Code version:
[code]
-   Extension version (available under the Extensions sidebar):
All of the following were installed when I installed the Python ext (https://marketplace.visualstudio.com/items?itemName=ms-python.python)
[code]
-   OS and version: macOS - Catalina - 10.15.7
-   Python version (& distribution if applicable, e.g. Anaconda):
System `python3` command
[co

[2021-10-13 16:58] #17724 closed, assigned to nobody

[2021-10-13 16:58] karthiknadig commented on #17715
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-13 16:58] #17715 closed

[2021-10-13 16:58] #17716 closed

[2021-10-13 16:59] karthiknadig commented on #17718
Duplicate of #17722

[2021-10-13 16:59] #17718 closed, assigned to nobody

[2021-10-13 17:00] #17721 closed, assigned to nobody

[2021-10-13 17:18] karrtikr commented on #17722
Please upload the CPU profile which will help us track down the issue. Follow the steps here:
https://github.com/Microsoft/vscode/wiki/Performance-Issues#profile-the-running-extensions

[2021-10-13 17:18] karthiknadig commented on #17713
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 5 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-10-13 17:55] karrtikr commented on #17480
Hey @Vad1ks, thanks for helping us with this. I plan to add more logging in the extension today and then report back here.

[2021-10-13 18:16] synackSA commented on #17725
I just figured out what it was, seemed I wrote a script to test out some
threading problems I had and named it "threading_test.py", which was being
picked up and run and since it was an infinite loop, it just went on
forever

On Wed., Oct. 13, 2021, 13:29 Karthik Nadig, ***@***.***>
wrote:

[2021-10-13 18:18] #17725 closed, assigned to karthiknadig

[2021-10-13 19:36] karrtikr commented on #17691
To help us diagnose this:

- Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4045758965/artifacts/102544038
- Set `python.logging.level` to `"info"` in **User** settings.
- and then please provide the logs as mentioned in the issue template.

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> pan

[2021-10-13 20:56] karrtikr opened #17733 "Ensure selecting interpreter on remote does not change user setting"
See https://github.com/microsoft/vscode-python/issues/17667#issuecomment-940517623

[2021-10-13 21:01] karrtikr commented on #17599
We can possibly link to the wiki here for more details: https://github.com/microsoft/vscode-python/wiki/Partial-mode

This wiki is also opened when `Learn more` is clicked here (https://github.com/microsoft/vscode-python/pull/17658):

![image](https://user-images.githubusercontent.com/13199757/137015480-56e26d9e-87fc-46d7-95d0-7171819423a6.png)

[2021-10-13 21:02] #17733 closed, assigned to nobody

[2021-10-13 21:14] karrtikr commented on #17678
I think the issue was that zsh shell type was not being detected on windows correctly, which I believe was fixed in https://github.com/microsoft/vscode-python/issues/17426. Please try the latest version of the extension and leave a comment if it doesn't fix the issue, closing this.

[2021-10-13 21:14] #17678 closed

[2021-10-13 21:16] hszw-forpeople commented on #17414
Is there a workaround for this (other than renaming directories) until the fix/rewrite is released? Or are we stuck with a broken test runner until then?

[2021-10-13 21:29] karrtikr commented on #17351
Apologies, the presence of both `python.pythonPath` and `python.defaultInterpreterPath` is indeed confusing. We do not use `python.pythonPath` anymore, see https://github.com/microsoft/vscode-python/wiki/AB-Experiments#pythondeprecatepythonpath for more details. We displayed a prompt containing this info when we deprecated `python.pythonPath` which you might have missed.

We plan to remove `python

[2021-10-13 21:48] karrtikr commented on #17690
Hi @alandema , this looks like an issue with `IPython` module itself. Extension simply sends the selection to terminal. Regardless of the extension, if you attempt to copy paste this
[code]
in a IPython, it results in extra indentation resulting in an error:
![image](https://user-images.githubusercontent.com/13199757/137216653-8652af17-f398-49b7-89bb-fbe2a7c49cae.png)

I think it is because in `IP

[2021-10-13 21:54] karthiknadig commented on #17414
@hszw-forpeople I recommend using an older version of the extension 2021.8.*, if you cannot change the name.

[2021-10-13 21:57] karrtikr commented on #17690
Similar to https://github.com/microsoft/vscode-python/issues/17172

[2021-10-13 21:59] karrtikr commented on #17690
Closing as dup of https://github.com/microsoft/vscode-python/issues/8945, very similar to #17172.

[2021-10-13 22:31] karrtikr commented on #16905
It also seems that we do not report when black errors out: https://github.com/microsoft/vscode-python/issues/8196, which is another related issue.

[2021-10-13 23:58] karrtikr commented on #16599
No problem, if you feel this could have been clearer feel free to open an issue in https://github.com/Microsoft/vscode-docs.

[2021-10-14 08:30] 1023185654 opened #17737 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-14 09:35] tomyo opened #17738 "Runtime Error: No matching bindings found for serviceIdentifier: Symbol(ILanguageServerActivator) Symbol(ILanguageServerActivator) - named: Jedi"
## Environment data
Version: 1.61.0
Commit: ee8c7def80afc00dd6e593ef12f37756d8f504ea
Date: 2021-10-08T22:09:41.030Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.10.68-1-MANJARO

-   Value of the `python.languageServer` setting: Pylance

## Expected behaviour

Go to definition and autocomplete works.

## Actual behaviour

Go to definition and aut

[2021-10-14 09:58] #17738 closed, assigned to nobody

[2021-10-14 15:25] #17737 closed, assigned to nobody

[2021-10-14 15:39] Prabhun99 opened #17741 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.22471`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-14 15:44] Girish400 commented on #17678
Tested the [code](https://github.com/microsoft/vscode/issues/132952) on windows and Mac, the issue seems to be resolved.

[2021-10-14 15:57] #17741 closed, assigned to nobody

[2021-10-14 16:35] marcusplima opened #17742 "Stuck in Discovering Python Interpreters."
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: Windows 10 Enterprise
-
X
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Relevant/affected Python packages and their versions: None
-

[2021-10-14 19:27] #7130 closed, assigned to karthiknadig

[2021-10-14 20:24] #9349 closed

[2021-10-14 20:34] karthiknadig commented on #9942
Starting with 2021.10.* we have switched over to the new system of discovering environments. There should be reduced load on the system on first load, and following loads should fair better. If you run into issue, please file a bug and make sure you use `"python.logging.level": "debug"` when filing with the logs.

@LinqLover Jupyter notebooks are now a separate extension so if this is continuing t

[2021-10-14 20:34] #9942 closed

[2021-10-14 21:12] UtshoDey opened #17743 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-14 21:35] #17743 closed, assigned to nobody

[2021-10-14 22:35] #15181 closed

[2021-10-14 23:12] HashemLovesYou opened #17745 "Doesn't recognize new Py 3.10 match statement"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): 2021.10.1336267007
-   OS and version: Windows 10 Home 21H1
-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.0
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: N/A
-   Releva

[2021-10-15 07:53] charles-dexter-ward opened #17749 "Allow to define per project aliases for Python import paths"
We have various project hosted on gitlab.
These applications are deployed inside a common container application with the following structure:

[code]
so, each application can import other ones with

`from www.app2 import app2_module`

But when developing, each application from gitlab is a single project

So in the development folder we have:

[code]

Now, I have  found no way to instruct the pytho

[2021-10-15 09:04] LightCC commented on #693
This is an excellent case for better integration of run/debug configurations. You can currently already create these in the launch.json, but I can't figure out how to get pytest to use the different configurations.

The "Run and Debug" window dropdown will look like this:
![image](https://user-images.githubusercontent.com/19731713/137461062-46cf858a-78a0-4a35-a2f3-bafbffbdefbb.png)

With the `laun

[2021-10-15 10:32] marcusplima commented on #17742
I had to delete the following folders, uninstall,  and then reinstall vscode.

- C:\Users\[user_name]\.vscode
- C:\Users\[user_name]\AppData\Roaming\Code

Thanks for your reply. Issued solved.

[2021-10-15 10:32] #17742 closed, assigned to karrtikr

[2021-10-15 11:51] RoPP opened #17750 "Pytest discovery error with "]" char in pytest.mark.parametrize"
## Environment data

-   VS Code version: 1.61.1
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: Linux
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Py

[2021-10-15 12:44] Known4 opened #17751 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-15 15:33] hatuan195 opened #17752 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-15 15:33] hatuan195 commented on #17752
[code]

[2021-10-15 16:40] DomInvivo commented on #16526
@joyceerhl Do you need more information from the debugger? I still have problems with Tensorboard for VSCode. It keeps loading with a blank page.

[2021-10-15 16:49] #17599 closed

[2021-10-15 17:11] #17751 closed

[2021-10-15 17:16] brettcannon commented on #17745
Unfortunately [Jedi](https://github.com/davidhalter/jedi/) (and it's underlying parser, [parso](https://github.com/davidhalter/parso/)) has not added support for the `match` statement yet. Please consider switching your language server to `"Default"`/`"Pylance"` as our Pylance language server already has support.

[2021-10-15 17:28] #16979 closed

[2021-10-15 17:28] brettcannon commented on #17068
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-10-15 17:28] #17068 closed

[2021-10-15 17:28] brettcannon commented on #17283
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-10-15 17:28] #14424 closed, assigned to kimadeline

[2021-10-15 17:28] brettcannon commented on #17449
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-10-15 17:39] brettcannon commented on #16988
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-10-15 17:40] brettcannon commented on #16994
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-10-15 17:48] brettcannon opened #17755 "Release plan for `2021.11`"
All dates should align with VS Code's [iteration](https://github.com/microsoft/vscode/labels/iteration-plan) and [endgame](https://github.com/microsoft/vscode/labels/endgame-plan) plans.

# Feature freeze ([Monday @ 17:00 America/Vancouver](https://www.worldtimebuddy.com/?pl=1&lid=6173331,100,2657896&h=6173331&date=10/25/2021%7C3&hf=0), Oct 25)

-   [x] Announce the feature freeze on both Teams an

[2021-10-15 17:48] #17263 closed

[2021-10-15 19:48] mpratscher commented on #11924
@karrtikr Here you go. Happy to help, so please let me know if there's anything else you need or want me to try.

[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/7355698/ms-python.python-unresponsive.cpuprofile.txt)
[python_output.txt](https://github.com/microsoft/vscode-python/files/7355700/python_output.txt)
[settings_json.txt](https://github.com/m

[2021-10-15 20:55] karthiknadig commented on #17749
/cc @jakebailey

[2021-10-15 20:57] karthiknadig commented on #17750
Duplicate of #17676

[2021-10-15 20:57] #17750 closed

[2021-10-15 22:18] karthiknadig opened #17760 "CI Windows python 3.10 : Failed building wheel for pandas"
[code]

[2021-10-15 23:05] #16031 closed

[2021-10-15 23:31] karthiknadig commented on #17760
Revert this change after this is fixed by `pandas` https://github.com/microsoft/vscode-python/commit/be5871957ae7ec58690e277257f0b253fa81620f

[2021-10-15 23:39] karrtikr commented on #11924
Thanks for the prompt response.

I tried opening the root directory (`D:` in my USB drive) as a folder in VSCode, and then tried opening a python file. I indeed get stuck at `Discovering Python Interpreters`. However if I open a folder inside `D:` say `D:/hello`, extension seems to work fine.

Bad news is that it seems extension never used to work when a drive (say `D:/`) was directly opened, atle

[2021-10-15 23:53] karrtikr commented on #11924
Very interesting, thank you. Just having
[code]
works for me.

Extension removed support for opting out of `pythonDiscoveryModuleWithoutWatcher` with `2021.10.1317843341` (see https://github.com/microsoft/vscode-python/pull/17563), which is why it started happening _now_ for you guys. But it seems the new discovery code was likely buggy going way back.

I'll let you know if I need anything else.

[2021-10-16 00:41] karthiknadig commented on #10691
Starting with the 2021.10.* we have a new discovery system that should work better in these scenarios. Please try it, and if you continue to run into issues, please file a bug with logs after setting `"python.logging.level": "debug"`.

[2021-10-16 00:41] #10691 closed

[2021-10-16 00:44] mpratscher commented on #11924
@karrtikr Version `v2021.9.1246542782` also works for me. I tried it based on sn0wfa11's earlier post: https://github.com/microsoft/vscode-python/issues/11924#issuecomment-940439684
I do _not_ have any opt outs in my settings (see my settings_json.txt file above). Also, note that `python.logging.level` and `files.watcherExclude` were only added for this testing; those are not typically there for m

[2021-10-16 00:50] karthiknadig commented on #10929
Sorry for taking so long to investigate this. The issue happens highly likely due to custom python writing something to the `stdout`. We added a way to debug in these scenarios, but you will need two pythons. A standard python install and your custom python, then you can use a configuration like this to run the debug adapter and your code on different pythons:

[code]
Make sure you select standard

[2021-10-16 00:56] karthiknadig commented on #11257
Sorry for the long wait on this. We have new language server `Pylance` that should fair better in this scenario. Please try that. You could also try the new `Jedi` server that should handle this better.

[2021-10-16 00:58] karthiknadig commented on #11356
We release a re-write for the Test UI (in 2021.9.*)that should work better in these scenarios. Please try that. If you continue to run into issues, please file a separate bug.

[2021-10-16 01:00] karrtikr commented on #11924
@mpratscher Noted, thanks.

You actually have telemetry disabled, which effectively means you have opted out of all experiments.

[2021-10-16 07:13] aman639390 opened #17762 "https://github.com/Microsoft/vscode-python/issues/new"
Microsoft Windows [Version 6.1.7600]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\YASH\Desktop\.vscode> cmd /C "set "PYTHONIOENCODING=UTF-8" && set "PYTHONUNBUFFERED=1" && C:\Python32\python.exe c:\Users\YASH\.vscode\extensions\ms-python.python-2020.6.91350\pythonFiles\ptvsd_launcher.py --default --client --host localhost --port 53240 -m print "
Traceback (most recent

[2021-10-16 07:16] #17762 closed

[2021-10-16 10:17] ross-weir opened #17763 "Editor margin breakpoints not triggering"
Hopefully this is the right place for this.

Breakpoints set in the editor margin aren't triggered unless a `breakpoint()` statement was previously used.

## Environment data

-   VS Code version: 1.61.1 (system setup)
-   Extension version (available under the Extensions sidebar): v2021.11.1313923388-dev
-   OS and version: Windows_NT x64 10.0.19042
-   Python version (& distribution if applicabl

[2021-10-16 13:57] kolbjoh opened #17764 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-16 15:02] thigro opened #17765 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-16 15:15] svenschilling opened #17766 "bug"
Issue Type: Bug

When i define a parameter outside of a function in python and then try to get method suggestions when goign trough a for loop then i get none and it doenst even colored it as one if i type it manually.
On the other hand if put in the parameter, in this example a string, then vs code gives me suggestions.
Somehow both method return correct results.
(the following example doesnt sho

[2021-10-16 17:02] jslatane opened #19695 "Add support for Python traceback lexer in markdown code cells"
In the case of making a notebook for demonstrating how Python errors appear, it can be useful to create a markdown code cell showing the expected output of running some incorrect code. Consider this code example:
[code]
When you run this in a code cell you should get a traceback message something like this:
[code]

It would be helpful if you could put that traceback message int a markdown cell cod

[2021-10-16 17:31] akemisetti opened #17767 "Windows+wsl2+docker : Python interpreter keeps refreshing in the command palette and does not allow selection"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): 2021.10.1
-   OS and version: Windwos 11
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: XXX
-   Relevant/affected Python-rel

[2021-10-16 22:09] IanMaxwellMuldoon opened #17769 "Python is disabled"
When I install Python extension, Python and Pylance are greyed out. I get this error message when I install.
![image](https://user-images.githubusercontent.com/91501870/137603237-84a90b4a-62b2-40d7-b741-fc21c32494ef.png)
I have already tried download previous versions of Python and Pylance.

[2021-10-17 01:14] chriskuech opened #17770 "`black` does not modify malformed files"
## Environment data

-   VS Code version: 1.62.2
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: macOS 11.6 (M1)
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/af

[2021-10-17 02:59] TH1THUNLIMITED opened #17771 "Error while updating 'Python' extension. Please check the [log] for more details."
The python extension is not installing (Error while updating 'Python' extension. Please check the [log] for more details.) and when I try to install it manually it keeps stopping on its own and I also don't understand any thing in the logs so I cant fix it from there either and I'm on windows 10

[2021-10-17 07:01] xiaoxi-david opened #17772 "Improve feedback when user tries a pytest test when pytest is not installed, but is selected as the testing library"
The current feedback **"Error discovering pytest tests: See Output > Python)"** in the testing tab is not very beginner-friendly.

Indeed, after reading that feedback, my first though was that I made a mistake writing the pytest test and not that I haven't installed pytest.

I wish I could get a similar warning as I get when black is not installed, but is selected as the default formatter.

[2021-10-17 09:56] norbertnogacki-tomtom opened #17773 "Extract Method and Extract Variable commands have disappeared"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: Windows 10 Version	10.0.19042 Build 19042
-   Python version (& distribution if applicable, e.g. Anaconda): 3.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their vers

[2021-10-17 12:26] sermann commented on #16058
Having the same issue: the Python extension will fail to load with either "Python extension loading..." or "Discovering Python Interpreters" notifications when trying to edit a .py file located on a drive's root directory.

That is a major issue for anyone developping CircuitPython code as the files have to reside on the device's root directory to support CircuitPython's inner loop development.

T

[2021-10-17 16:10] Reaper-Dhan opened #17774 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.22478`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-17 17:06] AlekseyKrutov opened #17775 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-17 17:38] karrtikr commented on #17480
Can you check if https://github.com/microsoft/vscode-python/issues/11924#issuecomment-944811156 helps?

[2021-10-17 18:05] Vad1ks commented on #17480
No, it doesn't. Here is my settings.json
![image](https://user-images.githubusercontent.com/43758678/137639461-f7e29a09-b822-4b57-91fe-494ebceadfde.png)

[2021-10-17 18:13] karrtikr commented on #17480
I see, are you using `v2021.9.1246542782` version?

[2021-10-18 00:36] #17764 closed, assigned to nobody

[2021-10-18 00:36] karthiknadig commented on #17765
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-18 00:36] #17765 closed

[2021-10-18 00:41] karthiknadig commented on #17773
@norbertnogacki-tomtom Starting with the latest release these commands are now supported via the `light bulb`.
![image](https://user-images.githubusercontent.com/3840081/137651267-c1b48adc-2cf3-4792-96a4-5065bf0214d2.png)

[2021-10-18 00:42] karthiknadig commented on #17774
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-18 00:42] #17774 closed

[2021-10-18 00:42] karthiknadig commented on #17775
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our [issue template](https://github.com/microsoft/vscode-python/blob/master/.github/ISSUE_TEMPLATE/2_bug_report.md).

[2021-10-18 00:42] #17775 closed

[2021-10-18 00:45] karthiknadig commented on #17770
@chriskuech Please share the code that is not working. Issues like this are hard to reproduce without a specific code to repro it.

[2021-10-18 04:29] dp-alvarez opened #17776 ""python.autoComplete.showAdvancedMembers" setting ignored"
## Environment data

-   VS Code version: 1.61
-   Extension version: v2021.10.1336267007
-   Value of the `python.languageServer` setting: Jedi

## Expected behaviour

Auto-completion items starting with "__" should be hidden when "python.autoComplete.showAdvancedMembers" is set to false.

## Actual behaviour

All auto-completion items are shown regardless of the above setting

<p>

</p>
</detail

[2021-10-18 04:35] dp-alvarez opened #17777 "Jedi LS: Cannot disable language server linting"
## Environment data

-   VS Code version: 1.61
-   Extension version: v2021.10.1336267007
-   Value of the `python.languageServer` setting: Jedi

## Expected behaviour

When using the Jedi language server, all of the linting-related settings to are only applied to "external" linting tools.
None of the settings affect the problems reported by the language server, which create invalid entries in the

[2021-10-18 09:20] abioz-aiz commented on #17495
What could possibly be the problem? @karthiknadig

[2021-10-18 09:22] Phil-Garmann opened #17778 "Parametrized tests in pytest with "]"-string breaks pytest discovering"
## Environment data

-   VS Code version: 1.61.1
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: Windows 10 Enterprise, 1909
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.10 64-bit
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions

[2021-10-18 16:28] #17778 closed, assigned to nobody

[2021-10-18 17:15] Kaos1005 opened #17779 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

python extention is unresponsive
![image_2021-10-18_191537](https://user-images.githubusercontent.com/92748128/137777488-e3a5b6aa-2968-446a-9896-5c1d2ffa565f.png)

[2021-10-18 17:35] karthiknadig commented on #17769
@IanMaxwellMuldoon You might have an untrusted workspace, Python extension is disabled in untrusted workspace.

/cc @jakebailey

[2021-10-18 18:01] #17779 closed, assigned to karrtikr

[2021-10-18 18:27] karthiknadig commented on #7314
@sanmai-NL this issue is about language server and pylint, not really about the results from pylint. You may need to file a separate issue for that. Previously, we only had either linter messages or messages for LS (because we did not run pylint at all if LS was enabled). With this change, if both linter and ls are enabled you get messages for both. The change itself is not referred here directly

[2021-10-18 18:58] karrtikr commented on #17048
Should be fixed with https://github.com/microsoft/vscode-python/pull/17781. Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4087722570/artifacts/104116878, and let me know if that doesn't the fix for you.

[2021-10-18 19:43] karrtikr commented on #17767
Please provide the logs as mentioned in the issue template. Set `python.logging.level` to `info` in **Remote** settings before doing the following. Use `> Open remote settings (JSON)` command to open remote settings.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code

[2021-10-18 21:39] #13262 closed

[2021-10-18 22:41] kimadeline commented on #17770
@chriskuech could you also copy here the terminal output when you run `/usr/bin/python3 -m black --diff --quiet ~/Repositories/cad-processing/src/__init__.py` in the terminal directly?

[2021-10-18 22:56] #11814 closed

[2021-10-19 00:15] karthiknadig commented on #17776
Filter feature has to be supported on Jedi first https://github.com/pappasam/jedi-language-server/issues/168 . Then we can add this.

[2021-10-19 03:05] #17770 closed

[2021-10-19 05:15] Touyu-Pan commented on #11924
Lots of thanks!!!

[2021-10-19 05:20] silentknight104 opened #17785 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\AMANJA~1\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/E

[2021-10-19 07:26] #17785 closed, assigned to nobody

[2021-10-19 10:19] RoyYuen33 opened #17786 "AttributeError: module 'pyautogui' has no attribute 'Click'"
Environment data

-   OS and version: win10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Value of the `python.languageServer` setting: pyautogui-0.9.53

When I run these codes by ctrl+shift+b or python.exe ./pyautogui.py, this error will occur.
![1634638670(1)](https://user-images.githubu

[2021-10-19 12:46] FalkonGangrel opened #17787 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\progr\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2021-10-19 16:25] john-aws opened #17788 "Windows: Discovering Python Interpreters takes forever"
## Environment data

-   VS Code version: 1.61
-   Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS and version: Windows 10 (Windows_NT x64 10.0.19043)
-   Python version (& distribution if applicable, e.g. Anaconda): multiple
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versi

[2021-10-19 16:35] karrtikr commented on #17453
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2021-10-19 16:39] Sharkoo123 commented on #17453
Hi,

My apology for the late reply. It works really well now. Thank you so much.

Regards,
Nhan Dung Nguyen
On Tue, Oct 19, 2021, 23:35 Kartik Raj ***@***.***> wrote:

[2021-10-19 16:59] #17787 closed, assigned to nobody

[2021-10-19 17:21] #17788 closed

[2021-10-19 17:22] #17786 closed, assigned to nobody

[2021-10-19 18:12] karthiknadig opened #17789 "Update `debugpy` to 1.5.1 to ensure user-unhandled exception setting is `false` by default"
See: https://github.com/microsoft/debugpy/issues/751

[2021-10-19 19:22] karrtikr commented on #16419
I'm able to reproduce this, thanks. Your issue should be fixed with https://github.com/microsoft/vscode-python/pull/17732. We have opened https://github.com/microsoft/vscode-python/issues/17667 to improve the prompt message.

[2021-10-19 19:22] #16419 closed

[2021-10-19 20:14] #17789 closed

[2021-10-19 20:21] Grawp opened #17793 "Basic expand selection funcionality is broken"
Consider the following python code example:
[code]
When cursor is placed in the middle of the string and you start _expanding selection_ from there, `list('abcd')` does not ever get select in any step. This is a very basic _expand selection_ use case, not some edge case and it is not working correctly.

There is not actually any cursor position from which `list('abcd')` gets select using _expand s

[2021-10-19 20:24] karthiknadig commented on #13954
The current value shows whatever was set for that project as the interpreter. We probably need to test if that matches the platform. It might not be straight forward to verify because `python.exe` works in WSL, and we may have to transform the path from `C:\` to `/mnt/c/`:
![image](https://user-images.githubusercontent.com/3840081/137984671-210068b5-5ceb-489c-b7da-12449f6803e7.png)

[2021-10-19 21:07] arobinson opened #17794 "VS code does not handle escaping braces in f-strings"
## Environment data
Name: Python
Id: ms-python.python
Description: IntelliSense (Pylance), Linting, Debugging (multi-threaded, remote), Jupyter Notebooks, code formatting, refactoring, unit tests, and more.
Version: 2021.10.1336267007
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-python.python

-   VS Code version: 1.61.1
-   Extension version (av

[2021-10-19 21:33] #13474 closed

[2021-10-19 22:08] karrtikr commented on #16231
Great, I'll have a look. From my understanding I'm trying to find out why `/Users/albireo/.pyenv/versions/3.9.4/bin/python` wasn't discovered.

[2021-10-20 00:04] karrtikr opened #17796 "Remove discovery experiments from control tower"

[2021-10-20 00:44] karrtikr opened #17797 "Enable Windows store locator watcher"
Useful for getting started experience, so that user doesn't have to reload after installing Python, discussed here: https://github.com/microsoft/vscode-python/pull/16709#discussion_r675839696

Enable watcher tests too: https://github.com/microsoft/vscode-python/blob/1392508c7bc045c851d9181c191070185a0ce6cf/src/test/pythonEnvironments/base/locators/lowLevel/windowsStoreLocator.test.ts#L99.

[2021-10-20 00:49] karrtikr opened #17798 "Remove global watchers from discovery"
Except the windows store watcher: https://github.com/microsoft/vscode-python/issues/17797

[2021-10-20 00:58] albireox commented on #16231
Here's the new log.

https://gist.github.com/albireox/97f1ef5b3a34a6e278ffdb402deab78e

[2021-10-20 01:14] karrtikr commented on #16231
I have figured out the cause, thanks! It is because `bin` directory is a symlink, and we only check if it's a directory before attempting to read it. Some part of this issue was fixed with https://github.com/microsoft/vscode-python/pull/15451.

[2021-10-20 02:02] albireox commented on #16231
Awesome, thanks!

[2021-10-20 03:34] prafullchoudhary opened #17799 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT ia32 6.1.7601`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Amit\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explai

[2021-10-20 07:20] ArliHarsh opened #17802 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Harsh\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2021-10-20 08:47] rusnasonov opened #17810 "Escape test ID`s in Testing API"
I have Python project with pytest's tests and I catch this error

[code]

Pytest allow to [parametrize](https://pytest.org/en/stable/parametrize.html) and test looks like this
[code]
-> `test_generic_404_exception_is_not_affected[\u0000]` is valid test name

<img width="450" alt="Screenshot 2021-10-20 at 11 48 18" src="https://user-images.githubusercontent.com/4026379/138060671-722dbaa7-f6c1-4ba3-

[2021-10-20 09:23] gonghenghai opened #17803 "Can we retain "Open Start Page" command?"
Some people like it. Such as [this](https://stackoverflow.com/questions/69628844/how-can-i-get-a-vscode-extension-to-show-the-install-tutorial).

[2021-10-20 12:16] himanshu777m opened #17804 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

VS code is showing "Discovering Python Interpreters" for python, yesterday it was working fine. Now, python is unresponsive here but working fine in cmd

[2021-10-20 13:06] Raouf217 opened #17805 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-10-20 13:07] #17805 closed

[2021-10-20 13:57] k34gayyyyyyyyyyyyyyyymes opened #17806 "Extension issue: it doesn't respond and I don't know why"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-20 14:41] amankuam opened #17807 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-20 14:45] amankuam opened #17808 "unresponsive"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-20 14:45] #17808 closed, assigned to nobody

[2021-10-20 14:47] amankuam opened #17809 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-20 16:43] #17802 closed, assigned to nobody

[2021-10-20 16:43] karthiknadig commented on #17804
Should be fixed with https://github.com/microsoft/vscode-python/pull/17781. Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4087722570/artifacts/104116878 which has the fix, if you would like to test the fix. We will be releasing the fix soon.

[2021-10-20 16:43] #17804 closed

[2021-10-20 16:43] karthiknadig commented on #17806
Should be fixed with https://github.com/microsoft/vscode-python/pull/17781. Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4087722570/artifacts/104116878 which has the fix, if you would like to test the fix. We will be releasing the fix soon.

[2021-10-20 16:44] karthiknadig commented on #17807
Should be fixed with https://github.com/microsoft/vscode-python/pull/17781. Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4087722570/artifacts/104116878 which has the fix, if you would like to test the fix. We will be releasing the fix soon.

[2021-10-20 16:44] #17807 closed, assigned to nobody

[2021-10-20 16:44] karthiknadig commented on #17809
Should be fixed with https://github.com/microsoft/vscode-python/pull/17781. Use `Extension: Install from VSIX` command to install the following VSIX: https://github.com/microsoft/vscode-python/suites/4087722570/artifacts/104116878 which has the fix, if you would like to test the fix. We will be releasing the fix soon.

[2021-10-20 16:44] #17809 closed, assigned to nobody

[2021-10-20 17:32] karthiknadig opened #17811 "Ensure we use `shellExecutionSupported` to hide things from github.dev"

[2021-10-20 17:40] #17803 closed, assigned to nobody

[2021-10-20 18:00] eddieparker opened #17813 "Ability to disable "No Python interpreter is selected" warning?"
I often have VS code pointed at a root that contains python files.  I often don't want to use intellisense, linting, debugging, etc - I just want to peruse the files; but this warning pops up everytime I open the workspace.

Is there a setting somewhere that I can disable this warning?  Ideally I'd get it just when I start to debug, or if I request linting so I can fix it when I need it, not befor

[2021-10-20 18:49] AnujP6174 opened #17814 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.60.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\hp\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain

[2021-10-20 19:08] #17811 closed

[2021-10-20 19:25] #17814 closed

[2021-10-20 21:29] karrtikr commented on #17813
Once you select an interpreter, it should go away, did you try that?

[2021-10-20 21:37] eddieparker commented on #17813
I didn't try that; the thing is I don't want an interpreter for this stack of python code.  I just want to view source code without the interpreter question popping up all the time.

[2021-10-20 22:04] karrtikr commented on #16667
Done

[2021-10-20 22:08] karrtikr commented on #14843
Outdated as many things have changed.

[2021-10-20 22:08] #14843 closed

[2021-10-20 22:25] AmeenReda1 opened #17818 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\DELL\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2021-10-20 22:32] karrtikr commented on #14201
Taken care of

[2021-10-20 22:32] #14201 closed

[2021-10-20 22:37] #17818 closed, assigned to nobody

[2021-10-20 22:42] karrtikr commented on #17250
@JacobCallahan Sorry for the late reply. This is only for python interpreter discovery, and not test discovery. So please open a new test issue if you still have it.

[2021-10-20 22:47] JacobCallahan commented on #17250
@karrtikr I'll try to set aside some time tomorrow and try test discovery with the latest version. If the issue persists, then I'll open a new one and link it here. Thanks

[2021-10-20 22:47] karrtikr commented on #16534
Closed as dup of https://github.com/microsoft/vscode-python/issues/17798

[2021-10-20 22:47] #16534 closed

[2021-10-20 22:59] #9576 closed

[2021-10-20 23:04] #3325 closed

[2021-10-20 23:08] #5539 closed

[2021-10-20 23:10] karrtikr commented on #8575
Is this issue still happening with the latest version of the extension?

[2021-10-20 23:20] karrtikr commented on #9154
This should be fixed in the latest version of the extension, please open a new issue with details if that's not the case.

[2021-10-20 23:22] karrtikr opened #17819 "Remove `python.condaPath` from workspace scope"

[2021-10-20 23:23] karrtikr commented on #9154
Note `python.condaPath` no longer works if set at workspace level, please use User settings to set it: https://github.com/microsoft/vscode-python/issues/17819

[2021-10-20 23:26] kimadeline commented on #17810
https://github.com/microsoft/vscode-python/issues/17242

[2021-10-20 23:34] karrtikr opened #17821 "Split out interpreter path related settings from general configuration service"
Ideally we should separate each setting type to its own component. But for now interpreter path settings has grown to have a lot of special cases in `configSettings.ts`.
- It is especially manipulated/validated before use.
- It should be handled asynchronously to solve many of these issues: https://github.com/microsoft/vscode-python/issues/12452
- In many cases we are forced to use workspace servi

[2021-10-20 23:38] karrtikr commented on #12452
Once https://github.com/microsoft/vscode-python/issues/17821 is done asynchronously, validating these settings can also be conducted asynchronously, so support this scenario shouldn't be an issue.

[2021-10-21 00:26] #17819 closed

[2021-10-21 06:35] ajkaijanaho opened #17823 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1365161279`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/7386427/ms-python.python-unresp

[2021-10-21 10:13] sigmaris opened #17825 "Pytest discovery can't add two tests subdirectories"
## Environment data

-   VS Code version: 1.61.2
-   Extension version: v2021.10.1336267007
-   OS and version: Fedora 34, Linux x64 5.14.12-200.fc34.x86_64
-   Python version: Python 3.9.4
-   Type of virtual environment used: Fedora Toolbox (podman) F33 container
-   Relevant/affected Python packages and their versions: pytest 6.0.2
-   Value of the `python.languageServer` setting: default

## E

[2021-10-21 11:11] LeonM23 opened #17826 "Jupyter Variable Explorer layout"
Issue Type: <b>Feature Request</b>

I'm addicted to layout of Spyder. And I found that for a earlier version of Python Extension ( v 2020.10), the variable explorer for Interactive Window lies at the upper right, as the same as the Spyder layout. However, for the latest version of Python Extension(v 2021.10), it is, called Jupyter : Variables,  placed in panel area, and can not be dragged into edi

[2021-10-21 12:14] lluetcke-ct opened #17827 "New Integrated Terminal doesn't activate defined virtual environment for workspace"
## Environment data

-   VS Code version: 1.61.0
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279 (installed from VSIX as it is not yet available through the extensions marketplace)
-   OS and version: Arch Linux with Kernel 5.14
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | c

[2021-10-21 14:14] BLucky-gh opened #17828 "VSCode gets stuck on sorting imports if `source.organizeImports` is enabled and isort is installed"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Windows 10 21H1 with VSCode server running on WSL Debian
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.2
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): poetry
-   Relevant/affected Python pack

[2021-10-21 16:51] kimadeline commented on #2640
We changed the way we perform environment discovery, and there is now a refresh button in the top right corner of the environment quickpick:

![image](https://user-images.githubusercontent.com/51720070/138322204-c4644c6c-832d-450a-8d3e-37555765badb.png)

[2021-10-21 16:51] #2640 closed

[2021-10-21 16:55] #2156 closed

[2021-10-21 17:38] #17813 closed, assigned to karrtikr

[2021-10-21 18:10] karrtikr commented on #17828
It seems to work fine for me. Can you provide the following info:

- Extension ships with isort, so you do not need to install it. What did you use to install it, and do you have `"python.sortImports.path"` set to your installed isort?
- What's the `isort` version you're using?
- A minimal file content which reproduces this?

[2021-10-21 18:11] karrtikr commented on #17828
Your issue could be a potential dup of https://github.com/microsoft/vscode-python/issues/7042 based on your answers.

[2021-10-21 18:15] #4060 closed

[2021-10-21 18:20] kimadeline commented on #5632
Closing as stale.

[2021-10-21 18:20] #5632 closed

[2021-10-21 18:35] kimadeline commented on #7608
Closing in favor of https://github.com/microsoft/vscode-python/issues/17242

[2021-10-21 18:35] #7608 closed

[2021-10-21 19:12] Arnab2002 opened #17831 "github pull requests and issues Extension issue"
- Issue Type: `Bug`
- Extension Name: `python`
- Extension Version: `2021.10.1365161279`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-21 19:39] #17831 closed

[2021-10-21 19:52] kimadeline commented on #5490
Closing as duplicate of #17561.

[2021-10-21 19:52] #5490 closed

[2021-10-21 20:55] #5677 closed

[2021-10-21 21:18] karrtikr commented on #5728
Seems to be still happening with the latest test explorer.

[2021-10-21 21:22] karrtikr commented on #5968
Fixed in latest extension

[2021-10-21 21:31] karrtikr commented on #7506
It turns out `failed` was always set as `true` even though we successfully detected the shell type.

[2021-10-21 21:36] karthiknadig commented on #5728
We don't control this behavior any more. This should be a setting on VS Code.

[2021-10-21 22:16] david-waterworth opened #17833 "Show recomended python interpreter at the top rather than bottom of the list"
If I have a .venv folder in my workspace (containing a virtualenv), the `Select Interpreter` command star's it as the recommended interpreter. However, I also have a bunch of pyenv-virtualenv's on my machine and they appear first in the list. Ideally you'd sort the list first by recommended, then by the name (or whatever the current default is). Otherwise the recommended interpreter is right at th

[2021-10-21 22:36] karrtikr commented on #8195
Fixed in the latest version of the extension.

[2021-10-21 22:36] #8195 closed

[2021-10-21 22:45] karthiknadig opened #17834 "Remove MPLS support from the extension"

[2021-10-21 22:58] #7506 closed

[2021-10-21 23:01] #4179 closed

[2021-10-21 23:03] karrtikr commented on #2713
Does installing the `Python Indent` extension solve this problem?

[2021-10-21 23:40] karrtikr commented on #10692
You need to put the `$` for `"python.pythonPath": "${env:PYTHON_FOR_VSCODE}"` to work, I think you missed that. Closing this as it's working as intended.

[2021-10-21 23:43] #11304 closed

[2021-10-21 23:45] karrtikr commented on #12369
Fixed in latest release of extension.

[2021-10-22 00:13] karrtikr commented on #10489
See https://github.com/microsoft/vscode-python/issues/10489 for list of commands.

[2021-10-22 00:13] #4826 closed

[2021-10-22 00:18] karrtikr commented on #8531
What is `waitForPromise`? This issue seems outdated to me.

[2021-10-22 00:19] #8531 closed

[2021-10-22 00:23] karrtikr commented on #8431
Language server is going away so this can be closed.

[2021-10-22 00:32] karrtikr commented on #14730
The issue is here: https://github.com/microsoft/vscode-python/blob/94a6ba89c295145407388fdc0744e34314b2a325/src/client/terminals/codeExecution/terminalCodeExecution.ts#L94. Identify if it's in a different drive and then figure out what command to send accordingly. For eg. if workspace folder is currently on `c:` drive, and file to run is on `d:`. Send `d:` to terminal to switch the drive first. ([

[2021-10-22 00:40] karrtikr commented on #14721
Should be fixed in the latest release of extension.

[2021-10-22 00:42] karrtikr commented on #10611
Handle https://github.com/microsoft/vscode-python/issues/4203 if and when bringing `pipenv shell` back.

[2021-10-22 00:43] karrtikr commented on #4203
Closing as we no longer use `pipenv shell` command: https://github.com/microsoft/vscode-python/issues/10611#issuecomment-949118646

[2021-10-22 00:43] #4203 closed

[2021-10-22 00:45] karrtikr commented on #7684
Does not happen for me in the latest release of the extension.

[2021-10-22 00:45] #7684 closed

[2021-10-22 04:09] BLucky-gh commented on #17828
Didn't know the extension ships with isort, I just used `poetry add --dev isort` which installs it from PyPi, and then set `python.sortImports.path` to `isort`

Will tell in an hour, but I assume latest version compatible with python 3.9

Will give in an hour, the issue is on my work pc and my workday starts in an hour

[2021-10-22 22:55] #17828 closed, assigned to karrtikr

[2021-10-22 23:46] #11317 closed, assigned to nobody

[2021-10-23 00:03] #13512 closed

[2021-10-23 00:10] karrtikr commented on #15093
A lot of discovery and extension loading related code has been fixed recently, so I expect this to no longer be an issue. If it is, let us know and we'll be happy to reopen and investigate the issue.

@karthiknadig Do you remember if you able to reproduce this issue, given it's marked as a `needs PR`.

[2021-10-23 00:10] #15093 closed

[2021-10-23 00:16] karrtikr commented on #15145
Fixed the scope of the setting with https://github.com/microsoft/vscode-python/pull/17841 which should fix the issue.

[2021-10-23 00:17] karrtikr commented on #14812
This should now be fixed in the latest version of the extension: https://github.com/microsoft/vscode-python/issues/14812#issuecomment-754913191

[2021-10-23 00:17] #14812 closed

[2021-10-23 00:19] karrtikr commented on #15285
I assume this was fixed with https://github.com/microsoft/vscode-python/pull/15286 but we forgot to close it.

[2021-10-23 00:19] #15285 closed

[2021-10-23 00:24] karrtikr commented on #5721
We fixed a lot of related code, is this now fixed in the latest version of the extension?

[2021-10-23 00:33] karrtikr commented on #15601
I assume this has been taken care of.

[2021-10-23 00:33] #15601 closed

[2021-10-23 00:37] karrtikr commented on #15688
I think this has been fixed in the latest version of the extension, if you still see similar logs let us know and we'll reopen the issue.

[2021-10-23 00:37] #15688 closed

[2021-10-23 00:41] karrtikr commented on #15885
I assume this has been taken care of.

[2021-10-23 00:45] karrtikr commented on #8251
One of the potential causes for this issue was fixed in Insiders: https://github.com/microsoft/vscode-python/pull/17732. Should not happen with Insiders anymore.

[2021-10-23 00:45] #8251 closed

[2021-10-23 00:46] #15567 closed

[2021-10-23 00:47] karrtikr commented on #16443
Should no longer happen with the latest version of the extension.

[2021-10-23 00:48] karrtikr commented on #16451
Is this now fixed?

[2021-10-23 00:50] #16544 closed

[2021-10-23 10:42] degerhan opened #17842 "When telemetryLevel is off in vscode selecting python interpreter inserts undesired pythonPath in workspace settings.json"
## Environment data

-   VS Code version: Version: 1.61.2
-   Extension version (available under the Extensions sidebar): Running on remote-ssh, reproduced with both stable 2021.10.1365161279 and insiders v2021.11.1374341725-dev
-   OS and version: Windows 10 21H1 for vscode, Ubuntu 20.04.3 LTS is the remote ssh server
-   Python version (& distribution if applicable, e.g. Anaconda): 3.7.10, conda

[2021-10-25 17:40] #17833 closed, assigned to karrtikr

[2021-10-25 17:47] #17842 closed, assigned to karrtikr

[2021-10-25 18:26] karthiknadig opened #17846 "Switch Language Server from 'Microsoft' to 'Default'"
Refs: #17834

- [x] anyOS @alexr00
- [x] anyOS @brettcannon
- [ ] anyOS @chrisdias (Optional)

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode-python/issues/new?body=Testing+%2317846%0A%0A&assignees=karthiknadig)

---

### Requirements

1. Ensure you have Python 3 installed any version greater than 3.6 is fine.
2. Install python extension from here: https://pvsc.blob.core.windows

[2021-10-25 20:45] #17834 closed, assigned to karthiknadig

[2021-10-26 06:32] gonghenghai opened #17848 "Unable to select the python interpreter if Command prompt is not supported"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Win10
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Expected behaviour

Select the python interpreter as usual.

## Actual behaviour

Un

[2021-10-26 10:23] shiyao-afterpay opened #17850 "Cannot goto subclasses"
Using vscode-python with v2021.10.1365161279 on macOS.

I cannot go to the subclasses of a base class.

Steps to reproduce:
1. Put cursor on the base class
2. Execute: Go to implementations.
Result: Nothing happens

[2021-10-26 17:19] #17850 closed, assigned to nobody

[2021-10-26 17:56] connor4312 opened #17878 "Semantic highlighting does not work if registered after file is open"
Testing https://github.com/microsoft/vscode-jupyter/issues/8026

1. In a new window,
2. Open a Python file (or have the Python file already opened when you reload)
3. The Pylance extension activates, but semantic tokens are not requested (based on language server logs) 🐛
4. Reopen the file
5. Tokens are now requested and highlighting works

It seems like VS Code does not request tokens on a lazy r

[2021-10-26 21:18] rchiodo opened #17854 "Select interpreter at workspace level doesn't have any effect"
## Environment data

-   VS Code version: Latest insiders
-   Extension version (available under the Extensions sidebar): 2021.11.1382879425-dev
-   OS and version: Windows 10
-   Python version (& distribution if applicable, e.g. Anaconda): XXX

[**NOTE**: If you suspect that your issue is related to the Microsoft Python Language Server (`python.languageServer: 'Microsoft'`), please download our

[2021-10-27 01:24] #17848 closed, assigned to karrtikr

[2021-10-27 07:19] lucidfrontier45 opened #17859 "Process picker dropdown does not show on WSL environment."
## Environment data

Version: 1.61.2 (user setup)
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
Date: 2021-10-19T14:57:20.575Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043
Python_ext: v2021.10.1365161279

## Expected behaviour

Dropdown shows up as below (Windows native environment)

![image](https://user-images.githubuserconten

[2021-10-27 11:30] #17846 closed, assigned to nobody

[2021-10-27 15:42] vitorsilva244 opened #17860 "I'm not able to install several extensions."
ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json

[2021-10-27 17:52] #17860 closed, assigned to nobody

[2021-10-27 20:25] #17653 closed, assigned to karthiknadig

[2021-10-27 21:05] #17668 closed, assigned to nobody

[2021-10-27 21:09] #17854 closed, assigned to karrtikr

[2021-10-27 23:50] mukerong opened #17862 "Python keeps crashing itself"
## Environment data

-   VS Code version: 1.61
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Windows 10 19041
-   Python version (& distribution if applicable, e.g. Anaconda): 3.7.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/aff

[2021-10-28 00:54] #17862 closed, assigned to nobody

[2021-10-28 14:56] liaoya opened #17866 "Pytest fail to discover test case when the python string contain unmatched parenthess"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Windows 10 21H1
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.10.0
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
-   Value of the `python.languageServer` setting: Pylance v202

[2021-10-28 17:01] #17866 closed, assigned to nobody

[2021-10-28 17:41] granehaell opened #17867 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Lena\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2021-10-28 17:41] trevor87 opened #17868 ""Refresh tests" button missing when telemetry is disabled"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Ubuntu 20.04
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.8.10
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Value of the `python.languageServer` setting: "Default"

## Expected

[2021-10-28 17:41] #17867 closed, assigned to nobody

[2021-10-28 17:47] tanhakabir opened #17869 "Constant notification to reload for Python Test Explorer"
## Environment data

Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:45:54.515Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 20.6.0

-   Python version (& distribution if applicable, e.g. Anaconda): None activated but I have anaconda and Python2.7, and 3
-   Type of virtual environment used (N/A | venv | virtu

[2021-10-28 17:55] brettcannon opened #17870 "Environment discovery triggers a pop-up warning under macOS Monterey"
Under macOS Monterey, running the included `python2` binary triggers a pop-up warning.

First reported in https://github.com/microsoft/vscode/issues/134635.

[2021-10-28 18:17] #17869 closed, assigned to nobody

[2021-10-28 20:53] luni3359 opened #17871 "Python version string being cached after redoing a pyenv venv on a different python version"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: KDE Neon 5.23
-   Python version (& distribution if applicable, e.g. Anaconda): N/A / Pyenv
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): Pyenv-virtualenv
-   Relevant/affected Python packages and their versions: N/

[2021-10-28 21:55] #17123 closed, assigned to karthiknadig

[2021-10-28 22:05] #17694 closed, assigned to nobody

[2021-10-28 22:25] GalaxySnail opened #17874 "Jedi LS add support something like `jediSettings.autoImportModules`"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Windows 10 19042
-   Python version (& distribution if applicable, e.g. Anaconda): Python 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A & venv
-   Relevant/affected Python packages and their versions: nump

[2021-10-29 06:19] macuto opened #17876 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.10.1336267007`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\User\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2021-10-29 07:50] #17876 closed, assigned to nobody

[2021-10-29 07:58] afikrim opened #17877 "Got error UnauthorizedAccess when extension activating virtual environment"
## Environment data

-   VS Code version: 1.62.0-insider
-   Extension version (available under the Extensions sidebar): v2021.11.1393673628-dev
-   OS and version: Windows 11
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Relevant/affected Python packages and their versions: None
-   Re

[2021-10-29 18:04] luabud opened #17880 "Make Python walkthrough available to everyone (but web)"

[2021-10-29 21:35] luabud commented on #17796
@karrtikr is this blocked on some code removal or could I stop the experiment now on the control tower?

[2021-10-29 21:41] luabud commented on #10489
@karrtikr I think you might have accidentally tagged this same issue on your previous comment 😂

[2021-10-29 21:49] #17878 closed

[2021-10-29 23:52] karrtikr commented on #17796
Nope this isn't blocked on anything, go ahead.

[2021-10-30 00:09] mukerong commented on #17862
Confirming after changing to Pylance, everything works as normal. Thanks!

[2021-10-30 00:11] karrtikr commented on #10489
Oh man 😣

[2021-10-30 00:13] karrtikr commented on #10489
Wait here it is 😄: https://github.com/microsoft/vscode-python/issues/4826

[2021-10-30 00:16] luabud commented on #10489
Perfect, thank you!! 🤩

[2021-10-30 00:19] karrtikr commented on #17243
Closed as dup of https://github.com/microsoft/vscode-python/issues/10441

[2021-10-30 00:19] karrtikr commented on #10441
We should add editorLangId == python to all such commands.

[2021-10-31 05:02] wardy3 opened #17882 "hovering over flake8 errors no longer shows error"
## Environment data

-   VS Code version:
Version: 1.62.0-insider (Universal)
Commit: ff1e16eebb93af79fd6d7af1356c4003a120c563
Date: 2021-10-29T05:14:09.436Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: MacOS 11.6
-   Python version (& d

[2021-10-31 10:07] Twinkl4 commented on #14094
I really want this feature

[2021-10-31 16:06] Prayoga2882 commented on #14327
this work for me. .
thanks

[2021-10-31 20:35] david-cortes opened #17883 "Arrows in interactive environment stop working"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: debian sid
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7 (conda)
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Python packages and their versions: XXX
-   Releva

[2021-11-01 03:52] zztalker opened #17885 "Freeze on scrolling tests"
Issue Type: <b>Bug</b>

Requirements: pytest

[code]

https://user-images.githubusercontent.com/1027857/139619351-72c94a46-9a67-40d5-beeb-660f56e92cd4.mp4

Discover tets, click on gutter-button, and scroll tests with a mouse (vscode consume a lot of CPU and freeze)

Extension version: 2021.11.1400738762-dev
VS Code version: Code - Insiders 1.62.0-insider (ff1e16eebb93af79fd6d7af1356c4003a120c563,

[2021-11-01 10:38] alexr00 commented on #17243
I'm still seeing this with version v2021.11.1382879425-dev:

![image](https://user-images.githubusercontent.com/38270282/139659136-b02d9719-29ac-4b7c-a8ec-51a50f8ffb6f.png)

[2021-11-01 11:40] karrtikr commented on #17243
This is closed in favor of the other issue, which has not been addressed yet.

[2021-11-01 11:40] #17243 closed

[2021-11-01 12:17] alexr00 commented on #17243
@karrtikr removing from the October milestone since it was not addressed.

[2021-11-01 12:19] Vincent0706 opened #17888 "Hope the Interactive window can jump to the cell automatically"
I hope the Interactive window can jump to the corresponding unit automatically when I run a code cell.
Always when I run a code cell, the Interactive window don't jump to the corresponding unit. And it always stay on the unit that I just watch.

[2021-11-01 15:23] luabud commented on #17796
Done 😊

[2021-11-01 15:23] #17796 closed

[2021-11-01 17:34] karthiknadig commented on #17874
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 5 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-01 17:39] karthiknadig commented on #17885
We don't control the scrolling here. Moving this to VS Code.

/cc @connor4312

[2021-11-01 19:15] kimadeline opened #17890 ""Clear Workspace Interpreter Setting" command appears twice in the command palette"
![image](https://user-images.githubusercontent.com/51720070/139727766-8013a67d-cf29-4f4e-a98b-6eaf70eb8f95.png)

[2021-11-01 19:42] karthiknadig commented on #17877
This is by design. We don't run `Set-ExecutionPolicy Unrestricted -Scope Process` since it can change the policy on the machine. This should be done by users as needed to configure the shell they want to use.

[2021-11-01 20:57] #17890 closed

[2021-11-01 21:05] luabud commented on #16874
@syedareehaquasar Because it's been a month, I'm removing the issue assignment so others can contribute. If you still want to send a PR, let me know and I can add you back 😊

[2021-11-01 21:05] luabud commented on #16333
@jacquelinevalenti because it's been a month, I'm removing you as an assignee so others can work on this if they want. If you would still like to send a PR for this issue let me know and I can add you back 😊

[2021-11-01 21:06] luabud commented on #16086
@nvj98 because it's been a month, I'm removing you as an assignee so others can work on this if they want. If you would still like to send a PR for this issue let me know and I can add you back 😊

[2021-11-01 21:06] luabud commented on #16023
@druuuu because it's been a month, I'm removing you as an assignee so others can work on this if they want. If you would still like to send a PR for this issue let me know and I can add you back 😊

[2021-11-01 21:07] #15288 closed

[2021-11-01 21:11] #7793 closed

[2021-11-01 21:12] luabud commented on #7452
@ssindhuja06  because it's been a month, I'm removing you as an assignee so others can work on this if they want. If you would still like to send a PR for this issue let me know and I can add you back 😊

[2021-11-01 21:12] luabud commented on #5567
@thi-lee because it's been a month, I'm removing you as an assignee so others can work on this if they want. If you would still like to send a PR for this issue let me know and I can add you back 😊

[2021-11-01 22:12] DomInvivo commented on #16526
I solved my problem by running `pip uninstall torch-tb-profiler`

See thread [here](https://stackoverflow.com/questions/68049028/tensorboard-loading-forever-not-loading-in-vs-code-nor-in-terminal)

[2021-11-01 23:14] brettcannon commented on #16354
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:14] #16354 closed

[2021-11-01 23:14] brettcannon commented on #16989
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:14] brettcannon commented on #16990
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:14] #16990 closed

[2021-11-01 23:15] brettcannon commented on #16991
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:15] #16991 closed

[2021-11-01 23:15] brettcannon commented on #16992
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 5 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-01 23:15] brettcannon commented on #16993
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:15] #16993 closed

[2021-11-01 23:15] brettcannon commented on #16995
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:15] #16995 closed

[2021-11-01 23:15] brettcannon commented on #16996
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:15] #16996 closed

[2021-11-01 23:16] brettcannon commented on #16997
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:16] #16997 closed

[2021-11-01 23:16] brettcannon commented on #16998
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:16] #16998 closed

[2021-11-01 23:16] brettcannon commented on #16999
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:16] #16999 closed

[2021-11-01 23:16] brettcannon commented on #17001
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:16] #17001 closed

[2021-11-01 23:17] brettcannon commented on #17002
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:17] #17002 closed

[2021-11-01 23:17] brettcannon commented on #17003
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:17] #17003 closed

[2021-11-01 23:17] brettcannon commented on #17171
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:17] brettcannon commented on #17172
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:18] brettcannon commented on #17174
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:18] #17174 closed

[2021-11-01 23:18] brettcannon commented on #17175
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:18] #17175 closed

[2021-11-01 23:18] brettcannon commented on #17176
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:18] #17176 closed

[2021-11-01 23:18] brettcannon commented on #17177
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:18] #17177 closed

[2021-11-01 23:19] brettcannon commented on #17179
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:19] #17179 closed

[2021-11-01 23:26] brettcannon commented on #17173
Thanks for everyone who voted, but after thinking this over we have decided to not proceed with supporting Open VSIX. Having to support another Marketplace would also mean needing to directly support that Marketplace's users and we are not prepared to take on that increase support requirements of supporting e.g. Theia.

That being said, the extension is and will continue to be open source, and so

[2021-11-01 23:26] #17173 closed

[2021-11-01 23:26] brettcannon commented on #17180
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:26] #17180 closed

[2021-11-01 23:26] brettcannon commented on #17182
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:26] #17182 closed

[2021-11-01 23:26] brettcannon commented on #17183
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:27] brettcannon commented on #17185
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:27] #17185 closed

[2021-11-01 23:27] brettcannon commented on #17200
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:27] #17200 closed

[2021-11-01 23:27] brettcannon commented on #17202
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:27] #17202 closed

[2021-11-01 23:27] brettcannon commented on #17203
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:28] brettcannon commented on #17204
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:28] #17204 closed

[2021-11-01 23:28] brettcannon commented on #17205
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:28] #17205 closed

[2021-11-01 23:28] brettcannon commented on #17206
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:28] brettcannon commented on #17207
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:28] #17207 closed

[2021-11-01 23:29] brettcannon commented on #17208
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:29] #17208 closed

[2021-11-01 23:29] brettcannon commented on #17209
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:29] #17209 closed

[2021-11-01 23:29] brettcannon commented on #17210
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:29] #17210 closed

[2021-11-01 23:29] brettcannon commented on #17212
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:29] #17212 closed

[2021-11-01 23:30] brettcannon commented on #17214
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:30] #17214 closed

[2021-11-01 23:30] brettcannon commented on #17215
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:30] #17215 closed

[2021-11-01 23:30] brettcannon commented on #17216
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:30] brettcannon commented on #17217
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:30] #17217 closed

[2021-11-01 23:30] brettcannon commented on #17218
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:31] brettcannon commented on #17222
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:31] #17222 closed

[2021-11-01 23:31] brettcannon commented on #17229
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:31] #17229 closed

[2021-11-01 23:31] brettcannon commented on #17230
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:31] #17230 closed

[2021-11-01 23:31] brettcannon commented on #17231
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:31] #17231 closed

[2021-11-01 23:32] brettcannon commented on #17232
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:32] #17232 closed

[2021-11-01 23:32] brettcannon commented on #17233
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:32] #17233 closed

[2021-11-01 23:32] brettcannon commented on #17238
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:33] brettcannon commented on #17239
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2021-11-01 23:33] #17239 closed

[2021-11-01 23:33] brettcannon commented on #17240
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems to want the most.

[2021-11-01 23:57] karthiknadig opened #17895 "Remove remembering debug configuration experiment"

[2021-11-02 00:23] zdog234 commented on #17204
No hard feelings and I love the data-driven prioritization approach :)

[2021-11-02 02:27] bhrutledge commented on #9553
Revisiting this, because it's still not clear to me how to configure my project. I've put up a minimal project with the same layout at https://github.com/bhrutledge/vscode-pytest-workspace. The latest commit gets it working with a hack, but [the commit history](https://github.com/bhrutledge/vscode-pytest-workspace/commits/main) shows my other attempts to get it working.

@karthiknadig I think http

[2021-11-02 06:13] afikrim commented on #17877
I see... But, if we set the `-Scope` flag to `Process`, the `Unrestricted` policy is only available on the current PowerShell session, if we open a new PowerShell session, the execution policy is still the same as before. As mentioned by their documentation [here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-7.1#example-6--set

[2021-11-02 06:26] afikrim commented on #17877
By default, PowerShell `ExecutionPolicy` is [restricted](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-7.1#example-6--set-the-execution-policy-for-the-current-powershell-session) for a Windows machine. For a new PowerShell user like myself, it'll be annoying when we run our code from an extension and get an error. We hope there

[2021-11-02 07:06] luni3359 commented on #17871
Thanks for the workaround, the string's changed correctly.

[2021-11-02 08:13] ahmedanis03 commented on #17788
@karthiknadig bug still exists if opened in a directory with lots of files and watch was still running, this is on wsl

[2021-11-02 10:30] bhrutledge commented on #9553
After some more digging, I think I've found two issues.

First, during test discovery, it seems that `--rootdir` takes precedence over any positional argments. It's not clear why this behavior exists.

https://github.com/microsoft/vscode-python/blob/b6c0d3e19e4864273153cd639def8a6713ac02d6/src/client/testing/testController/pytest/arguments.ts#L137-L141

Second, during test running, `--rootdir` is

[2021-11-02 11:24] lumentao29 opened #17899 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.2.633441544`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\pant2\AppData\Local\Temp\1\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2021-11-02 11:26] lumentao29 commented on #17899
[ms-python.python-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python/files/7460195/ms-python.python-unresponsive.cpuprofile.txt)

[2021-11-02 14:14] Korijn opened #17901 "UnboundLocalError: local variable 'end_index' referenced before assignment"
## Environment data

-   VS Code version: 1.61.2 (system setup), 6cba118ac49a1b88332f312a8f67186f7f3c1643
-   Extension version: 2021.10.1365161279
-   OS and version: Windows_NT x64 10.0.19043 (Windows 10 Pro)
-   Python version (& distribution if applicable, e.g. Anaconda): CPython 3.9.6 64-bit
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): poetry
-   Relevant/affe

[2021-11-02 14:21] Mithrandir2k18 opened #17903 "Tests are discovered correctly but then an incorrect argument is supplied to PyTest, leading test-result discovery to fail (Git Submodules?)"
## Environment data

-   VS Code version:
Version: 1.61.2
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
Date: 2021-10-19T14:58:13.605Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.4.0-90-generic snap
-   Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS and version: Ubuntu 20.04
-   Python version (& distr

[2021-11-02 14:35] #17901 closed

[2021-11-02 15:08] karthiknadig commented on #17899
@lumentao29 You are using an out dated version of the extension, please update to version `2021.10.1365161279`.

[2021-11-02 15:08] #17899 closed

[2021-11-02 15:19] #17868 closed

[2021-11-02 15:43] karthiknadig opened #17904 "Remove "join mailing list" notification experiment"

[2021-11-02 15:47] g1augusto commented on #16988
Hi there,

just dropped by and wanted you to know I am in the same situation, pipenv shell is not called even if it's identified by VScode.

I hope you can get it to work together, Thanks a lot!

[2021-11-02 15:47] karthiknadig opened #17905 "Implement the proposed public API for the extension and use it internally"

[2021-11-02 16:10] luabud commented on #17904
@karthiknadig control group 😊 (i.e. no notification). Thanks!!

[2021-11-02 16:40] karthiknadig commented on #17788
@ahmedanis03 The insiders version of VS Code ships with a new watcher (`parcel` watcher) that should work better with massive folders. Please try with that and see if it gets better. If not please file a separate bug.

To use the `parcel` watcher Install the insiders version of the VS Code, or you can wait for it to be released some time this week.

[2021-11-02 16:53] #17904 closed

[2021-11-02 16:55] brettcannon commented on #17204
I personally do like this idea, so maybe it can happen still some day. We are also working on a public API for getting the selected interpreter, so hopefully making your own extension that does this won't be too difficult in the future!

[2021-11-02 17:55] karthiknadig commented on #17903
This will be resolved with https://github.com/microsoft/vscode-python/issues/17242

[2021-11-02 17:55] #17903 closed

[2021-11-02 19:48] jadami10 opened #17907 "Allow setting the tmp file location for black formatting"
VSCode first copies the file to reformat into a temporary <filename>.py.<hash>.tmp file, then calls Black on that file, and brings the changes in the modified files back into the editor. This happens in the same location as the existing file.

We have processes that are notified of file creation, deletion, and changes; so this is causing some churn as it's catching the creation and deletion of the

[2021-11-02 20:01] sergeyf commented on #17172
Mysteriously, this now works on the same machine & env where it did not work when I opened #16744. Was there something changed in a recent VSCode release that might account for it working now?

[2021-11-02 21:05] karthiknadig commented on #17907
There is better solution. We plan on putting formatting behind Language Server protocol. A benefit of that is we won't need temp files to perform formatting.

[2021-11-02 21:31] ryan-feeley commented on #17172
@sergeyf , check my [comment here](https://github.com/microsoft/vscode-python/issues/17172#issuecomment-922350171). I've had this work properly with and environment taken from conda-forge, and not work with one from Anaconda.

So make sure it isn't just your environment, but where you're getting your builds from.

[2021-11-02 21:35] sergeyf commented on #17172
Thanks @ryan-feeley. Pretty sure I haven't changed my environments since reporting originally. Just updated VSCode.

[2021-11-02 21:46] james10424 opened #17910 "Allow pytest to collect only ${relativeFileDirname} or ${file}"
Pytest will try to discover every single test. It will take several minutes to discover all of them in a larger project.

I would like to request this feature where we can dynamically set `cwd` to the directory of the currently opened file so I can start testing right away. (the test button won't show up before the collection finishes)
Or better, have an option to just discover tests of the file t

[2021-11-02 22:14] vict0rsch opened #17911 "matplotlib.animation.FuncAnimation does not work in Notebook"
Issue Type: <b>Bug</b>

# Behaviour

with `%matplotlib notebook` animations (`matplotlib.animation.FuncAnimation`) don't show up. Actually, not even the first `show`. With `%matplotlib inline`, as expected, the first `show` is displayed but not the subsequent animation

## Expected vs. Actual Behaviour

The code ([matplotlib example](https://matplotlib.org/stable/gallery/animation/simple_anim.html

[2021-11-02 23:08] jadami10 commented on #17907
Is there a separate issue I can track for that work?

[2021-11-03 08:11] botsman commented on #16705
I am facing the same issue.
Though my case is a little bit complicated, the error and behavior seems to be the same:

I use pytest and in my project I have parametrized test class for a number of instances.
In order to initialize tests dynamically I use parametrized fixture, which initializes test only for instances, which have appropriate config json file.

The error happens for me in this initia

[2021-11-03 08:50] Korijn opened #17913 "CPU 100% with poetry & environment discovery"
### VS Code version

1.61.2 (system setup), 6cba118ac49a1b88332f312a8f67186f7f3c1643

### Extension version

v2021.10.1365161279

### OS type

Windows

### OS version

Windows 10 pro 64-bit (Windows_NT x64 10.0.19043)

### Python distribution

python.org

### Python version

3.9.6 64-bit

### Language server

Default

### Expected behaviour

CPU shouldn't be stuck at 100%

### Actual behaviour

Th

[2021-11-03 11:23] CedrikWinter opened #17914 "editor.formatOnSave set to True format badly "git merged files""
### VS Code version

13.61.2

### Extension version

v2021.10.1365161279

### OS type

Linux

### OS version

Container "FROM python:3.7"

### Python distribution

Operating system

### Python version

3.7.9

### Language server

Pylance

### Expected behaviour

Nothing shoud be formated on those _git merge files_. So vscode can handle these specific lines to provide features as `accept...` or `co

[2021-11-03 17:37] karthiknadig commented on #17910
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-03 17:49] karthiknadig commented on #17914
Currently in the extension we don't really filter formatting based on the contents of the file. This would be a new thing where we gate formatting on specific patterns. Hence turning this to a feature request.

Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this i

[2021-11-03 18:08] brettcannon commented on #16705
We are about to embark on rewriting our test adapter code, so hopefully that will resolve this issue.

/cc @kimadeline

[2021-11-03 18:21] karthiknadig commented on #17913
@Korijn Can you share your environment variables?

[2021-11-03 18:23] karthiknadig commented on #17913
Related https://github.com/python-poetry/poetry/issues/3354

[2021-11-03 18:25] karthiknadig opened #17918 "Implement formatting using Language Server Protocol"
# Implement following formatters using LSP:

- [x] black
- [ ] autopep8
- [ ] yapf

[2021-11-03 18:27] karthiknadig commented on #17907
@jadami10 Currently we are working on getting linters over LSP #17235. I just created this meta issue to track the transition of formatters to LSP #17918.

[2021-11-03 18:27] #17907 closed

[2021-11-03 18:53] #17870 closed

[2021-11-03 18:53] kimadeline commented on #16705
#17242

[2021-11-03 21:56] kimadeline commented on #17188
Hi @Iftakharpy,

This is not a bug with the extension, since running autopep8 in the terminal with the args combinations that you tried also fails.

You can use the following autopep8 args array with the extension to exclude your `settings.py` file:

[code]

[2021-11-03 21:56] #17188 closed

[2021-11-04 01:40] karrtikr commented on #17429
@karthiknadig I believe this is not being taken care of in the PR.

[2021-11-04 01:56] bhrutledge commented on #16079
_Copied from https://github.com/microsoft/vscode-python/issues/9553#issuecomment-957312594_

During test discovery and running tests, it seems that `--rootdir` takes precedence over any positional arguments. It's not clear why this behavior exists, but it looks like it was [added in June 2018](https://github.com/microsoft/vscode-python/pull/1917/files#diff-aa8b49495fb9394f937b68861f207fd50f2bb680f

[2021-11-04 02:02] flaviut opened #17920 "Tooltip docstring rendering"
When I view docstrings in tooltips, they look like this, and suck to read:

![tooltip with the text all run together](https://user-images.githubusercontent.com/5213469/140244699-b5e73b38-53d6-49b9-bfdc-8cec31eea685.png)

It'd be really nice if the tooltips were reasonably formatted, like this:

![tooltip example with good formatting](https://user-images.githubusercontent.com/5213469/140244980-ba92

[2021-11-04 02:02] flaviut opened #17932 "Tooltip docstring rendering"
When I view docstrings in tooltips, they look like this, and suck to read:

![tooltip with the text all run together](https://user-images.githubusercontent.com/5213469/140244699-b5e73b38-53d6-49b9-bfdc-8cec31eea685.png)

It'd be really nice if the tooltips were reasonably formatted, like this:

![tooltip example with good formatting](https://user-images.githubusercontent.com/5213469/140244980-ba92

[2021-11-04 03:32] karrtikr commented on #17913
I suspect this is because of https://github.com/microsoft/vscode-python/blob/8ecc4a4a327ad134870bfbda11661fe34816b5a7/src/client/pythonEnvironments/base/locators/lowLevel/fsWatchingLocator.ts#L34

We should go for a synchronous operation here instead of async, I suspect control is never yielded because of that.

Also, we're relying on `readdirSync` to error out if the path (say beginning with `\x1

[2021-11-04 04:20] karthiknadig opened #17921 "Remove `winston` logger dependency"

[2021-11-04 06:51] botsman commented on #17414
Just a note, probably related to https://github.com/microsoft/vscode-python/issues/17242

[2021-11-04 07:19] ItamarShDev commented on #8678
@karthiknadig IMHO it is safer to  use
[code]

[2021-11-04 08:55] The-Compiler commented on #17676
FWIW, as a workaround, you can use `pytest.param` to override the node ID for the problematic test ([reference](https://docs.pytest.org/en/6.2.x/reference.html#pytest-param)):

[code]

also, FWIW:

[Not a misspelling](https://en.wiktionary.org/wiki/parametrize) - English just happens to have four valid spellings of that word. [pytest-parawtf](https://pypi.org/project/pytest-parawtf/) to the rescue

[2021-11-04 14:16] godot11 opened #17926 "Mixed language mode (a.k.a. language injection) for Python strings"
Python is often used for code generation. Also, it's widely used by scientists of different areas. Both of these often require to write a snippet of another language and in a Python string.

In such cases, it would be very helpful if we could use the language's native linter and syntax highlight colors within that string. Currently, one either writes the snippet in a new throwaway file, or has zer

[2021-11-04 15:33] yliederNY opened #17934 "Unable to work properly with local conda environment"
Issue Type: <b>Bug</b>

When creating a global conda environment, everything works fine. But when creating a local conda environment within the project directory with

[code]

this cannot be selected as Python interpreter properly. I observed the following issues:

1. When opening the "select interpreter" command palette and press the small reload button in the top right corner of the palette, I c

[2021-11-04 16:27] luabud opened #17929 "Update data science walkthrough images with SVGs"

[2021-11-04 17:43] karthiknadig commented on #17926
The language server protocol for VS Code does not support this. Without VS Code providing a way to do this there is no way for us to implement this.

/cc @jakebailey

[2021-11-04 17:43] #17926 closed

[2021-11-04 18:48] karthiknadig commented on #17932
Thanks for looking into this @judej. Filed this on Jedi LS https://github.com/pappasam/jedi-language-server/issues/172 . Please track the issue there.

 Closing it here since this is in an external product, and we update to latest version of the Jedi LS as it gets released.

[2021-11-04 18:48] #17932 closed

[2021-11-04 19:18] darkred opened #17933 ""The Python Tools server crashed 5 times in the last 3 minutes. The server will not be restarted." as I switch to the extension's 'Changelog' tab"
### VS Code version

1.62.0

### Extension version

2021.11.1422169775

### OS type

Windows

### OS version

11 x64

### Python distribution

python.org

### Python version

3.10.0 x86 and x64, 2.7.18 x64,

### Language server

Default

### Expected behaviour

As I updated Python extension to todays version, v2021.11.1422169775,
in today's updated VSCode 1.62.0
I switched to the Extensions panel

[2021-11-04 19:18] darkred opened #17935 ""The Python Tools server crashed 5 times in the last 3 minutes. The server will not be restarted." as I switch to the extension's 'Changelog' tab"
### VS Code version

1.62.0

### Extension version

2021.11.1422169775

### OS type

Windows

### OS version

11 x64

### Python distribution

python.org

### Python version

3.10.0 x86 and x64, 2.7.18 x64,

### Language server

Default

### Expected behaviour

As I updated Python extension to todays version, v2021.11.1422169775, in today's updated VSCode 1.62.0,
I switched to the 'Extensions' pan

[2021-11-04 19:56] mivade commented on #15818
I came here by way of #8770. I've started using `conda create -p {directory}` more often than using named environments and it's really obnoxious that I have to manually activate the environment when it works as expected for conda environments created with `-n`.

[2021-11-04 20:15] #17683 closed

[2021-11-04 20:46] karthiknadig commented on #17934
We have bunch of issues with conda activations. We are currently looking into this. Here is a workaround for this:
1. Turn off auto activation. To do this, disable these two settings, ideally only for the project you are working on:
![image](https://user-images.githubusercontent.com/3840081/91915281-f6d60400-ec6e-11ea-86da-23b03f8a0dd8.png)
2. Exit VS Code.
3. Open Anaconda Prompt, navigate to you

[2021-11-04 21:04] NGPixel commented on #3828
@brettcannon Any update on this issue? Thanks!

[2021-11-04 21:26] karthiknadig commented on #17935
@darkred Can you confirm that the `python.languageServer` is `Default`, if so it should not start `Jedi Language Server`, it should start `Pylance`. Can you check?

[2021-11-04 21:27] karthiknadig commented on #17935
@jakebailey Sorry for the confusion, i transferred it based on the LS setting.

[2021-11-04 21:28] jakebailey commented on #17935
No worries. Harder to distinguish them now with Default 😃

[2021-11-04 21:29] koubaa opened #17936 "dynamic docstring not picked up by intellisense"
### VS Code version

1.61.2

### Extension version

v2021.11.1422169775

### OS type

Windows

### OS version

10

### Python distribution

python.org

### Python version

3.9

### Language server

Default

### Expected behaviour

1
Have a python package that uses dynamic docstrings, for example a function like this:
def foo(arg1, arg2):
return None

foo.doc = "hello"

2
Install this package to th

[2021-11-04 21:55] darkred commented on #17935
Yes, it's `Default`, as I have it in OP:
![2021-11-04_235413](https://user-images.githubusercontent.com/723651/140425653-dc24a93a-a868-488e-879a-6444e5f6088c.jpg)

[2021-11-04 22:00] karthiknadig commented on #17935
@darkred What does the workspace setting have? Is that also default?

[2021-11-04 22:05] darkred commented on #17935
Yes, it is also default:
![2021-11-05_000312](https://user-images.githubusercontent.com/723651/140426723-86234729-8a81-4cd7-8cd2-17e9faed76ef.jpg)

[2021-11-04 22:13] kimadeline opened #17937 "Add "Do not show again" option when formatter isn't installed but formatOnSave is true"
![image](https://user-images.githubusercontent.com/51720070/140427716-7e084b0a-a7ab-41b9-9bc2-f36d9241f528.png)

[2021-11-04 22:15] karthiknadig commented on #17935
From a command prompt can you try running this and see if you get any errors. Make sure you use the same python you used with the extension:
[code]
if things work you should see:
![image](https://user-images.githubusercontent.com/3840081/140427959-fe1ff615-17e8-474f-95f7-d8ee06d4e93b.png)

[2021-11-04 22:18] kimadeline commented on #17937
New look:

![image](https://user-images.githubusercontent.com/51720070/140428238-644a79b0-d349-40b9-abd3-9bdadba91a3c.png)

[2021-11-04 22:39] darkred commented on #17935
I've noticed that the culprit is the `python.defaultInterpreterPath` setting:
![2021-11-05_003459](https://user-images.githubusercontent.com/723651/140429728-19ffac21-e3eb-43f7-9416-d8dcfd8a8ff9.jpg)

&nbsp;
In details:
As shown in the screen capture in the OP, I don't have any interpreter selected:
![2021-11-05_002622](https://user-images.githubusercontent.com/723651/140429163-25c915a3-1186-484f-

[2021-11-04 22:46] karthiknadig commented on #17935
As long as valid python is selected or the `defaultInterpreterPath` is valid, Jedi should work fine. You can try `Python: Clear Internal Extension Cache` to see if it can clear up some of the python entries in the extension.

As for the python installed on your system, run this `py -0`, that should tell you which versions are available. if this is still picking 3.9 up then it could mean that they

[2021-11-04 23:46] darkred commented on #17935
The Python folders proved to only contain dependencies of an old package, I uninstalled them all manually. I also ran the 3.9.7 installers (+ uninstalled them) and now there are no 3.9 folders, nor any 3.9 entry:
![2021-11-05_013932](https://user-images.githubusercontent.com/723651/140434924-bb4f631f-ca4b-44f7-8239-23a3e788d576.jpg)
![2021-11-05_013846](https://user-images.githubusercontent.com/72

[2021-11-05 00:00] karthiknadig commented on #17935
`defaultInterpreterValue` is not updated by selecting python interpreters for the selector. It has to be manually set. As the description suggests we use it as a fall back if nothing is selected for a given workspace.

[2021-11-05 00:25] wardy3 commented on #17882
This is now affecting the stable VSCode release
[code]

[2021-11-05 00:36] karthiknadig commented on #17935
@luabud we should probably update the text for  `defaultInterpreterValue` to let users know that it has to be manually set.

[2021-11-05 00:36] #17935 closed

[2021-11-05 00:37] boris-gu opened #17938 "intellisense cv2 (OpenCV-Python) does not work"
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

Manjaro

### Python distribution

Operating system

### Python version

3.9.7 64-bit

### Language server

Pylance

### Expected behaviour

When I enter `cv2.` the autocomplete selection should be shown.

### Actual behaviour

Autocomplete not working for library cv2
![Alt Text](https://med

[2021-11-05 01:43] neriusmika commented on #17882
@wardy3 the same issue for me after the last update. This problem is OS independent and has appeared on two separate machines running Windows 10 and Linux.

[2021-11-05 02:38] ronkorving commented on #17772
I just had the problem where I went to View > Output and saw nothing...
Took me 15 minutes to realize I had to switch a dropdown on the right-hand side to say `Python`. The hint didn't provide that information. A clickthrough from the error would be much better though.

[2021-11-05 04:44] adam4813 commented on #16988
I think a good way to go about this would be to just provide a setting to indicate how the virtual environment should be loaded/activated e.g. a dropdown to pick from "activate.ps1", "pipenv shell", etc. This gives the freedom to use what you need, but can also give that safety net if auto-detection fails.

[2021-11-05 09:08] Korijn commented on #17913
I usually launch vscode from a conemu tab, so I ran `env > list.txt` in there. I left out PATH because I don't feel comfortable sharing that.

https://gist.github.com/Korijn/4d774e163dcc09575239f31048926c62

[2021-11-05 13:24] Vincent0706 opened #17939 "Add a setting for other python model"
Whether can add a setting for other python model.
I found a python model named pycln can remove unused imports from files, and I want to use this model with isort. But I can't find the way realize. So I hope can add a setting for users to add their python model and use it conveniently(such as add it in the right click menu).

[2021-11-05 15:19] #15058 closed

[2021-11-05 15:28] darkred commented on #17935
The `python.defaultInterpreterPath` description is as follows:

My suggestion would be, to make the extension to validate the `python.defaultInterpreterPath`
value (whether it points to an existing python.exe executable or just `python`, or it's invalid).
*And additionally, when first/clean installing the extension, to get a default value (maybe `python` or to be just empty)*.

I am suggestion thi

[2021-11-05 16:40] jing-bi commented on #17788
The fix VSIX is not able to download because GitHub "Failed to generate URL to download artifact."

And the problem is still not fixed in the insider version: Version: 1.63.0-insider (Universal)

[2021-11-05 16:45] jing-bi commented on #11924
Seems the VSIX is expired, can you please repost it again?

[2021-11-05 17:11] duncantop opened #17941 "Can't select Anaconda virtual environment Python 3.10 interpreter"
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

Windows

### OS version

10

### Python distribution

Anaconda

### Python version

3.10.0

### Language server

Pylance

### Expected behaviour

I should be able to see and select my py310 anaconda python installation.

### Actual behaviour

When selecting a python interpreter, I see my list of non-3.10 environm

[2021-11-05 17:22] karthiknadig commented on #17788
@jing-bi That build is now released. see if https://github.com/microsoft/vscode-python/releases/download/2021.11.1422169775/ms-python-release.vsix works for you.

[2021-11-05 17:32] karthiknadig commented on #11924
@jing-bi This is now released, you can find the VSIX here https://github.com/microsoft/vscode-python/releases/download/2021.11.1422169775/ms-python-release.vsix

[2021-11-05 17:42] karrtikr commented on #17429
https://github.com/microsoft/vscode-python/pull/17922/files#r743862368

[2021-11-05 17:51] jing-bi commented on #17788
![image](https://user-images.githubusercontent.com/34174970/140555983-d93b8191-0656-4eae-9410-bd5add5b9dc0.png)

Just installed but still no luck, it keeps discovering interpreters

[2021-11-05 17:56] karthiknadig commented on #17788
@jing-bi please file a separate bug. When you do, make sure you set the python extension logging to 'debug'. and provide details on your workspace layout, where your environments are stored, number of environments you have on your system etc.

[2021-11-05 18:14] jing-bi opened #17942 "Stuck at discovering Python Interpreters"
### VS Code version

Version: 1.62.0

### Extension version

v2021.11.1422169775

### OS type

macOS

### OS version

12.0.1

### Python distribution

Anaconda

### Python version

3.8

### Language server

Default

### Expected behaviour

Show selectable python interpreters quickly likely it did before

### Actual behaviour

Stuck at discovering Python Interpreters.

I checked with debug output s

[2021-11-05 19:05] karthiknadig commented on #17913
@Korijn this is due to a bug in poetry with `ANSICON`. See if removing that helps, until do some better filtering of paths. See python-poetry/poetry#3354

[2021-11-05 19:26] keyan3 commented on #17882
Same issue for me with VSCode 1.62.0 and flake8 3.7.1

[2021-11-05 19:27] karthiknadig commented on #17941
@duncantop what happens when you run from a command prompt outside of vscode.
[code]

[2021-11-05 19:54] cdce8p opened #17944 "Horizontal separators in Python interpreter list"
https://github.com/microsoft/vscode/issues/137745

With the last release, the [Jupyter extensions](https://github.com/Microsoft/vscode-jupyter) added horizontal separators with labels to the notebook kernel list. The Python interpreter list is already sorted. If it's possible, I think it would be a nice usability improvement to add separators there as well.

The image from the changelog entry: htt

[2021-11-05 19:57] cdce8p commented on #17176
The Jupyter extension just added something like this. Don't know, but maybe it's easy enough to repurpose here and worth considering again?

From the changelog entry: https://code.visualstudio.com/updates/v1_62#_jupyter
![filter_kernels](https://user-images.githubusercontent.com/30130371/140570964-e91dc11c-ae93-4199-9a44-500ec3d870af.gif)

[2021-11-05 19:58] awhittle3 commented on #17398
I am also having no luck with pylint on Mac or Ubuntu after updating to 1.62.0. Here's the output from Python:
[code]

I suspect the culprit is a missing quotation mark at the end of the `msg-template` argument, but can't be sure.  Trying to override the `msg-template` variable in the .pylintrc file doesn't seem to have an effect.

[2021-11-05 20:04] brettcannon commented on #3828
Sorry, no update. If we start work on this then the labels and assignment will reflect that (unless someone provides us a PR for this).

[2021-11-05 21:12] #17937 closed

[2021-11-05 22:19] luabud opened #17946 "Update "stop refresh" icon to use new "beaker-stop" codicon"
Using Miguel's new codicon for stopping test refresh: https://github.com/microsoft/vscode-codicons/issues/82

[2021-11-05 23:45] luabud opened #17948 ""We noticed you created a venv" notification not displayed, even though new venv is properly discovered"
### VS Code version

1.63.0-insider

### Extension version

v2021.12.1422279751-dev

### OS type

Windows

### OS version

10

### Python distribution

python.org

### Python version

3.10

### Language server

Pylance

### Expected behaviour

Notification saying "we noticed you created a new venv" should be displayed when new venv is created

### Actual behaviour

Notification is not displayed ev

[2021-11-05 23:46] luabud commented on #17948
[nov52021logs.txt](https://github.com/microsoft/vscode-python/files/7489349/nov52021logs.txt)

[2021-11-06 01:10] bhrutledge opened #17949 "Option to drop into the debugger when a test fails"
_Copied from https://github.com/microsoft/vscode-python/discussions/17925_

I like to use [`pytest --pdb`](https://docs.pytest.org/en/6.2.x/usage.html#dropping-to-pdb-python-debugger-on-failures) to start a debugger session at the point of a test failure, but I don't see an obvious way to do that with this extension. The [docs for debugging tests](https://code.visualstudio.com/docs/python/testing#

[2021-11-06 02:15] sova32 opened #17950 "VS Code whith microsoft oficial plugin python dont show all methods !!!"
### VS Code version

Version: 1.61.2 Фиксация: 6cba118ac49a1b88332f312a8f67186f7f3c1643 Дата: 2021-10-19T14:58:13.605Z Electron: 13.5.1 Chrome: 91.0.4472.164 Node.js: 14.16.0 V8: 9.1.269.39-electron.0 ОС: Linux x64 5.14.14-1-default

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

OpenSuse Thumblweed

### Python distribution

python.org

### Python version

3.8.12

[2021-11-06 02:52] duncantop commented on #17941
(base) C:\Users\dunca>~\anaconda3\envs\py310\python.exe ~.vscode\extensions\ms-python.python-2021.11.1422169775\pythonFiles\interpreterInfo.py
The system cannot find the path specified.

If I type out the tildes:

(base) C:\Users\dunca>c:\users\dunca\anaconda3\envs\py310\python.exe c:\users\dunca\.vscode\extensions\ms-python.python-2021.11.1422169775\pythonFiles\interpreterInfo.py
{"versionInfo":

[2021-11-06 05:00] karthiknadig commented on #17950
@sova32 I understand that you ran into a issue with the extension. But you have violated the Code of Conduct (https://opensource.microsoft.com/codeofconduct/). I am closing this issue, please create new issue and ensure that you follow code of conduct.

[2021-11-06 05:00] #17950 closed

[2021-11-06 07:49] karthiknadig commented on #17948
Can you try toggling this setting?
![image](https://user-images.githubusercontent.com/3840081/140602307-9f66678f-a23f-4284-9e68-c0d87debb57e.png)

The latest VS Code ships with a new file system watcher `parcel` watcher. This might be a bug due to that.

[2021-11-06 08:53] anderssonjohan opened #17951 "pytest discovery fails when an unmatched end square bracket is given to parametrize"
### VS Code version

1.61.2

### Extension version

2021.11.1422169775

### OS type

macOS

### OS version

11.4

### Python distribution

python.org

### Python version

3.7.8

### Language server

Pylance

### Expected behaviour

Test discovery should not fail for the project when a single end square bracket in argument given to `@pytest.mark.parametrize`

### Actual behaviour

Test discovery fa

[2021-11-07 05:17] lutuantai95 opened #17952 "Configured debug type 'python' is installed but not supported in this environment."
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

Linux x64 5.11.0-38-generic snap

### Python distribution

Anaconda

### Python version

3.8.10

### Language server

Default

### Expected behaviour

Disappear warning message:
```Configured debug type 'python' is installed but not supported in this environment.```

### Actual behaviour

-

[2021-11-07 09:49] januwA opened #17953 "Always beating when selecting Python interpreter"
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

NAME="Fedora Linux" VERSION="35 (Container Image)" ID=fedora VERSION_ID=35 VERSION_CODENAME="" PLATFORM_ID="platform:f35" PRETTY_NAME="Fedora Linux 35 (Container Image)" ANSI_COLOR="0;38;2;60;110;180" LOGO=fedora-logo-icon CPE_NAME="cpe:/o:fedoraproject:fedora:35" HOME_URL="https://fedorapr

[2021-11-07 11:18] anderssonjohan commented on #17951
EDIT: Upgraded the extension to 2021.11 before submitting the issue. Now it seems it only fails on a single end square bracket. Updated the issue to reflect this.

It seems that [`_find_left_bracket`](https://github.com/microsoft/vscode-python/blob/release-2021.11/pythonFiles/testing_tools/adapter/pytest/_pytest_item.py#L437) is unable to parse this pytest collection:

[code]

[2021-11-07 11:51] solzard commented on #16992
Hi @brettcannon, your recent comment is exactly the same as the one you left two months ago. Did you paste a wrong boilerplate message? Or, will this issue repeat the 60 days period again?

[2021-11-07 14:15] tlambert03 commented on #17882
same here, and also with mypy.  vscode 1.62.0

<img width="606" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/140648713-166181b5-e416-499f-9d86-65b520b93fbd.png">

[2021-11-07 17:38] scwilbanks opened #17954 "Pytest test discovery fails when testcase name does not contain matching numbers of open and closed brackets"
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

Windows

### OS version

Version	10.0.19043 Build 19043

### Python distribution

Anaconda

### Python version

3.8.12

### Language server

Pylance

### Expected behaviour

The test discover feature in the test explorer (using pythonFiles\testing_tools\run_adapter.py) should not fail in cases where pytest does n

[2021-11-07 21:05] kieferrm opened #17956 "Python: Iteration Plan for November 2021"
# Python iteration plan

<details>
<summary>Legend of annotations</summary>

| Mark                 | Description                                       |
| -------------------- | ------------------------------------------------- |
| 🏃‍♀️                   | work in progress                                  |
| ✋                   | blocked task                                      |
| 💪

[2021-11-07 21:59] igalassaraf opened #17957 "Unittest discovery not working when sys.stdout is set in global scope"
### VS Code version

Version: 1.62.0 (user setup)

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

21.04 LTS (Hirsute Hippo), Linux 5.11.0-36-generic

### Python distribution

Operating system

### Python version

3.9.5

### Language server

Pylance

### Expected behaviour

Unittests discover should work and test should appear in side bar.

### Actual behaviour

Not

[2021-11-07 22:38] igalassaraf opened #17958 "Unittest discovery fail to locate exact line of test with patching"
### VS Code version

Version: 1.62.0 (user setup)

### Extension version

v2021.11.1422169775

### OS type

Linux

### OS version

21.04 LTS (Hirsute Hippo), Linux 5.11.0-36-generic

### Python distribution

Operating system

### Python version

3.9.5

### Language server

Pylance

### Expected behaviour

Run Test / Debug Test button should be located next to test definition line in the code.

![i

[2021-11-08 03:34] mfripp opened #17959 "Conda PATH entries added to end of $PATH instead of start on macOS"
### VS Code version

1.62.0

### Extension version

v2021.11.1422169775

### OS type

macOS

### OS version

10.14.6

### Python distribution

Anaconda

### Python version

3.9

### Language server

Default

### Expected behaviour

When I open a new terminal pane and run `which python`, I expect it to show the interpreter that I have selected for the current project.

When I open a terminal pane a

[2021-11-08 03:38] wigging opened #17960 "Conda environment Python is not used when starting VS Code from the terminal"
### VS Code version

1.62.0

### Extension version

2021.11

### OS type

macOS

### OS version

11.6.1

### Python distribution

Anaconda

### Python version

3.9.6

### Language server

Pylance

### Expected behaviour

When I start VS Code from the macOS terminal using the `code` command, I expect the integrated VS Code terminal to use the default conda environment. For example, when I open a fo

[2021-11-08 09:18] sstoychev commented on #17882
[code]
Working on RemoteSSH.

I have the same problem but with Pylint:
![image](https://user-images.githubusercontent.com/11898259/140715151-3105a879-72ff-4a40-a1ef-ec7d0ce34e7c.png)
The following error is show in "Output -> Log (Remote extension host)"
[code]

[2021-11-08 11:32] ajkaijanaho opened #17961 "Slow to respond to edits, unresponsive extension host"
### VS Code version

Version: 1.62.0 (system setup) Commit: b3318bc0524af3d74034b8bb8a64df0ccf35549a Date: 2021-11-03T15:23:01.379Z Electron: 13.5.1 Chrome: 91.0.4472.164 Node.js: 14.16.0 V8: 9.1.269.39-electron.0 OS: Windows_NT x64 10.0.19043

### Extension version

v2021.11.1422169775

### OS type

Windows

### OS version

Edition	Windows 10 Business Version	21H1 Installed on	‎2.‎8.‎2021 OS buil

[2021-11-08 11:32] ajkaijanaho opened #17984 "Slow to respond to edits, unresponsive extension host"
### VS Code version

Version: 1.62.0 (system setup) Commit: b3318bc0524af3d74034b8bb8a64df0ccf35549a Date: 2021-11-03T15:23:01.379Z Electron: 13.5.1 Chrome: 91.0.4472.164 Node.js: 14.16.0 V8: 9.1.269.39-electron.0 OS: Windows_NT x64 10.0.19043

### Extension version

v2021.11.1422169775

### OS type

Windows

### OS version

Edition	Windows 10 Business Version	21H1 Installed on	‎2.‎8.‎2021 OS buil

[2021-11-08 11:35] karrtikr opened #17962 "Remove old discovery code and discovery experiments"
- [x] https://github.com/microsoft/vscode-python/pull/17783
- [x] https://github.com/microsoft/vscode-python/pull/17795
- [x] Add news entry https://github.com/microsoft/vscode-python/pull/17963

[2021-11-08 11:46] #17962 closed

[2021-11-08 12:37] guledali opened #17964 "Please restore the Run Test and Debug Test buttons on the test file"
Could you guys restore the buttons for this extension, it existed on the earlier versions. Maybe this is some kind bug that have slipped into production. I doubt removing such useful feature could considered to be some kind of progress?

![buttons](https://user-images.githubusercontent.com/20647282/140743332-4d3b6790-6161-4097-b3a9-75f1fae718a9.png)

[2021-11-08 13:27] ZeningLin commented on #17952
Same problem on windows + Anaconda. Debug works when using the top-right 'debug' button, fails in debug panel using launch.json file

[2021-11-08 15:02] sova32 commented on #17950
сука ебаный ты педрила!

[2021-11-08 15:03] sova32 commented on #17950
Сначала пидары делаете хуйню, а потом обижаетесь и сразу съебываетесь как крысы позорные! русские вас ебали и будут ебать!

[2021-11-08 15:04] sova32 commented on #17950
а потом купи лицензию! да хер вам по всему ебалу за такое отношение! windows must die! bustards!!!!
linux the best!

[2021-11-08 16:10] karrtikr opened #17966 "Return union of all envs from workspace folders"
See https://github.com/microsoft/vscode-python/pull/17515#issuecomment-928164544. Change `legacyIOC.ts` to return union of all envs from workspace folders when resource is passed as `undefined` or is an Untitled file.

[2021-11-08 18:45] karthiknadig commented on #17939
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-08 18:50] karthiknadig commented on #17944
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-08 18:52] karthiknadig commented on #17949
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-08 18:58] karrtikr commented on #17942
Please provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2021-11-08 19:06] karthiknadig commented on #17960
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-11-08 19:07] karrtikr commented on #17953
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-11-08 19:08] karthiknadig commented on #17964
This UI is controlled by VS Code. Moving this there.

/cc @connor4312

[2021-11-08 19:09] #17964 closed

[2021-11-08 19:26] connor4312 commented on #17964
Fyi this is now accessible by clicking the buttons in the gutter

[2021-11-08 19:28] #17156 closed

[2021-11-08 19:29] paulacamargo25 commented on #17156
I can't reproduce the error, every time i Right-click on Python files the menu pops up.

[2021-11-08 19:29] #17076 closed

[2021-11-08 19:31] paulacamargo25 commented on #17332
The command conda shell.posix+json activate env works and return the information that we need.

[2021-11-08 19:43] wigging commented on #17960
@karthiknadig I consider this issue as a bug, not a feature request.

[2021-11-08 20:10] karthiknadig commented on #17960
We never implemented this when we did auto selection for the python extension. There are several additional things to consider here. What if users already have a selected environment for a project and they launch it from an activated anaconda prompt (with a different environment), do we override the environment from the one that user selected, do we provide a notification indicating there is a mis

[2021-11-08 20:13] karthiknadig commented on #17954
Duplicate of #17676

[2021-11-08 20:13] karthiknadig commented on #17951
Duplicate of #17676

[2021-11-08 20:13] #17951 closed

[2021-11-08 21:54] brettcannon commented on #16992
@solzard sorry about that, wrong canned response 😅. What I meant to say was:

Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 this issue as it helps us prioritize our work based on what the community seems t

[2021-11-08 22:06] wigging commented on #17960
Ok, I thought it was already implemented but apparently not. Thank you for the clarification.

[2021-11-08 23:21] Msadat97 opened #17971 "Function Call Completion"
### Discussed in https://github.com/cdr/code-server/discussions/4434

<div type='discussions-op-text'>

<sup>Originally posted by **Msadat97** November  3, 2021</sup>
Hi,

I'm using code-server and python extension, and there is a feature that has frustrated me recently. Whenever I use autocompletion for typing a function name, it automatically types its arguments too. This feature is not present