[2021-12-21 13:42] karrtikr commented on #17942
Apologies for the trouble. It seems extension attempts to run `~/miniconda3/bin/conda info --json` command but the command never returns. Can you try running that in terminal and send me the output? Make sure to expand `~`.

As a workaround, you can also try using the `python.venvFolders` setting to find envs at custom location (here you can mention the path to `/envs/` directory)

[2021-12-21 13:43] karrtikr commented on #17953
Please set `python.logging.level` to `debug` in **User** settings and provide the logs as mentioned in the issue template.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</summary>

<p>

[code]

</p>
</details>

[2021-12-21 13:57] karrtikr commented on #17953
Closing as dup of https://github.com/microsoft/vscode-python/issues/18007. Please provide your response there.

[2021-12-21 13:57] #17953 closed

[2021-12-21 14:07] karrtikr opened #18209 "Provide an option to open the Python logs when selecting interpreters"
Probably as a quick pick item or an icon on the top right here.

![image](https://user-images.githubusercontent.com/13199757/146942758-83fea3f3-125e-4bbe-ad04-98e373967eda.png)

A lot of times environments are discovered but are not valid, so they do not show up in the interpreters list. The logs often contains the details of why this might have happened. It can be helpful to say something like `"

[2021-12-21 14:09] karrtikr commented on #18009
I have opened https://github.com/microsoft/vscode-python/issues/18209 in case us pointing you to the logs might have helped you discover the issue faster. Please upvote if that helps.

[2021-12-21 14:18] karrtikr commented on #18009
Regarding the autoupdating of version information, https://github.com/microsoft/vscode-python/issues/18009#issuecomment-966519308 provides the explanation.

We try our best to do that, but in this case we cache the version info for the current session for performance reasons, so a simple reload should update the version. (using `Developer: Reload Window` command)

[2021-12-21 14:18] #18009 closed

[2021-12-21 14:23] karrtikr commented on #18196
I assume `"/home/rodrigo/.cache/pypoetry/virtualenvs/lene-TCMNVfNt-py3.7/bin/python3"` was the path to interpreter you meant to select. Extension attempts to run `~/.cache/pypoetry/virtualenvs/lene-TCMNVfNt-py3.7/bin/python3 ~/.var/app/com.visualstudio.code/data/vscode/extensions/ms-python.python-2021.12.1559732655/pythonFiles/interpreterInfo.py` to verify if the interpreter is valid, but fails. C

[2021-12-21 14:31] karrtikr commented on #18196
Can you try opening vscode using `code .` in that external terminal, and then run the command in VSCode's integrated terminal?

I'm not sure how VSCode integrated terminal can be different from the external terminal, other than some extra environment variables which might be set. Try toggling `"terminal.integrated.inheritEnv"` in **User** settings and reloading the window to see if it helps.

If i

[2021-12-21 14:59] b-long commented on #73
Note: The StackOverflow discussion here has workarounds for Bash (macOS/Linux) and Git-Bash (Windows): https://stackoverflow.com/questions/56858808/how-do-i-debug-individual-django-tests-in-vscode .

Quoting that discussion

[Niels writes](https://stackoverflow.com/a/61805315/320399):

[Arenwino writes](https://stackoverflow.com/a/62271029/320399):

[code]

[2021-12-21 16:30] veedeo commented on #17171
It would be great to have a configuration manager and selector for Test runner. So we will be able to run tests on different environments.
Currently, it is the last feature that holds my team to switch from WebStorm

[2021-12-21 17:24] karrtikr commented on #18203
Hi @lsmith77 👋 What happens if you stop the debugger and then attempt to debug again? Do we detect any changes in `.env` file.

[2021-12-21 17:39] DonJayamanne commented on #18188
@kimadeline I've submitted a PR for this https://github.com/microsoft/vscode-python/pull/18211

[2021-12-21 17:42] karrtikr commented on #18208
Thanks for the report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2021-12-21 17:47] lsmith77 commented on #18203
no. I didn’t assume it would detect changes automatically. so the reason I created the issue is that a manual restart or stop/start doesn’t pick up changes. only a restart of vscode helps.

[2021-12-21 17:52] karrtikr commented on #18203
Noted. The thing is "restart" and "stop/start" can be different, and the original issue only mentioned "restart" which is why we clarified. We'll get back to you soon after checking the current behavior.

[2021-12-21 18:03] karrtikr commented on #18204
@axxelG Thanks for the diagnosing the issue. However, it doesn't look like there's not much we can do on our end to solve this.

This is not an option as discovery is an automatic process, many users aren't even aware that there's a discovery process going on so prompting is not right. Also, the poetry CLI doesn't allow us a way to pass in the encrypted keyring as an argument, so I'm not sure if i

[2021-12-21 18:17] karrtikr commented on #18204
In case this is possible, I'm marking this as a feature request. We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2021-12-21 19:24] kimadeline commented on #18188
Hi @lukasz-karolewski and @AlexTkatch, can you try installing this build of the extension and see if it fixes the issue: https://github.com/microsoft/vscode-python/suites/4728008625/artifacts/130228355

It contains the fix that @DonJayamanne pushed.

[2021-12-21 21:09] kimadeline commented on #18207
Hi @urscion, thank you for reaching out.

There are 2 things here:

There's a bug where we don't resolve `${workspaceFolder}` when it's in the `python.defaultInterpreterPath` setting, thank you for reporting it 🙂

I could not replicate your issue here, when I set a valid interpreter path in my `python.defaultInterpreterPath` setting in my workspace file it gets detected correctly:

![image](https:

[2021-12-21 23:10] kieferrm opened #18214 "Python: Iteration Plan for January 2022"
This plan captures our work in **January**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/139607). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

<details>
<summary>Legend of annotations</summary>

| Mark                 | Description                                       |
| --------------------

[2021-12-22 07:54] sralloza commented on #10658
I think this was closed in https://github.com/microsoft/vscode-python/pull/16769. Feel free to comment if you are still experiencing this issue.

[2021-12-22 07:54] #10658 closed

[2021-12-22 09:14] lukasz-karolewski commented on #18188
it works, thank you!

[2021-12-22 16:25] kimadeline commented on #18188
Awesome! This fix will make it in the next stable release of the extension by the end of January.

[2021-12-22 16:25] #18188 closed

[2021-12-22 19:22] Dlurak opened #18216 "Better autocompleten after the keyword raise"
It would be nice if only errors were suggested after the keyword raise.

[2021-12-23 11:21] BaoHongJiangGames commented on #14094
I used VSCODE before. You can create a new terminal every time you click "run python file", and each py file is independent.
After trying to open the interactive window today, I can't set it back anymore. I am very troubled.
I need to open multiple py files independently at the same time, in different python terminals.

[2021-12-25 14:48] sam2khatri commented on #18194
I had the same issue. Downgrading to v2021.11.1422169775 worked perfectly

[2021-12-25 15:07] axxelG commented on #18204
I submitted a fix to poetry. Let's see if it get's accepted.
https://github.com/python-poetry/poetry/pull/4937

Nevertheless I like the idea of having timeouts for external commands. The moving icon for the environment detection is really distracting and annoying.

[2021-12-26 07:32] karrtikr commented on #18204
Nice, I've added the timeout.

[2021-12-26 12:35] DIGITALCRIMINALS commented on #13899
"Protected" key is what you're looking for?
You can add this to your launch.json configuration
[code]
You can also do the following below to group all variable types.

[code]

![image](https://user-images.githubusercontent.com/89371864/147408136-78ccb001-401d-4fbe-a2ac-f5e2a2ae8022.png)
![image](https://user-images.githubusercontent.com/89371864/147408200-22c5078d-c85a-4d79-992a-6e619ed4b4f0.png)

[2021-12-26 15:37] mxkmn opened #18219 "Default interpreter path for Python isn't working"
### VS Code version

1.63.2 user

### Extension version

v2021.12.1559732655

### OS type

Windows

### OS version

_NT x64 10.0.22000

### Python distribution

python.org

### Python version

3.9.6

### Language server

Default

### Expected behaviour

I want to use interpreter, which I chose as Default by myself

### Actual behaviour

in every .py project VS Code uses Recommended interpreter. I

[2021-12-26 16:46] thetaiter opened #18220 "Does not support direnv"
This extension does not seem to support `direnv`. When I click the play button in the top right to run my python code. I want it to FIRST load my `.envrc` environment before running my code. I'd also like the option to use whatever python is the default on the SYSTEM PATH (NOT A FULL PATH) so that it uses the python loaded by direnv, NOT THE ONE MANAGED BY THE PYTHON EXTENSION IN VSCODE.

[2021-12-26 16:47] thetaiter commented on #18220
inb4 I did see this issue, which did not help me with me use case at all.
https://github.com/microsoft/vscode-python/issues/36

[2021-12-27 09:51] zillionare opened #18221 "RecursionError： maximum recursion depth exceeded when debug unittest"
### VS Code version

1.60.2

### Extension version

python: v2021.10.1365161279

### OS type

Linux

### OS version

ubuntu 20.04

### Python distribution

Anaconda

### Python version

3.9.7 64-bit

### Language server

Pylance

### Expected behaviour

No exception

### Actual behaviour

============================= test session starts ==============================
platform linux -- Python 3.9.

[2021-12-27 14:41] TotoroQwQ opened #18222 "when i rename var. ,many blank lines are added."
### VS Code version

1.59.1

### Extension version

v2021.10.1365161279

### OS type

Windows

### OS version

win10

### Python distribution

python.org

### Python version

3.9.6

### Language server

Default

### Expected behaviour

only the var. should be rename.

### Actual behaviour

![image](https://user-images.githubusercontent.com/8982154/147481860-9a16a812-8398-46fa-8c9a-493f95746238.png

[2021-12-27 23:44] #18220 closed

[2021-12-28 06:50] zillionare commented on #18221
we have reproduced this problem, it caused by aioredis and ms-python, unitest together.

reproduce steps:

1. install aioredis 1.3.1 (2.0.1 also has same problem)
2. set breakpoint on line 16 of cache.py
3. run unittest test case.
4. when program paused on line 16: await redis.set("test", int(time.time()), let program continue

Now you'll get above exception.

If you run unittest without breakpoin

[2021-12-29 02:45] dandiep commented on #6594
Would really love to see support for this. Seeing the output from the test is insanely difficult right now for such a common workflow.

[2021-12-29 09:41] q-wertz commented on #13899
Thanks for the hint, works like a charm. Only problem is, that one cannot set this globally…

[2021-12-29 11:20] k7 commented on #18078
I have change the environment and could not reproduce this bug.  So I will close this issue.

[2021-12-29 11:20] #18078 closed

[2021-12-29 19:06] luabud commented on #13899
@q-wertz this issue tracks the request to set variablePresentation globally: https://github.com/microsoft/vscode-python/issues/12373

[2021-12-29 19:14] luabud commented on #17693
Apologies for the delay in my response!

Your understanding is correct. Our recommendation in this case is to not have the Python path checked into source control (i.e. remove the python.defaultInterpreterPath entry from .vscode/settings.json) for this not to happen, as rarely ever the path to the interpreter will be the same across different machines.

However I will keep this issue open so I can

[2021-12-29 19:32] jan11011977 commented on #17693
Thank you!

As I mentioned, we check a python interpreter into source control. So the location is always the same (relative to the vscode workspace).

We have a workspace with 7 different directories in, some of which require a different python interpreter than others.
This means every user has to click on “select interpreter”, then choose the relevant directory and select the right interpreter fo

[2021-12-30 01:27] Ztelfor45 opened #18223 ""Parameter "url" must be a string, not undefined" when trying to install the extension."
### VS Code version

1.7.1

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

18363.1916

### Python distribution

python.org

### Python version

3.9

### Language server

Default

### Expected behaviour

I was expecting to see the extension successfully install.

### Actual behaviour

I recieved the following error code...

Parameter "url" must be a string, not und

[2021-12-30 08:44] CLWilliam opened #18240 "conda environment not visible"
Issue Type: <b>Bug</b>

- install conda: conda base environment present
- create new environment in the shell
- Reload window
- When selecting the interpretter, the the base environment ('base': conda) always shows up. The newly created environments are visible for a fraction of a second but than disappear from the list, indicating me that vscode does find them but does not show them for some reas

[2021-12-30 17:53] samthegolden opened #18225 "Add an option on Python extension to disable search of interpreter on standard paths"
Note: This is a **Feature Request**, but I don't know how to define it.

I am a MacOS user and I needed to uninstall xcode command line tools due to security constraints. Due to that, `/usr/bin/python3` does not work and presents a popup like the one in the image everytime it is executed.

![image](https://user-images.githubusercontent.com/22002150/147775862-544091e1-ecb7-4091-9807-e0d1bba7f722.pn

[2021-12-30 18:05] Mirandatz commented on #13899
@DIGITALCRIMINALS

Sadly this (apparently) does not affect Intellisense

![image](https://user-images.githubusercontent.com/7132905/147777205-988f0154-8ff6-4d58-bbb3-dd1c5bfc6845.png)

[2021-12-31 22:47] james10424 opened #18228 "unittest shows wrong line number for decorated methods"
### VS Code version

1.64.0-insider

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

11.6

### Python distribution

python.org

### Python version

3.7

### Language server

Pylance

### Expected behaviour

VSCode should show a "run" button next to my test methods, with decorator or not

### Actual behaviour

VSCode shows the "run" button next to the decorator defin

[2022-01-02 03:39] zillionare commented on #18221
we have created a issue for tracking this: https://github.com/zillionare/omega/issues/46
the branch can reproduce this pr is:  https://github.com/zillionare/omega/tree/zillionare/issue46

To reproduce:

1. git clone the code
2. run pip install poetry, poetry install -E test
3. debug unittest tests/jobs/test_syncjobs.py::TestSyncJobs::test_load_sync_params

[2022-01-02 09:42] kolibril13 opened #18291 ""Format Notebook" should not touch Jupyter cell magic."
Does this issue occur when all extensions are disabled?: Yes

VS Code Version: 1.63.2
OS Version: Mac OS 12.0.1 (21A559)

Right now, when pressing the "Format Notebook" button, also cell magic is formatted, which will throw an error when running the cell.
Also, the import lines are falsely adjusted to the first line of the notebook. But the first line should always be the cell magic.
Here is a scr

[2022-01-02 12:22] Mokers1234 opened #18229 "Vscode Mac: Can't command+click to go to line when space in path?"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655 (Python extension)

### OS type

macOS

### OS version

12.0

### Python distribution

Anaconda

### Python version

3.8.12

### Language server

Pylance

### Expected behaviour

Where there is a folder name in program path which includes a space, command+click a line in Traceback in VScode to go to the line in VScode where th

[2022-01-02 12:24] Mokers1234 opened #18230 "Vscode Mac: Can't command+click to go to line when space in path?"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655 (Python extension)

### OS type

macOS

### OS version

12.0

### Python distribution

Anaconda

### Python version

3.8.12

### Language server

Pylance

### Expected behaviour

Where there is a folder name in program path which includes a space, command+click a line in Traceback in VScode to go to the line in VScode where th

[2022-01-02 12:29] #18229 closed

[2022-01-02 12:57] thisisjaymehta opened #18231 "Unable to select Python Interpreter"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

Windows

### OS version

10 - Version 21H2 (OS Build 19044.1415)

### Python distribution

Anaconda

### Python version

3.10

### Language server

Pylance

### Expected behaviour

I created my environment using `conda create --prefix E:\FastAPI\env\fastapi python=3.10`

On Clicking "Select Interpreter" on bottom

[2022-01-02 12:59] thisisjaymehta commented on #18231
Tried adding :
[code]
to settings, still not selecting interpreter.

[2022-01-02 19:03] #18223 closed

[2022-01-02 23:02] rashidmahmoodsyed commented on #14327
For me, it was the python version issue. I was using using a version not supported by Pycaret yet. I created a clean new virtual env using supported Pycaret and it worked right away

[2022-01-03 04:12] DetachHead opened #18232 "vscode resolves paths with `..` in them even if the directory doesn't exist"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

10

### Python distribution

python.org

### Python version

3.10

### Language server

Default

### Expected behaviour

error message because the directories did not exist - it should resolve the path the same way the operating system does:
![image](https://user-images.githubusercontent.c

[2022-01-03 04:39] DetachHead opened #18233 "`python.analysis.typeshedPaths` doesn't resolve environment variables"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

10

### Python distribution

python.org

### Python version

3.10

### Language server

Default

### Expected behaviour

env variable resolves

### Actual behaviour

[code]

### Steps to reproduce

1. set `python.analysis.typeshedPaths` to an environment variable
[code]
2. go to the "outpu

[2022-01-03 08:19] ahrnbom commented on #17942
I'm also having this issue. However, I don't even have conda/miniconda installed at all. I'm running Linux Mint 20.2, VS Code version 1.63.2, Python extension version v2021.12.1559732655. Unlike OP, I can actually select a Python interpreter in the list, but the Python extension fails to load and gets stuck on the "Discovering Python Interpreters" stage. The log reads:

[code]

[2022-01-03 11:55] irenepc opened #18234 "Cannot Select Python Interpreter when running python prints out more than the script output"
Issue Type: <b>Bug</b>

![vscode](https://user-images.githubusercontent.com/44209602/147927949-a08542e1-2995-4770-a19f-e801544d8ef0.gif)

# Behaviour

VS Code cannot select a python interpreter from the list of available interpreters. The list in the command flashes and dissappears.

## Expected vs. Actual Behaviour

Expected vscode to set the interpreter to the selected version of python after cl

[2022-01-03 17:30] esweet431 opened #18241 "Virtual environment created from CLI not available for selection"
I'm not 100% sure on the expected behavior, but it seems like this issue resolved itself after relaunching VS Code. Filing here as an FYI.   I'm internal so you can ping me (ersweet) with questions.

## Environment data

-   VS Code version: 1.64.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2022.1.1001614873
-   Python Extension version (available under the Ex

[2022-01-03 17:49] karthiknadig commented on #18222
This is due to https://github.com/pappasam/jedi-language-server/issues/159

[2022-01-03 17:49] #18222 closed

[2022-01-03 18:42] karthiknadig opened #18235 "Remove expeiments.json file"

[2022-01-03 19:11] karrtikr commented on #17942
Thanks for reporting, however please open up a new issue and yours is likely because of a different cause.

[2022-01-03 19:31] Josephkready commented on #73
Here is generic way to get Django tests to run with **full** vscode support
1. Configure python tests
	1. Choose unittest
	2. Root Directory
	3. `test*.py`
2. Then each test case will need to look like the following:
[code]
Any functions you want to import **have** to be imported inside the test case (like shown). The setUpClass runs before the test class is setup and will setup your django projec

[2022-01-04 02:28] TotoroQwQ commented on #18222
ths! it works.

[2022-01-04 09:48] dchemishanov opened #18239 "Pylint not Running After December Update"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

Windows10 H1 Built 1943

### Python distribution

Other

### Python version

3.8.5

### Language server

Default

### Expected behaviour

The selected linter should've been ran and its settings in the settings.json file should've been respected.

### Actual behaviour

Pylint is not ran, it

[2022-01-04 09:50] dchemishanov commented on #18239
@izidorn

[2022-01-04 12:32] samthegolden commented on #18225
@lramos15 anything needed from my side regarding the 'classify' label?

[2022-01-04 13:47] isidorn commented on #18239
@dchemishanov thanks for creating the issue, let's see if @luabud and the python team can help.

[2022-01-04 14:30] nguyendviet opened #18310 "Pylance doesn't trigger if file created by command code"
Issue Type: <b>Bug</b>

If I create a new file using command `code`, Pylance doesn't start checking for issues. I have to restart VSCode window to make it work.
If I create a new file using command `touch` then open it with `code`, Pylance works as expected.

VS Code version: Code 1.63.2 (Universal) (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:37:28.172Z)
OS version: Darwin arm64 21.2.

[2022-01-04 15:02] kariharju commented on #16994
Hi, any news on this front?

This is causing more and more problems when trying to use isolated Python environments.

For a bit of background why this is a big thing (to us at least) is that in RPA space we cannot assume that the end-users know how to manage and install Python versions on their machines so the normal "works for me" that developers can easily solve makes things impossible when depl

[2022-01-04 17:38] wubdub commented on #18200
Yes, during this time that "Discovering Python Interpreters" message is present the indexer does not work so I can't click on variables, click to go to function definitions, etc.

@brettcannon, I set the "Default Interpreter Path" through this setting:
![Screen Shot 2022-01-04 at 9 35 58 AM](https://user-images.githubusercontent.com/28272417/148100471-656554e9-0311-402c-8e75-ad261ed11568.png)

To

[2022-01-04 18:06] karthiknadig commented on #18225
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-04 18:10] brettcannon commented on #18239
Can you share the logs from the "Python" channel of the Output Panel? That will show us what command the extension tried to run for Pylint and if there was any errors from that attempt.

[2022-01-04 19:14] dchemishanov commented on #18239
Hi,

below is sample of the output with username and project redacted:

[code]

[2022-01-04 19:46] #18235 closed

[2022-01-04 19:47] #18074 closed

[2022-01-04 19:58] brettcannon opened #18242 "Update `vscode-extension-telemetry` to 0.4.4"
https://github.com/microsoft/vscode-python/blob/8fd25d0c8ca89fe54da5389856cda4c076f88c54/package.json#L1932

[2022-01-04 22:11] kimadeline commented on #18219
Hi @mxkmn, thank you for reaching out.

How did you set the default interpreter path, did you use the settings UI or did you add it to your project's `.vscode/settings.json`?

Does this issue happen for new projects as well? And does it happen if you use an older version of the extension?

I could not reproduce the issue with the following steps and extension version 2021.12.1559732655:
- Set `pyt

[2022-01-04 23:02] kimadeline commented on #18194
Hi @ogmios-voice and @sam2khatri, thank you for reaching out.

What do you mean by "nothing happens", the console doesn't appear?

Could you copy here the content of the logs under the `Python` output channel? Does the issue also happen with new projects?

I could not reproduce the issue with extension version 2021.12.1559732655:

https://user-images.githubusercontent.com/51720070/148135494-058d3a

[2022-01-04 23:13] montyevans opened #18244 "Go To Definition going to wrong file (which shouldn't be included)"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

12.1

### Python distribution

Anaconda

### Python version

3.8.12

### Language server

Pylance

### Expected behaviour

Attempting to Go to Definition of a module that is not accessible to the current script should fail, and should be linted with a warning that the import could not be re

[2022-01-05 01:48] #18185 closed

[2022-01-05 02:50] valhuber opened #18245 "If Python project has no venv, but has requirements.txt, offer to create, activate and pip install -r requirements.txt"
This is analogous to the excellent support provided when project requires a container.

Version: 1.63.2 (Universal)
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:37:28.172Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.2.0

[2022-01-05 06:56] karrtikr commented on #18200
I see, can you provide me the logs as mentioned in the issue template during the message is present? I'm interested in the commands extension runs which particularly slows things down for you.

## Logs

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to

[2022-01-05 09:42] pmercatoris opened #18246 "Workspace .env file setting is not respected after loosing the remote ssh connection"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

12.0.1

### Python distribution

python.org

### Python version

3.8.12

### Language server

Pylance

### Expected behaviour

Uses the .env (Python: Env File) that I set in the settings as ${workspaceFolder}/.myenv

### Actual behaviour

However, when loosing my ssh remote connection (when

[2022-01-05 13:09] irenepc commented on #18234
I've since tried reinstalling python and troubleshooting by disabling all extensions except the python one, but it made no difference

[2022-01-05 17:37] brettcannon commented on #15858
We talked this over and we don't want to complicate our Jedi support by adding a new feature. But we are willing to change the hard-coded setting to turn off snippets in Jedi if that's what people want.

As such, we are going to ask you all and the community to vote on what you want the setting to be. We are going to give the community 60 days to provide 👍 upvotes on the opening comment to gauge g

[2022-01-05 17:48] brettcannon commented on #18228
Unfortunately there's not much we can do here as we have to ask the method object where it exists and because you wrapped it the code object points to the decorator function and not the original method object.

I would also suggest you use the [`functools.wraps` function](https://docs.python.org/3/library/functools.html#functools.wraps) to make sure your decorators look as much like the wrapped fu

[2022-01-05 17:48] #18228 closed

[2022-01-05 17:51] karthiknadig commented on #18231
This is due to https://github.com/conda/conda/issues/11072

See my comment here for potential options https://github.com/conda/conda/issues/11072#issuecomment-983022772

[2022-01-05 17:51] #18231 closed

[2022-01-05 19:07] wubdub commented on #18200
Thanks @karrtikr!

[log.txt](https://github.com/microsoft/vscode-python/files/7817201/log.txt) attached, it looks like it fails to do something in the beginning and then starts stepping through every single conda environment in ```/ZZZ/shared/conda-envs/```

The ```conda info``` call on the command line is very fast

[code]

[2022-01-05 19:07] james10424 commented on #18228
@brettcannon Thank you for the suggestion, that solved the problem!

[2022-01-05 21:49] brettcannon commented on #16994
The update is we have v1 of our read-only API designed, implemented, and we are starting to use it within the extension to make sure it works (the hope is to have this work done by our next release in February). We are then going to make sure first-party extensions have their needs met with the API. After that validation the API will go public be considered ready for use.

Once our public API has

[2022-01-05 21:52] brettcannon commented on #18239
We seem to be running the command `~/.pyenv/versions/3.8.5/envs/v_vinavil/bin/python -m pylint --rcfile /mnt/C/Users/<username>/<project>/.vscode/.pylintrc --msg-template='{line},{column},{category},{symbol}:{msg} --reports=n --output-format=text /mnt/c/Users/<username>/<project>/igor/src/<project>_igor/persistence/factories/device_custom_driver_inspection.py` on your behalf. If you run that from

[2022-01-05 23:43] kimadeline commented on #18230
Hi @Mokers1234, thank you for reaching out.

This is a known issue in VS Code itself, as we don't provide a link parser in the Python extension; this issue also appears for non-Python code. Feel free to upvote and subscribe to the [upstream issue](https://github.com/microsoft/vscode/issues/97941) to stay up-to-date with the latest developments.

Thanks!

Closing as duplicate of #7491, #13989 and #

[2022-01-05 23:43] #18230 closed

[2022-01-06 05:24] karrtikr commented on #18233
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2022-01-06 07:25] dchemishanov commented on #18239
When I run it, the command is not executing because the --msg-template option has no closing single quote...

[2022-01-06 08:17] unikcc opened #18247 "Select the best Python interpreter for me via machine learning."
I have many virtual environments built via conda on my computer, and each time I start a new project, I have to select a correct Python Interpreter manually.
Although I can set default interpreter in setting, but it's not the best choice. Because I often create new environment and new project for specific purpose or switch environment betwen different project.
Usually, environment that satisfies s

[2022-01-06 13:03] chrissype opened #18250 "Formatting/linting doesn't work with Python on a remote"
Issue Type: <b>Bug</b>

1. Create a python environment on the remote with required formatting tools (black in this case) by using poetry, with the environment outside of the project root
2. Save the file, or run 'Format Document'
3. No formatting applied (black), or timeout when formatter can't be found (isort)

I've tried toggling just about every python/formatting setting in both the remote and

[2022-01-06 13:33] MarkShawn2020 opened #18252 "(need help) why there is a duplicated and invalid python interpreter choice ?"
## how to configure python interpreter and auto activate (no problem)

After installed my local virtualenv, I need to activate it.

Of course, I can activate it manually and each time I created a new terminal:
[code]

However, it's inflexible anyway.

After a little search, I found the solution: [Using Python Environments in Visual Studio Code](https://code.visualstudio.com/docs/python/environment

[2022-01-06 15:02] james10424 opened #18248 "Cannot restart unittest while its running"
### VS Code version

1.64.0-insider

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

11.6

### Python distribution

python.org

### Python version

3.7

### Language server

Pylance

### Expected behaviour

When debugging unittest via the testing tab, hitting the `Restart` button in the debug toolbar should restart my test

### Actual behaviour

An error message pop

[2022-01-06 15:05] karrtikr commented on #16599
Closing in favor of https://github.com/microsoft/vscode-python/issues/17977

[2022-01-06 15:05] #16599 closed

[2022-01-06 15:15] karrtikr commented on #18233
`python.analysis.typeshedPaths` is controlled by Pylance, hence transferring to their repo.

[2022-01-06 15:29] mxkmn commented on #18219
Hi @kimadeline,

1. I used settings UI. When I set my preference with Command pallete, it saves to .json in the project directory and starts to be used without any problems.
2. Yes, it happens for new projects as well.
3. I first encountered this problem on November 6, 2021, I don't know if the November 4 update has already been installed, so the first time I encountered this problem was on extens

[2022-01-06 17:02] ajangid007 commented on #17334
Hi

I am having same issue where test refresh is not working in ssh-remote (Unix) vscode even after setting `"python.testing.cwd": null` in settings.json

Any help is greatly appreciated!

Following are my env values:
 - VS Code version: 1.63.2
 - Extension version (available under the Extensions sidebar): v2021.12.1559732655
 - OS and version:
     - Windows (source end of SSH) : 10.0.19042 Build

[2022-01-06 17:34] brettcannon commented on #18247
Thanks for the idea, but we would rather not collect this amount of potentially personally-identifiable information in order to train a model. We also don't think the burden of selecting an environment once per workspace is burdensome enough to warrant the cost of maintaining the model. As well, we do not condone reusing environments and instead suggest users create environments per workspace.

Fi

[2022-01-06 17:34] #18247 closed

[2022-01-06 17:35] karthiknadig commented on #18245
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-06 17:36] karthiknadig commented on #18245
We are discussing getting started experience, and we have discussed this exact feature. But we do like to know what the community thinks about this.

[2022-01-06 17:36] karrtikr commented on #18014
We have decided to clarify it in the docs: https://github.com/microsoft/vscode-python/wiki/AB-Experiments, the behavior is as you described, closing this.

[2022-01-06 17:36] #18014 closed

[2022-01-06 18:02] karrtikr commented on #17693
This means every user has to click on “select interpreter”, then choose the relevant directory and select the right interpreter for that directory. And they have to do this for each directory, so seven(!) times.

Sorry do not understand this particular issue, given `python.defaultInterpreterPath` is checked into source control, you can simply specify the particular setting for each directory (whic

[2022-01-06 20:08] ogmios-voice commented on #18194
Nothing happens = no console is opened/created.
But I did some more tests for you, and if I open a new vscode window, open a python file and run it, it will work.
However if I open a new vscode window, save the **workspace** (basically an empty one), then open a python file, run/debug will not work (see above). So the non-default workspace is also a must in order to reproduce this issue.

[2022-01-06 20:12] jan11011977 commented on #17693
Thank you for your reply.

I did try setting the defaultInterpreterPath but I couldn't get it to work,
presumably it already had decided on a setting and it was too late to
override it.

Imagine the scenario where I am trying to set the defaultInterpreterPath
correctly. Maybe I set it incorrectly, I load the workspace, the incorrect
setting is saved. Now I try to change the setting and reload the

[2022-01-06 22:43] elazarcoh commented on #17693
@jan11011977 see if this workaround helps in your case:
1. Install this extension: [usernamehw.commands](https://marketplace.visualstudio.com/items?itemName=usernamehw.commands).
1. Go to the new `Commands` view.
1. Add a command for `python.clearWorkspaceInterpreter`.
1. Right click on the command: `Toggle Status Bar Item`.
1. Right click on the command: `Reveal in settings.json`.
1. Edit the `st

[2022-01-07 00:29] kimadeline commented on #18239
Hi @dchemishanov, starting from the January release we won't use the `--msg-template='{line},{column},{category},{symbol}:{msg}` argument in the Python extension for VS Code anymore (https://github.com/microsoft/vscode-python/pull/18068).

However, there might be an underlying problem anyway. For the missing quote it seems like it's only a stringification issue (we should probably fix it, feel fre

[2022-01-07 02:06] CryptoCashCashoo opened #18254 "Comprehension list in Debug Console doesn't get uptated"
### VS Code version

1.63.2

### Extension version

v2027.7.1060902895

### OS type

Linux

### OS version

20.04

### Python distribution

Anaconda

### Python version

3.8

### Language server

Pylance

### Expected behaviour

If I'm stoped at some point of the code and in the Debug console I run the following:
[code]

I expect the console to print:
"abc"
['a'.'b','c']
"efg"
['e','f','g']

### A

[2022-01-07 06:39] dchemishanov commented on #18239
Works like expected on the terminal.

My setup is explained pretty extensively in the initial report. I can try to build something if you can give me directions what else is necessary and how to provide it for testing. The code seems unimportant in this case, just anything that might trigger a pylint message.

[2022-01-07 07:12] karrtikr commented on #17693
Thanks for the quick reply.

the python interpreter settings back to the default (inherited from the
defaultInterpreterPath). That would be a big help.

The docs I mentioned earlier ([doc](https://github.com/microsoft/vscode-python/wiki/AB-Experiments#tldr)) does mention a command `Python: Clear Workspace Interpreter Setting` using which does this.

It doesn't get fixed as long as you don't use th

[2022-01-07 08:52] karrtikr opened #18255 "Add a button to clear selected interpreter"
Currently we have the command `Python: Clear Workspace Interpreter setting` to reset/clear the selected interpreter, but it's not as discoverable https://github.com/microsoft/vscode-python/issues/17693#issuecomment-1006902183.

I think we can add a button next to the refresh button at the top right to solve this:

![image](https://user-images.githubusercontent.com/13199757/148517889-b3a2fb8f-70e7-

[2022-01-07 08:58] karrtikr commented on #17693
There you go:

![image](https://user-images.githubusercontent.com/13199757/148518697-1f12d9c3-5cdb-48bf-a1d3-2bea4c60f159.png)

[2022-01-07 10:12] fenchu opened #18257 "python interpreter status line not updated if venv is recreated"
### VS Code version

1.6.3

### Extension version

v2021.12.1559732655

### OS type

Windows

### OS version

10.0.1944.0

### Python distribution

python.org

### Python version

3.10.1

### Language server

Pylance

### Expected behaviour

vsc should pick up that venv has changed and do a complete rescan, it still says Python 3.9.7

I also had problems getting pylance to rescan, but after a rest

[2022-01-07 10:53] JenniferHem commented on #18039
I have the same issue and do not see any issues for mypy (pylint, bandit, black and pep8 work as expected):

Version: 1.63.2 (user setup)
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:40:02.816Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows 10 Enterprise x64 19043.1415

Python extension v2021.12.1559732655

Tried it with pyth

[2022-01-07 11:08] dreamflasher commented on #18039
@diegovalenzuelaiturra does it work for you?

[2022-01-07 11:31] fenchu commented on #18245
and if the project has both a requirements.txt and a setup.py file, then do pip install -e requirements.txt

[2022-01-07 11:35] jan11011977 commented on #17693
Thank you this is really helpful.

In the TL;DR it states:  `the extension will read the value when loading a project **for the first time.**`. I took this to mean that it only looks at the defaultInterpreterPath once (the first time someone loads the workspace) and ignores that setting from then on.

But I now see that it will continue to use the defaultInterpreterPath, unless the user explicitly

[2022-01-07 12:07] jan11011977 commented on #17693
Ok actually I have one more suggestion related to the "No Python interpreter is selected" dialog (see image below). It would be very useful if the dialog told you which folder it's prompting you to select a Python interpreter for. This might be obvious if you only have one directory open, but if you have a dozen directories open it's hard to know which one it's complaining about.

![image](https:/

[2022-01-07 12:12] karrtikr commented on #17693
Good to hear that most of your problems are solved and thanks for valuable feedback regarding doc.

There's currently a command called `Python: Clear Internal Extension Cache` which clears all the cache extension uses to store data across sessions. It'll clear settings and more, and essentially gives any user a fresh start.

I'll see if I can add an option in that command to clear settings of all

[2022-01-07 12:13] karrtikr commented on #17693
This is also a great suggestion, but seeing as it's unrelated to the issue in hand, can you create a new issue for this?

[2022-01-07 12:26] duylamvo-wefox opened #18258 "Unexpected Indent with Decorators"
### VS Code version

1.61.0

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

10.15.7

### Python distribution

Anaconda

### Python version

3.7.11

### Language server

Pylance

### Expected behaviour

Select the code with decorator **@** -> [Shift + Enter]

The code should be executed properly

Similar to the issue:
- https://github.com/microsoft/vscode-python/iss

[2022-01-07 12:30] duylamvo-wefox commented on #18258
From pythonFiles/normalizeSelection.py, If I comment out the block of check decorator and restart vscode. I can make it works again.

[code]

The code  `start = node.lineno - 1` is already correct to identify position of the decorator.

[2022-01-07 12:56] JenniferHem commented on #18039
@dreamflasher and @jmrgibson I just set up my new laptop and there it works as expected. Exact same Versions as I mentioned above. The only change is in on the Laptop where it works I installed VSCode directly via the downloadable *:exe, in the other system it was installed via anaconda navigator (quite some time ago when it was shipped as the preferred IDE). I cannot pinpoint any other difference

[2022-01-07 13:10] lcdlyxrqy opened #18273 "python virtual env activation script isn't triggered on reopens of VS Code"
This may be a problem on the python extension side but I can't be sure since it doesn't occur locally.

- VSCode Version: 1.63.2
- Local OS Version: Windows 11 Pro 21H2 22000.376
- Remote OS Version: Ubuntu 16.04.6 LTS
- Remote Extension/Connection Type: SSH
- Logs: None

Steps to Reproduce:
(with python extension)
1. Navigate to the terminal view (it seems other views like problem also work).
2.

[2022-01-07 13:11] karrtikr commented on #17693
Added a `"Clear all"` option in the 'Clear Interpreter Command':
![image](https://user-images.githubusercontent.com/13199757/148548564-ce010ac2-0c38-4757-87b2-25a7b086d192.png)

[2022-01-07 14:47] jan11011977 commented on #17693
Fantastic! Thank you so much

[2022-01-07 15:09] karrtikr commented on #17667
- Change to "Invalid python interpreter" when invalid interpreter is selected.
- In case of multiroot workspace, also mention the folder for which interpreter is invalid: https://github.com/microsoft/vscode-python/issues/17693#issuecomment-1007356829

[2022-01-07 17:32] #17693 closed

[2022-01-07 17:32] karrtikr commented on #17693
Created #17667 to track https://github.com/microsoft/vscode-python/issues/17693#issuecomment-1007356829.

[2022-01-07 17:37] kimadeline commented on #18239
Thank you for the extensive explanation, however your setup works for me 🙂

The only possible causes I can think of are either your WSL install or your .pylintrc file.

1. Does the issue happen if you create a fresh project, open it in WSL and try linting it with no .pylintrc file?
2. Does the issue happen if you open problematic projects on another machine or OS, locally and/or remotely?
3. Does

[2022-01-07 18:32] #17977 closed

[2022-01-07 20:05] karthiknadig commented on #18248
I am able to repro this. Thanks for the investigation.

[2022-01-07 20:06] karthiknadig commented on #18234
@irenepc Can you provide logs form Output > Python ? This can happen if the extension is not able to run the provided python to extract information about the interpreter.

[2022-01-07 21:04] rchiodo opened #18259 "Python extension sends 'ipynb' open/close/change events making it hard for pylance to be able to ignore these"
I need to update the middleware used by the python extension:
https://github.com/microsoft/vscode-jupyter-lsp-middleware/blob/main/src/node/hidingMiddlewareAddon.ts

So that it swallows notebook open/change/close events. Otherwise pylance will provide intellisense for these notebooks partially.

[2022-01-07 21:23] karthiknadig commented on #18232
@DetachHead given the folder structure, I think it will work better if you use the `workspaceFolder` instead of the `command:python.interpreterPath`.
[code]

`command:python.interpreterPath` I resolved in some cases only. You may have to file this request on VS Code since this resolution happens before python extension sees the settings.

@judej pylance should be able to detect that the folder is

[2022-01-07 21:48] karthiknadig commented on #18240
@CLWilliam Can you provide logs from Output > Python? this can happen for two reasons, if you are using python 3.10 with conda then there is a bug in conda that breaks (see here for conda bug and workaround https://github.com/conda/conda/issues/11072) . If it is not python 3.10, then it could be that we are not able to run the interpreter for some reason and the logs should tell.

[2022-01-07 23:41] Niccolum opened #18261 "Flake8 more native support"
Good day. Thank you for your work with that beautiful plugin and vscode at all.

I newbie with vscode, but I found, that your plugin match only F, W and E error codes. I use a lot of flake8 plugins, which have another letter (or letters) for codes. Have you any plans to support absolutely custom codes, as user want? For example, dict with `code: level` match:
[code]

## Logs
No response

## Code o

[2022-01-08 06:58] tommyt99 opened #20336 "VS Code Python tutorial - "Start VS Code in a project (workspace) folder"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
- OS Version:

Issue:

mkdir hello
cd hello
code .

Steps to Reproduce:

1. in order to launch VS Code from terminal using "code .", user must first go into VS Code
2. do CMD + Shift + P
3. install "Shell Command: Install 'code' command into PATH".

[2022-01-08 07:05] tommyt99 opened #20337 "VS Code Python Tutorial - Install and use packages section - ImportError"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
- OS Version:

Error when doing pip install from VS Code tutorial instructions. "ImportError"

Steps to Reproduce:

1. type in VS Code terminal "pip install --upgrade pip" and hit enter
2. follow tutorial as normal and script should run :)

[2022-01-08 10:55] stefanhaller opened #18262 "Add option to disable "Go to symbol in workspace""
"Go to symbol in workspace" is often very slow, and there are several issues about that (e.g. [this one](https://github.com/microsoft/pylance-release/issues/997)). In a python-only workspace this wouldn't be a big deal, as people just don't use the command if it doesn't work well for them.

However, it becomes a big problem in multi-language workspaces. I'm working mostly with C++, and the clangd

[2022-01-08 12:03] CLWilliam commented on #18240
It indeed seems to be related to conda and python 3.10. python 3.9 does not have this issue. Thanks alot, @karthiknadig !

[2022-01-08 12:03] #18240 closed

[2022-01-08 13:55] zbs commented on #18164
What's the status of this? I think automatic formatting is a big part of development workflows, so it would be great if this were prioritized.

[2022-01-09 00:10] kirwaboit commented on #18116
Hello everyone, it's been a while.Is anyone still looking into this issue? I went ahead and unistsalled vscode, and all my extensions.After reinstalling vscode, I opened a python program , I was then requested by vscode to install the python extension which I did then BAM the error screen popped up again. "This app can't run on your PC, To find a version for your PC, check with the software publis

[2022-01-09 13:14] segevfiner opened #18264 "Terminals don't have the virtualenv activated on reopening a workspace with a terminal"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

10.0.19044.0

### Python distribution

python.org

### Python version

3.10.1

### Language server

Default

### Expected behaviour

On reopening a previously opened workspace that had terminals open and uses a virtualenv, the newly started terminal has the virtualenv activated.

### Actua

[2022-01-09 15:33] MrNeocore commented on #17636
Has anyone found a way to make this work again ?

[2022-01-09 20:02] ewjax commented on #18007
Having same problem.  Nothing funky about the build environment, it is a simple helloworld.py setup, but can't select the default interpreter.

Can it be selected by a config file or otherwise?

[2022-01-10 01:11] b1d-farewell opened #18265 "macOS: Discovering Python Interpreters takes forever"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

11.2.3

### Python distribution

python.org

### Python version

3.10.1

### Language server

Pylance

### Expected behaviour

Python interpreter has been selected; the process of discovering should finish quickly

### Actual behaviour

VS Code never completes the process of discovering Pyt

[2022-01-10 05:29] karrtikr commented on #18007
@ewjax Please provide the info I asked in the comment above to help diagnose the issue.

[2022-01-10 05:30] karrtikr commented on #18007
You can use the setting 'python.defaultInterpreterPath'.

[2022-01-10 08:35] sebov commented on #10165
Hi! Any update on the issue?

[2022-01-10 14:40] karrtikr commented on #18257
Please try the following extension VSIX https://github.com/microsoft/vscode-python/suites/4884851304/artifacts/139878010 and see if it helps. Use `Extension: Install from VSIX` from the command palette (`Ctrl + Shift + P`) to install the VSIX.

[2022-01-10 17:48] karthiknadig commented on #18261
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-10 17:58] karrtikr commented on #18252
Hi Mark, please provide the logs as mentioned in the issue template.

## Logs

Make sure to set `python.logging.level` to `debug` in User settings before loading the extension.

<details>

<summary>Output for <code>Python</code> in the <code>Output</code> panel (<code>View</code>→<code>Output</code>, change the drop-down the upper-right of the <code>Output</code> panel to <code>Python</code>)
</su

[2022-01-10 18:13] Niccolum commented on #18261
@karthiknadig I ask russian python community about this feature, and, as I see, community support this :)

[2022-01-10 18:23] karthiknadig commented on #18261
Related https://github.com/microsoft/vscode-python/issues/17235

[2022-01-10 18:40] kimadeline opened #18267 "Add Pyright type checking to all GH workflows"
Add it to verify type annotations introduced by #17242 and future PRs.

Use https://github.com/marketplace/actions/run-pyright

[2022-01-10 19:02] ui-widgets-js commented on #17122
@karthiknadig  👍 👍 👍 👍 👍

[2022-01-10 19:38] kimadeline commented on #18250
Hi @chrissype, thank you for reaching out. Could you provide the local and remote Python logs when this issue happens?

Just to confirm, can you run formatting manually in a VS Code terminal when you connect to the remote?

[2022-01-10 20:36] #18259 closed

[2022-01-10 21:19] jasonbrancazio commented on #4013
I'd also prefer VSCode to run "pyenv activate" rather than "pyenv shell". I would welcome a configuration option that allows users the ability to select between the two commands.

[2022-01-10 21:37] NorthIsUp commented on #17693
many large orgs use tooling to ensure consistent environments. not being able to check in tooling configs for vs-code will make it significantly harder for our devs to onboard.

supporting the common case of `~/.virtualenvs` would be very helpful

[2022-01-10 22:34] #18267 closed

[2022-01-11 00:09] kimadeline commented on #18258
Hi @duylamvo-wefox, thank you for reaching out!

Maybe the `sys.version_info.major >= 3` isn't enough, and it should be check for 3.7 or higher. I'll take a look.

[2022-01-11 00:13] kimadeline commented on #18265
Hi @b1d-farewell, thank you for reaching out!

What does "forever" mean? Does it spin infinitely even if you wait 10 minutes? We have timeouts in place whenever discovery takes too long (for example, 60s for conda), so it should end eventually.

Could you set the `python.logging.level` setting to `Debug`, and copy the entirety of the output in the Python output channel here please? Thanks!

[2022-01-11 01:33] luabud commented on #13899
Apologies for the confusion, the issues I had liked above was for debugging and not auto completion. I tweaked the title of this issue to be a bit more clear.

[2022-01-11 04:18] arencambre commented on #11638
Does this relate to #13464? Running into it again, and Google searches landed on this issue.

[2022-01-11 04:27] arencambre commented on #13464
Running into this again on a fresh install. This Github issue saves the day each time!

[2022-01-11 10:26] jasonwilliams commented on #7813
@karthiknadig I seem to have the container overwriting the `python.pythonPath` setting in my settings.json file. This is annoying because i have it set properly in devcontainer/settings but it seems to prefer overriting my main settings.json file.

Do you know what I should do about that? You mentioned `python.pythonPath` is deprecated, what replaces it?

[2022-01-11 10:30] karrtikr commented on #7813
You can do using `python.defaultInterpreterPath` setting. It's a little different from `python.pythonPath` at workspace level. Check the wiki https://github.com/microsoft/vscode-python/wiki/AB-Experiments#tldr to understand how it works.

But if you have manually selected an interpreter in the dev container, that setting will not have any effect. You can try using `Python: Clear Internal extension

[2022-01-11 10:58] robinstauntoncollins commented on #10722
@lhotamir Same for me. Launching using `code .` from Git Bash terminal results in this error when trying to test: _Invalid message:
 Found duplicate in "env": PATH_.

Launching using Windows shortcut or adding:
[code]

to `launch.json` resovles the problem.

Amazing that this problem still exists nearly two years later.

[2022-01-11 11:08] chrissype commented on #18250
I can open a terminal and run black, there is a nix-provided python and black which work successfully there, however vscode doesn't appear to have the right env to find these. We also use direnv to manage developer tools, however the extensions available in the marketplace to make use of this limit you to a .envrc in the current directory, which doesn't really work for our monorepo. They also both

[2022-01-11 11:41] gregersn commented on #8876
Is there any progress on this?  Manually adding parameters to launch settings every time I need to debug a new script gets tedious.

[2022-01-11 12:48] matangover commented on #13603
The fix to this bug is now stalled because the upstream feature request (https://github.com/microsoft/vscode/issues/105455) has been closed due to lack of upvotes. :|

[2022-01-11 15:55] arencambre commented on #13464
#2559 reflects the problem with the script execution policy, where in https://github.com/microsoft/vscode-python/issues/13464#issuecomment-748734319 I had to change it.

[2022-01-11 16:54] arencambre commented on #13464
Interesting finding: when I do a vanilla install of everything on a VM that is _not_ connected to a domain, I do not get the problem referenced above. I wonder if this whole issue relates to some routine variance in Windows configuration when it's connected to a domain?

In my case, my domain does hardly anything to workstations via group policy, so if I had to make a guess, it would be that there

[2022-01-11 17:02] arencambre opened #18270 "First use of shift-enter does not run code"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

11

### Python distribution

Anaconda

### Python version

3.8.12 64-bit

### Language server

Default

### Expected behaviour

When I hit **Shift-Enter** on a line of code, if that causes a terminal to be opened for the first time in my VSCode session, that line of code is run.

### Actua

[2022-01-11 17:17] #18184 closed, assigned to karrtikr

[2022-01-11 17:31] arencambre opened #18271 "Code colors are inconsistent for the same Python code in .ipynb and .py"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

Windows

### OS version

11

### Python distribution

Anaconda

### Python version

3.8.12 64-bit

### Language server

Default

### Expected behaviour

Python code should have the same color in VSCode regardless of whether you're seeing it in a .py file or in a code cell in an .ipynb file.

### Actual behaviour

[2022-01-11 17:56] mkoohafkan commented on #11638
I was able to get this working with the following steps:

1: Run `conda init powershell`
2. add `"args": "-ExecutionPolicy ByPass"` to your PowerShell terminal profile in VSCode, e.g.,

[code]

You do get a warning that `args` expects and array, but wrapping `"-ExecutionPolicy ByPass"` in `[]` causes an error.

[2022-01-11 19:59] #18242 closed

[2022-01-11 20:08] brettcannon commented on #17905
Closed by https://github.com/microsoft/vscode-python/pull/18269 .

[2022-01-11 20:29] kimadeline opened #18272 "Use Python 3.7 to generate the requirements files"
Now that Python 3.6 has reached EOL, we need to re-generate the requirements.in and requirements.txt files to support Python 3.7 and higher.

[2022-01-11 20:34] #13251 closed

[2022-01-11 20:35] #15375 closed

[2022-01-11 20:36] #16908 closed

[2022-01-11 20:43] karthiknadig commented on #17957
We are removing the dependency in `stdout`. This is problematic in other scenarios where python has some library installed, and on load of that library it prints something. This print can occur in pth files which are loaded before any script runs. This will be addressed in #17242

[2022-01-11 20:43] #17957 closed

[2022-01-11 20:51] tanhakabir commented on #18144
Not sure if the pre-release is out yet but I'm still seeing these notifications on any workspace that I have .py or .ipynb files in:
![image](https://user-images.githubusercontent.com/12758612/149019594-3cedd5dc-e52e-4eac-a5b4-74efeedc7495.png)

[2022-01-11 22:29] #18272 closed

[2022-01-11 23:00] seishiroono opened #18275 "Cannot step into external programs even when "justMyCode" is set to false"
### VS Code version

1.63.2

### Extension version

2021.12.1559732655

### OS type

macOS

### OS version

Monterey 12.1

### Python distribution

python.org

### Python version

3.9.9

### Language server

None or Disabled

### Expected behaviour

The debugger can step into external (or standard) packages.

### Actual behaviour

It cannot step into external (or standard) packages, i.e., it ignor

[2022-01-11 23:12] kimadeline commented on #13603
Hi everyone,

The [upstream issue](https://github.com/microsoft/vscode/issues/105455) on VS Code's repo was closed because it did not get enough votes. As such, we can't fix the problem initially reported in this thread (Electron file picker following symlinks), so I will close this issue.

As mentioned in the initial comment, a workaround is to type the path manually instead of browsing for an in

[2022-01-11 23:12] #13603 closed

[2022-01-11 23:56] asalcedo29 opened #18276 "iPython interactive window scrolls to the top when changing between tabs"
This behavior wasn't present a while back; not sure if it's a bug. It's not ideal that every time I switch between tabs the scroll moves automatically to the top (and then I have to manually scroll down). This only happens in iPython window.

Tried searching about this but couldn't get much info.

Below are my settings:
{
    "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.

[2022-01-12 00:17] kimadeline commented on #18270
Hi @arencambre, thank you for reaching out. Does this issue only happen with Anaconda installs of Python on your machine, or can you reproduce it with Python installed from other sources as well (python.org, Windows Store)?

[2022-01-12 04:26] karthiknadig commented on #18275
@seishiroono `randn` for numpy redirects to code implemented in C, so the `debugpy` will not be able to see it as python code.

[2022-01-12 05:39] karrtikr commented on #18144
It's not out yet so this is expected.

[2022-01-12 11:21] irenepc commented on #18234
Output from just starting up vscode
[code]
and from attempting to select an interpreter
[code]

[2022-01-12 14:11] #18257 closed

[2022-01-12 17:29] karthiknadig commented on #18234
@irenepc Can you run these commands from command prompt (outside of vscode) and share the output?
[code]

Can you also share the values of following environment variables? `ComSpec` and `Path`.

[2022-01-12 17:40] karthiknadig commented on #18273
Duplicate of #18264

[2022-01-12 17:40] #18273 closed

[2022-01-12 17:47] karthiknadig commented on #18264
@segevfiner Can you share your settings?

[2022-01-12 17:53] segevfiner commented on #18264
settings.json:
[code]

[2022-01-12 18:21] irenepc commented on #18234
[code]

[2022-01-12 18:45] karrtikr commented on #18040
@isidorn I am working on adopting the language status API and here's how it looks:

[2022-01-12 18:50] karthiknadig commented on #18234
Usually when we see the error, where the extension is does not see any python, it is usually due to mis configured ComSpec. In this case it seems to be fine. So, we may have to look elsewhere.

Can you set python logging level to debug? Reload vs code after that. and then share the contents of Python > output.
![image](https://user-images.githubusercontent.com/3840081/149203076-9ec9b977-cf08-44ec-

[2022-01-12 18:51] karrtikr commented on #18040
@isidorn I am working on adopting the language status API and here's how it looks:

<img src = "https://user-images.githubusercontent.com/13199757/149184642-427a44a7-b49b-4eba-9aeb-d4f7367fa786.png" width=500 />
After pinning and hovering:

<img src = "https://user-images.githubusercontent.com/13199757/149187431-84cf011d-62e7-4082-bdb5-1a76cd49f315.png" width=500 />
When interpreter selected is in

[2022-01-12 18:53] karthiknadig commented on #18264
@segevfiner Can you capture the environment variables when the terminal activates correctly, and then reload vs code and re-capture the environment variables when the terminal fails to activate? There is a feature in VS Code where it tries to restore the terminal, and I am suspecting this is causing the issue.

[2022-01-12 19:03] segevfiner commented on #18264
(This is on WSL 2 Ubuntu 20.04 BTW, I'm not sure if it happens with pwsh on Windows, wasn't able to reproduce it there when I tried just now)

<details><summary>Virtualenv activated:</summary>

[code]
</details>

<details><summary>After reload virtualenv was still activated: (<code>Developer: Reload Window</code>)</summary>

[code]
</details>

<details><summary>Closing and reopening VS Code, the v

[2022-01-12 19:16] fierval opened #18278 "error highlighting broken in Jupyter Notebooks"
Issue Type: <b>Bug</b>

Error highlighting in Jupyter is badly broken.

Extension version: 2021.12.1559732655
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 2700X Eight-Core Processor          (16 x 3800)|
|

[2022-01-12 19:46] ChaseKnowlden commented on #18264
Same on PowerShell 7.

[2022-01-12 19:56] irenepc commented on #18234
[code]
I'm using a sitecustomize folder as my PYTHONPATH variable value. Whenever python is run, it prints out that message `TTF SITE CUSTOMIZE --> Using [X:] for Resources` blah blah. It seems that's tripping up something expecting JSON?

[2022-01-12 20:39] karthiknadig commented on #18234
@irenepc Yep that is what is causing this.

[2022-01-12 20:41] karthiknadig commented on #18234
@karrtikr Does the updated interpreter check in `main` handle this scenario where some text can get printed out?

[2022-01-12 20:44] karrtikr commented on #18234
Yes it does.

[2022-01-12 20:46] karrtikr commented on #18234
Yes but we only do that when using 'conda run' right now, we should do it for all.

[2022-01-12 20:49] karrtikr commented on #18234
@karthiknadig Should we do it for all scripts generally or just 'interpreterInfo.py'?

[2022-01-12 20:58] karthiknadig commented on #18234
For now, we should update how we do `interpreterInfo.py`. One thing we could do is dump the json out to `stdout` but in a way where we can extract it even if there is text printed out (like wrapping JSON with some chevrons). I think that should improve this case, for the short term.

[2022-01-12 21:03] karthiknadig commented on #18234
A regex like this should be able to extract the json from the `stdout`:
![image](https://user-images.githubusercontent.com/3840081/149220962-198891bc-768c-4e93-a0c9-1f0d4787c166.png)

This is not a guaranteed solution, but it can work for most cases where python prints out to stdout on startup.

[2022-01-12 22:47] kimadeline commented on #18219
Selected interpreters are stored in a shared persistent state, if you want to remove them you need to run either of the following commands (or both):
- Python: Clear Internal Extension Cache (this will affect all interpreters selected for all workspaces)
- Python: Clear Workspace Interpreter Setting (this will only affect the current workspace)

The keys used to save and remember the auto-selected

[2022-01-12 23:32] kimadeline commented on #18194
Hi @ogmios-voice,

I still can't reproduce the issue using the steps you described:
1. Open a new VS Code window
2. Save the empty workspace (this creates a .code-workspace file)
3. Open a Python file located elsewhere
4. Use the "Run without Debugging" menu command

Is there something missing? Do you have a screen recording of the steps you took in your comment above?

For step 3, is the Python f

[2022-01-12 23:45] kimadeline commented on #18258
After some testing, I can reproduce the issue with Python 3.6 and 3.7, but not on 3.8, 3.9, 3.10 and 3.11, so it indeed seems like the version check should be >= 3.8 instead of 3.

[2022-01-12 23:54] arencambre commented on #18270
I just installed Python 3.8 using the Microsoft Store. The same problem happens when I select it from the Python environments in VSCode.

[2022-01-13 00:40] kimadeline commented on #18250
Thank you for the logs! I can see that you use an Insiders version of the Python extension, do you use the same version both on your remote and locally?

Does the issue happen with the latest version of the extension (2021.12) or a previous one?

[2022-01-13 05:51] developer773 opened #18280 "Python Extension Issue Following Switch to Python 3.8 - 3.10 From Python 3.7"
### VS Code version

1.31.1

### Extension version

Python 2019.3.6558

### OS type

Windows

### OS version

10 Home  21H1   19043.1415

### Python distribution

Anaconda

### Python version

3.10.0

### Language server

None or Disabled

### Expected behaviour

[code]
Hello World!

[code]

### Actual behaviour

Original python 3.7.1 environment works with C:\Users\Gary\Anaconda3\python.exe   (co

[2022-01-13 06:50] karthiknadig commented on #18280
@developer773 Can you tell us how you created the conda environment? also, can you verify that it is not this issue https://github.com/conda/conda/issues/11072 from conda?

[2022-01-13 07:33] karrtikr commented on #18234
@karthiknadig There is another bug here, if the command errors out, I'm wondering why we're running it again and again infinitely, i.e discovery never stops? This is what is causing the list to flash and dissappear.

[2022-01-13 08:33] karthiknadig commented on #18111
Closing this for now. We can re-open this when the information requested is provided.

[2022-01-13 08:33] #18111 closed

[2022-01-13 08:40] karrtikr commented on #18234
Hey @irenepc 👋 Please try out the VSIX https://github.com/microsoft/vscode-python/suites/4920855469/artifacts/141949826 and let us know if it doesn't help. Use `Extension: Install from VSIX` command to install the VSIX.

[2022-01-13 08:50] karthiknadig commented on #18237
@holyoaks Can you share the full logs? I am suspecting that since we try to substitute `stdout` while running discovery, it might be messing with this somehow.

@kimadeline This might be something to note when we do rewrite the `pytest` adapter. It seems like we replace `stdout` with a temp file. This was probably done to prevent something form writing directly to `stdout` and mess with test disco

[2022-01-13 08:56] karrtikr opened #18282 "Add experiment to where interpreter status bar item is moved to the right"
- Make sure it is pinned.
- It should only be visible if a Python language file is opened.

[2022-01-13 09:01] karrtikr opened #18283 "Add experiment to change interpreter status bar item into a language status item"
- Use language status API to move interpreter info inside the "Python" item in the right side.
- It is unpinned by default.

<img src = "https://user-images.githubusercontent.com/13199757/149184642-427a44a7-b49b-4eba-9aeb-d4f7367fa786.png" width=500 />
After pinning and hovering:

<img src = "https://user-images.githubusercontent.com/13199757/149187431-84cf011d-62e7-4082-bdb5-1a76cd49f315.png" wid

[2022-01-13 09:06] karrtikr commented on #18040
- [x] Add experiments in experiment tower
- [ ] Add `pythonInterpreterInfoPinned` experiment to where the pinned interpreter status bar item is moved to the right https://github.com/microsoft/vscode-python/issues/18282
- [ ] Add `pythonInterpreterInfoUnpinned` experiment to change interpreter status bar item into a language status item https://github.com/microsoft/vscode-python/issues/18283
- [ ]

[2022-01-13 09:12] karrtikr commented on #18283
@luabud Should we update any screenshots in getting started experience as we rollout this experiment?

![image](https://user-images.githubusercontent.com/13199757/149300131-8eb1d9ad-a851-403b-8cc6-652eae30fea4.png)

Same question regarding https://github.com/microsoft/vscode-python/issues/18282

[2022-01-13 09:44] #18282 closed

[2022-01-13 09:44] #18283 closed

[2022-01-13 10:37] irenepc commented on #18234
Thanks everyone!

[2022-01-13 10:40] isidorn commented on #18040
@karrtikr thanks for looking into this and thanks for filling that issue with nice steps. We plan to look into it this milestone.

I do agree that it looks good!

[2022-01-13 11:16] irenepc commented on #18234
Launched after installing the VSIX, got this output
[code]
No interpreter was selected for me. I went to select one and the list doesn't flash and flicker anymore. Choosing Python 3.7.7 as the interpreter worked and seemed to stick.
Selecting Python27 as the interpreter doesn't work. This is the output for that
[code]
I tried using the Python: Clear Internal Extension Cache command and trying to s

[2022-01-13 12:16] karrtikr commented on #18234
Thanks for the logs, can you try this VSIX: https://github.com/microsoft/vscode-python/suites/4923442209/artifacts/142096276?

Although do note that as Python 2.7 is now deprecated, we aren't actively supporting it anymore, I'm making an exception here. You should probably migrate to using Python3 soon.

[2022-01-13 12:23] irenepc commented on #18234
That's fair. Our company does a lot work with Maya so we're stuck with 27 for a little longer, but I appreciate the help!
PS: everything behaves as expected after installing that last VSIX.
Thank you!

[2022-01-13 12:23] #18234 closed

[2022-01-13 12:34] karrtikr commented on #18007
Closing as dup of https://github.com/microsoft/vscode-python/issues/18234#issuecomment-1012083554, if you still face the issue please provide the following info https://github.com/microsoft/vscode-python/issues/18007#issuecomment-998797786 and I'll be happy to reopen the issue.

[2022-01-13 12:34] #18007 closed

[2022-01-13 12:40] vasannu commented on #18200
Same problem here :(

[2022-01-13 15:26] Astlaan opened #18828 "Running debugger under `conda` fails to load `_sqlite3`"
Issue Type: <b>Bug</b>

Hello,

After editing some documents in a repository, staging the changes, adding a commit message, and then trying to commit, I get an error with the following Command output.

[code]

I did try importing those same python modules in a python session in a terminal (in the same anaconda environment) and I did not get any issue.

As far as I can tell, this is only happening

[2022-01-13 16:44] pmbaumgartner opened #18285 "tasks.json with input and command variables results in [UriError]: Scheme contains illegal characters."
Following up re: https://github.com/microsoft/vscode/issues/140627 - where the solution was:

Pasting original content below:

When creating a `tasks.json` file that includes both an `input` variable and a `command` variable, I get a `[UriError]: Scheme contains illegal characters.` error when attempting to run the task.

From the example below I can include `${command:python.interpreterPath}` dis

[2022-01-13 16:49] kimadeline commented on #18219
Just to confirm, when you said you used the Settings UI to set the `python.defaultInterpreterPath` setting, do you set it at a user level or workspace level? Which tab is highlighted when you modify the setting:
![image](https://user-images.githubusercontent.com/51720070/149373072-1549a72a-33b4-44f5-8b6a-a9a0c82ca11f.png)

[2022-01-13 17:47] karrtikr commented on #18285
Thanks for the bug report! We just wanted to quickly acknowledge we received it and we will triage this as soon as we can.

[2022-01-13 18:22] #17944 closed

[2022-01-13 19:38] brettcannon opened #18286 "Set up localization w/ VS Code"

[2022-01-13 20:04] karrtikr opened #18287 "Update getting started experience related to Language status item experiments"
Created this issue to track https://github.com/microsoft/vscode-python/issues/18283#issuecomment-1011939766

[2022-01-13 20:07] developer773 commented on #18280
A full Anaconda3 Navigator environment was installed. When attempting to upgrade to python3.8 or python3.9, a long process of 24 hours ensued which eventually failed and rolled back. Then I discovered that installing a new environment using a yaml template from my python 3.7.1 environment should be done. That didn't help. So I started removing packages in Anaconda3 that I didn't use to see if upgr

[2022-01-13 20:08] developer773 commented on #18280
Did not mean to close this. Still need your help.

[2022-01-13 20:17] karthiknadig commented on #18280
@developer773 You might have to re-install VS Code itself. If VS code is downloading 2019 version of the extension, then that means that the VS Code version is out of date, and it can't install the later version of the extensions. Also, deleting .vscode folder only deletes the extensions, some cached data but not VS Code itself. You may have to do that from the windows control panel. The latest VS

[2022-01-13 20:17] kimadeline commented on #16322
Hi everyone, is this issue still happening?

[2022-01-13 20:20] developer773 commented on #18280
Ok, I'll look at reinstalling VSCode. Thanks.

[2022-01-13 20:28] kimadeline commented on #18153
Closing this since it's not officially documented in the Conda documentation, and is instead relying on an implementation detail.

[2022-01-13 20:28] #18153 closed

[2022-01-13 21:50] kimadeline opened #18288 "Tech debt: Add debug logs when writing to persistent storage"
Add debug logs when writing to persistent storage to make it easier to diagnose issues like #18219.

[2022-01-13 22:12] kimadeline commented on #18250
Just to confirm, does it mean that the remote environment in which black and isort are installed does not appear in the list of interpreters when you run the `Python: Select Interpreter` command?

Could you also copy the logs from the Python output channel when the extension activates, and when black or isort fail to process your documents?

I could not reproduce the issue with the following steps

[2022-01-13 22:40] relsunkaev commented on #17989
With pylint, setting `jobs` to 1 results in proper highlighting while any other value produces this error.

[2022-01-14 01:09] #17356 closed

[2022-01-14 01:09] #18248 closed

[2022-01-14 01:35] luabud commented on #8876
@gregersn Apologies, no progress on this yet. It's something that is on our radar but not ETAs as of now.

[2022-01-14 02:08] aperson127 opened #20335 "Code will not run"
In an attempt to install pyaudio, I tried to downgrade my version of python to 3.6 through the terminal, and had broken it, so to speak. Now every time I try to run code, it pops up with " & 3.6.0 "c:/Users/aryak/Digital Clock.py"

Then says "The term '3.6.0' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was incl

[2022-01-14 03:19] gonghenghai opened #18292 "Could we provide more details of the variable when debug like the PyCharm does?"
![InkedCapture_LI](https://user-images.githubusercontent.com/21306413/149445197-8ccb1f0d-da08-407b-b4b6-8a53d2f84829.jpg)
![InkedCapture2_LI](https://user-images.githubusercontent.com/21306413/149445207-df2e06ae-24c1-4db3-92ed-17a1c2627120.jpg)

I know, we can get more details through clicking the arrow to get into the variable or through some expression in the WATCH panel. But it will be better t

[2022-01-14 04:12] karthiknadig commented on #18292
Related #16238, this is for the content shown in the code itself.

For the additional information in the variable view it should come from the debugger.
/cc @fabioz, @int19h

[2022-01-14 04:12] karthiknadig commented on #18292
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-14 05:54] developer773 commented on #18280
Reinstalled VSCode and replaced Anaconda3 with Miniconda3 and having some success. Thanks for the direction.

[2022-01-14 05:54] #18280 closed

[2022-01-14 08:21] #18285 closed

[2022-01-14 09:47] gonghenghai opened #18294 "VSCode and opening links to code from python tracebacks inside docker does not good enough."
Is there a way for VSCode to be smarter about ctrl-clicking python exceptions in the terminal? Consider the following:

      File "/MountedFolder/app/logical/module.py", line 447, in __process_mass_data
        if known_props.updated_at > found_props["updated_at"]:
    TypeError: '>' not supported between instances of 'datetime.datetime' and 'str'

This is a log from docker. If I ctrl-click on th

[2022-01-14 12:37] cdce8p commented on #17944
@karrtikr I just built the extension from the main branch to have a look for myself. It's just like I had imagined it, a great addition! Thanks for implementing it! Looking forward to using it in production 😍

[2022-01-14 12:50] karrtikr commented on #17944
Glad you like it 😊 FYI you can use the command `Python: Switch to Insiders` if you want to install the latest `main` branch as an extension.

[2022-01-14 13:03] cdce8p commented on #17944
👍🏻 I'm not a huge fan of the old insider support tbh, especially since it updates automatically. I prefer a bit more control about how and when I update. Looking forward to the dedicated pre-releases though, #18144.

[2022-01-14 13:09] karrtikr commented on #17944
That's fair. It's a bit messy atm but running `Python: Switch to default channel` following `Python: Switch to Insiders` should stop the automatic updates.

And yes, we plan to adopt #18144 very soon.

[2022-01-14 14:57] isidorn commented on #18040
Joh just pushed a fix for the issue you filled. It should be in Insiders on Monday so try it out and let us know if there is anything else we can do to help you adopt the language status. Thanks

[2022-01-14 17:13] karrtikr commented on #18040
Sure, thanks a lot for the quick fix!

[2022-01-14 21:40] mayk0gan opened #18295 "Black formatter: Support showing the "problems" in the Problems window instead of formatting"
A little request/question regarding the integration with black formatter in vscode.
Currently, by default, the command that vscode is running behind the scenes is:
`
<BLACK_PATH> --diff --quiet <PYTHON_FILE>
`
Although that the --diff flag is supplied, the file is still being formatted. (I guess that behind the scenes you remove the --diff flag, because black itself doesn't format the code with th

[2022-01-14 23:58] kceiw commented on #18219
This happens to me too.

For me I have the workspace file and `python.defaultInterpreterPath` is set in that file. I open the file and it complains that I don't have a Python interpreter.
I also try to use the UI to select it but it still doesn't work
![image](https://user-images.githubusercontent.com/1449194/149599520-3bf1aabd-aac7-411b-a5ad-e3256b0ecb2f.png)

From the Output panel, it keeps usin

[2022-01-15 05:49] ogmios-voice commented on #18194
While trying to do a screen recording I've found probably the last piece still missing: there should be **no folder in the workspace**. Chronicle is throwing the _"Cannot read property 'uri' of undefined"_ error, your extension fails silently. Adding an empty folder to the workspace "solved" this: the terminal is opened in the given folder -- regardless whether the python file I'm trying to run is

[2022-01-15 07:33] LeRoiFou opened #20204 "#region"
Issue Type: <b>Performance Issue</b>

Hello
Since a recent update of windows (version 11), the #region function does not work anymore (Python language version 3.9.0 used on Visual Studio Code version 1.63.2).
Thanks in advance,

VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<sum

[2022-01-15 09:26] nirzaa opened #18296 "Print None in the Debug Console, while printing the output to the terminal"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

Windows

### OS version

Windows 10

### Python distribution

Anaconda

### Python version

3.7.10

### Language server

Pylance

### Expected behaviour

Print the output to the Debug Console.

### Actual behaviour

When I type `print('hello world') it prints the output to the terminal and prints `None` to the De

[2022-01-15 19:06] Zxynine opened #18298 "Recent change has broken Autocomplete for Autodesk's adsk module."
### VS Code version

1.63.2

### Extension version

For working:`v2021.12.1559732655` | For not working:`v2021.12.1559732655`

### OS type

Windows

### OS version

Windows_NT x64 10.0.19041 (windows 10)

### Python distribution

Other

### Python version

3.7.6

### Language server

Default

### Expected behaviour

I have a window ive left open for about a month now, so its settings have not sync

[2022-01-15 20:00] Diogo-Rossi commented on #8945
I'm experiencing now the same error related in this issue, but it did not happen in an recent past.

I've updated Anaconda in the last month to use Python 3.9. That's the only modification from the point I believe this error did not occur.

Set `%autoindent` to OFF solves the problem, for now, but now I need to be set it as default in IPython.

Additional infos:
* Pasting in the terminal with `ctr

[2022-01-16 02:05] ogmios-voice commented on #18194
https://code.visualstudio.com/docs/editor/workspaces#_can-i-use-a-multiroot-workspace-without-folders

[2022-01-16 11:00] gitwitcho opened #18299 "Different current working directory for buttons "Start debugging (F5)" and "Debug Python File""
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

11.5.2

### Python distribution

Anaconda

### Python version

3.8.10

### Language server

Default

### Expected behaviour

Debugging the current Python file using either the button "Start debugging (F5)" or the button "Debug Python File" should take place in the same current working direc

[2022-01-16 12:26] zkzupup opened #18300 "VSCode Debugger for Python2 Does Not Work."
### VS Code version

 Code 1.63.2 (899d46d, 2021-12-15T09:40:02.816Z)

### Extension version

v2021.12.1559732655

### OS type

Windows

### OS version

 Windows_NT x64 10.0.22000

### Python distribution

python.org

### Python version

python2.7

### Language server

Pylance

### Expected behaviour

normal debug

### Actual behaviour

debug function does not work for python2! I have Python2 and

[2022-01-17 07:38] mxkmn commented on #18219
``> * Python: Clear Internal Extension Cache (this will affect all interpreters selected for all workspaces)

Did it, nothing has changed:
![image](https://user-images.githubusercontent.com/75564533/149726894-4db0ae99-a674-4813-a77c-7d2f7c765f80.png)

[code]

Of course at a user level.

[2022-01-17 13:59] jrom99 commented on #1847
I don't know if this is related to the issue at hand, but the folding of functions ending in comments isn't working.

[code]

folds as:

[code]

**System Information**
Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:39:46.686Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.15.14-200.fc35.x86_64

Python: 3.10.

[2022-01-17 14:58] headtr1ck opened #18301 "Multiline f-strings not foldable"
VS Code does not recognize multiline f-strings as foldable.

Example:
[code]
`f` is foldable, `f2` is not, that is the triangle between line number and code is not showing up and "Fold All" does not collapse it.

Not sure if this is a python extension problem or a VS Code problem.

[2022-01-17 15:17] ybonda commented on #3836
+1 for the feature

[2022-01-17 16:11] Artalus opened #18302 "Debug with justMyCode=false causes "No such file or directory: /usr/lib/python310.zip""
Issue Type: <b>Bug</b>

# Behaviour

Debugging literally a `print("hi")` file with `"justMyCode": false` in `launch.json`

## Expected vs. Actual Behaviour

A wild exception appears:
[code]

## Steps to reproduce:
`launch.json`:
[code]

This is not a 3.10 specific quirk; I tried installing a `python36` package and got a stack with the same meaning:
[code]
If I create `~/.local/lib/python3.6/site-p

[2022-01-17 21:52] pzelnip opened #18303 "python.pythonPath in user settings not working for venv"
### VS Code version

1.63.2

### Extension version

v2021.12.1559732655

### OS type

macOS

### OS version

10.15.7 (Catalina)

### Python distribution

Other

### Python version

3.9.7

### Language server

Pylance

### Expected behaviour

If I set the python.pythonPath setting in my workspace settings to a local venv, I'd expect VS Code to use that venv as the selected Python interpreter.

Howe

[2022-01-17 21:55] pzelnip commented on #18303
And magically now after filing this issue it works as expected.  Apologies for the confusion.

[2022-01-17 21:55] #18303 closed

[2022-01-17 22:17] brettcannon commented on #1847
@jrom99 this would get fixed by an indentation provider.

[2022-01-17 22:45] LeonardoGentile commented on #1847
Hello, 🖖
Is there any update on this?
Is it going to be implemented any time soon or should we rely on manual hacks as the ones proposed [above](https://github.com/microsoft/vscode-python/issues/1847#issuecomment-808990258)?

[2022-01-17 23:00] jamilraichouni commented on #1847
I created a little extension: https://marketplace.visualstudio.com/items?itemName=jamilraichouni.python-docstring-folding

[2022-01-17 23:06] jrom99 commented on #1847
Sorry for my lack of knowledge on this topic, but how was this handled before? I remember that single line comments at the end of functions used to fold correctly, given that the indentation was at least the same as the function's content. Is this due to https://github.com/microsoft/vscode/issues/37682? And how does it keep up with multiple providers?

[2022-01-18 07:40] B1773rm4n opened #18305 "Autorun tests on save"
Discussed in #17232

I practice TDD but unfortunately none of the VS Code Python extension autorun test. For now, I am using inotify to run tests as soon as I save a file. I was unable to find any info to get similar functionality in VS Code (no feature request etc). It would be nice to have the extension automatically run tests and display the status at bottom. Any thoughts?
_Originally posted by

[2022-01-18 08:15] karrtikr commented on #17905
I think this issue is for the proposed discovery API and not #18269, is that right? @karthiknadig

[2022-01-18 13:06] karrtikr commented on #5705
This actually does not work if specified in a `.env` file. Weirdly it works when debugging a test via the debug launcher but not when debugging a Python file. I'm transferring this issue to debugpy as I believe it has its own environment variable resolver.

[2022-01-18 14:51] karrtikr opened #18307 "Standardize how to do environment variable parsing & substitution"
There're two parts to this issue:

### Parsing

 We should probably always follow dotenv syntax:

- _Circuit Python: https://docs.circuitpython.org/en/latest/shared-bindings/dotenv/index.html#_
  It's almost very similar to what we do; except for the multiline support and comments on the same line, so good news is it won't break us if we decide to align.

- _Python dot-env: https://pypi.org/projec

[2022-01-18 14:59] karrtikr commented on #944
Created https://github.com/microsoft/vscode-python/issues/18307 with which we plan standardize the behavior and correct the documentation. The issue clarifies the current state of environment variable resolution support.

[2022-01-18 15:05] karrtikr opened #18332 "Follow python-dotenv syntax to resolve process environment variables"
In reference to https://github.com/microsoft/vscode-python/issues/18307 & microsoft/vscode-python#18572. Wrapping the environment variable in `${env:<VARNAME>}` is currently required to resolve env variables in process's environment. With this we add support to resolve it using `${<VARNAME>}`.

Another solution could be to use environment variable substitution/resolution support in the extension w

[2022-01-18 16:37] karrtikr commented on #18200
@wubdub Please try the following VSIX https://github.com/microsoft/vscode-python/suites/4975845256/artifacts/145186523 and let me know if it helps: Use `Extension: Install from VSIX...` command to install the VSIX.

[2022-01-18 16:54] kariharju commented on #16994
Pinging here as we saw the Python iteration plan: https://github.com/microsoft/vscode-python/issues/18214
So a couple of questions.

Seeing "Implement the proposed public API for the extension and use it internally vscode-python#17905" there and that related issue (https://github.com/microsoft/vscode-python/issues/17905) is closed already, leads one to believe that at least some API already done,

[2022-01-18 17:03] kariharju commented on #17693
Pinging the API issue here as well (https://github.com/microsoft/vscode-python/issues/16994)
..also trying to figure out if calling `Python: Clear Workspace Interpreter Setting` and then setting `python.defaultInterpreterPath` would be a way to get by this one.

[2022-01-18 17:28] karthiknadig commented on #17905
That is correct.

[2022-01-18 17:30] karthiknadig commented on #16994
@kariharju That got closed by mistake. I am working on the proposed public API, I will post here when it is in.

[2022-01-18 17:38] karthiknadig commented on #18294
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-18 17:39] karthiknadig commented on #18295
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-18 17:40] karthiknadig commented on #18296
`print()` returns `None`, so we treat that as a function return. Think running something like `sum([1,2,3])`.

[2022-01-18 17:44] karthiknadig commented on #18300
FYI https://github.com/microsoft/debugpy/issues/799 debupy is ending support for python 2.

[2022-01-18 17:44] karrtikr commented on #17693
That is correct.

[2022-01-18 17:45] karthiknadig commented on #18301
Related #18005

[2022-01-18 18:06] #18040 closed

[2022-01-18 18:11] brettcannon commented on #1847
Our plan is to rely on https://github.com/microsoft/pylance-release/issues/372 to fix this issue.

[2022-01-18 18:36] karthiknadig commented on #18305
@connor4312 Is this something that is supported? I remember there is an API to invalidate tests (which we use in the python extension to invalidate tests on save). But I am not sure if this is hooked into auto running tests.

[2022-01-18 18:38] connor4312 commented on #18305
A proposal for autorun can be found here: https://github.com/microsoft/vscode/issues/134941

[2022-01-18 19:01] karthiknadig commented on #18305
Marked this issue as `needs spike`. After https://github.com/microsoft/vscode/issues/134941 is addressed, we need to verify if this works with the python extension.

[2022-01-18 19:10] karthiknadig commented on #18299
@gitwitcho the debug in terminal uses a different configuration. You can set it up like this, to get the similar result:
[code]

[2022-01-18 20:19] parasurama opened #18311 "Code collapses by default when sending to interactive window"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Code block collapses by default when sending code from editor to the interactive window with `Shift`+`Enter`

I have the collapse setting turned off
"jupyter.collapseCellInputCodeByDefault": false

Extension version: 2021.12.1559732655
VS Code version: Code 1.63.2 (Universal)

[2022-01-18 20:44] MAFulator opened #18312 "python extension is resetting a valid PYTHONPATH from env to null"
Issue Type: <b>Bug</b>

# Behaviour

A valid value for the PYTHONPATH env variable (inherited from the shell from which vscode is launched) is reset to null in vscode. As a result pylance cannot find imports, and run/debug of the application does not receive the valid PYTHONPATH from the parent environment.

Same result on MacOS and linux.

## Expected vs. Actual Behaviour

The core property of en

[2022-01-18 22:18] milanglacier opened #18313 "Make the ipython interactive window can be scrolled using keyboard shortcut(command palette) just like in terminal"
Hi! I was wondering if we can make the jupyter interactive window just scrolls like in terminal,
there are multiple commands in palette `terminal: scroll something` that you can find to better support keyboard shortcut to scroll over the terminal (and no need to move my hand from keyboard to mouse, as you can use keyboard to scroll over editor group, move focus from one editor group to another, bu

[2022-01-19 03:10] rgimenes26 opened #18315 "execSelectionInTerminal to run in now active terminal"
I would like that the comman "python.execSelectionInTerminal" to run in the terminal that is open.
Now the default behavior is to track the terminal opened by the extension and always run in this one.
But the change would let me open many Python Terminals and run in the open one with my key bindings.

![image](https://user-images.githubusercontent.com/77639064/150056648-aa723602-fbd1-44ea-a735-34c

[2022-01-19 04:51] karthiknadig commented on #18312
Can you share what you have for this setting?
![image](https://user-images.githubusercontent.com/3840081/150066325-104f3bf6-d7b0-4c9d-8826-bbb654bc92c0.png)

[2022-01-19 05:34] GigglePocket commented on #14851
I swear the terminal used to auto-focus when running code. (at least in Python). I do keep forgetting and start to mess up my code before I realize what's happening way too often. I tried using tasks.json > "presentation" and setting "reveal": "always", and "focus": true, but that didn't work either. You've definitely got my vote for bringing back the auto-focus-to-terminal-when-code-is-run!

[2022-01-19 05:57] #17905 closed

[2022-01-19 06:03] karthiknadig commented on #16994
@kariharju This is now in main. The API to set active python interpreter looks like this https://github.com/microsoft/vscode-python/blob/262019b941d61a6be0d435be64ff025632e4b04d/src/client/apiTypes.ts#L149

[2022-01-19 06:27] karthiknadig commented on #16994
This build has the `setActiveInterpreter` API, please give it a try and let me know:
https://github.com/microsoft/vscode-python/suites/4983385795/artifacts/145624970

[2022-01-19 07:02] kariharju commented on #16994
Awesome!
We'll take a look and test.

[2022-01-19 11:53] Wybxc opened #18317 "Support #region and import folding at same time"
When `editor.foldingStrategy` is set to `auto`, imports can be folded but #region cannot. On the contrary, when set to `identation`, #region can be folded but imports cannot.

[2022-01-19 12:45] Theo-Tarumingkeng opened #20334 "Issue on Python Interpreter"
When I clicked "Select Python Interpreter", then clicked "Use Python from python.defaultInterpreterPath setting" (I already set the interpreter path), It didn't do anything, just keep loading.Anyone have the same issue?

[2022-01-19 15:50] DmytroSokhach commented on #6407
Is there a specific area or issue exist for Test Adapter? Could you link it here please as all searches end up with current ticket.

[2022-01-19 16:21] karthiknadig commented on #6407
@DmytroSokhach #17242 item tracks the progress on the test adapter re-write.

[2022-01-19 16:28] NeilWP opened #18318 "Virtual enviornment not loading after python committed to Git Hub"
A Python project using a virtual enviornment so committed to  Git Hub
The JSON config file is .GitIgnore

The Project is cloned to another machine  where an identical Venv is created.
AFter committing the  project  to the remote Git hub, the venv is not activated on the original machine when
1 - the vs projecr is opened
The VS Project is opened with the python page open and a new terminal session

[2022-01-19 17:16] #18287 closed

[2022-01-19 17:32] karthiknadig commented on #18315
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-19 17:35] karthiknadig commented on #18317
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-19 17:42] rgimenes26 commented on #18315
Thanks,
The idea of using multiples Python Iterative Terminals is already in use in Python Development in the  PyCharm  and RStudio of my colleagues. And its very useful. But would like to keep using VSCode.
Can use the "runSelectedInTerminal" from vscode multiple languages but this command from python extension works better with the indentation. But just works with the one terminal he created its

[2022-01-19 17:51] karthiknadig commented on #18318
@NeilWP We advise against committing actual virtual environments to source control. When virtual environments are created, they use absolute paths to where certain binaries are. This prevents them from being used when to check it out. Even if you create an identical virtual environment. If this is not what you are doing can you share a link to your project so i understand what is going on.

You sh

[2022-01-19 18:04] marckeelingiv opened #18320 "Python Function collapse not functioning as intended."
Issue Type: <b>Bug</b>

# Behaviour

https://user-images.githubusercontent.com/32782256/149587920-74c0d452-e6d4-4cb4-b68a-2a56e7ffa20d.png

## Expected vs. Actual Behaviour

See image link above

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1. Write a function with mutliple parameters on sepa

[2022-01-19 18:13] karthiknadig commented on #17004
This is now available via the proposed API for the python extension, please try this out and let us know.

Event for when the interpreter list changes:
https://github.com/microsoft/vscode-python/blob/65c22e48b0007682552892393d2884c4af0b1a67/src/client/apiTypes.ts#L172

API to get currently know interpreters:
https://github.com/microsoft/vscode-python/blob/65c22e48b0007682552892393d2884c4af0b1a67/s

[2022-01-19 18:45] karthiknadig commented on #18320
This should be addressed by microsoft/pylance-release#372

[2022-01-19 18:46] karthiknadig commented on #18301
/cc @judej

[2022-01-19 20:19] SebastianB12 commented on #11932
So this is currently just working for test debugging, but not for just running the test with the Testing-Ribbon, right?
[code]

Do I have any other chance to set environment variables before running all tests with the Testing-Ribbon? I'm using Python with Pytest and can now debug tests with the Testing-Ribbon from VSCode, but the config seems not to be used when just running the test, without debu

[2022-01-19 20:33] karthiknadig commented on #11932
the best option would be set up all of the environment variables you need in a terminal and then launch VS code from there using `code .` or `code <project-dir>`

[2022-01-19 21:46] SebastianB12 commented on #11932
Another solution I found, was just to add an python.envFile to the settings.json:

[code]

not ideal, because I guess that is now also setting/overwriting the envs for normal debugging, which I defined before in the launch.json file?

[2022-01-19 22:00] ericchansen commented on #693
Just commenting that this is still a pain in the bum. I want to believe that @AlexanderWells-diamond's answer works because it's the only suggestion with a reasonable level of difficulty/complexity, but it doesn't for me.

[2022-01-20 01:07] nickzhums commented on #17194
Java team will be also interested to discuss about this !

[2022-01-20 01:10] mhshph commented on #18312
(thank you very much for responding to my issue)
I tested with terminal.integrated.inheritEnv both checked and unchecked with same result.  (was checked at time of bug report). I also tested python.analysis.autoSearchPaths, both checked and unchecked.

sorry, I thought the 'Diagnostic Data' included all my settings, or I would have included in orig report.

[2022-01-20 01:14] MAFulator commented on #18312
(thank you very much for responding to my issue)
I tested with terminal.integrated.inheritEnv both checked and unchecked with same result.  (was checked at time of bug report). I also tested python.analysis.autoSearchPaths, both checked and unchecked.

sorry, I thought the 'Diagnostic Data' included all my settings, or I would have included in orig report.

[2022-01-20 01:24] MAFulator commented on #18312
further info:  the problem can be demonstrated without invoking the integrated terminal by running the python code above, and corroborated by the fact that pylance cannot find imports.  So I dont think ite ralated to the various issues I found with integrated terminal env. However, an "echo $PYTHONPATH" from integrated terminal does also show a null value.

In case it helps, I will also add that P

[2022-01-20 02:06] karthiknadig commented on #18312
@MAFulator Do you have any .env file in the project folder? Can you try one thing? can you disable the python extension, reload VS Code. Then try to see what you get for PATH and PYTHONPATH.

I suspect something else is going on, since we don't really modify the PATH variable in that way. In a few cases where we do usually add to the PYTHONPATH, but this is to run our tooling (linter, formatter, e

[2022-01-20 02:08] karthiknadig opened #18322 "Report issue command so indicate if a string setting has default value or was updated by user"
### Current
[code]

### Expected
[code]

[2022-01-20 06:17] karthiknadig opened #18324 "Update Jedi build to min python version 3.7"

[2022-01-20 09:23] akinuri opened #18326 "Code regions are broken (doesn't work)"
Issue Type: <b>Bug</b>

# Behaviour

I'd like to be able to use regions in python code.

## Expected vs. Actual Behaviour

Regions do not work.

## Steps to reproduce:

![1](https://user-images.githubusercontent.com/13146977/150310628-3ed0c557-c6f5-4e33-9362-bdcfe9688638.png)

If I turn off the extension, it works as expected:

![2](https://user-images.githubusercontent.com/13146977/150310638-be94

[2022-01-20 09:48] aarondewindt opened #18327 "Unable to find or select python 3.10 conda environments."
Issue Type: <b>Bug</b>

# Behaviour

The extention doesn't seem to be able to detect python 3.10 (conda, I haven't tried it with a plain python 3.10 install) environments. The environment does initially appear in the list but quickly dissapears. When pressing the button the environment reappears and dissapears again. Selecting the python interpreter manually doesn't work either, the extention will

[2022-01-20 10:32] rhaschke opened #18328 "python.testing.cwd ignored when debugging tests"
Issue Type: <b>Bug</b>

## Behaviour

#8678 solved the issue that `python.testing.cwd` is ignored when discovering or running tests - which is great.
However, when debugging tests, the working directory parameter is still ignored :disappointed:
I tested with pytest.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.10
-   Type of virtual environment used (e.

[2022-01-20 11:16] NeilWP commented on #18318
Hi
As I stated very clearly *I am not submitting the venv or the setting JSON
file  to source control - they are in the  ignore bundle. *
The venvs have been locally built on the two dev machines, and proved to
activate

After the  source code relating to the  application development  (not the
venv) has been committed,  synched across the remote GitHub and the two dev
machines, It is not longer po

[2022-01-20 15:52] Malachov opened #18329 "Test discover [pytest] error message not upgraded in tests view"
Issue Type: <b>Bug</b>

# Behaviour

When i have a error in code, pytest discovery fails and show error in tests icon view. I fix the error and use refresh tests. The same error is printed there.

If i reload the window - test loads OK

If i use output - python to check what's happening - there is correct error

## Expected

I have an errors (e.g. imports after refactoring), I run pytest discovery

[2022-01-20 16:55] jasonwilliams commented on #7813
Thanks, I have changed to using `python.defaultInterpreterPath` and it's the same problem. Once inside the container it is not respecting `.devcontainer/settings/python.defaultInterpreterPath` and is instead trying to use the one proposed at the top level `.vscode/settings/python.defaultInterpreterPath`.

It looks like this extension is not properly overriding settings from .devcontainer over .vsc

[2022-01-20 17:04] karthiknadig commented on #18318
The JSON config file is .GitIgnore

@NeilWP You said this in your original post, and it was unclear if the python itself was committed. I also suggested that you share a link to your project. Please provide a minimal repro for this, and the steps you take to check out and open the project in VS Code.

[2022-01-20 17:06] karthiknadig commented on #18327
This is due to an issue with `conda` itself  https://github.com/conda/conda/issues/11072 . See here for workaround: https://github.com/conda/conda/issues/11072#issuecomment-983022772

[2022-01-20 17:06] #18327 closed

[2022-01-20 17:10] karthiknadig commented on #18328
You can use this as configuration to set the working directory during debugging tests.
[code]
This config will be picked up by the debugger when it runs tests.

[2022-01-20 17:43] karthiknadig commented on #18326
This should be addressed by microsoft/pylance-release#372

[2022-01-20 19:22] nzig opened #18330 "Performance issues - occassional UI freeze"
Issue Type: <b>Performance Issue</b>

# Behaviour

I use a vim emulation extension (tried both [Vim](https://marketplace.visualstudio.com/items?itemName=vscodevim.vim) and [VScode Neovim](https://marketplace.visualstudio.com/items?itemName=asvetliakov.vscode-neovim)), and occasionally while editing Python projects my editor will stop responding to my  vim commands for a while. Most of the time thi

[2022-01-20 20:29] karthiknadig commented on #18330
@nzig From the cpu profile it looks like it is trying to process the test UI tree, and it is getting stuck. Would it be possible to share the project details? or a minimal repro for this?

[2022-01-20 21:59] rhaschke commented on #18328
Hm. The problem is gone without any change. I just started code again...

[2022-01-20 21:59] #18328 closed

[2022-01-20 23:08] debonte commented on #18301
@headtr1ck, which Python language server are you using? Pylance?

[2022-01-20 23:09] MAFulator commented on #18312
@karthiknadig  No .env file in the project folder.
When I disable the python extension, then I cannot run the test python program from run/debug.
It says `Configured debug type 'python' is not supported.` and tells me to install the python extension.
All I can do is check $PATH and $PYTHONPATH from the integrated terminal, which I did, and I get the same result: PYTHONPATH has been set to null, an

[2022-01-20 23:37] karthiknadig commented on #18312
@MAFulator If this is happening with python extension disabled then this is probably due to VS Code itself. `Configured debug type 'python' is not supported.` is expected with python extension is disabled.

I will move this to the VS Code repo.

[2022-01-21 05:12] karrtikr commented on #7813
Ah I see, we'll try to have a look as soon as possible, expect by end of next week.

[2022-01-21 07:51] kariharju commented on #16994
Great we now have an implementation that uses the API if/when it exists and if not we call `Python: Clear Workspace Interpreter Setting` and then `set python.defaultInterpreterPath` way.
Thank you for this @karthiknadig !

[2022-01-21 09:55] f-ij opened #18333 "Extension host terminating"
Issue Type: <b>Bug</b>

I'm having constant terminations while running vscode and it seems to be the python extension itself.

Extension version: 2021.12.1559732655
VS Code version: Code 1.63.2 (Universal) (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:37:28.172Z)
OS version: Darwin arm64 21.2.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|A

[2022-01-21 10:21] nzig commented on #18330
Unfortunately this is my company's project, so I can't share it. Are there any details you would like? Any debugging steps I should try?
The project has 19306 tests. `pytest --collect-only` takes about 45 seconds.

[2022-01-21 11:15] headtr1ck commented on #18301
Yes, pylance.

[2022-01-21 13:32] MalcolmMielle opened #18334 "Flake8 does not report lint errors when using miniconda on windows 10"
Issue Type: <b>Bug</b>

# Behaviour

Using conda and flake8 Ther eis no lint error reported in VSCode editor. The same error appear when manually running flake8.

## Expected vs. Actual Behaviour

The lint errors are visible in the editor

## Steps to reproduce:

Test with

[code]

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.7.11
-   Type of virtual envir

[2022-01-21 16:16] kimadeline commented on #18329
Hi @Malachov, thank you for reaching out!

Could you copy the Python logs here?

[2022-01-21 17:39] paulacamargo25 commented on #17398
Thanks for the bug, I tried with pylint and it works, the only bug I found is the highlight which seems to be broken, but the hovering works for me.
<img width="463" alt="Screen Shot 2022-01-21 at 12 39 18 PM" src="https://user-images.githubusercontent.com/17892325/150574360-d236ebe9-eae1-4dcd-9efe-ab6e3329d9e2.png">

[2022-01-21 17:41] paulacamargo25 commented on #17771
Hi @TH1THUNLIMITED  can you please share the python output logs, thanks

[2022-01-21 17:56] paulacamargo25 commented on #17882
Thanks for the bug report, we're going to addressing the bug here https://github.com/microsoft/vscode-python/issues/17398

[2022-01-21 17:56] #17882 closed

[2022-01-21 18:23] karthiknadig commented on #18330
@nzig If you disable the test feature, does the UI freeze issue go away?

[2022-01-21 18:50] paulacamargo25 commented on #18039
There was an error in the highlight and in the pop up, but it has been solved, could you try again and see if the error continues?

[2022-01-21 18:56] paulacamargo25 commented on #18116
Hi, sorry for the delay, the error is related to conda, to solve it you can try to uninstall and reinstall it, it is possible that what cannot run is the conda executable.

[2022-01-21 19:20] paulacamargo25 commented on #18164
Hi, thanks for the bug report, can you share what is the error that you are getting? because i tried formatting with black and it works for me.

[2022-01-21 19:23] nzig commented on #18330
I've disabled it now. I'll update in a few days if I encounter the freeze again or not.

Thanks for looking into this!

[2022-01-21 19:42] karthiknadig commented on #18330
We are re-writing the test adapters, when that work is done it should improve the test scenario (if that is the thing that was causing the UI freeze). #17242

[2022-01-21 19:57] karthiknadig commented on #18334
@MalcolmMielle Please share the logs from Output > Python.

[2022-01-21 20:00] karthiknadig commented on #18333
Thanks for the bug report, but unfortunately, we need some more information from you in order to triage this issue appropriately. Please create a new bug by providing a filled-in copy of our issue template. Also, provide repro steps and any call stacks that you can find. Try and see if it repos if you disable the python extension.

[2022-01-21 20:00] #18333 closed

[2022-01-21 20:29] MalcolmMielle commented on #18334
[code]

[2022-01-21 20:34] karthiknadig commented on #18334
It looks like it is running some argument that is not set correctly:
[code]
Can you share your work space settings?

[2022-01-21 20:37] karthiknadig commented on #18334
It should look like this:
[code]

Make sure your settings has the fake8 args set like this:
[code]

[2022-01-21 21:34] MalcolmMielle commented on #18334
I'll check that on Monday. I might have written the argument incorrectly and made it silently fail.

[2022-01-21 21:47] probinso opened #18335 "cached non-existant path behavior when 'GoTo Test' selected on individual test"
# Behaviour

I have the `python` extension installed, which enables the `Testing` tab along the icon menu. I have multiple directories in my workspace, and test are found for each of the python workspaces that have tests. These tests are listed like drop down directory trees displaying granularity at the following levels
- workspace base directory
- tests directory
- individual file
- individual t

[2022-01-21 23:15] lzucker1 opened #18336 "Won't recognize path to python interpreter"
Issue Type: <b>Bug</b>

I just installed VS code on Windows, but I can't get anything to run becasue I keep getting an error saying my Python path is invalid. I have tried manually changing the path to the correct folder. I have also tried reinstalling Python (specifically Python 3.10). I belive the path should be ```C:\Users\<username>\AppData\Local\Programs\Python\Python310``` , as this is where

[2022-01-21 23:30] kimadeline opened #18337 "Tests are failing on main"
Seems conda-related: https://github.com/microsoft/vscode-python/runs/4900770674?check_suite_focus=true

Started failing with c63d38d148aec3a7b7a3890c7b3d9bfefbca36f5

[code]

[2022-01-22 01:28] luabud commented on #18073
TL;DR:
- Features that I believe will no longer be available on Python extension install:
  - IntelliSense Improvements introduced by https://github.com/microsoft/vscode-jupyter/pull/8140 (e.g. stable semantic highlighting), but I could be wrong. @rchiodo -- do you happen to know if those improvements would be available when reading notebooks, in a hypothetical scenario where the Python extension

[2022-01-22 01:33] rchiodo commented on #18073
Yes, notebook intellisense won't work anymore. It requires the jupyter extension.

Without the jupyter extension, notebooks would basically have no intellisense at all.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Luciana Abud ***@***.***>
Sent: Friday, January 21, 2022 5:28 PM
To: microsoft/vscode-python ***@***.***>
Cc: Rich Chiodo ***@***.***>; Mention **

[2022-01-22 01:34] luabud commented on #18073
Thank you for confirming, Rich!

[2022-01-22 01:35] rchiodo commented on #18073
Notebooks also render partially. We provide a bunch of renderers for things like plotly, errors, vegas, altair. Any notebook opening these would show noth

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Rich Chiodo ***@***.***>
Sent: Friday, January 21, 2022 5:33 PM
To: microsoft/vscode-python ***@***.***>; microsoft/vscode-python ***@***.***>
Cc: Mention ***@*

[2022-01-22 01:42] luabud commented on #18073
@rchiodo is this also the case when a kernels isn't selected? I think I'm mostly looking at what are the parts of the experience that is different when the Jupyter extension isn't installed vs when it is installed but no kernel is selected.

[2022-01-22 10:18] nicolamarella commented on #15609
I am not 100% it's related, but in my case it doesn't work no matter what, even without mypy. I was able to trace down the problem to the default parser and started worked on a PR here https://github.com/microsoft/vscode-python/pull/18339

[2022-01-22 15:25] SomeGirlNamedParker04 opened #20333 "Python Packages"
Issue Type: <b>Performance Issue</b>

So, I've installed a package, art, from pypi and it was successfully installed using the latest version of pip. The problem that I'm having is that I'm unable to use the package in my python programs in Visual Studio Code, or at least I'm importing it incorrectly. I check the packages I have installed using the python terminal in VSC and it says that the art p

[2022-01-22 20:39] rchiodo commented on #18073
Yes same thing happens with no kernel selected. Jupyter is the only extension handling intellisense for notebooks (python notebooks anyway)

[2022-01-22 20:52] albireox opened #18340 "Extension fails to start"
Issue Type: <b>Bug</b>

This seems to happen only when using the latest Code Insiders and Python Insiders. The stable version of Python works fine. When I update to the latest Python Insiders everything works fine but eventually I start getting the activation failed error. It seems to be related, but I'm not completely sure, after I open a remote Python repository using the Remote SSH extension.

[2022-01-22 20:56] albireox commented on #18340
I'll note that the automatic issue creation seems to be reporting the OS and architecture details from a remote machine to which I had logged before, but I was reporting it from a window with a repository in my local machine, so definitively seems to be some cross-talk between the Remote SSH and Python extensions.

[2022-01-22 22:08] foster999 opened #18341 "Update usage and imports across project when refactoring object names"
Currently, the python plug refactor supports the renaming of objects and their references within a single file. I'd like to be able to update the references/usage of an object or attribute across the whole project.

In my opinion, the most benefit would come from renaming usage and import statements across the project. However, [the equivalent refactor in PyCharm](https://www.jetbrains.com/help/py

[2022-01-22 22:16] foster999 opened #18342 "Refactor support for moving object definitions between modules"
I would like the refactor menu to include an option to move the selected object(s) definitions to another Python file.

This would provide the most benefit in package development where, similar to #18341, this action should update usage and imports of this object throughout the current project. This functionality is exhibited by [PyCharm's move refactoring](https://www.jetbrains.com/help/pycharm/m

[2022-01-22 22:44] mschirdel commented on #10165
hi, yeah any updates on this one ?

[2022-01-22 22:48] reynaldipriandika opened #18343 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `python`
- Extension Version: `2021.5.926500501`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\lenovo\AppData\Local\Temp\ms-python.python-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2022-01-23 00:23] lzucker1 commented on #18336
Update: I fixed this by installing Python 3 directly from the Microsoft store.

[2022-01-23 07:51] yoni-lavi opened #18344 "Programming the Debug Console's rendering of user data"
If this feature already exists, I was unable to find it (either the feature itself, or the request for one, or any discussion of it whatsoever):

Here's a couple of examples for things I'd like the data visualizer to do:

(1) It seems to have the ability to browse items inside iterables and mappings, but it seems to work on certain types, but not others.
What I would expect is that any Python obje

[2022-01-23 12:52] rubi-rastko opened #18346 "Test runner monopolizes stdin, stdout, stderr"
Issue Type: <b>Bug</b>

# Behaviour
[code]

## Expected vs. Actual Behaviour

[code]

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1. Write a test class
2. Write a test function
3. Call sys.stdout.buffer.write()

[code]
4. Run test (from anywhere)

# Diagnostic data

-   Python version (& dis

[2022-01-23 17:15] MalcolmMielle commented on #18334
That was it. Sorry for the noise.

[2022-01-23 17:15] #18334 closed

[2022-01-23 17:21] MalcolmMielle commented on #17989
This bug is still present in the latest version

[2022-01-23 20:47] karthiknadig commented on #18343
@reynaldipriandika You are using a very old version of the extension, `2021.5.926500501` was released last year june. Please use the latest version of the extension `2021.12.*`.

[2022-01-23 20:47] #18343 closed

[2022-01-24 17:57] karthiknadig commented on #18336
Glad that you got it working :)

[2022-01-24 17:57] #18336 closed

[2022-01-24 19:04] karthiknadig commented on #17636
Fixed via #18290

[2022-01-24 19:04] #17636 closed

[2022-01-24 19:24] karthiknadig opened #18348 "Test public APIs for python environments"
Refs: #17905

- [x] anyOS: @rchiodo
- [x] anyOS: @DonJayamanne

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode-python/issues/new?body=Testing+%2318348%0A%0A&assignees=karthiknadig)

---

### Requirements

1. Use Insiders build of the python extension

### Test APIs exposed via IProposedExtensionAPI

See `IProposedExtensionAPI` for APIs to test. https://github.com/microsoft/vscod

[2022-01-24 21:33] kimadeline commented on #18337
#18338 addresses theses missing service identifiers, but then timeout issues are surfaced:

[code]

[2022-01-24 21:48] luabud commented on #18139
Closed by https://github.com/microsoft/vscode-python/pull/18321.

[2022-01-24 21:48] #18139 closed

[2022-01-24 21:56] paulacamargo25 opened #18349 "Enable usage of Conda run"
refs: https://github.com/microsoft/vscode-python/issues/17973

- [x] macOS @lszomoru
- [x] linux @TylerLeonhardt
- [x] windows @karthiknadig

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode-python/issues/new?body=Testing+%2318349%0A%0A&assignees=paulacamargo25)

---

### Requirements
1. Use Insiders build of the [python extension.](https://pvsc.blob.core.windows.net/extension-bui

[2022-01-24 22:02] bersbersbers opened #18350 "Feature request: extend scope of `"python.tensorBoard.logDirectory"` and/or support variable substitution"
TLDR: `"python.tensorBoard.logDirectory"` is user-level only and does not seem to support variable substitution which, especially in combination, makes it very hard to use productively.

I would love to add my thoughts to https://github.com/microsoft/vscode-python/discussions/16073 or https://github.com/microsoft/vscode-python/issues/17222, but I missed them over the fall and now they are both clo

[2022-01-24 22:19] bersbersbers commented on #18350
Regarding the rationale that "in the case of multi-root workspaces, we would need to display a quickpick to identify the right workspace settings to look at", I may be missing edge cases, but it seems to me that a list of candidate folders can be established from all (workspace-folder) settings, and the quickpick shown only if this list does has not exactly one entry. THat might solve many cases a

[2022-01-24 23:08] kimadeline opened #18351 "Resolve system variables in the `defaultInterpreterPath` entry"
Issue from https://github.com/microsoft/vscode-python/issues/18207, fixed by https://github.com/microsoft/vscode-python/pull/18215

[2022-01-24 23:09] #18351 closed

[2022-01-24 23:13] kimadeline commented on #18335
Hi @probinso, thank you for reaching out.

The extension does not cache any test results, so these paths are very likely cached by pytest.

Can you run `pytest --cache-clear` manually, and then try discovering tests again?

[2022-01-24 23:46] kimadeline commented on #18346
Hi @rubi-rastko, thank you for reaching out. We currently rely on stdout and stderr to pass test results around, so if your tests use them you will need to find a different way to pass your data around or you will encounter this bug.

We are currently working on changing this behaviour with #17242.

[2022-01-25 00:01] rubi-rastko commented on #18346
Thank you for replying.
Given what you've said there, I wouldn't consider this a bug, but a user error on my part.
Using stdout, stdin in tests is probably an anti-pattern.
I retract my issue report. This bug report is a bug.
Feel free to close it as such.

[2022-01-25 00:51] kimadeline commented on #18346
I don't think it's an anti-pattern in general, but rather that when we built the testing part of the extension we didn't consider the fact that stdout and stderr might be used by tests 🙂

I'm going to keep this issue open so we can verify that stdout and stderr are not monopolized by the extension once we're done with #17242.

Thank you!

[2022-01-25 00:55] kimadeline commented on #18258
Repro steps in the original comment:
- Use Python 3.7
- Copy the code block
- Select all and then shift + enter to run the selection in terminal
- Verify that no error appears in the Python prompt

[2022-01-25 01:07] bersbersbers opened #18353 "Feature request: `"python.debug.settings.console"`"
Very similar to the `"java.debug.settings.console"` setting described below, I'd love to be able to provide a default `console` setting to all debug configuration that don't have one defined. This would allow separating personal preferences (Debug Console vs. Terminal, possible to be defined in user settings) from work-space-specific debug settings (which module to load and start, defined by the w

[2022-01-25 01:13] luabud opened #18354 "Testing new Jupyter walkthrough"
Refs: https://github.com/microsoft/vscode-python/pull/18321, https://github.com/microsoft/vscode-jupyter/pull/8733

- [ ] anyOS
- [ ] anyOS

Complexity: 5

Authors: @minsa110

---
### Pre-req

1. The changes are behind experiments so you need to change your settings to "opt-into" the experience. Add the following to your user settings.json file:
[code]

2. Install the Python extension [insiders bu

[2022-01-25 01:25] luabud opened #18355 "Testing new data science walkthrough"
Refs: https://github.com/microsoft/vscode-python/pull/18321, https://github.com/microsoft/vscode-jupyter/pull/8733, https://github.com/microsoft/vscode-python/issues/18139, https://github.com/microsoft/vscode-python/issues/18287

- [x] anyOS @karthiknadig
- [x] anyOS @amunger

Complexity: 5

Authors: @minsa110

[Create Issue](https://github.com/microsoft/vscode-python/issues/new?body=Testing+%2318

[2022-01-25 01:29] luabud commented on #18073
@rchiodo just to make sure I understand it correctly, there will be no IntelliSense at all if the Jupyter extension isn't installed?

[2022-01-25 01:30] kimadeline commented on #18351
Repro steps:
- Have a workspace with Python files and a `.code-workspace` file
- Create a subfolder in the workspace, and then create a virtual environment in that subfolder (any flavor of Python 3 works):   `cd subfolder; python3 -m venv .venv`
- Add the following to the `.code-workspace` file:
[code]
On windows the path to the python executable will be something like `${workspaceFolder}/<folder>

[2022-01-25 01:32] rchiodo commented on #18073
That is correct. Notebooks will not have any 'python' intellisense.

[2022-01-25 01:48] eduardolucioac commented on #6986
Take a look here: https://stackoverflow.com/a/70748562/3223785 🤗 .

[2022-01-25 01:54] #18354 closed

[2022-01-25 06:26] duylamvo-wefox commented on #18258
@kimadeline Thanks, the latest version fixed the issue I have.

[2022-01-25 11:57] bashFish opened #18356 "bulk of pytests won't work at all"
running large bunch of python tests (pytest) usually results in no test properly ending at all. and the ide test frame gets frozen in "running" state. would be great if a limited noumber of tests could be launched together, and then visually give the process which one is already done/ succeeded ...

[2022-01-25 17:33] karthiknadig commented on #18353
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-01-25 17:36] karthiknadig commented on #18356
Thanks for the bug report, but unfortunately, we need some more information from you in order to triage this issue appropriately. Please follow instructions [here](https://github.com/microsoft/vscode-python/wiki/Reporting-a-bug) to create a new bug with all the critical details we need for diagnosis.

[2022-01-25 17:36] #18356 closed

[2022-01-25 17:42] brettcannon commented on #6669
This was implemented in the 2021.12.1 release of Pylance!

https://github.com/microsoft/pylance-release/issues/266

[2022-01-25 17:42] #6669 closed

[2022-01-25 19:30] rchiodo opened #18357 "Support discovering multiple conda envs with same interpreter path"
Testing #18348

1. Install conda
2. Create two conda environments like so:
```conda create -n test1```
```conda create -n test2```
3. Activate each and get python path. They should be the same
4. Try using the API to find them.

They don't show up at all.

[2022-01-25 19:46] TylerLeonhardt-alt opened #18358 "conda not detected after install"
Testing #18349

On a fresh Ubuntu 20.04 machine, if you install Anaconda, any running instance of VS Code won't recognize that it's been installed.

Steps:
* Start VS Code
* open the terminal and [install conda ](https://www.anaconda.com/products/individual)
* the script tells you to reload your terminal so I do
* I then try to configure the interpreter used in the Python extension and it doesn't

[2022-01-25 19:52] karthiknadig commented on #18357
@rchiodo Which API did you use? if the extension was already loaded and you created these then you may have to call `refreshInterpreters` with clear cache.

/cc @karrtikr  This seems like a underlying discovery issue.

[2022-01-25 20:12] rchiodo commented on #18348
LGTM except for the path based ness of it. Tried on Windows and WSL2

[2022-01-25 20:12] amunger commented on #18355
navigating to the jupyter walkthrough using the "data science" link in the Python walkthrough works fine. When I go straight to the Jupyter walkthrough from the Getting Started page, The SVGs fail to load:
![image](https://user-images.githubusercontent.com/2019016/151052176-af0fef15-2d68-4b29-bc90-f10bb11fe7d0.png)

[2022-01-25 20:13] TylerLeonhardt-alt opened #18359 "Not all tests get recognized"
Testing #18349

I have two test tiles `sometest.py` and `someasdfasdftest.py` but only one test file gets discovered. You can see my test options on the right.

![image](https://user-images.githubusercontent.com/98423974/151051817-a3d7058f-9d43-4d3d-b746-722cc7e6ba9b.png)

I'm not a python pro so I might be holding it wrong, is this expect? Both files contain essentially:

[code]

if I delete `som

[2022-01-25 20:15] amunger opened #18360 "Images fail to load on Jupyter walkthrough"
Testing #18355

When navigating to the Jupyter walkthrough straight from the getting started page, the images all fail to load:
![image](https://user-images.githubusercontent.com/2019016/151052424-4356f3c2-38b2-48dc-84ed-3bbb0d3685ec.png)

VS Code insiders, Jupyter pre-release, python daily, with the settings given in the test case.

[2022-01-25 20:17] TylerLeonhardt-alt opened #18361 "Even though the wildcard matches, tests aren't discovered"
Testing #18349

The following code:
[code]
in a file called `some.test.py` with the following configuration:
[code]

doesn't discover the tests. If I rename the file to `sometest.py` (note the removal of the `.`) then the tests are discovered.

Ubuntu 20.04

cc @TylerLeonhardt

[2022-01-25 20:19] karthiknadig commented on #18357
@rchiodo `conda create -n test1` does not create a conda environment with python in it.. you have to do `conda create -n test1 python`

as you can see in my case there is no global python, so when i ask for python path after activation i get nothing:
![image](https://user-images.githubusercontent.com/3840081/151052850-4ecb952a-9f0d-4971-afaa-62a60e04d675.png)

but if you create conda environment w

[2022-01-25 20:22] rchiodo commented on #18357
I guess I have a global python set. I didn't get that error

[2022-01-25 20:23] rchiodo commented on #18357
Here's what I used to test:
https://github.com/rchiodo/test-python-api

[2022-01-25 20:25] karthiknadig commented on #18357
So if the environment itself does not have python, then we don't detect it or report anything about it. does this happen if you create it like this:
[code]
This is 3.9 because 3.10 in conda is broken.

[2022-01-25 20:26] rchiodo commented on #18357
No that works fine. That's usually how I have to create them in order to get them to work.

[2022-01-25 20:27] rchiodo commented on #18357
I mean this is a problem in the old API too.

[2022-01-25 20:27] TylerLeonhardt-alt opened #18362 "Python3 vs Anaconda linting squiggle differences"
Testing #18349

They should be both using pylint (settings for proof)

Python3:
![image](https://user-images.githubusercontent.com/98423974/151053438-136907a7-583e-43c9-8852-d980d58a1a7d.png)

Anaconda:
![image](https://user-images.githubusercontent.com/98423974/151053513-bae801a8-2340-4fa2-8c66-e07f19ce242a.png)

Python3:
[code]

Anaconda:
[code]

I would expect these to be the same, but maybe no

[2022-01-25 20:28] karthiknadig commented on #18357
Then this is working as expected. if the environment was not created to include python we don't detect those.

[2022-01-25 20:28] TylerLeonhardt-alt commented on #18349
Things were pretty smooth! Great work! :clap:

[2022-01-25 20:30] rchiodo commented on #18357
I don't think a customer is going to expect this. They have multiple conda environments but they don't see any of them.

[2022-01-25 20:53] probinso commented on #18335
I ran the command locally, and I added it to the `"python.testing.pytestArgs"` field in `settings.json`. The behavior is the same.

[2022-01-25 21:05] karthiknadig commented on #18357
You can have pure R environments in conda. Do we expect python extension to detect those? The python in environment created using `conda create -n env1` is not the python from the environment. So, if we say install things in the python, then it would be the global python. Essentially, all installation will happen to that. I think that this might lead to greater problems with the python on the mach

[2022-01-25 21:09] kimadeline commented on #18335
Do you have any `.pytest_cache` folders in your test folders?

[2022-01-25 21:09] rchiodo commented on #18357
This isn't true. If I do something like so:

[code]

It installs it here (even though python is global):

[code]

If I run python from that active environment, its sys path has been modified to use the conda location, and not the global:

[code]

[2022-01-25 21:19] karthiknadig commented on #18357
In the extension, we support both `pip install` and `conda install` for conda environments. The problems happens when people do pip install. In my scenario where I don't have global python, nothing works even from regular terminal, running a python script after env activation also does not work (all outside of vscode). So, we need to do something about this. May be add text that says it uses globa

[2022-01-25 21:32] rchiodo commented on #18357
If we change ```pip install``` to instead use the activated environment and run ```python -m pip install```, it works for me.

Running this:

[code]

Put pandas in the site-packages for the environment.

In fact pip seems to work by itself? I can't get it to put it in a different spot (as long as I run it from the environment).

So maybe the only caveat here is that you need a global python so tha

[2022-01-25 21:32] karthiknadig commented on #18357
@karrtikr The switch to `conda run` during detection should handle this scenario, right? if not then this is a bug.

[2022-01-25 21:34] karthiknadig commented on #18357
In my case this happens:
![image](https://user-images.githubusercontent.com/3840081/151063459-88e80e41-7ed9-4e77-b006-5d29cbdc6fa8.png)

[2022-01-25 21:39] probinso commented on #18335
Once I manually deleted all `__pycache__` files and `.pytest_cache` files this issue is now fixed. Thank you!

[2022-01-25 21:53] luabud commented on #18073
thank you!

[2022-01-25 22:02] #18335 closed

[2022-01-25 22:07] joyceerhl opened #18363 "Remove `quickPickSeparators` API proposal from package.json"
The Python extension's daily builds still declare the following API proposal, which @TylerLeonhardt has finalized in Insiders and which ship in the next stable release:

https://github.com/microsoft/vscode-python/blob/f660cb68ffd8c1c761aaaf92fd1a67508cb46ba3/package.json#L24

This causes a warning in dev tools (cc @jrieken):

![image](https://user-images.githubusercontent.com/30305945/151067677-b8

[2022-01-25 22:35] pounde commented on #17859
Having the same issue here.
Version: 1.63.2 (user setup)
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:53:24.645Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT ia32 10.0.22533

[2022-01-25 22:50] karthiknadig commented on #18362
This is due to differences in the `pylint` version. Can you run this and verify?
[code]

[2022-01-25 23:06] TylerLeonhardt-alt commented on #18362
Yeah that's correct:

[code]

I feel like the anaconda version isn't as nice as the newer version... maybe worth checking minimum version and prompting for updating?

[2022-01-25 23:07] karthiknadig opened #18364 "Linting with flake8 not working with conda run"
Testing #18349

`Pylint` works because we don't have to pass formatting. With `flake8` it seems to not work at all.

[2022-01-25 23:08] karthiknadig commented on #18364
from the output here we don't see any thing:
![image](https://user-images.githubusercontent.com/3840081/151074925-01463130-00d8-4630-8753-2d80767c74a2.png)

you should be seeing these:
![image](https://user-images.githubusercontent.com/3840081/151074982-767d42fb-7068-4698-91ce-4ac5579cc575.png)

[2022-01-26 01:05] luabud commented on #18360
Dupe of https://github.com/microsoft/vscode-jupyter/issues/8799.

[2022-01-26 01:05] #18360 closed

[2022-01-26 01:06] luabud commented on #18355
@amunger thanks for testing!

[2022-01-26 01:45] SeijiSuenaga commented on #18239
I was seeing similar behavior, where Pylint was always outputting nothing, i.e. only this:
[code]

Based on @kimadeline's hint, I narrowed the culprit down to this setting in my .pylintrc file:
[code]

Changing that to any other accepted value (`text`, `parseable`, `json`, or `msvs`) fixes the problem for me, producing output like this:
[code]

This is rather odd because if `colorized` is breaking

[2022-01-26 05:41] sana-ajani commented on #18359
Run into the same problem, testing on mac

[2022-01-26 06:11] karrtikr commented on #18357
The scenario where 2 environments have the same path was never supported, so this is not a bug at all. So far we haven't received users asking for this so I'm inclined to close this, unless I'm missing something?

[2022-01-26 06:14] karrtikr commented on #18332
Unassigning myself as this is not currently on any milestone. Could be a potential item for debt week.

[2022-01-26 07:17] loynoir opened #18365 "`F2` rename a function or class, should result changes in `__all__`"
### Actual
Change `def <F2>pre</F2>():` to `def post():`
[code]

Error: `Undefined variable name 'pre' in __all__`
[code]

### Expected
Change `def <F2>pre</F2>():` to `def post():`
[code]
[code]

[2022-01-26 07:21] karthiknadig commented on #18365
@loynoir What does your language server setting? please let us know the value of `python.languageServer`.

[2022-01-26 07:26] karrtikr commented on #7813
Hi so I tried it out, but the behavior does not seem to be just specific to `python.defaultInterpreterPath` or python extension related settings. It seems Workspace settings are always prioritized over Remote devcontainer settings for all settings (Personally I tried with `"terminal.integrated.defaultProfile.linux"` setting)

Can you name any settings for which devcontainer are prioritized over wo

[2022-01-26 07:32] loynoir commented on #18365
@karthiknadig

[code]

[2022-01-26 07:33] loynoir commented on #18365
@karthiknadig
BTW, do you have any `languageServer` recommend? Thanks.

[2022-01-26 07:43] loynoir opened #18366 "`F2` rename import typing, should result changes in function annotations"
### Actual
Change type from `pre` to `post`

Pre:
[code]

Post:

Error: `Name "pre" is not defined`
[code]

### Expected
Change type from `pre` to `post`

Pre:
[code]

Post:
[code]

[2022-01-26 07:56] xgdgsc opened #18367 "sql auto completion"
Some python IDEs offer sql auto completion like https://stackoverflow.com/questions/64214953/autocomplete-sql-query-in-db-execute-on-vscode https://stackoverflow.com/questions/65013610/way-to-have-sql-intellisense-or-autocompletion-inside-code-strings-in-visual-stu asked. It would be useful if this extention could offer this. Also, since https://github.com/mtxr/vscode-sqltools lack developer. It m

[2022-01-26 08:21] karthiknadig commented on #18365
We currently only support `Pylance` and `Jedi`. Both take different approaches to providing various language features. `Pylance` is written in type script, `Jedi` is pure python project.

[2022-01-26 08:26] karthiknadig commented on #18365
Since this is a `Jedi` issue, I recommend filing this on https://github.com/pappasam/jedi-language-server/issues.

@loynoir `Pylance` supports this type of rename.

[2022-01-26 08:38] loynoir commented on #18365
@karthiknadig Thanks! Switched to `Pylance`, it works.

[2022-01-26 08:38] #18365 closed

[2022-01-26 08:39] loynoir commented on #18366
[code]

[2022-01-26 08:39] #18366 closed

[2022-01-26 09:21] yannickberker opened #18368 "."
.

[2022-01-26 09:23] #18368 closed

[2022-01-26 09:26] bersbersbers opened #18369 "I see `print` outputs twice in Debug Console when launch config uses `"console": "internalConsole"`"
Issue Type: <b>Bug</b>

Launch config:
[code]

Then debug any file.

In Debug Console, enter `print(2)`.

# Expected Behaviour

I see "2" (once)

## Expected vs. Actual Behaviour

![image](https://user-images.githubusercontent.com/12128514/151137211-c302ddb8-4887-4ee1-869c-cda2176e76f8.png)

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.0
-   Type of vir

[2022-01-26 09:34] jrieken commented on #18363
We can make this less dramatic - we have logic to detect a diff between enabled and wanted API proposals but in this case it's about an extension wanting a proposed that doesn't exist anymore. So that specific case could be handled with a more specialized message

[2022-01-26 10:19] karrtikr commented on #18044
I cannot reproduce this issue in my linux docker container. I assume you meant `conda create -p .condaEnv1 python` instead of `conda create -p .condaEnv1` as we do not support to discover the second kind of env.

cc/ @karthiknadig were you able to reproduce this when triaged?

Is this documented somewhere? Not clear on why this is the approach. I'm fine with doing this in the extension itself usin

[2022-01-26 10:26] jasonwilliams commented on #7813
I see what you're saying, so maybe it's better to put the `python.defaultInterpreterPath` in my user settings instead of workspace settings and the problem may just solve itself. I assumed the precedence was `User Settings` -> `Workspace Settings` - > `Dev Container Settings` with dev container settings overriding everything before it. But now I see that's not the case. Sorry that wasn't obvious t

[2022-01-26 10:34] karrtikr commented on #7813
Yes.

If no workspace is opened, `python.defaultInterpreterPath` setting works just like `python.pythonPath` did, so it'll write the selected interpreter path into it.

I'm closing this issue for the above reasons.

[2022-01-26 10:34] #7813 closed

[2022-01-26 12:12] KamalSinghKhanna commented on #17635
hey @TylerLeonhardt, can I work on this?

[2022-01-26 15:02] guillemboada commented on #10612
There are still no available quick fixes. Any news on this issue?

[2022-01-26 17:11] jrieken commented on #18363
I have pushed a change that improves the warning on our end, tho a warning the best we can do

[2022-01-26 17:13] rchiodo commented on #18357
We have (in jupyter). That could be because people doing notebooks use conda more often.

[2022-01-26 17:29] karrtikr commented on #18357
I see, can you link those issues, it'll help make us a decision on whether we want to support these. I remember Don brought up earlier that we need not support these envs at the moment: https://github.com/microsoft/vscode-jupyter/issues/7583#issuecomment-955054968

[2022-01-26 17:33] karthiknadig commented on #18358
This is expected, if you hit refresh on from the selection quick pick or reload, it should pick up the new environment.

[2022-01-26 17:33] #18358 closed

[2022-01-26 17:48] rchiodo commented on #18357
This one possibly (it can be hard to tell root causes when people don't get kernels they want)
https://github.com/microsoft/vscode-jupyter/issues/1657

And this one:
https://github.com/microsoft/vscode-jupyter/issues/5650

[2022-01-26 18:05] rchiodo opened #18375 "Python: Create Terminal does not use active interpreter"
Issue Type: <b>Bug</b>

# Behaviour

1. Open python file
2. Select interpreter
3. Run ```Python: Create Terminal```

## Expected vs. Actual

It uses my base conda environment every time:

![image](https://user-images.githubusercontent.com/19672699/151221112-42a9782e-1f05-46f8-831c-0aafdf1c96a5.png)

[2022-01-26 18:07] rchiodo commented on #18375
This is the expected interpreter (as it's my active one)

![image](https://user-images.githubusercontent.com/19672699/151221228-aca76967-051d-4f27-ab37-8c4a26564077.png)

[2022-01-26 18:08] rchiodo commented on #18375
Here's my settings.json:

[code]

[2022-01-26 18:14] rchiodo commented on #18351
/verified

[2022-01-26 18:50] karthiknadig opened #18376 "Create a python file should automatically select the language for the file as python"
Testing #18355

Currently create a python file opens a generic untitled file. Instead, it should set the language on the untitled file.
![image](https://user-images.githubusercontent.com/3840081/151227524-2354dae8-c962-4953-ac50-cd9707ddf94a.png)

[2022-01-26 18:53] DonJayamanne commented on #18044
Its not documented, but when using the conda terminal, the base env is always activated as a default & that sets up the necessary paths for activation of other environments.

[2022-01-26 18:57] karthiknadig opened #18378 "Opening interactive window looks strange"
Testing #18355

Clicking on open interactive window take me from a tab that occupies full space to a split view:
From:
![image](https://user-images.githubusercontent.com/3840081/151228324-9a5e32e2-0c7e-43f8-a091-fd88839da7d0.png)

To:
![image](https://user-images.githubusercontent.com/3840081/151228432-6a275fa2-9047-4db8-95be-b19418233803.png)

The space on the left is un-used.

[2022-01-26 18:57] karthiknadig opened #18386 "Opening interactive window looks strange"
Testing microsoft/vscode-python#18355

Clicking on open interactive window take me from a tab that occupies full space to a split view:
From:
![image](https://user-images.githubusercontent.com/3840081/151228324-9a5e32e2-0c7e-43f8-a091-fd88839da7d0.png)

To:
![image](https://user-images.githubusercontent.com/3840081/151228432-6a275fa2-9047-4db8-95be-b19418233803.png)

The space on the left is un-us

[2022-01-26 19:02] #18355 closed

[2022-01-26 19:21] brettcannon commented on #18239
Sounds like there was a combination of Pylint sending colour output and us unable to handle it. Add in unexpected overrides based on the flags we pass in to Pylint to control its output versus specific settings in your `.pylintrc` file and it just made everything not work.

We are working towards breaking out our Pylint support behind LSP which will very likely use the JSON output which should hop

[2022-01-26 19:30] amunger opened #18379 "active interpreter isn't shown in status bar"
Issue Type: <b>Bug</b>

only happens on insiders, but it is constant. when I open a .py file I see the "Activating extension" and "discovering interpreters" in the normal place on the blue bar, but then nothing shows for which interpreter is active and I can't use it to select another one. I can still switch with the command Palette.

Extension version: 2022.0.1752173756-dev
VS Code version: Code

[2022-01-26 19:30] brettcannon commented on #18239
Sorry, prematurely closed as the OP has not replied yet.

[2022-01-26 19:31] amunger commented on #18379
![image](https://user-images.githubusercontent.com/2019016/151233317-654919ef-4c90-4255-b2ef-48fa1975caef.png)

[2022-01-26 20:03] DonJayamanne commented on #18348
Tested on WSL2

[2022-01-26 20:03] #18348 closed

[2022-01-26 21:13] bob-white commented on #18164
I just ran into this, the setting appears to be used as the module name instead of a path to an installed entry_point.
In my case this means that I cannot use black for a project that is still stuck on python3.5.
I tried to install the latest `black_windows.exe` available from black's github page, and then set `	"python.formatting.blackPath": "black_windows",` in my vscode settings, which results

[2022-01-26 21:51] karthiknadig commented on #18379
Can you click on `{}` here:
![image](https://user-images.githubusercontent.com/3840081/151252956-d2adc3bd-7449-421e-8d03-bd992c14195b.png)

You might be in an experiment where we are testing moving the selected python into the language status info.

[2022-01-26 21:53] karthiknadig opened #18381 "Remove dependency on other file system watchers"
VS Code now supports watching files outside of the workspace. Use that instead of relying on any other library for this.

[2022-01-26 21:53] brettcannon commented on #18379
Yep, @amunger is in the experiment: `pythonvspyt640`.

[2022-01-26 21:59] karthiknadig commented on #18362
People stick to specific linter versions because they like the default rules shipped in that version. For now, this is working as expected. We do have plans on improving this with #17235 type of work.

[2022-01-26 21:59] #18362 closed

[2022-01-26 22:01] #18349 closed

[2022-01-26 22:42] DonJayamanne opened #18382 "Python extension fails to load"
Issue Type: <b>Bug</b>

Python extension fails to load.
Error in output indicates that something is `undefined`

Extension version: 2022.0.1752173756-dev
VS Code version: Code - Insiders 1.64.0-insider (45060913204279d4ecfe0575ca69d68211fb3798, 2022-01-26T05:17:50.284Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Remote OS version: Linux x64 5.10.60.1-microsoft-standard-WSL2
Remote O

[2022-01-26 22:43] DonJayamanne commented on #18382
![image](https://user-images.githubusercontent.com/1948812/151259507-884f3281-450a-42b6-bf86-0af5ed920abc.png)

[2022-01-26 23:01] paulacamargo25 commented on #18359
Hi @TylerLeonhardt-alt can you please run the discovery command in your terminal and copy the output? does it show you any error?

[2022-01-27 00:10] rchiodo commented on #17636
/verified

Works for me as long as I don't have a launch.json with a test config in it. Although maybe I just setup the test config incorrectly.

[2022-01-27 00:54] Bananaman commented on #2126
@brettcannon This can be closed. I'm on the latest VSCode and latest vscode-python extension. It properly auto-detects the `Pipefile` in my project folder and auto-selects the correct virtualenv Python interpreter path. No need to touch the pythonPath at all.

[2022-01-27 00:57] Bananaman commented on #16988
What is the reason for wanting `pipenv shell`? It sounds like a bug in GitBash fake-shell.

I'm using ZSH on Linux. and my venv is being activated via the `/path/to/venv/bin/activate` script, and my terminal works perfectly and uses the correct pipenv python interpreter and installed site-packages.

Calling `python --version` inside the terminal shows the version used by that venv. And all modules

[2022-01-27 01:14] adam4813 commented on #16988
My issues/reason is when using PowerShell and OhMyPosh, I have the venv info before the prompt and also within the OhMyPosh prompt as well. Either way works to activate under windows with debugging, it's just the prefix to the prompt that is annoying and cannot be fixed.

[2022-01-27 01:16] Bananaman commented on #16988
@adam4813 Hmm, so if you run the current extension (which uses the `bin/activate` script) with PowerShell, it's activated correctly?

The reason why you get a dual prompt is that the script edits the prompt (`PS1` variable). Not sure what can be done about that... Perhaps add an alias to your powershell scripts which resets the prompt to the normal one...?

[2022-01-27 06:19] karthiknadig commented on #18044
Why do we need to do `-n` activation on non-windows? can we ensure that `-p` activation does not work for non-windows OS? if it does work then we should probably just use that. if the behavior is different between windows and other Os, then this is another bug to file on conda.

[2022-01-27 09:47] DonJayamanne commented on #18044
based on the docs this is the right way.

[2022-01-27 12:36] karrtikr commented on #18044
I'm fine with this approach, I think the changes would be around https://github.com/microsoft/vscode-python/blob/f55dfb73a5872640fcbb9444bf362b26be8da670/src/client/common/terminal/environmentActivationProviders/condaActivationProvider.ts#L145-L149

`Conda.getEnvList()` utility can be used to fetch all environments and then filter `base`: https://github.com/microsoft/vscode-python/blob/aa49f6d8fc6

[2022-01-27 12:40] #18363 closed

[2022-01-27 13:42] dchemishanov commented on #18239
Sorry, was sick for a week and this was down the list of my priorities.

The issue is solved as of today, though I managed to narrow it down no further than some corrupted settings in the windows side of vscode. The comment of @SeijiSuenaga made me try to comment the output-format setting in the .pylintrc file though it was parseable. It didn't help, so I tried to comment out the entire rcfile set

[2022-01-27 13:42] #18239 closed

[2022-01-27 13:49] karrtikr commented on #18196
Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2022-01-27 13:49] #18196 closed

[2022-01-27 16:09] kimadeline commented on #18239
Thank you for reporting back!

[2022-01-27 16:56] TylerLeonhardt-alt commented on #18359
I don't see anything besides:

[code]

[2022-01-27 17:23] luabud commented on #18376
@karthiknadig Do you know if there's a command to do it? Cause AFAIK it can't be done programmatically :(

[2022-01-27 17:36] karthiknadig commented on #18376
We should ask for this API in VS Code repo. There is a command 'Change language mode', but this does a quick pick.

[2022-01-27 17:44] karthiknadig commented on #18379
This is working as intended.

[2022-01-27 17:44] #18379 closed

[2022-01-27 17:47] karthiknadig commented on #18375
Duplicate #13327

[2022-01-27 17:47] #18375 closed

[2022-01-27 18:23] luabud commented on #18386
@minsa110 I think this is happening because the interactive window already opens to the side, so adding `toSide` seems to be causing this weird behaviour. I manually tested removing it and it worked as expected. I'll send a PR for it in a bit.

[2022-01-27 18:44] luabud commented on #18376
I guess they do offer a way through this? https://code.visualstudio.com/updates/v1_59#_contribution-point-for-new-file-menu

[2022-01-27 19:06] #2126 closed

[2022-01-27 19:07] brettcannon commented on #2126
@Bananaman thanks for letting us know about this rather stale issue. 😅

[2022-01-27 19:41] luabud opened #18388 "Running untitled files prompts to save them but run command doesn't use new name"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When you create a new file, don't save it and click on the run button, you're prompted to save the file. I'd expect that once the file is saved, the new file would be run. Instead, the command is generated with the "untitled name" (if that's even a thing), and not the new file name.

## Steps to reproduce:

1. Create a new file through Fi

[2022-01-27 19:41] luabud commented on #18388
Command that is sent:

![image](https://user-images.githubusercontent.com/45497113/151431799-58c86c11-fac5-49db-aa21-28b3b1b29b88.png)

[2022-01-27 19:42] #18386 closed

[2022-01-27 19:59] wubdub commented on #18200
@karrtikr thanks! I get a "Failed to generate URL to download artifact" message, perhaps it has expired?

[2022-01-27 20:14] greazer commented on #18357
I just ran into this myself by accident.
[code]

Everything seems fine, except I cannot find the environment in VS Code no matter what I do. Of course if I examine my environments with conda, I see it too. This is all highly confusing.

[code]

I'm not sure I believe that this was never supported since most of the environments I've ever created I have used anaconda and I haven't specified a python

[2022-01-27 20:57] luabud opened #18389 "Explicitly add "justMyCode":"true" to all launch.json configurations"
This was brought up in https://github.com/microsoft/debugpy/issues/828#issuecomment-1023406010.

Even though it's always "true" by default, it wouldn't hurt to make it more transparent, and it could help with discoverability.

[2022-01-27 21:09] karthiknadig commented on #18364
this is caused due to https://github.com/conda/conda/issues/10972

[2022-01-27 21:39] brettcannon commented on #18357
@greazer it's never been supported by us; see https://code.visualstudio.com/docs/python/environments#_where-the-extension-looks-for-environments and point 7:

conda itself may be manifesting the interpreter lazily upon `conda install` or something.

[2022-01-27 22:19] kimadeline commented on #18386
Verified:

![image](https://user-images.githubusercontent.com/51720070/151453053-583f32e8-c6b7-4325-abf7-1c3cf5ecc085.png)

[2022-01-28 01:03] paulacamargo25 commented on #18361
This is the expected behavior, it is not a conda run execution problem.

[2022-01-28 01:03] #18361 closed

[2022-01-28 01:26] paulacamargo25 commented on #18359
Thanks @TylerLeonhardt-alt i was able to reproduce the issue

[2022-01-28 02:12] paulacamargo25 commented on #18359
This is caused due to conda/conda#10972, the problem is that conda fails at quoting command parameters, and it is getting preprocessed value.

[2022-01-28 02:28] #18364 closed

[2022-01-28 03:07] zbs commented on #18164
The `black` command is not in my conda environment. My environment is unfortunately read-only, so installing `black` is harder than specifying the `black` path. Before this change, I was able to specify a path outside of my conda environment, but now I can't.

[2022-01-28 05:29] #18382 closed

[2022-01-28 10:38] kirwaboit commented on #18116
Hi re-installing anaconda worked thanks!

[2022-01-28 10:39] #18116 closed

[2022-01-28 11:26] ahallermed commented on #1847
For someone, who also fell over this issue and wants to have a very nice customizable solution, I can highly recommend this extension: maptz.regionfolder ([github](https://github.com/maptz/maptz.vscode.extensions.customfolding)).

It is additive to the VSCode folding and doesn't overwrite the settings as [vscode-explicit-folding](https://github.com/zokugun/vscode-explicit-folding) does as discusse

[2022-01-28 18:03] brettcannon commented on #18200
@wubdub yep, we only keep GitHub Actions artifacts around for a week.

@karrtikr was that to a build from a PR or latest insiders?

[2022-01-28 18:05] brettcannon commented on #1847
More advanced folding is now being handled by the latest version of Pylance, so if there's any existing issues with it then please open an issue at https://github.com/microsoft/pylance-release .

[2022-01-28 18:05] #1847 closed

[2022-01-28 18:10] karrtikr commented on #18200
It was a build off this PR https://github.com/microsoft/vscode-python/pull/18309, will rebuild and post the new artifact soon.

[2022-01-28 18:24] luabud commented on #18320
https://github.com/microsoft/pylance-release/issues/372 was fixed in version 2022.1.1 of the Pylance extension 😊

[2022-01-28 18:24] #18320 closed

[2022-01-28 18:25] luabud commented on #18326
microsoft/pylance-release#372 was fixed in version 2022.1.1 of the Pylance extension 😊

[2022-01-28 18:25] #18326 closed

[2022-01-28 18:31] #2069 closed

[2022-01-28 18:33] luabud commented on #15218
Import folding is now working on the latest release of [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance). The only missing bit is supporting a setting to automatically do it for Python files.

[2022-01-28 18:38] karrtikr commented on #18200
@wubdub Here: https://github.com/microsoft/vscode-python/suites/5100759928/artifacts/152543360

[2022-01-28 19:28] wubdub commented on #18200
@karrtikr it seems a bit faster now thanks, still takes about 10 mins to load each time I start VSCode, not sure if there is any other low hanging fruit. Attaching [log2.txt](https://github.com/microsoft/vscode-python/files/7961363/log2.txt)

[2022-01-28 19:39] karrtikr commented on #18200
I'm not sure why it would take 10 mins given your log, it seems `conda info --json` is run repeatedly, can you add `python.logging.level` to `debug` in User settings, reload window and provide me the logs again.

[2022-01-28 19:45] karrtikr opened #18395 "Update screenshots related to interpreter quickpicker in vscode docs"
Couple of screenshots in https://code.visualstudio.com/docs/python/environments needs updating:

<img src="https://user-images.githubusercontent.com/13199757/151611330-82c1689b-26f0-425b-a314-7d3283e46491.png" width=700 />

cc @luabud

[2022-01-28 19:47] karrtikr commented on #18200
Also, try the following VSIX where we do not trigger discovery at all: https://github.com/microsoft/vscode-python/suites/5101652551/artifacts/152593035

[2022-01-28 22:51] braindevices opened #18396 "goto definition actually open pyi file instead of the actual py file"
# Behaviour
when the package contain stub files (*.pyi), the `goto definition` open the pyi file instead of the actual py file.
## Expected vs. Actual Behaviour

it should open the py file where the member is actually defined.

## Steps to reproduce:
in a py script contains following code:
[code]
right click on `dtype` and try any of the goto command, we will see it opens `__init__.pyi` instead of

[2022-01-28 22:59] braindevices commented on #18396
this is probably regression of https://github.com/microsoft/pylance-release/issues/65

[2022-01-29 01:51] luabud commented on #10612
No updates yet, sorry!

[2022-01-29 02:06] luabud commented on #15218
And I just found out we actually respect `"editor.foldingImportsByDefault": true`. When you flip it for the first time you may need to wait a bit for the Python and Pylance extensions to activate and do its magic, but it works 😊

[2022-01-29 02:06] #15218 closed

[2022-01-29 03:24] TylerYep commented on #15218
Thank you!! This is so awesome :)

[2022-01-29 19:55] michaelaye commented on #17942
I have the same issue and indeed `conda info --json` never returns and isn't even Ctrl-Cancelable!? Any recommendation on what to do?

[2022-01-30 07:51] karrtikr commented on #17942
In that case you can open an issue on https://github.com/conda/conda/issues. Try the workaround I mentioned in https://github.com/microsoft/vscode-python/issues/17942#issuecomment-998789618 using which you can still discovery those environments using the `python.venvFolders` setting.

In the latest version of the extension we have fixed this by putting a timeout on the `conda info --json`, so `"Di

[2022-01-30 07:51] #17942 closed

[2022-01-30 15:30] tfgstudios commented on #3828
updates?

[2022-01-31 09:39] karrtikr commented on #18337
[code]

Failing CI due to an extra `\r` character: https://github.com/microsoft/vscode-python/runs/4986976848?check_suite_focus=true

[2022-01-31 16:40] besmaGuesmi commented on #14327
Just run cmd as administrator

[2022-01-31 17:28] luabud commented on #18388
cc @karrtikr

[2022-01-31 19:32] posita commented on #18389
I'd be happy to propose something, but I want to verify where they live. Is [`package.json`](https://github.com/microsoft/vscode-python/blob/main/package.json) the right place?

[2022-01-31 20:36] #18337 closed

[2022-01-31 20:45] brettcannon commented on #3828
No updates, although it's on our roadmap, so it won't be forgotten.

When there's something to share we will leave a comment here.

[2022-01-31 22:28] boonehm opened #18404 "Python: Select Interpreter"
When attempting to use the View > Python: Select Interpreter command in VS, I receive an error that the command resulted in an generic error

[2022-02-01 01:22] roblourens commented on #18364
How do I do this? I set `"python.linting.flake8Enabled": true`, and flake8 is not an option for `python.formatting.provider`. I run "Format Document" and it says it's using autopep8

[2022-02-01 01:24] ConaII opened #18403 "Feature Request: "python.terminal.integrated.cwd"."
My suggestion is adding the following args.
Basically it would be a `"python.terminal.executeInFileDir"` but customizable.
Like `"terminal.integrated.cwd"` but specifically for python.

This setting should affect these buttons.
![image](https://user-images.githubusercontent.com/72966048/151899570-aa86bc4b-bb53-4c17-b224-c9d73ec43fbd.png)

**settings.json**
[code]

Also this parameter could be adde

[2022-02-01 02:01] karthiknadig commented on #18364
@roblourens `flake8` is not a formatter. You just set it as a linter.

[2022-02-01 02:02] karthiknadig commented on #18364
The formatting i mention in the issue is a argument that we used to pass to flake8, to format the output of the text that flake8 printed out.

[2022-02-01 02:10] roblourens commented on #18364
Sorry, reading comprehension fail. I think it is working

[2022-02-01 02:24] luabud commented on #18404
Thanks for the bug report, but unfortunately we need some more information from you in order to triage this issue appropriately.
If you could follow the [instructions on this page](https://github.com/microsoft/vscode-python/wiki/Reporting-a-bug) to report the problem you're experiencing, it will create a new issue with more information about your local configuration, and then our team can investig

[2022-02-01 02:24] #18404 closed

[2022-02-01 02:53] karthiknadig commented on #18389
@posita The setting is defined in `package.json`, but the actual defaults that you see in `launch.json` are set here https://github.com/microsoft/vscode-python/blob/4fcf8e756c487ed6bcc3326ef142bef576c97689/src/client/debugger/extension/configuration/providers

[2022-02-01 02:58] ConaII commented on #18403
I found in other issue that you can use this in the launch.json:

[code]

But this only affects Debug python file.

[2022-02-01 02:59] ConaII commented on #18403
https://github.com/microsoft/vscode-python/issues/18299

[2022-02-01 03:27] ConaII commented on #18403
Uhh..
Now using F5 is broken.
It says "This configuration can only be used as defined by purpose"

[2022-02-01 09:46] gsemet opened #18405 "Poetry environment wrongly recognized as pipenv and Pipfile created"
Issue Type: <b>Bug</b>

# Behaviour

I switch often between workspace and recreate my virtualenv from command line (rm .venv then poetry install), and often, when VS code recognized the .venv folder as a Pipenv environment and create a Pipfile.

## Expected vs. Actual Behaviour

VSCode happily recognized the new venv as a Poetry virtual environment and does not recreate any "Pipfile" that we do no

[2022-02-01 14:09] karrtikr commented on #18388
While trying to reproduce this, I do not get a prompt to save the file when the run button is clicked.

![runinterminal](https://user-images.githubusercontent.com/13199757/151983367-4bdf2aab-8071-4a32-9a42-f6bb1f2a2b8d.gif)

[2022-02-01 14:17] wkerzendorf opened #18407 "Error while running tests: TypeError: Cannot read property 'testsuites' of null"
Issue Type: <b>Bug</b>

# Behaviour

I've read through the various issues but am seeing the given problem again that when looking at the consoles - the discovery works  `Running test with arguments: --rootdir /Users/wkerzend/python/tardis --override-ini junit_family=xunit1 --junit-xml=/var/folders/d8/0jgrxkjs4yj6qpzvv22rdtsr0000gn/T/tmp-65044gldRayuo7omi.xml --tardis-refdata=/Users/wkerzend/python

[2022-02-01 14:33] wkerzendorf commented on #18407
In output python - I see that it is calling `~/miniconda/envs/tardis-devel/bin/python -m pytest --rootdir ~/python/tardis --override-ini junit_family=xunit1 --junit-xml=/var/folders/d8/0jgrxkjs4yj6qpzvv22rdtsr0000gn/T/tmp-68113nKam1JOrYDMz.xml --tardis-refdata=/Users/wkerzend/python/tardis-refdata` which is missing what folder it should run on

`~/miniconda/envs/tardis-devel/bin/python -m pytest -

[2022-02-01 15:17] kimadeline commented on #9940
Is this still relevant?

[2022-02-01 15:18] #13142 closed

[2022-02-01 15:19] #10240 closed

[2022-02-01 15:21] kimadeline commented on #5820
Do we still want that telemetry entry?

[2022-02-01 15:22] #6204 closed

[2022-02-01 15:51] kimadeline commented on #10837
Currently using 2.0.2.

[2022-02-01 15:51] #10837 closed

[2022-02-01 16:05] wkerzendorf commented on #18407
[tmp-69895toGxmaN6Q10d.xml.please_remove_extension.zip](https://github.com/microsoft/vscode-python/files/7979920/tmp-69895toGxmaN6Q10d.xml.please_remove_extension.zip)

^^ it has troubles with this XML file (actual XML file and not zip - just rename)

[2022-02-01 16:09] kimadeline commented on #8936
The Python requirement in the [wiki](https://github.com/microsoft/vscode-python/wiki/Coding) is 2.7 or higher, so if we only used `python` the gulp task might use Python 2.7.

We could up the requirement in the wiki to be Python 3, and use `python` instead of `python3`?

Note that we don't create virtual environments in our GitHub build workflow, but we also explicitly set the workflow to use Pyth

[2022-02-01 16:25] kimadeline commented on #8925
This doesn't happen anymore, there are only 2 references to `get-pip.py` in the code, and they point to `pythonFiles/get-pip.py`, where the file already exists.

[2022-02-01 16:25] #8925 closed

[2022-02-01 17:00] #17666 closed

[2022-02-01 17:05] luabud commented on #18388
@karrtikr interesting! did you try it in VS Code insiders?

[2022-02-01 17:06] karrtikr commented on #18388
Ahh no, let me try!

[2022-02-01 17:15] karrtikr commented on #18388
Yes I see the same behavior in Insiders :(

[2022-02-01 17:21] karthiknadig commented on #18330
Thanks for letting us know. I will close this for now.

[2022-02-01 17:21] #18330 closed

[2022-02-01 17:44] karthiknadig commented on #18403
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-02-01 18:47] karrtikr opened #18409 "`conda run` marker script does not handle `-m` flag"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

[code]

## Steps to reproduce:

1. Do not have the formatter module installed and have conda interpreter selected.
2. Run formatting.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.3
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Conda
-   Value of the `python.language

[2022-02-01 19:39] brettcannon commented on #9940
Luciana and I still need to clean up `needs decision`, but otherwise no.

[2022-02-01 19:39] #9940 closed

[2022-02-01 19:41] brettcannon commented on #8936
I just updated the wiki page to say only an upstream-supported version of Python is required.

[2022-02-01 20:59] #8936 closed

[2022-02-01 21:22] ktavabi commented on #18264
Same on macOS 12.1 with `conda` python 3.9 environments.

[2022-02-01 21:41] kimadeline commented on #18407
Hi @wkerzendorf, thank you for reaching out.

What is the content of your `python.testing.pytestArgs` workspace setting?

Where is that output from?

Do you also have a minimal example I could use to try and replicate the issue?

[2022-02-02 00:32] brettcannon opened #18411 "Update `vsce` to 2.6.6"
We're currently using 1.98.

[2022-02-02 02:15] karthiknadig commented on #18411
This was previously blocked because we could not update `@types/vscode` to `1.63.0`. Now that this is done (recently), we can update `vsce`.

[2022-02-02 03:32] rgimenes26 commented on #18292
I agree that there is a lot to improve there. Not only showing the variables views when debugging but when running a python integrated terminal too. Like when we run a Jupyter Notebook. Not only PyCharm but R Studio's Python development do this very wheel. Not only displaying the variables but also when working with Pandas DataFrames (Sorting, Filtering, Page.ing )

[2022-02-02 10:22] wkerzendorf commented on #18407
[tardis copy.code-workspace.rename_removezip.zip](https://github.com/microsoft/vscode-python/files/7985529/tardis.copy.code-workspace.rename_removezip.zip)

[2022-02-02 10:23] wkerzendorf commented on #18407
I also have some questions about the settings. There are user setting which are presumable stored somewhere in the home dir. Then there are workspace setting which are stored in the given file. Then there are folder settings for multiroot workspaces - I don't see where they are stored.

[2022-02-02 11:06] #18409 closed

[2022-02-02 13:46] ghuname opened #18414 "justMyCode: false but still can't set a breakpoint to my project installed with poetry from local pypi"
We have written the needed
Issue Type: <b>Bug</b>

I used to work on project Y that is finished. The artifacts are pushed to our local pypi.

Now I am working on project X that as a prerequisite needs project Y.
With poetry add Y, I updated dependencies for project X and everything works well. Also in launch.json I have put justMyCode: false.

Now when I debug trace project X, when I come to line

[2022-02-02 15:15] karrtikr commented on #18150
Blocked on https://github.com/microsoft/vscode/issues/142008

[2022-02-02 15:27] luabud opened #18416 "Step into targets not working"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

When the debugger stops at a breakpoint, clicking on an option displayed for "step into targets"  should cause the debugger to step into a target

## Steps to reproduce:

1. Set a breakpoint on a line that has multiple function calls
2. Start the debugger (add "justMyCode":false to launch.json)
3. Right click and select "Step into targets

[2022-02-02 15:32] luabud commented on #18416
... when

[2022-02-02 15:32] #18416 closed

[2022-02-02 18:21] wubdub commented on #18200
@karrtikr wow it now loads instantly with the 152593035 VSIX, thank you! Debug logs attache
[logs_with_fix.txt](https://github.com/microsoft/vscode-python/files/7989117/logs_with_fix.txt)
d

[2022-02-02 18:27] karrtikr commented on #18200
Unfortunately this is only a temporary solution I provided to double check if that was actually the cause. I may still need more info, I'll have a look at the debug logs and get back to you soon, thanks!

[2022-02-02 18:29] karrtikr commented on #18200
I assume those are debug logs using https://github.com/microsoft/vscode-python/suites/5101823480/artifacts/152602533 artifact I provided here https://github.com/microsoft/vscode-python/issues/18200#issuecomment-1024564319.

[2022-02-02 18:52] wubdub commented on #18200
I sorry I might have downloaded the wrong VIX. I see v2022.0.1763309386-dev on the VIX running that generated those logs

[2022-02-02 18:53] wkerzendorf commented on #18407
@kimadeline

[code]

[2022-02-02 18:58] karrtikr commented on #18200
I can't say if that's the version without installing the VSIX myself 😅

I would only like debug logs for https://github.com/microsoft/vscode-python/issues/18200#issuecomment-1024564319 for now, thanks. This is so I am able to investigate the exact thing in discovery which is causing the slowdown.

[2022-02-02 19:33] kimadeline commented on #18407
They are stored in the `.vscode/settings.json` for each folder.

If you don't have a minimal example I could use to try and replicate the issue, could you paste here the entirety of the output in the Python output  when you try running the tests?

Thanks!

[2022-02-02 19:34] kimadeline commented on #18270
Sorry for the delay! Since we don't know what the state of the terminal is, it seems like race conditions can happen, where the extension sends the code before the terminal is ready.

[2022-02-02 20:41] wkerzendorf commented on #18407
We are the tardis code at github.com/tardis-sn/tardis. In there is a tardis_env3.yml that contains the environment (as a conda environment).

[code]

[2022-02-02 20:51] kimadeline commented on #18407
What is shown in the terminal if you run `~/miniconda/envs/tardis-devel/bin/python ~/.vscode/extensions/ms-python.python-2021.12.1559732655/pythonFiles/testing_tools/run_adapter.py discover pytest -- --rootdir ~/python/tardis -s --cache-clear --tardis-refdata=/Users/wkerzend/python/tardis-refdata --no-cov tardis` in the terminal?

[2022-02-02 21:03] wkerzendorf commented on #18407
excerpt
[code]
[tmp.zip](https://github.com/microsoft/vscode-python/files/7990050/tmp.zip)

I piped it into the tmp.zip (not a real zip 😉 )

[2022-02-02 22:12] #18411 closed

[2022-02-02 23:52] #18089 closed

[2022-02-03 00:21] #17145 closed

[2022-02-03 06:21] albireox commented on #18340
As far as I can see this is not an issue anymore. Maybe it was related to the ssh extension and got fixed. I think this can be closed.

[2022-02-03 06:51] karthiknadig commented on #17921
Closed via https://github.com/microsoft/vscode-python/pull/17919

[2022-02-03 06:51] #17921 closed

[2022-02-03 07:00] karrtikr commented on #14980
This could mean that we may need to add an option in the resolveEnv API to query only for kind to handle scenarios like https://github.com/microsoft/vscode-python/blob/ad45050cab883d0683eee1962e0ff0bbbe7f64ca/src/client/pythonEnvironments/legacyIOC.ts#L191, as using `resolveEnv` is much more expensive than just identification.

[2022-02-03 10:23] ghuname opened #18426 "Debug console cuts last line of pandas dataframe"
Issue Type: <b>Bug</b>

1. put this code in main.py
[code]
2. set a breakpoint on line with "pass"
3. notice in output 4 rows (0-3):
[code]
4. go to debug console and enter df <enter>, last row is missing (only 0-2):
[code]

Debug should show last row of the dataframe.

Extension version: 2021.12.1559732655
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02

[2022-02-03 15:22] osharaki opened #18428 "Wrong interpreter version being shown in status bar and command palette"
Issue Type: <b>Bug</b>

# Behaviour

Different Python 2 version being shown than the one actually installed

## Expected vs. Actual Behaviour

Same Python 2 version should be shown (in status bar and in command palette) as the one installed, but the version actually shown is different than the one installed.

## Steps to reproduce:

This started happening after updating my Python 2 version.

Note

[2022-02-03 16:29] johnchristopherjones commented on #17216
FYI, there is another new promising Python dependency management tool using PEP 582: https://github.com/David-OConnor/pyflow

[2022-02-03 16:38] #15563 closed

[2022-02-03 16:55] kimadeline commented on #5820
Closing after discussing it with Luciana.

[2022-02-03 16:55] #5820 closed

[2022-02-03 16:55] kimadeline commented on #7691
Closing after discussing it with Luciana.

[2022-02-03 16:55] #7691 closed

[2022-02-03 17:19] #14757 closed

[2022-02-03 17:30] karthiknadig commented on #18428
@osharaki Please run `Python: Clear Internal Extension Cache` and see if that helps with this issue.

[2022-02-03 20:53] osharaki commented on #18428
Thanks @karthiknadig! This worked.

[2022-02-03 20:53] #18428 closed

[2022-02-03 22:06] kimadeline commented on #18194
Sorry for the delay! I still can't reproduce the issue you're facing. Could you share a screen recording, or the steps you are taking?

Thanks!

[2022-02-03 22:44] kimadeline commented on #18219
Sorry for the delay!

@kceiw What is the content of the `Python` output panel?

@mxkmn there seems to be an issue with how the path value specified in `python.defaultInterpreterPath` is written, note how it says `.\"C:Users\.....`. If it's written using double-quotes, you don't need them.

[2022-02-03 22:54] brettcannon commented on #15858
Since there were no downvotes we will keep this issue around as something we would be willing to discuss how to implement.

[2022-02-03 22:56] brettcannon commented on #17713
While this didn't meet our upvote threshold, LSP is looking at adding notebook support and thus we can look at supporting it when we redo linting support as separate extensions using LSP.

[2022-02-03 22:56] brettcannon commented on #17290
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:56] #17290 closed

[2022-02-03 22:57] brettcannon commented on #17419
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 the first/opening comment as it helps us prioritize our work based on what the community seems to want the most.

[2022-02-03 22:57] brettcannon commented on #17463
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:58] brettcannon commented on #17510
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:58] brettcannon commented on #17510
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 the first/opening comment as it helps us prioritize our work based on what the community seems to want the most.

[2022-02-03 22:58] brettcannon commented on #17463
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 the first/opening comment as it helps us prioritize our work based on what the community seems to want the most.

[2022-02-03 22:59] brettcannon commented on #17583
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:59] #17583 closed

[2022-02-03 22:59] brettcannon commented on #17648
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:59] #17648 closed

[2022-02-03 22:59] brettcannon commented on #17874
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:59] #17874 closed

[2022-02-03 22:59] brettcannon commented on #17910
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 22:59] #17910 closed

[2022-02-03 23:00] brettcannon commented on #17914
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:00] #17914 closed

[2022-02-03 23:00] brettcannon commented on #17939
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:00] #17939 closed

[2022-02-03 23:00] brettcannon commented on #17949
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:00] #17949 closed

[2022-02-03 23:00] brettcannon commented on #17983
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:00] #17983 closed

[2022-02-03 23:01] brettcannon commented on #17986
This should now be handled by Pylance in their latest release!

https://devblogs.microsoft.com/python/python-in-visual-studio-code-february-2022-release/#folding-support

[2022-02-03 23:01] #17986 closed

[2022-02-03 23:02] brettcannon commented on #18004
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

If we do end up supporting https://github.com/brettcannon/python-launcher/discussions/168 then you could implement this via a binary/script. Otherwise our public API for the extension that we are working on cou

[2022-02-03 23:02] #18004 closed

[2022-02-03 23:03] brettcannon commented on #18023
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:03] #18023 closed

[2022-02-03 23:03] brettcannon commented on #18028
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

[2022-02-03 23:03] #18028 closed

[2022-02-03 23:03] brettcannon commented on #18055
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 the first/opening comment as it helps us prioritize our work based on what the community seems to want the most.

[2022-02-03 23:04] brettcannon commented on #18105
Thank you to everyone who upvoted this issue! Since the community showed interest in this feature request we will leave this issue open as something to consider implementing at some point in the future.

We do encourage people to continue 👍 the first/opening comment as it helps us prioritize our work based on what the community seems to want the most.

[2022-02-03 23:05] brettcannon commented on #18108
Thank you for submitting your feature request and everyone who considered it! Unfortunately this issue did not receive enough votes over the allotted time, and so we are closing the issue.

But we are discussing/planning on breaking our test support out into separate extensions, which would mean you would only have to have the extension installed and not have to turn support on/off.

[2022-02-03 23:05] #18108 closed

[2022-02-03 23:41] 1st commented on #17242
Can I get any help with pytest discovery failure?

[code]

Tried many different options with `"python.testing.cwd"` and `"python.testing.pytestArgs"` but without luck.

I used unit tests in the past and they work fine in VS Code.

Also I use VS Code with "Remote Container" and work inside the Docker container and run tests inside it.

Hope that you can solve this issue soon, because with `pytest`

[2022-02-03 23:42] kimadeline commented on #17242
Hi @1st, please open a separate issue with your specific details, this issue is here to track work in progress. Thanks!

[2022-02-03 23:48] brettcannon commented on #17877
Duplicate of #2559

[2022-02-03 23:48] #17877 closed

[2022-02-03 23:49] 1st opened #18431 "Pytest discovery is broken"
Can I get any help with pytest discovery failure?

[code]

I used unit tests in the past and they work fine in VS Code.

Also I use VS Code with "Remote Container" and work inside the Docker container and run tests inside it.

Hope that you can solve this issue soon, because with pytest it doesn't work for me. And I have no clear vision why. Thanks.

[2022-02-03 23:50] 1st commented on #18431
Hi @kimadeline

Please let me know if I can provide any useful details that may help to identify the issue. Thanks

[2022-02-03 23:52] brettcannon commented on #17167
We discussed this and since projects typically need more then just pytest to be installed to run one's tests, we don't think this will do enough to help users out. We are also planning breaking our testing support out, so we can consider shipping pytest in-box for this sort of situation.

[2022-02-03 23:52] #17167 closed

[2022-02-03 23:55] brettcannon commented on #17122
@Glidias can you clarify why you want this? Are you asking for a way to specify a different environment per terminal type? Otherwise are you trying to have a different terminal type just to not have the activation occur in all situations as a shortcut to easily opening a terminal w/o activation?

[2022-02-03 23:56] brettcannon commented on #17118
I think this is stale.

[2022-02-03 23:56] #17118 closed

[2022-02-03 23:59] 1st commented on #18431
What I may say, in my current project it's two apps in one codebase. Depending on the env variable (that is set in the `.env` file) - it may be run in one or another way.

When I run the tests, I do it like this `APP_ENV=test APP_NAME=backend pytest backend` and it runs only the tests for the part of the project. If I need to run other part of tests - I do `APP_ENV=test APP_NAME=frontend pytest fr

[2022-02-04 00:02] brettcannon commented on #17082
This will be taken care of implicitly by #18144.

[2022-02-04 00:02] #17082 closed

[2022-02-04 00:02] ftm610 opened #18432 "Cannot debug Python 3.7.9 conda env scripts after recent update"
Can no longer "Run and Debug" Python 3 script after update to v2022.0.1786462952.   Clicking "Run and Debug" does not run selected file in debug mode, breakpoints are not honored.

"Select Interpreter" does not appear to honor changes to other Python 3 conda envs.

"Run and Debug" and "Select Interpreter" selection still works with Python 2.7.14.

Rolling back VS Code Python to v2021.12.1559732655

[2022-02-04 00:03] brettcannon commented on #17065
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-02-04 00:03] #16947 closed

[2022-02-04 00:04] brettcannon commented on #16945
Thanks for the feature request! We are going to give the community 60 days from when this issue was created to provide 7 👍 upvotes on the opening comment to gauge general interest in this idea. If there's enough upvotes then we will consider this feature request in our future planning. If there's unfortunately not enough upvotes then we will close this issue.

[2022-02-04 01:51] karthiknadig commented on #6325
this file no longer exists

[2022-02-04 01:51] #6325 closed

[2022-02-04 02:07] karthiknadig commented on #18432
Thanks for the bug report, but unfortunately, we need some more information from you in order to triage this issue appropriately. Please follow instructions [here](https://aka.ms/pvsc-bug) to create a new bug with all the critical details we need for diagnosis.

can you also share how you created the environment.

[2022-02-04 02:07] #18432 closed

[2022-02-04 02:11] karthiknadig commented on #18432
@ftm610 When you create the new bug with details, please also add the `launch.json` configuration you are using.

[2022-02-04 03:30] mallikarjunrterdal opened #18433 "Debug mode doesn't print entire dictionary in python"
Issue Type: <b>Bug</b>

Running a Python script in debug mode will not print the entire dictionary. Just prints partial data

The dictionary structure I have is something like this:

{"name1" : {"name2": }, {"name3": }}

When I print the entire dictionary, it just prints few records of the dataframe object from the first KV pairs

Extension version: 2021.12.1559732655
VS Code version: Code 1.63.2

[2022-02-04 04:53] hussain5416 opened #18434 "Folding issues on v1.4"
Issue Type: <b>Bug</b>

Foldings were working fine on earlier versions, but from v1.4 of VS Code, since new better foldings were introduced, some foldings are not working correctly.

Look at the screenshot to understand the issue.

Extension version: 2022.0.1786462952
VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:22:20.678Z)
OS version: Windows_NT x64 10.0.2

[2022-02-04 06:27] david-hoffman opened #18464 "conda environment named "sandbox" fails test discovery"
Issue Type: <b>Bug</b>

Make a conda environment named "sandbox" and try to use vscode's test discovery mechanism. See https://stackoverflow.com/questions/70982008/vscode-pytest-discovery-not-working-conda-error/70982213#70982213

Extension version: 2022.0.1786462952
VS Code version: Code 1.64.0 (Universal) (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:20:17.224Z)
OS version: Darwin x64